{{#groups}}
{{#rows}}
<div class="user {{#if online}}online{{/if}}" data-id="{{id}}" data-cid="{{cid}}"> <!-- .open-modal data-modal="profile" -->
    {{{avatar}}}<!-- <img src="{{assetsRoot}}imgs/avatar.png"> -->
    <div class="group">{{../title}}</div>
    <div class="online">{{#if online}}Online{{/if}}</div>
    <div class="info">
        <div class="name">{{first_name}} {{last_name}}</div>
        <div class="position">{{#if position}}{{position}}{{/if}}</div>
        <div class="extended hidden"><!-- Toggle for details -->
            <div class="location"><i class="material-icons">place</i> {{#if location}}{{location}}{{/if}}</div>
            <div class="phone"><i class="material-icons">local_phone</i> {{#if phone}}{{phone}}{{/if}}</div>
            <div class="email"><i class="material-icons">email</i> {{#if email}}{{email}}{{/if}}</div>
        </div>
        <i class="material-icons more">more_vert</i>
    </div>
</div>
{{/rows}}
{{/groups}}
