
.list[data-v-785e92]{max-height:200px;overflow-y:scroll;list-style:none;padding:0
}
.list li[data-v-785e92]{color:var(--dark-gray);padding:8px 0
}
.list li[data-v-785e92]:not(:last-of-type){border-bottom:1px solid var(--lightest-gray)
}