
.table[data-v-f493d4]{background-color:var(--white);border:var(--input-border-width) solid var(--lighter-gray);border-radius:var(--border-radius);border-spacing:0;width:100%;margin:10px 0 20px
}
.table .header[data-v-f493d4]{height:var(--input-height);border-bottom:1px solid var(--lighter-gray)
}
.table .header button[data-v-f493d4]{text-align:left;color:var(--gray);font-size:10px;text-transform:uppercase;font-weight:700;transition:color var(--fast) var(--transition)
}
.table .header button[data-v-f493d4]:hover{transition:none;color:var(--darker-gray)
}
.table .header i[data-v-f493d4]{font-size:12px;vertical-align:top;color:var(--light-gray)
}
.table .row[data-v-f493d4]{display:flex;align-items:center;padding:0 5px
}
.table .row>div[data-v-f493d4]{padding:3px 5px;flex-basis:200px
}
.table .header .row[data-v-f493d4]{align-items:center;height:40px
}
.table .header .row>button[data-v-f493d4]{padding:3px 5px;flex-basis:200px
}
.table .body[data-v-f493d4]{max-height:275px;overflow-y:scroll;-webkit-overflow-scrolling:touch
}
.table .body .row[data-v-f493d4]{cursor:pointer;position:relative;height:50px;border-bottom:1px solid var(--lightest-gray)
}
.table .body .row[data-v-f493d4]:hover{background-color:var(--highlight)
}
.table .body .row div[data-v-f493d4]:last-of-type{flex-grow:1
}
.table .body .row button[data-v-f493d4]{color:var(--lighter-gray);transition:color var(--fast) var(--transition)
}
.table .body .row button[data-v-f493d4]:hover{transition:none;color:var(--danger)
}
button.select[data-v-f493d4]{background-color:var(--darker-gray);border-radius:var(--border-radius);height:var(--input-height);padding:0 10px;display:inline-flex;align-items:center;margin-right:10px;transition:background-color var(--fast) var(--transition)
}
button.select i[data-v-f493d4]{margin-right:5px
}
button.select[data-v-f493d4]:hover{transition:none;background-color:var(--darkest-gray)
}
.edit-modal-body[data-v-f493d4]{padding:20px;background-color:var(--body-background)
}