PUBLIC_URL="localhost"
HOST="0.0.0.0"
PORT=8055
KEY="AAA-BBB-CCC"
SECRET="123-456-789"
TELEMETRY=false
DB_CLIENT="sqlite3"
DB_FILENAME="../local/test.db"
EXTENSIONS_PATH="../local/extensions"
STORAGE_LOCAL_ROOT="../local/uploads"
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="changeme"