
fieldset[data-v-de6b56]{padding:8px 0 0
}
label[data-v-de6b56]{margin-bottom:10px;margin-top:30px
}
.draggable[data-v-de6b56]{display:flex;align-items:center;justify-content:space-between;cursor:ns-resize
}
.draggable .checkbox[data-v-de6b56]{max-width:125px
}
.draggable i[data-v-de6b56]{color:var(--lighter-gray)
}