<div class="history-container">
  <ul>
    <li>
      {{userAvatar current_user}}
      <div class="history-comment">
        <textarea id="commentTextarea" placeholder="Type your comment here..."></textarea>
        <button id="sendCommentBtn" class="btn btn-small">Submit</button>
      </div>
    </li>

    {{#each activities}}
    <li>
      {{#if isComment}}
        {{userAvatar user_avatar}}
        <div class="history-comment">
          {{title}}
        </div>
      {{else}}
        <div class="history-icon {{#if add}}add{{else}}edit{{/if}}"><div class="icon {{icon}}"></div></div>
        <div class="history-text">{{userName user_avatar}} {{#if add}}added{{else}}edited{{/if}} this item...</div>
      {{/if}}
      <div class="history-datetime">{{time}}</div>
    </li>
    {{/each}}
  </ul>
</div>