<div class="activity-chart">
  <div class="chart-key">180</div>
  <table class="bars">
    <tr>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="0"></div>
        <div class="bar bgyellow" data-type="system" data-total="6"></div>
        <div class="bar bgred" data-type="deleted" data-total="0"></div>
        <div class="bar bgblue" data-type="edited" data-total="33"></div>
        <div class="bar bggreen" data-type="added" data-total="44"></div>
      </td>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="8"></div>
        <div class="bar bgyellow" data-type="system" data-total="0"></div>
        <div class="bar bgred" data-type="deleted" data-total="0"></div>
        <div class="bar bgblue" data-type="edited" data-total="0"></div>
        <div class="bar bggreen" data-type="added" data-total="26"></div>
      </td>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="0"></div>
        <div class="bar bgyellow" data-type="system" data-total="0"></div>
        <div class="bar bgred" data-type="deleted" data-total="9"></div>
        <div class="bar bgblue" data-type="edited" data-total="48"></div>
        <div class="bar bggreen" data-type="added" data-total="49"></div>
      </td>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="6"></div>
        <div class="bar bgyellow" data-type="system" data-total="0"></div>
        <div class="bar bgred" data-type="deleted" data-total="10"></div>
        <div class="bar bgblue" data-type="edited" data-total="64"></div>
        <div class="bar bggreen" data-type="added" data-total="15"></div>
      </td>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="0"></div>
        <div class="bar bgyellow" data-type="system" data-total="0"></div>
        <div class="bar bgred" data-type="deleted" data-total="9"></div>
        <div class="bar bgblue" data-type="edited" data-total="78"></div>
        <div class="bar bggreen" data-type="added" data-total="25"></div>
      </td>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="0"></div>
        <div class="bar bgyellow" data-type="system" data-total="0"></div>
        <div class="bar bgred" data-type="deleted" data-total="0"></div>
        <div class="bar bgblue" data-type="edited" data-total="62"></div>
        <div class="bar bggreen" data-type="added" data-total="13"></div>
      </td>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="0"></div>
        <div class="bar bgyellow" data-type="system" data-total="6"></div>
        <div class="bar bgred" data-type="deleted" data-total="0"></div>
        <div class="bar bgblue" data-type="edited" data-total="28"></div>
        <div class="bar bggreen" data-type="added" data-total="9"></div>
      </td>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="10"></div>
        <div class="bar bgyellow" data-type="system" data-total="0"></div>
        <div class="bar bgred" data-type="deleted" data-total="6"></div>
        <div class="bar bgblue" data-type="edited" data-total="9"></div>
        <div class="bar bggreen" data-type="added" data-total="16"></div>
      </td>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="0"></div>
        <div class="bar bgyellow" data-type="system" data-total="0"></div>
        <div class="bar bgred" data-type="deleted" data-total="4"></div>
        <div class="bar bgblue" data-type="edited" data-total="57"></div>
        <div class="bar bggreen" data-type="added" data-total="46"></div>
      </td>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="0"></div>
        <div class="bar bgyellow" data-type="system" data-total="0"></div>
        <div class="bar bgred" data-type="deleted" data-total="0"></div>
        <div class="bar bgblue" data-type="edited" data-total="0"></div>
        <div class="bar bggreen" data-type="added" data-total="9"></div>
      </td>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="0"></div>
        <div class="bar bgyellow" data-type="system" data-total="0"></div>
        <div class="bar bgred" data-type="deleted" data-total="12"></div>
        <div class="bar bgblue" data-type="edited" data-total="14"></div>
        <div class="bar bggreen" data-type="added" data-total="29"></div>
      </td>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="0"></div>
        <div class="bar bgyellow" data-type="system" data-total="5"></div>
        <div class="bar bgred" data-type="deleted" data-total="8"></div>
        <div class="bar bgblue" data-type="edited" data-total="31"></div>
        <div class="bar bggreen" data-type="added" data-total="27"></div>
      </td>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="9"></div>
        <div class="bar bgyellow" data-type="system" data-total="5"></div>
        <div class="bar bgred" data-type="deleted" data-total="0"></div>
        <div class="bar bgblue" data-type="edited" data-total="0"></div>
        <div class="bar bggreen" data-type="added" data-total="0"></div>
      </td>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="4"></div>
        <div class="bar bgyellow" data-type="system" data-total="8"></div>
        <div class="bar bgred" data-type="deleted" data-total="0"></div>
        <div class="bar bgblue" data-type="edited" data-total="0"></div>
        <div class="bar bggreen" data-type="added" data-total="4"></div>
      </td>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="6"></div>
        <div class="bar bgyellow" data-type="system" data-total="0"></div>
        <div class="bar bgred" data-type="deleted" data-total="0"></div>
        <div class="bar bgblue" data-type="edited" data-total="11"></div>
        <div class="bar bggreen" data-type="added" data-total="48"></div>
      </td>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="0"></div>
        <div class="bar bgyellow" data-type="system" data-total="0"></div>
        <div class="bar bgred" data-type="deleted" data-total="0"></div>
        <div class="bar bgblue" data-type="edited" data-total="35"></div>
        <div class="bar bggreen" data-type="added" data-total="32"></div>
      </td>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="0"></div>
        <div class="bar bgyellow" data-type="system" data-total="0"></div>
        <div class="bar bgred" data-type="deleted" data-total="0"></div>
        <div class="bar bgblue" data-type="edited" data-total="27"></div>
        <div class="bar bggreen" data-type="added" data-total="10"></div>
      </td>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="7"></div>
        <div class="bar bgyellow" data-type="system" data-total="4"></div>
        <div class="bar bgred" data-type="deleted" data-total="0"></div>
        <div class="bar bgblue" data-type="edited" data-total="30"></div>
        <div class="bar bggreen" data-type="added" data-total="0"></div>
      </td>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="0"></div>
        <div class="bar bgyellow" data-type="system" data-total="0"></div>
        <div class="bar bgred" data-type="deleted" data-total="13"></div>
        <div class="bar bgblue" data-type="edited" data-total="71"></div>
        <div class="bar bggreen" data-type="added" data-total="19"></div>
      </td>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="0"></div>
        <div class="bar bgyellow" data-type="system" data-total="0"></div>
        <div class="bar bgred" data-type="deleted" data-total="0"></div>
        <div class="bar bgblue" data-type="edited" data-total="28"></div>
        <div class="bar bggreen" data-type="added" data-total="28"></div>
      </td>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="4"></div>
        <div class="bar bgyellow" data-type="system" data-total="0"></div>
        <div class="bar bgred" data-type="deleted" data-total="9"></div>
        <div class="bar bgblue" data-type="edited" data-total="77"></div>
        <div class="bar bggreen" data-type="added" data-total="14"></div>
      </td>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="4"></div>
        <div class="bar bgyellow" data-type="system" data-total="0"></div>
        <div class="bar bgred" data-type="deleted" data-total="13"></div>
        <div class="bar bgblue" data-type="edited" data-total="70"></div>
        <div class="bar bggreen" data-type="added" data-total="36"></div>
      </td>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="0"></div>
        <div class="bar bgyellow" data-type="system" data-total="0"></div>
        <div class="bar bgred" data-type="deleted" data-total="9"></div>
        <div class="bar bgblue" data-type="edited" data-total="54"></div>
        <div class="bar bggreen" data-type="added" data-total="43"></div>
      </td>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="10"></div>
        <div class="bar bgyellow" data-type="system" data-total="0"></div>
        <div class="bar bgred" data-type="deleted" data-total="5"></div>
        <div class="bar bgblue" data-type="edited" data-total="78"></div>
        <div class="bar bggreen" data-type="added" data-total="49"></div>
      </td>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="5"></div>
        <div class="bar bgyellow" data-type="system" data-total="0"></div>
        <div class="bar bgred" data-type="deleted" data-total="0"></div>
        <div class="bar bgblue" data-type="edited" data-total="39"></div>
        <div class="bar bggreen" data-type="added" data-total="19"></div>
      </td>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="5"></div>
        <div class="bar bgyellow" data-type="system" data-total="0"></div>
        <div class="bar bgred" data-type="deleted" data-total="13"></div>
        <div class="bar bgblue" data-type="edited" data-total="0"></div>
        <div class="bar bggreen" data-type="added" data-total="50"></div>
      </td>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="0"></div>
        <div class="bar bgyellow" data-type="system" data-total="0"></div>
        <div class="bar bgred" data-type="deleted" data-total="0"></div>
        <div class="bar bgblue" data-type="edited" data-total="5"></div>
        <div class="bar bggreen" data-type="added" data-total="30"></div>
      </td>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="0"></div>
        <div class="bar bgyellow" data-type="system" data-total="4"></div>
        <div class="bar bgred" data-type="deleted" data-total="11"></div>
        <div class="bar bgblue" data-type="edited" data-total="12"></div>
        <div class="bar bggreen" data-type="added" data-total="29"></div>
      </td>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="0"></div>
        <div class="bar bgyellow" data-type="system" data-total="4"></div>
        <div class="bar bgred" data-type="deleted" data-total="15"></div>
        <div class="bar bgblue" data-type="edited" data-total="9"></div>
        <div class="bar bggreen" data-type="added" data-total="18"></div>
      </td>
      <td>
        <div class="bar bgpurple" data-type="media" data-total="7"></div>
        <div class="bar bgyellow" data-type="system" data-total="0"></div>
        <div class="bar bgred" data-type="deleted" data-total="13"></div>
        <div class="bar bgblue" data-type="edited" data-total="20"></div>
        <div class="bar bggreen" data-type="added" data-total="0"></div>
      </td>
    </tr>
  </table>
  <table class="date-range">
    <tr>
      <td>
        Feb 1
      </td>
      <td class="align-center">
        Feb 14
      </td>
      <td class="align-right">
        Today
      </td>
    </tr>
  </table>
</div>
<div class="activity-totals">
  <div class="center">
    <div class="activity-total">
      <h2 class="black" data-type="all">0</h2>
      <span>total activity</span>
    </div>
    <div class="activity-total">
      <h2 class="green" data-type="added">0</h2>
      <span>items added</span>
    </div>
    <div class="activity-total">
      <h2 class="blue" data-type="edited">0</h2>
      <span>items edited</span>
    </div>
    <div class="activity-total">
      <h2 class="red" data-type="deleted">0</h2>
      <span>items deleted</span>
    </div>
    <div class="activity-total">
      <h2 class="yellow" data-type="system">0</h2>
      <span>system events</span>
    </div>
    <div class="activity-total">
      <h2 class="purple" data-type="media">0</h2>
      <span>media files</span>
    </div>
  </div>
</div>
