<div class="section-header"><span class="big-label-text">{{t "item_history"}}</span></div>
<div class="history-container">
	<ul>
		<li class="history-add-comment">
			{{userAvatar current_user}}
			<div class="history-comment">
				<textarea id="commentTextarea" placeholder="{{t 'leave_a_comment_placeholder'}}"></textarea>
				<button id="messages-response-button" class="btn btn-small disabled">{{t "submit"}}</button>
			</div>
			<span id="tagInsert" class="mention-list"></span>
			<!-- <div class="history-follow"><input type="checkbox">Follow this item's activity</div> -->
		</li>

		{{#each activities}}
		<li class="{{hidden}}">
			{{#if isComment}}
			{{userAvatar user_avatar}}
			<div class="history-comment">
			{{{nl2br title}}}
			</div>
			{{else}}
			{{userAvatar user_avatar}}
			<div class="history-icon {{color}}"><!-- <div class="icon {{icon}}"></div> --><i class="material-icons">{{icon}}</i></div>
			<div class="history-text">{{userName user_avatar}} {{action_text}}</div>
			{{/if}}
			<div class="history-datetime contextual-date-updater" data-date="{{timestamp}}">{{time}}</div>
		</li>
		{{/each}}
	</ul>
</div>

{{#if preview}}
<div class="view-entire-history">
	<span class="btn">Show Complete History (+{{additionalCount}})</span>
</div>
{{/if}}
