<div class="activity-chart">
  <div class="chart-key">180</div>
  <table class="bars">
    <tr>
      {{#each activities}}
        <td data-sum="{{total}}">
          <div class="bar bgpurple" data-type="files" data-total="{{files}}" title="{{files}} Files Uploaded on {{title}}"></div>
          <div class="bar bgyellow" data-type="system" data-total="{{system}}" title="{{system}} System Changes on {{title}}"></div>
          <div class="bar bgred" data-type="deleted" data-total="{{deletes}}" title="{{deletes}} Items Deleted on {{title}}"></div>
          <div class="bar bgblue" data-type="edited" data-total="{{edits}}" title="{{edits}} Items Edited on {{title}}"></div>
          <div class="bar bggreen" data-type="added" data-total="{{adds}}" title="{{adds}} Items Added on {{title}}"></div>
        </td>
      {{/each}}
    </tr>
  </table>
  <table class="date-range">
    <tr>
      <td>
        Feb 1
      </td>
      <td class="align-center">
        Feb 14
      </td>
      <td class="align-right">
        Today
      </td>
    </tr>
  </table>
</div>
<div class="activity-totals">
  <div class="center">
    <div class="activity-total">
      <h2 class="black" data-type="all">0</h2>
      <span>total activity</span>
    </div>
    <div class="activity-total">
      <h2 class="green" data-type="added">0</h2>
      <span>items added</span>
    </div>
    <div class="activity-total">
      <h2 class="blue" data-type="edited">0</h2>
      <span>items edited</span>
    </div>
    <div class="activity-total">
      <h2 class="red" data-type="deleted">0</h2>
      <span>items deleted</span>
    </div>
    <div class="activity-total">
      <h2 class="yellow" data-type="system">0</h2>
      <span>system events</span>
    </div>
    <div class="activity-total">
      <h2 class="purple" data-type="files">0</h2>
      <span>files</span>
    </div>
  </div>
</div>
