<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./bootstrap.php">
    <testsuites>
        <testsuite name="ApiTestSuite">
            <directory suffix="TestCase.php">./core</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../core</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html"
             target="./logs/coverage"
             charset="UTF-8"
             yui="true"
             highlight="false"
             lowUpperBound="35"
             highLowerBound="70"/>
    </logging>
</phpunit>