
.preview[data-v-457bbb]{display:flex;margin-bottom:20px;flex-wrap:wrap
}
.preview .card[data-v-457bbb]{margin-right:20px;margin-bottom:20px
}
button[data-v-457bbb]{display:inline-block;margin-left:20px
}
button[data-v-457bbb]:first-of-type{margin-left:0
}
.body[data-v-457bbb]{padding:20px
}