.custom-block

  .icon.outbound
    color inherit
  .custom-block-title
    font-weight 600
    margin-bottom -0.4rem
  &.tip, &.warning, &.danger
    padding .1rem 1.5rem
    border-left-width 2px
    border-left-style solid
    margin 2rem 0
    code
      word-wrap break-word
  &.tip
    background-color var(--background-subdued)
    border-color var(--primary)
  &.warning
    background-color var(--warning-light)
    border-color var(--warning)
    .custom-block-title
      color var(--warning-dark)
    a
      color var(--warning-dark)
    code
      background-color var(--background-subdued)
  &.danger
    background-color var(--danger-light)
    border-color var(--danger)
    .custom-block-title
      color var(--danger-dark)
    a
      color var(--danger-dark)
    code
      background-color var(--background-subdued)
  &.details
    display block
    position relative
    border-radius 10px
    margin 1.6em 0
    padding 1.6em
    background-color var(--background-subdued)
    h4
      margin-top 0
    figure, p
      &:last-child
        margin-bottom 0
        padding-bottom 0
    summary
      outline none
      cursor pointer
