.custom-block

  .icon.outbound
    color inherit
  .custom-block-title
    font-weight 600
    margin-bottom -0.4rem
  &.tip, &.warning, &.danger
    padding .1rem 1.5rem
    border-left-width 2px
    border-left-style solid
    margin 2rem 0
  &.tip
    background-color var(--background-subdued)
    border-color var(--primary)
  &.warning
    background-color var(--warning-10)
    border-color var(--warning)
    .custom-block-title
      color var(--warning-125)
    a
      color var(--warning-125)
    code
      background-color var(--warning-50)
  &.danger
    background-color var(--danger-10)
    border-color var(--danger)
    .custom-block-title
      color var(--danger-125)
    a
      color var(--danger-125)
    code
      background-color var(--danger-50)
  &.details
    display block
    position relative
    border-radius 10px
    margin 1.6em 0
    padding 1.6em
    background-color var(--background-subdued)
    h4
      margin-top 0
    figure, p
      &:last-child
        margin-bottom 0
        padding-bottom 0
    summary
      outline none
      cursor pointer
