.custom-block

  .icon.outbound
    color inherit
  .custom-block-title
    font-weight 600
    margin-bottom -0.4rem
  &.tip, &.warning, &.danger
    padding .1rem 1.5rem
    border-left-width 2px
    border-left-style solid
    margin 2rem 0
  &.tip
    background-color #F7FAFC
    border-color #2ECFA8
  &.warning
    background-color #FEECD0
    border-color #FBC54F
    .custom-block-title
      color darken(#FBC54F, 20%)
    a
      color darken(#FBC54F, 20%)
    code
      background-color lighten(#FBC54F, 40%)
  &.danger
    background-color #FFE2E2
    border-color #E35169
    .custom-block-title
      color darken(#E35169, 20%)
    a
      color $textColor
    code
      background-color lighten(#E35169, 40%)
  &.details
    display block
    position relative
    border-radius 10px
    margin 1.6em 0
    padding 1.6em
    background-color #eee
    h4
      margin-top 0
    figure, p
      &:last-child
        margin-bottom 0
        padding-bottom 0
    summary
      outline none
      cursor pointer
