@require './config'
@require './code'
@require './custom-blocks'
@require './arrow'
@require './wrapper'
@require './toc'

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');

html, body
  padding 0
  margin 0
  background-color var(--background-page)

body
  font-family "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size 16px
  line-height 24px
  color var(--foreground-normal-alt)

.page
  padding-top 80px
  padding-left $sidebarWidth

.navbar
  position fixed
  z-index 20
  top 0
  left 0
  right 0
  height $navbarHeight
  box-sizing border-box

.sidebar-mask
  position fixed
  z-index 9
  top 0
  left 0
  width 100vw
  height 100vh
  display none

.sidebar
  font-size 16px
  background-color var(--background-page)
  width $sidebarWidth
  position fixed
  z-index 10
  margin 0
  top $navbarHeight
  left 0
  bottom 0
  box-sizing border-box
  border-right 1px solid var(--border-subdued)
  overflow-y auto

{$contentClass}:not(.custom)
  @extend $wrapper
  > *:first-child
    margin-top $navbarHeight

  a:hover
    text-decoration underline

  p.demo
    padding 1rem 1.5rem
    border 1px solid var(--border-normal)
    border-radius 6px

  img, video
    max-width 100%
    border-radius 6px
    box-shadow: 0px 10px 20px 0px rgba(23, 41, 64, 0.2), 0px 4px 8px 0px rgba(23, 41, 64, 0.2);

  video
    width 100%

  .no-shadow
    box-shadow: none;

{$contentClass}.custom
  padding 0
  margin 0

  img, video
    max-width 100%

[mi]
  font-family 'Material Icons Outlined'
  font-weight normal
  font-style normal
  font-size 18px
  line-height 1
  letter-spacing normal
  text-transform none
  display inline-block
  white-space nowrap
  word-wrap normal
  direction ltr
  -moz-font-feature-settings 'liga'
  -moz-osx-font-smoothing grayscale

  &[btn]
    color var(--foreground-inverted)
    background-color var(--primary)
    border-radius 50%
    width 28px
    height 28px
    vertical-align middle
    display inline-flex
    align-items center
    justify-content center
    margin-bottom 4px

    &[dngr]
      background-color var(--danger-light)
      color var(--danger)

    &[sec]
      background-color var(--primary-light)
      color var(--primary)

    &[warn]
      background-color var(--warning-light)
      color var(--warning)

    &[outline]
      background-color transparent
      border 2px solid var(--primary)
      color var(--primary)

    &[action]
      background-color var(--success-light)
      color var(--success)

    &[muted]
      background-color var(--background-normal)
      color var(--foreground-normal)

  &[icon]
    vertical-align middle
    margin-bottom 4px
    color var(--foreground-subdued)

    &[prmry]
      color var(--primary)

    &[dark]
      color var(--foreground-normal-alt)

    &[dngr]
      color var(--danger)

    &[warn]
      color var(--warning)

a
  font-weight 500
  color var(--primary-dark)
  text-decoration none

p a code
  font-weight 400
  color var(--primary)

kbd
  background var(--background-subdued)
  border solid 0.15rem var(--border-normal)
  border-bottom solid 0.25rem var(--border-normal)
  border-radius 0.15rem
  padding 0 0.15em

blockquote
  font-size 1.125rem
  color var(--foreground-subdued)
  border-left 2px solid var(--border-subdued)
  margin 2rem 0
  padding .25rem 0 .25rem 1rem
  max-width 740px

  & > p
    margin 0

ul, ol
  padding-left 1.2em

li > ul,
li > ol
  padding-left 1.8em

strong
  font-weight 600

h1, h2, h3, h4, h5, h6
  font-weight 600
  line-height 1.25

  {$contentClass}:not(.custom) > &
    margin-top (0.5rem - $navbarHeight)
    padding-top ($navbarHeight + 2.5rem)
    margin-bottom 0

    &:first-child
      margin-top -1.5rem
      margin-bottom 1rem

      + p, + pre, + .custom-block
        margin-top 2rem

  &:hover .header-anchor
    opacity: 1

h1
  position relative
  font-weight 900
  font-size 3.25rem
  line-height 4.25rem

h2
  font-size 1.5rem
  line-height 2.125rem
  font-weight 700
  padding-bottom .3rem
  border-bottom 2px solid var(--border-subdued)
  margin-bottom 1.5rem !important
  {$contentClass}:not(.custom) > &
    padding-top ($navbarHeight + 4.5rem)

h3
  font-size 1.1rem
  line-height 1.125rem
  font-weight 700

h2 + h3
  padding-top ($navbarHeight + 0.5rem) !important

h4
  font-size 1rem
  line-height 1rem
  padding-top ($navbarHeight + 0.25rem) !important

a.header-anchor
  font-size 0.85em
  float left
  margin-left -0.87em
  padding-right 0.23em
  margin-top 0
  opacity 0

  &:hover
    text-decoration none

small
  position: absolute
  margin-top: 7px
  display inline-flex
  align-items center
  margin-left 8px
  &::before
    content 'Modular Extension'
    display inline-block
    background-color var(--primary)
    color white
    border-radius 3px
    font-size 15px
    line-height 18px
    padding 4px 8px
    font-weight 600

h1 small
  position absolute
  top 5.25rem
  left 0
  margin-left 0
  margin-top: 0

code, kbd, .line-number
  font-family source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace

p
  margin-block-start 1.25rem
  margin-block-end 1.25rem
  margin-inline-start 0px
  margin-inline-end 0px

h3 + p
  margin-block-start 0.5em

p, ul, ol
  line-height 1.7

hr
  border 0
  border-top 2px solid var(--border-subdued)
  margin 3rem 0

table
  display block
  border-collapse collapse
  margin 1rem 0
  overflow-x: auto
  width 100%

tr
  border-top 1px solid var(--border-normal)

  &:nth-child(2n)
    background-color var(--background-highlight)

th
  white-space nowrap
  text-align left

th, td
  border 1px solid var(--border-normal)
  padding .6em 1em

.theme-container
  &.sidebar-open
    .sidebar-mask
      display: block

  &.no-navbar
    {$contentClass}:not(.custom) > h1, h2, h3, h4, h5, h6
      margin-top 1.5rem
      padding-top 0

    .sidebar
      top 0

@media (min-width: ($MQMobile + 1px))
  .theme-container.no-sidebar
    .sidebar
      display none

    .page
      padding-left 0

@require 'mobile.styl'
