
.card[data-v-6800e2],.dropzone[data-v-6800e2]{margin-bottom:20px;width:100%;max-width:var(--width-x-large)
}
.dropzone[data-v-6800e2]{height:190px
}
button[data-v-6800e2]{display:inline-block;margin-left:20px
}
button[data-v-6800e2]:first-of-type{margin-left:0
}
.body[data-v-6800e2]{padding:20px
}