
.input[data-v-327efb]{width:100%;max-width:var(--width-medium)
}
.immutable[data-v-327efb]{display:block;color:var(--light-gray);text-transform:none;margin-right:20px;font-style:italic;margin-top:4px
}