/api/ @AlexGaillard
/app/ @AlexGaillard
/directus/ @AlexGaillard
/sdk/ @licitdev
/tests/blackbox @licitdev

/packages/composables @AlexGaillard
/packages/constants @AlexGaillard
/packages/create-directus-extension @licitdev
/packages/create-directus-project @licitdev
/packages/env @AlexGaillard
/packages/errors @AlexGaillard
/packages/extensions-registry @licitdev
/packages/extensions-sdk @licitdev
/packages/extensions @licitdev
/packages/format-title @licitdev
/packages/memory @AlexGaillard
/packages/pressure @AlexGaillard
/packages/release-notes-generator @licitdev
/packages/schema-builder @licitdev
/packages/schema @AlexGaillard
/packages/specs @licitdev
/packages/storage-driver-azure @AlexGaillard
/packages/storage-driver-cloudinary @AlexGaillard
/packages/storage-driver-gcs @AlexGaillard
/packages/storage-driver-local @AlexGaillard
/packages/storage-driver-s3 @AlexGaillard
/packages/storage-driver-supabase @AlexGaillard
/packages/storage @AlexGaillard
/packages/stores @AlexGaillard
/packages/system-data @AlexGaillard
/packages/themes @AlexGaillard
/packages/types @AlexGaillard
/packages/update-check @licitdev
/packages/utils @AlexGaillard
/packages/validation @AlexGaillard
