/packages/constants @directus/studio @directus/engine
/packages/extensions @directus/studio @directus/engine
/packages/tsconfig @directus/studio @directus/engine
/packages/types @directus/studio @directus/engine
/packages/utils @directus/studio @directus/engine

/app/ @directus/studio
/packages/components @directus/studio
/packages/composables @directus/studio
/packages/format-title @directus/studio
/packages/stores @directus/studio
/packages/themes @directus/studio

/api/ @directus/engine
/packages/env @directus/engine
/packages/errors @directus/engine
/packages/extensions-registry @directus/engine
/packages/memory @directus/engine
/packages/pressure @directus/engine
/packages/random @directus/engine
/packages/schema @directus/engine
/packages/storage/ @directus/engine
/packages/storage/storage-driver-azure @directus/engine
/packages/storage/storage-driver-cloudinary @directus/engine
/packages/storage/storage-driver-gcs @directus/engine
/packages/storage/storage-driver-local @directus/engine
/packages/storage/storage-driver-s3 @directus/engine
/packages/storage/storage-driver-supabase @directus/engine
/packages/system-data @directus/engine
/packages/validation @directus/engine

/sdk/ @directus/engine
/packages/create-directus-extension @directus/ecosystem
/packages/create-directus-project @directus/ecosystem
/packages/extensions-sdk @directus/ecosystem
/packages/specs @directus/ecosystem

/.github/actions/ @directus/platform
/.github/workflows/ @directus/platform
/Dockerfile @directus/platform
/packages/release-notes-generator @directus/platform
/packages/update-check @directus/platform
