/api/ @AlexGaillard
/app/ @AlexGaillard
/directus/ @AlexGaillard
/sdk/ @AlexGaillard
/tests/blackbox @AlexGaillard

/packages/composables @AlexGaillard
/packages/constants @AlexGaillard
/packages/create-directus-extension @AlexGaillard
/packages/create-directus-project @AlexGaillard
/packages/env @AlexGaillard
/packages/errors @AlexGaillard
/packages/extensions-registry @AlexGaillard
/packages/extensions-sdk @AlexGaillard
/packages/extensions @AlexGaillard
/packages/format-title @AlexGaillard
/packages/memory @AlexGaillard
/packages/pressure @AlexGaillard
/packages/release-notes-generator @AlexGaillard
/packages/schema-builder @AlexGaillard
/packages/schema @AlexGaillard
/packages/specs @AlexGaillard
/packages/storage-driver-azure @AlexGaillard
/packages/storage-driver-cloudinary @AlexGaillard
/packages/storage-driver-gcs @AlexGaillard
/packages/storage-driver-local @AlexGaillard
/packages/storage-driver-s3 @AlexGaillard
/packages/storage-driver-supabase @AlexGaillard
/packages/storage @AlexGaillard
/packages/stores @AlexGaillard
/packages/system-data @AlexGaillard
/packages/themes @AlexGaillard
/packages/types @AlexGaillard
/packages/update-check @AlexGaillard
/packages/utils @AlexGaillard
/packages/validation @AlexGaillard
