
.translation[data-v-e070bd]{width:100%;padding:var(--page-padding);border:var(--input-border-width) solid var(--lighter-gray);border-radius:var(--border-radius)
}
.translation.disabled[data-v-e070bd]{position:relative
}
.translation.disabled .form[data-v-e070bd],.translation.disabled .language-select[data-v-e070bd],.translation.disabled hr[data-v-e070bd]{user-select:none;pointer-events:none;opacity:.2
}
.translation.disabled p[data-v-e070bd]{top:0;left:0;position:absolute;width:100%;height:100%;text-align:center;display:flex;justify-content:center;align-items:center
}
hr[data-v-e070bd]{margin:20px 0;border:0;border-bottom:1px dashed var(--lighter-gray)
}