dist/
/packages/extensions-sdk/templates/
/api/extensions/
!/app/.storybook/
!/docs/.vitepress/
!/docs/.typedocs/
/docs/.vitepress/cache/
/docs/.vitepress/dist/
*.yml
*.yaml
*.md
*.txt
*.json
*.scss
*.css
*.svg
*.liquid
*.html
Dockerfile
license
