.*.swp
.DS_Store
.e2e-containers.json
.env
.env.*
.history
.nova
.nyc_output
.secrets
.vs
.vscode
*.code-workspace
*.db
*.sublime-settings
*.tsbuildinfo
/.idea/
coverage
debug
dist
lerna-debug.log
node_modules
npm-debug.log
schema.json
.*.swp
debug
TODO
