assets/bower

api/config.php
api/configuration.php
api/ruckusing.conf.php

assets/css/*.map

Icon
.DS_Store
dist/*

# Don't track composer phar/vendors
composer.phar
api/vendor

# Ignore log files, but track the log README
api/logs/*.log
api/tests/logs/coverage/*

docs/api-responses
/log

customFooterHTML.html
assets/css/custom.css

node_modules
npm-debug.log

build_test
build_test.html
build_test_release

extensions/*

ui/*
!ui/.gitkeep

utils
seperator

/listviews/*
!listviews/.gitkeep

media_auth_proxy/client_auth_proxies/*
!media_auth_proxy/client_auth_proxies/.gitkeep

.project

# Ignore dev files
assets/less/directus/config.codekit