assets/bower

api/config.php
api/configuration.php

assets/css/*.map

Icon
.DS_Store
dist/*

# Don't track composer phar/vendors
composer.phar
api/vendor
api/composer.lock

# Ignore log files, but track the log README
api/logs/*.log
api/tests/logs/coverage/*

docs/api-responses
/log

customFooterHTML.html
assets/css/custom.css

node_modules
npm-debug.log

build_test
build_test.html
build_test_release

extensions/*
!extensions/.gitignore
ui/*
!ui/.gitignore
/listviews/*
!listviews/.gitignore
!media/.gitignore
!media/thumbs/.gitignore
media_auth_proxy/client_auth_proxies/*
!media_auth_proxy/client_auth_proxies/.gitignore

utils
seperator

.project

# Ignore dev files
assets/less/directus/config.codekit
installation/config.codekit
.idea
assets/scss/.sass-cache
assets/scss/.DS_Store
