# Hide directory listings
Options -Indexes

# No font warnings please
AddType font/ttf .ttf
AddType font/eot .eot
AddType font/otf .otf
AddType font/woff .woff

<ifModule mod_rewrite.c>
    RewriteEngine On
    # Uncomment this if you are getting routing errors:
    # RewriteBase /

    RewriteRule ^assets - [L,NC]
    RewriteRule ^extensions/([^/]+) - [L,NC]
    RewriteRule ^extensions/([^/]+)/assets - [L,NC]
    RewriteRule ^extensions/([^/]+)/main.js - [L,NC]

    RewriteRule ^listviews/([^/]+) - [L,NC]
    RewriteRule ^listviews/([^/]+)/assets - [L,NC]
    RewriteRule ^listviews/([^/]+)/ListView.js - [L,NC]

    # Files Proxy
    # - Only define one of the URL segments /.../ here so that the request format
    #   can be more flexibly maintained in the PHP/Slim router
    # @NOTE: media_auth_proxy was removed
    # @TODO: Implement files proxy using the new files object
    # RewriteCond %{REQUEST_URI} media_auth_proxy/([^/]+)/(.+)$
    # RewriteRule ^ /media_auth_proxy/index.php [L]

    # Directus Front Controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !index
    RewriteRule ^ index.php [L]

</ifModule>

<ifModule mod_php5.c>
    # Fix $HTTP_RAW_POST_DATA deprecated warning
    php_value always_populate_raw_post_data -1
</ifModule>

# Prevent PageSpeed module from rewriting the templates files
# Avoiding it from breaking the template
<IfModule pagespeed_module>
    ModPagespeedDisallow "*/app/**/*.html"
</IfModule>
