dist/
coverage/
pnpm-lock.yaml
**/.vitepress/cache/
/.changeset/pre.json
/.changeset/*.md
/app/src/lang/translations/*.yaml
!/app/src/lang/translations/en-US.yaml
/docs/packages/
storybook-static/
/api/uploads/
/api/extensions/
