dist/
coverage/
pnpm-lock.yaml
.histoire/
**/.vitepress/cache/
/.changeset/pre.json
/.changeset/*.md
/app/src/lang/translations/*.yaml
!/app/src/lang/translations/en-US.yaml
/api/uploads/
/api/extensions/
