<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="phpunit.php"
  colors="true"
>
  <testsuites>
        <testsuite name="Directus's test suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./api/core/</directory>
            <directory suffix=".php">./installation/includes/</directory>
        </whitelist>
    </filter>
</phpunit>
