<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^assets" />
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^extensions/([^/]+)" />
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^extensions/([^/]+)/assets" />
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^extensions/([^/]+)/main.js" />
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^listviews/([^/]+)" />
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 6" stopProcessing="true">
                    <match url="^listviews/([^/]+)/assets" />
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 7" stopProcessing="true">
                    <match url="^listviews/([^/]+)/ListView.js" />
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 8" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="media_auth_proxy/([^/]+)/(.+)$" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="/media_auth_proxy/index.php" />
                </rule>
                <rule name="Imported Rule 9" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="index" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
