.login-box {
  left:50%;
  margin-left: -175px;
  margin-top:-100px;
  position: absolute;
  top:50%;
  width:350px;
  button[type="submit"] {
    float: right;
    width: 150px;
    font-size: 14px;
    background: @darkGrey;
    // border: none;
    // background: transparent;
    // color: @darkGrey;
    // font-size: 30px;
    // margin-top: @smallPad;
    // &:after {
    //   .icon;
    //   content: "\E4AE";
    //   font-size: 50px;
    //   line-height: 30px;
    //   margin-left: @smallPad;
    // }
  }
  p.error {
    color: @deleteColor;
    font-weight: 600;
    margin: 0;
    padding: 15px 0 0 10px;
    text-align: center;
  }
  p.message {
    color: green;
    margin: 0;
    padding: 15px 0 0 10px;
    text-align: center;
  }
}
.directus-version {
  position: fixed;
  left: 10px;
  bottom: 10px;
  color: #ffffff;
  cursor: help;
}
.login-panel {
  background-color: fade(@white, 30%);
  //box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.05);
  .border-radius(@baseRadius, @baseRadius, @baseRadius, @baseRadius);
  padding:20px;
  position: relative;
}
.login-panel {
  background-color: fade(@white, 30%);
  //box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.05);
  .border-radius(@baseRadius, @baseRadius, @baseRadius, @baseRadius);
  padding:20px;
  position: relative;
  // &:after {
  //   .triangle-bottom(12px, 12px, fade(@white, 30%));
  //   bottom: -12px;
  //   content: "";
  //   left: 50px;
  //   position: absolute;
  // }
  input {
    padding: @smallPad;
    width: 100%;
    border-color: @white;
    color: @darkGrey;
    -webkit-text-fill-color: @darkGrey;
    font-size: 14px;
    .border-radius(@baseRadius, @baseRadius, @baseRadius, @baseRadius);
    &:first-child {
      margin-bottom: @smallPad;
    }
  }
  p {
    position: relative;
    margin: 0 0 10px 0;
    &.no-margin {
      margin: 0;
    }
    #forgot-password {
      background: transparent;
      border: none;
      font-size: 12px;
      padding: 0px;
      position: absolute;
      right: 10px;
      top: 5px;
      &:hover {
        &:after {
          color: @darkGrey;
        }
      }
      &:after {
        .icon;
        color: @lightGrey;
        content: "\2753";
        line-height: 25px;
      }
    }
  }
}