.login-box {
  left:50%;
  margin-left: -186px;
  margin-top:-136px;
  position: absolute;
  top:50%;
  width:372px;
  button[type="submit"] {
    border: none;
    background: transparent;
    color: @darkGrey;
    font-size: 30px;
    margin-top: @smallPad;
    &:after {
      .icon;
      content: "\E4AE";
      font-size: 50px;
      line-height: 30px;
      margin-left: @smallPad;
    }
  }
}
.login-panel {
  background-color: fade(@white, 25%);
  //box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.05);
  .border-radius(@baseRadius, @baseRadius, @baseRadius, @baseRadius);
  padding:20px;
  position: relative;
  &:after {
    .triangle-bottom(12px, 12px, fade(@white, 25%));
    bottom: -12px;
    content: "";
    left: 50px;
    position: absolute;
  }
  input {
    padding: @smallPad;
    width: 100%;
    border-color: @white;
    color: @darkGrey;
    .border-radius(@baseRadius, @baseRadius, @baseRadius, @baseRadius);
    &:first-child {
      margin-bottom: @smallPad;
    }
  }
  p {
    position: relative;
    #forgot-password {
      background: transparent;
      border: none;
      font-size: 12px;
      padding: 0px;
      position: absolute;
      right: 10px;
      top: 3px;
      &:hover {
        &:after {
          color: @darkGrey;
        }
      }
      &:after {
        .icon;
        color: @lightGrey;
        content: "\2753";
        line-height: 25px;
      }
    }
    &.error {
      color: @deleteColor;
      font-weight: 600;
      margin: 0;
      padding: 10px 0 0 10px;
    }
    &.message {
      color: green;
      margin: 0;
      padding: 15px 10px 0;
    }
  }
}