//Reset button elements
button {
	border: none;
	outline: none;
	background-color: initial;
}

a.text-button {
	@include transition (all, $timing-short, ease-in-out);
	color: $primary;
	cursor: pointer;
	&:hover {
		background-color: darken($primary, 8%);
	}
}

.button {
	@include border-radius (2px);
	@include transition (all, $timing-short, ease-in-out);
	background-color: $primary;
	padding: 12px 20px;
	display: inline-block;
	font-size: 13px;
	line-height: 16px;
	color: $white;
	text-transform: uppercase;
	font-weight: 600;
	height: 40px;
	cursor: pointer;
	border: none;
	outline: none;
	text-align: center;
	&:focus {
		box-shadow: 0 0 0 2px, 0 0 8px 4px rgba($primary, 0.2);
		background-color: darken($primary, 8%);
	}
	&:hover {
		background-color: darken($primary, 8%);
	}
	&.outline {
		color: $primary;
		background-color: $white;
		border: 2px $primary solid;
		&:hover {
			color: $gray-4;
			border-color: $gray-4;
		}
	}
	&.disabled {
		background-color: $gray-2;
		color: $gray-4;
		cursor: not-allowed;
	}
	&.subdued {
		background-color: $gray-1;
		color: $gray-4;
		&:hover {
			color: $primary;
		}
	}
	.material-icons {
		vertical-align: middle;
		margin-top: -4px;
		margin-left: -2px; // Optical alignment
		padding-right: 4px;
	}
}

// Custom Checkboxes
.custom-checkbox input[type="checkbox"],
.custom-checkbox input[type="radio"],
input[type="checkbox"].custom-checkbox,
input[type="radio"].custom-checkbox {
	display:none;
	+label {
		cursor: pointer;
		display: block;
		margin-bottom: -3px;
		span:before {
			content: "check_box_outline_blank";
			@extend .material-icon-block;
		}
		span {
			@include transition (color, $timing-short, ease-in-out);
			vertical-align: middle;
			display: inline-block;
			color: $gray-4;
			&:hover {
				color: $primary;
			}
		}
	}
	&:checked {
		+label {
			span {
				&:before {
					content: "check_box";
					color: $primary;
				}
				&:hover {
					color: $gray-6;
				}
			}
		}
	}
	&:checked:disabled,
	&:disabled {
		+label {
			span {
				&:before {
					cursor: inherit;
					color: $gray-3;
					&:hover {
						color: $gray-3;
					}
				}
			}
		}
	}
	&.permission-toggle {
		+label {
			span {
				color: $serious;
			}
		}
		&.partial {
			&:checked {
				+label {
					span {
						&:before {
							content: "indeterminate_check_box";
							color: $important;
						}
					}
				}
			}
		}
	}
}
