//////////////////////////////////////////////////////////////////////////////
// Files

.folder-listing,
.file-listing {
	padding: 20px;
	// text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.attachments,
.folder-listing,
.file-listing {
	&.flex {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: flex-start;
	}
	.folder  {
		.folder-icon {
			width: 200px;
			height: 200px;
			background-color: $primary;
			color: $white;
			.material-icons {
				font-size: 100px;
				margin-top: 50px;
			}
		}
		.folder,
		.file {
			display: none;
		}
	}
	.folder,
	.file {
		@include transition (all, $timing-short, ease-in-out);
		@include box-shadow ();
		@include border-radius-each (0, 2px, 2px, 0);
		position: relative;
		display: inline-block;
		width: 200px;
		margin: 20px;
		background-color: $gray-1;
		text-align: center;
		cursor: pointer;
		&:hover {
			// @include scale(1.06);
			// @include box-shadow (0px, 3px, 20px, 0px, 0.15);
			.info {
				.more,
				.name {
					color: $primary;
				}
			}
			.type {
				opacity: 0.9;
			}
		}
		&.deleted {
			display: none;
		}
		&.moving {
			opacity: 0.2;
		}
		.folder-open {
			display: none;
		}
		&.into-folder {
			.folder-open {
				display: inline-block;
			}
			.folder-closed {
				display: none;
			}
		}
		&.gu-mirror {
			position: fixed !important;
			margin: 0 !important;
			z-index: 9999 !important;
			opacity: 0.2;
		}
		&.no-margin {
			margin: 0;
		}
		&:active {
			@include scale(.98);
			@include box-shadow (0px, 0px, 2px, 0px, 0.22);
		}
		img {
			height: 200px;
			// display: block;
			position: absolute;
			top: 0;
			left: 0;
			background-color: $gray-1;
		}
		.extension-fallback {
			height: 200px;
			font-size: 28px;
			color: $primary;
			padding-top: 85px;
			font-weight: 300;
		}
		.type {
			@include transition (all, $timing-short, ease-in-out);
			@include border-radius (2px);
			position: absolute;
			top: 175px;
			right: 10px;
			padding: 2px 3px 2px 3px;
			background-color: $white;
			font-size: 10px;
			line-height: 11px;
			text-transform: uppercase;
			opacity: 0.6;
		}
		.info {
			position: relative;
			padding: 10px;
			width: 100%;
			text-align: left;
			background-color: $white;
			.name {
				@include transition (all, $timing-short, ease-in-out);
				font-weight: 500;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				margin-right: 20px;
			}
			.uploaded {
				font-size: 12px;
				font-weight: 500;
				margin-top: 2px;
				font-style: italic;
				color: $gray-4;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				margin-right: 20px;
			}
			.more,
			.remove {
				@include transition (all, $timing-short, ease-in-out);
				position: absolute;
				top: 12px;
				right: 4px;
				color: $gray-4;
			}
		}
	}
}
