//////////////////////////////////////////////////////////////////////////////
// Tags

::-webkit-scrollbar { }
::-webkit-scrollbar-track { }
::-webkit-scrollbar-thumb {
	// background-color: $primary;
}
::selection {
	background: lighten($primary, 40%);
}
::-moz-selection {
	background: lighten($primary, 40%);
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}
::-webkit-input-placeholder {
	color: $gray-3;
}
::-moz-placeholder {
	color: $gray-3;
}
:-ms-input-placeholder {
	color: $gray-3;
}
:-moz-placeholder {
	color: $gray-3;
}
* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
*:focus {
	outline: 0;
}
html, body {
	margin: 0;
	background-color: $white;
	color: $gray-6;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-align: left;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	&.right-sidebar-open,
	&.right-sidebar-open-wide {
		.right-sidebar {
			right: 0;
		}
		table .right-sidebar-toggle .material-icons {
			opacity: 0;
		}
	}
	&.right-sidebar-open {
		.page {
			.page-container {
				.main-container {
					margin-right: 200px;
				}
			}
		}
	}
	&.right-sidebar-open-wide {
		.page {
			.page-container {
				.main-container {
					margin-right: 360px;
				}
			}
		}
	}
}
a {
	color: inherit;
	text-decoration: none;
	&.hover-color {
		@include transition (color, $timing-short, ease-in-out);
		&.active,
		&:hover {
			color: $primary;
		}
	}
	&.primary {
		color: $primary;
	}
}
table {
	font-size: inherit;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
h1 {
	font-size: 30px;
	font-weight: 300;
	color: $gray-5;
}
h2 {
	max-width: 300px;
	font-size: 18px;
	font-weight: 400;
	color: $gray-4;
	text-transform: uppercase;
}
h3 {
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	color: $gray-4;
}
h5 {
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	font-style: italic;
	color: #AAAAAA;
}
h6 {
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	font-style: italic;
	color: #AAAAAA;
}
hr {
    border: 0;
    border-bottom: 1px solid $gray-2;
}
textarea,
input {
	@include transition (all, $timing-short, ease-in-out);
	@include border-radius (2px);
	padding: 12px;
	font-size: 13px;
	font-weight: 400;
	outline: none;
	height: 40px;
	width: 100%;
	max-width: 600px;
	background-color: $white;
	color: $gray-5;
	border: 1px solid $gray-3;
	&:hover {
		border-color: $gray-4;
	}
	&:focus {
		border-color: $white;
		color: $gray-6;
		-webkit-box-shadow: 0px 0px 0px 2px $primary;
		-moz-box-shadow: 0px 0px 0px 2px $primary;
		box-shadow: 0px 0px 0px 2px $primary;
	}
	// Causes lost focus borders on inputs
	// &:-webkit-autofill {
	// 	-webkit-box-shadow: 0 0 0px 1000px $white inset; // lighten($primary, 43%)
	// 	color: lighten($primary, 20%) !important;
	// }
	&[readonly],
	&:disabled {
		border-color: $gray-1;
		cursor: not-allowed;
		color: $gray-4;
		&:focus,
		&:hover {
			cursor: not-allowed;
			border-color: $gray-1;
			color: $gray-4;
			-webkit-box-shadow: 0px 0px 0px 0px transparent;
			-moz-box-shadow: 0px 0px 0px 0px transparent;
			box-shadow: 0px 0px 0px 0px transparent;
		}
	}
}
.checkbox-container,
.radio-container {
	margin-right: 40px;
	margin-bottom: 20px;
	display: inline-block;
	cursor: pointer;
	input[type="checkbox"],
	input[type="radio"] {
		margin-right: 4px;
		margin-top: -1px;
		vertical-align: middle;
		height: auto;
		cursor: pointer;
		&:focus {
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}
		&:checked + label {
			font-weight: 700;
			color: $primary;
		}
	}
	label {
		cursor: pointer;
	}
}
select {
	@include transition (all, $timing-short, ease-in-out);
	@include border-radius (2px);
	color: $gray-5;
    background-color: $white;
    border: 1px solid $gray-3;
    display: block;
    padding: 11px;
    outline: none;
    resize: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    &:hover {
		border-color: $gray-4;
	}
	&:focus {
		border-color: $white;
		color: $gray-6;
		-webkit-box-shadow: 0px 0px 0px 2px $primary;
		-moz-box-shadow: 0px 0px 0px 2px $primary;
		box-shadow: 0px 0px 0px 2px $primary;
	}
	&[readonly],
	&:disabled {
		border-color: $gray-1;
		cursor: not-allowed;
		color: $gray-4;
		&:focus,
		&:hover {
			cursor: not-allowed;
			border-color: $gray-1;
			color: $gray-4;
			-webkit-box-shadow: 0px 0px 0px 0px transparent;
			-moz-box-shadow: 0px 0px 0px 0px transparent;
			box-shadow: 0px 0px 0px 0px transparent;
		}
	}
}
ul {
	margin: 0;
	padding: 0;
}

//////////////////////////////////////////////////////////////////////////////
// Other

.noty_box {
	.noty_message {
		.noty_text {
			display: block;
		}
		hr {
			margin: 16px 0;
			opacity: 0.5;
		}
		ul {
			margin-left: 16px;
		}
	}
}
.loading {
	@include transition (opacity, $timing-short, ease-in-out);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	z-index: 0;
	text-align: center;
	&.blocking {
		z-index: 999;
		opacity: 1;
		background-color: rgba($gray-1, 0.5);
	}
	&.fading {
		opacity: 1;
		background-color: rgba($gray-1, 1);
	}
	.loading-container {
		@include box-shadow ($x: 0px, $y: 0px, $blur: 2px, $spread: 0px, $opacity: 0.05);
		@include border-radius (2px);

		position: absolute;
		bottom: 68px;
		left: 50%;
		width: 200px;
		height: 4px;
		margin-left: -100px;
		background-color: $white;
		overflow: hidden;

		// width: 50%;
		// max-width: 400px;
		// -webkit-transform: translate(-50%, -50%);
		// transform: translate(-50%, -50%);

		&:before{
			transform: translateZ(0);
			-webkit-transform: translateZ(0);
			-ms-transform: translateZ(0);
			will-change: transform;

			display: block;
			position: absolute;
			content: "";
			left: -200px;
			width: 200px;
			height: 4px;
			background-color: $primary;
			animation: loading 2s linear infinite;
		}
		@keyframes loading {
			from {left: -200px; width: 30%;}
			50% {width: 30%;}
			70% {width: 70%;}
			80% { left: 50%;}
			95% {left: 120%;}
			to {left: 100%;}
		}
		.loading-bar {
			// @include transition (all, $timing-long, cubic-bezier(0.23, 1, 0.32, 1));
			@include border-radius (2px);
			// animation: pulsate-login 1s ease-out;
			// animation-iteration-count: infinite;
			animation: 20s ease-out 0s 1 progress-bar forwards;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 0%;
			background-color: $primary;
			// &.step-1 {
			// 	width: 80%;
			// }
			&.error {
				background-color: $serious;
			}
		}
	}
	.readout {
		position: absolute;
		bottom: 43px;
		width: 100%;
		color: $gray-3;
		text-align: center;
	}
}
.section-break {
	width: 80%;
	text-align: center;
	margin: 40px auto 40px;
	h2 {
		display: inline-block;
		background-color: lighten($gray-1, 3%); // #f5f5f5
		padding: 10px 20px 10px 20px;
	}
	hr {
		margin-top: -21px;
	}
}
.select-container {
	position: relative;
	display: inline-block;
	vertical-align: top; // Fixes selects next to inputs not being aligned (could affect things elsewhere)
	select {
		height: 40px;
		padding-right: 30px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	.select-arrow {
		position: absolute;
		top: 8px;
		right: 4px;
		color: $gray-4;
		background-color: #ffffff;
		pointer-events: none;
	}
}
.material-icon-block {
	cursor: inherit;

	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
	&.vertical-middle {
		vertical-align: middle;
	}
}
.align-icon-text {
	.material-icons {
		vertical-align: middle;
		margin-right: 4px;
		margin-top: -4px;
	}
}
.serious-text {
	color: $serious;
}
.important-text {
	color: $important;
}
.primary-text {
	color: $primary;
}
.light-text {
	color: $gray-3;
}
.hidden {
	display: none;
}
.clearfix:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
}

//////////////////////////////////////////////////////////////////////////////
