//////////////////////////////////////////////////////////////////////////////
// Edit/Create Item & Core UIs

.fields {
	.field {
		position: relative;
		border-bottom: 1px solid $gray-1;
		padding: 30px 30px 30px 20px;
		white-space: nowrap;
		&:last-child {
			padding-bottom: 100px;
			border-bottom: none;
		}
		&.break-header {
			text-align: center;
			background-color: $white;
			white-space: normal;
			h3 {
				color: $gray-5;
				font-size: 16px;
				font-weight: 500;
				text-transform: none;
			}
			h6 {
				max-width: 400px;
				margin: 10px auto 0;
			}
			&.translation {
				color: $gray-3;
				font-size: 18px;
				font-weight: 500;
				.translation-picker {
					position: relative;
					display: inline-block;
					.current-language {
						color: $primary;
					}
					.select-arrow {
						background-color: inherit;
						color: $primary;
						margin-left: -10px;
						vertical-align: middle;
						margin-top: -4px;
					}
					.select-container {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						opacity: 0;
						select {
							margin-left: 4px;
							background-color: inherit;
							border: none;
							padding: 0 14px 0 0;
							color: $primary;
							cursor: pointer;
							&:focus {
								box-shadow: none;
							}
						}
					}
				}
			}
		}
		&.batch-edit {
			.batch-edit-label {
				@include transition (all, $timing-short, ease-in-out);
				display: block;

				z-index: 10;
				position: absolute;
				top: 50%;
				left: 50%;
				width: 400px;
				margin-top: -22px;
				margin-left: -200px;
				text-align: center;
				color: $gray-4;
				font-size: 15px;
				font-weight: 500;
				text-transform: uppercase;
				cursor: not-allowed;
				.button {
					-webkit-box-shadow: 0 0 0 4px rgba($white,1);
					-moz-box-shadow: 0 0 0 4px rgba($white,1);
					box-shadow: 0 0 0 4px rgba($white,1);
					.material-icons {
						font-size: 18px;
						margin-right: 4px;
					}
				}
			}
			.cancel-batch-edit {
				opacity: 0;
			}
			&:hover {
				.batch-edit-label {
					color: $primary;
				}
				&:after {
					opacity: 0.5;
				}
			}
			&:after {
				@include transition (all, $timing-short, ease-in-out);
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				background-color: $white;
				opacity: 0.95;
				cursor: not-allowed;
				z-index: 9;
			}
		}
		.batch-edit-label {
			display: none;
		}
		.label {
			white-space: normal;
			display: inline-block;
			width: 180px;
			padding-top: 4px;
			padding-right: 20px;
			font-weight: 500;
			color: $gray-6;
			.translation-note {
				padding-top: 4px;
				font-size: 12px;
				color: $primary;
			}
			.comment {
				padding-top: 4px;
				font-size: 12px;
				font-style: italic;
				// font-weight: 400;
				color: $gray-4;
				max-width: 400px;
			}
			.required {
				font-size: 8px;
				color: $primary;
				vertical-align: middle;
				margin-top: -8px;
				cursor: default;
			}
			.cancel-batch-edit {
				@include transition (all, $timing-short, ease-in-out);
				color: $serious;
				cursor: pointer;
				font-size: 11px;
				margin-left: 5px;
				&:hover {
					color: darken($serious, 25%);
				}
			}
		}
		.interface {
			position: relative;
			white-space: normal;
			display: inline-block;
			width: calc(100% - 180px);
			vertical-align: top;
			&.offset-bottom {
				margin-bottom: -20px;
			}
			table {
				tbody {
					tr {
						td {
							height: 40px;
						}
					}
				}
			}
			input,
			textarea,
			select {
				font-size: 14px;
				line-height: 14px;
				width: auto;
			}
			input {
				width: 100%;
				max-width: 400px;
				&.small {
					max-width: 150px;
				}
				&.medium {
					max-width: 300px;
				}
			}
			textarea {
				position: relative;
				width: 100%;
				max-width: 400px;
				min-height: 140px;
				line-height: 18px;
				height: auto;
			}
			select {
				padding-right: 36px; // So the right side isn't cropped
				width: 100%;
				max-width: 200px;
			}
			input[type="checkbox"].custom-checkbox + label {
				display: inline-block;
			}
			input[type="checkbox"],
			input[type="radio"] {
				max-width: auto;
				width: auto;
			}
			input[type="date"] {
				max-width: auto;
				width: 170px;
				margin-right: 20px;
			}
			input[type="time"] {
				width: 170px;
				min-width: auto;
			}
			input[type="range"] {
				padding: 0;
				max-width: 340px;
				-webkit-appearance: none;
				border: none;
				margin-right: 10px;
				vertical-align: middle;
				&::-webkit-slider-runnable-track {
					width: 300px;
					height: 4px;
					background: $gray-2;
					box-shadow: none;
					border: none;
					border-radius: 3px;
				}
				&::-webkit-slider-thumb {
					-webkit-appearance: none;
					box-shadow: none;
					border: none;
					height: 14px;
					width: 14px;
					border-radius: 50%;
					background: $primary;
					margin-top: -5px;
					cursor: ew-resize;
				}
				&:focus {
					box-shadow: none;
				}
			}
			select[multiple] {
				height: auto;
				min-height: 128px;
			}
			input.filesize {
				max-width: 100px;
				min-width: auto;
				margin-right: 5px;
			}
			select.filesize {
				max-width: 100px;
				min-width: auto;
				height: 40px;
			}
			.currency-input {
				position: relative;
				display: inline-block;
				input {
					padding-left: 24px;
					max-width: 170px;
					min-width: auto;
					margin-right: 5px;
				}
				.symbol {
					position: absolute;
					left: 12px;
					top: 12px;
					font-size: 14px;
					color: $gray-4;
				}
			}
			select.currency {
				max-width: 100px;
				min-width: auto;
				height: 40px;
			}
			.file-preview {
				width: 100%;
				img {
					display: block;
					height: auto;
					max-width: 100%;
					max-height: 600px;
					object-fit: contain;
					object-position: left;
				}
				iframe {
					max-width: 100%;
					max-height: 600px;
				}
			}
			.directus-user {
				position: relative;
				font-size: 14px;
				font-weight: 500;
				color: $primary;
				margin-right: 40px;
				display: inline-block;
				img {
					@include border-radius (50px);
					vertical-align: middle;
					width: 50px;
					height: 50px;
					border: 2px solid $primary;
					margin-right: 10px;
				}
				.online {
					@include transition (all, $timing-short, ease-in-out);
					@include border-radius (2px);
					display: inline-block;
					position: absolute;
					top: 40px;
					left: 5px;
					padding: 2px 3px 2px 3px;
					background-color: $primary;
					color: $white;
					font-size: 10px;
					font-weight: 500;
					text-transform: uppercase;
					line-height: 11px;
				}
			}
			.char-count {
				position: relative;
				display: inline-block;
				.char-remaining {
					@include transition (all, $timing-short, ease-in-out);
					position: absolute;
					top: 13px;
					right: -43px;
					color: $primary;
					text-align: left;
					width: 30px;
					font-weight: 500;
					font-size: 12px;
					opacity: 0;
				}
				input:focus + .char-remaining {
					opacity: 1.0;
				}
			}
			.slider-value {
				@include transition (all, $timing-short, ease-in-out);
				font-size: 18px;
				display: inline-block;
				color: $gray-3;
				width: 100px;
				min-width: auto;
				vertical-align: middle;
				border: none;
				padding: 0;
				height: auto;
				&:focus {
					box-shadow: none;
					color: $primary;
				}
				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
			}
			input[type="range"]:focus + .slider-value,
			input[type="range"]:active + .slider-value {
				color: $primary;
			}
			// Settings
			.toggle-directus-tables {
				margin-top: 10px;
			}
			.attachments {
				&.multiple {
					.dropzone {
						display: inline-block;
						width: 200px;
						margin: 20px;
						height: 249px;
						padding: 50px 20px;
						vertical-align: top;
					}
				}
				.file {
					.info {
						.remove {
							&:hover {
								color: $serious;
							}
						}
					}
				}
			}
			.thumbnail-sizes {
				display: inline-block;
				margin-right: 20px;
				margin-bottom: 20px;
				color: $gray-4;
				font-size: 12px;
				.thumb {
					position: relative;
					display: block;
					margin-bottom: 6px;
					cursor: pointer;
					background-color: $gray-1;
					min-width: 100px;
					text-align: center;
					line-height: 0;
					&:hover {
						.crop {
							opacity: 1;
						}
					}
					.crop {
						@include transition (all, $timing-short, ease-in-out);
						@include border-radius (40px);
						position: absolute;
						top: 50%;
						left: 50%;
						margin-top: -22px;
						margin-left: -22px;
						background-color: $white;
						padding: 10px;
						opacity: 0;
						.material-icons {
							color: $primary;
						}
					}
				}
				&.system {

				}
			}
			.template-string {
				position: relative;
				input {
					font-family: monospace;
				}
				.highlights {
					pointer-events: none;
					position: absolute;
					font-family: monospace;
					top: 0;
					left: 13px;
					right: 13px;
					bottom: 0;
					padding: 13px 0;
					font-size: 14px;
					font-weight: 300;
					overflow: scroll;
					white-space: pre;
					color: transparent;
					letter-spacing: inherit;
					line-height: inherit;
					&::-webkit-scrollbar {
					    display: none;
					}
					.highlight {
						@include border-radius (2px);
						position: relative;
						background-color: rgba($primary, 0.3);
						padding: 2px 0;
						&.invalid {
							background-color: rgba($serious, 0.3);
						}
					}
				}
				.description {
					margin-top: 10px;
					color: $gray-3;
					font-size: 12px;
					font-style: italic;
					&.invalid {
						color: lighten($serious, 10%);
					}
				}
			}
			.table-container {
				@include border-radius (2px);
				border: 1px solid $gray-1;
				overflow-x: auto;
				&.max-height {
					max-height: 402px; // 8 items (evenly) at normal padding
					overflow: auto;
				}
				table {
					tbody {
						tr {
							&:last-child {
								border-bottom: none;
							}
							td {
								&.relational-remove {
									@include transition (color, $timing-short, ease-in-out);
									width: 44px;
									min-width: auto;
									color: $gray-5;
									text-align: center;
									&:hover {
										color: $serious;
									}
								}
							}
						}
					}
				}
			}
			.asset {
				width: 100%;
				max-height: 600px;
				overflow: hidden;
				img {
					max-width: 100%;
					max-height: 100%;
				}
			}
			.button-group {
				.button {
					margin-top: 20px;
					margin-right: 20px;
					&:last-child {
						margin-right: 0;
					}
				}
			}
			.accountability {
				display: inline-block;
				color: $gray-4;
				.select-container {
					display: block;
					margin-top: 4px;
				}
			}
			.map {
				@include border-radius (2px);
				width: 100%;
				min-height: 400px;
				border: 1px solid $gray-1;
			}
			.map-search {
				// @include box-shadow (0px, 1px, 4px, 0px, 0.2);
				margin-top: 20px;
				margin-left: 20px;
			}
			.map-clear,
			.lat-long {
				display: inline-block;
				color: $gray-3;
				font-size: 12px;
				margin-top: 5px;
			}
			.map-clear {
				color: $primary;
				cursor: pointer;
				margin-left: 10px;
			}
			.wysiwyg {
				height: 100%;
				border-left: 1px solid $gray-1;
				margin-top: -30px;
				margin-bottom: -30px;
				.full-screen-label {
					display: none;
				}
				&.full-screen {
					position: fixed;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					margin: 0;
					background-color: $gray-1;
					z-index: 101;
					textarea {
						@include box-shadow (0px, 1px, 4px, 0px, 0.2);
						display: block;
						margin: 0 auto 100px;
						min-height: 60%;
						padding: 100px 80px 80px 80px;
					}
					.full-screen-toggle {
						background-color: $gray-4;
						color: $white;
						bottom: 30px;
						right: 30px;
						&:hover {
							background-color: $primary;
							color: $white;
						}
					}
					.full-screen-label {
						display: block;
						width: 100%;
						text-align: center;
						margin: 80px auto 40px;
						color: $gray-3;
					}
				}
				textarea {
					@include box-shadow (0px, 1px, 4px, 0px, 0.0);
					padding: 0;
					border: none;
					resize: none;
					width: 100%;
					min-height: 400px;
					padding: 30px;
					line-height: 24px;
					max-width: 800px;
					max-height: 1200px;
				}
				.full-screen-toggle {
					@include transition (all, $timing-short, ease-in-out);
					@include border-radius (2px);
					position: absolute;
					right: 0;
					bottom: 0;
					background-color: $gray-1;
					width: 40px;
					height: 40px;
					color: $gray-4;
					padding: 8px;
					cursor: pointer;
					&:hover {
						background-color: $primary;
						color: $white;
					}
				}
			}
			.dropzone {
				@include transition (all, $timing-short, ease-in-out);
				@include border-radius (4px);
				border: 1px dashed $gray-4;
				background-color: $white;
				padding: 30px;
				width: 400px;
				text-align: center;
				color: $gray-1;
				cursor: pointer;
				text-transform: uppercase;
				.cloud {
					font-size: 100px;
					margin-top: -10px;
				}
				.drag-and-drop {
					font-size: 22px;
					font-weight: 700;
				}
				.click-to-browse {
					margin-top: 2px;
					font-size: 14px;
				}
				&:hover {
					border-color: $primary;
					color: $primary;
				}
			}
			.color {
				&.active {
					input {
						width: 110px;
						min-width: 110px;
					}
					.current-swatch {
						opacity: 1;
					}
					.swatches {
						left: 127px;
					}
				}
				label {
					position: absolute;
					top: 13px;
					left: 13px;
					color: $gray-3;
				}
				input {
					@include transition (all, $timing-short, ease-in-out);
					padding-left: 22px;
					width: 90px;
					min-width: 90px;
					margin-right: 20px;
					text-transform: uppercase;
					vertical-align: top;
				}
				.swatches {
					@include transition (all, $timing-short, ease-in-out);
					display: inline-block;
					width: calc(100% - 140px);
					padding-top: 8px;
				}
				.current-swatch,
				.swatch {
					@include transition (all, $timing-short, ease-in-out);
					@include border-radius (100px);
					display: inline-block;
					width: 30px;
					height: 30px;
					padding: 4px;
					margin-left: 2px;
					margin-top: -4px;
					margin-bottom: 8px;
					vertical-align: middle;
					border: 1px solid transparent;
					cursor: pointer;
					&:hover {
						.material-icons {
							opacity: 0.5;
						}
					}
					&:active {
						.material-icons {
							opacity: 1;
						}
					}
					&.active {
						.material-icons {
							opacity: 1;
						}
					}
					&.white {
						border-color: $gray-4;
						.material-icons {
							color: $gray-5;
						}
					}
					.material-icons {
						@include transition (all, $timing-short, ease-in-out);
						color: $white;
						font-size: 20px;
						opacity: 0;
					}
				}
				.current-swatch {
					position: absolute;
					top: 14px;
					left: 77px;
					opacity: 0;
					width: 20px;
					height: 20px;
					margin-left: 2px;
					margin-top: -4px;
					padding: 2px;
					&:hover {
						.material-icons {
							opacity: 1;
						}
					}
					.material-icons {
						font-size: 14px;
					}
				}
			}
			.tag-container {
				margin-top: 10px;
				max-width: 800px;
				.tag {
					@include transition (all, $timing-short, ease-in-out);
					@include border-radius (2px);
					display: inline-block;
					padding: 6px 10px;
					margin-top: 10px;
					margin-right: 10px;
					font-size: 10px;
					font-weight: 700;
					text-transform: uppercase;
					color: $white;
					background-color: $gray-4;
					cursor: pointer;
					&:hover {
						background-color: $serious;
						color: $white;
					}
				}
			}
		}
	}
}
