//////////////////////////////////////////////////////////////////////////////
// Login

body.login {
	background-color: $gray-1;
	.directus {
		// We'd appreciate this remaining visible to users.
		@include transition (all, $timing-short, ease-in-out);
		position: absolute;
		bottom: 10px;
		left: 50%;
		width: 200px;
		margin-left: -100px;
		padding: 10px;
		text-align: center;
		color: $gray-4;
		font-weight: 500;
		letter-spacing: 0.03em;
		font-size: 9px;
		text-transform: uppercase;
		z-index: 4;
		cursor: help;
		&:hover {
			color: $primary;
		}
	}
	.notifications {
		position: absolute;
		bottom: 50px;
		text-align: center;
		width: 100%;
		z-index: 4;
		.notification {
			@include border-radius (2px);
			animation: pulsate-opacity 2s ease-out;
			animation-iteration-count: infinite;
			background-color: $white;
			color: $gray-4;
			display: inline-block;
			padding: 10px 14px 8px 14px;
			max-width: 400px;
			&.serious {
				color: $serious;
			}
			.material-icons {
				vertical-align: middle;
				margin-right: 10px;
				margin-top: -2px;
			}
		}
	}
	.login-panel {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 260px;
		height: 260px;
		margin-left: -130px;
		margin-top: -150px;
		// There's an issue with this and TranslateY: If the login-panel ends up with an odd px height then things are blurry due to subpixel anti-aliasing
		// -webkit-transform: translateY(-58%);
		// -ms-transform: translateY(-58%);
		// transform: translateY(-58%);
		z-index: 2;
		h1 {
			padding-bottom: 5px;
			color: $gray-5;
			text-align: center;
		}
		p {
			color: $gray-4;
			font-size: 13px;
			line-height: 20px;
			padding-bottom: 15px;
			letter-spacing: -0.2px;
			text-align: center;
		}
		.input {
			position: relative;
			margin-bottom: 20px;
			.material-icons {
				@include transition (all, $timing-short, ease-in-out);
				position: absolute;
				top: 12px;
				left: 10px;
				font-size: 16px;
				color: $gray-2;
				pointer-events: none;
				&.focus-color {
					&.active {
						color: $primary;
					}
				}
			}
			input {
				padding-left: 30px;
				font-size: 14px;
				border-color: $gray-2;
				background-color: $white !important;
				outline: 10px solid transparent;
				&:focus {
					border-color: $white;
				}
				&.password {
					padding-right: 30px;
				}
			}
		}
		button {
			width: 100%;
		}
		.forgot {
			@include transition (all, $timing-short, ease-in-out);
			pointer-events: auto;
			cursor: pointer;
			text-align: center;
			margin-top: 20px;
			color: $gray-3;
			&:hover {
				color: $primary;
			}
		}
		.hr-label {
			position: relative;
			margin-top: 20px;
			margin-bottom: 20px;
			hr {
				position: absolute;
				top: 0;
				border-color: $gray-2;
				width: 100px;
				&:nth-child(1) {
					left: 0;
				}
				&:nth-child(2) {
					right: 0;
				}
			}
			.label {
				text-transform: uppercase;
				color: $gray-2;
				font-weight: 700;
				font-size: 11px;
				width: 100%;
				text-align: center;
			}
		}
		.alt-auth {
			text-align: center;
			.tile {
				@include transition (all, $timing-short, ease-in-out);
				@include border-radius (40px);
				position: relative;
				display: inline-block;
				background-color: $gray-3;
				color: $white;
				width: 40px;
				height: 40px;
				padding: 8px;
				text-align: center;
				cursor: pointer;
				margin: 0 5px;
				&:hover {
					background-color: $primary;
				}
				&:nth-child(4) {
					margin-right: 0;
				}
				&.google img {
					margin-top: 1px;
					margin-left: 1px;
				}
				&.facebook img {
					margin-top: 1px;
					margin-left: 7px;
				}
				&.twitter img {
					margin-top: 3px;
					margin-left: 2px;
				}
				&.github img {
					margin-top: 0;
					margin-left: 0;
				}
				img {
					display: block;
				}
			}
		}
	}
	.processing {
		@include transition (all, $timing-short, ease-in-out);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba($gray-1, 0.75);
		opacity: 0;
		z-index: 0;
		&.blocking {
			z-index: 3;
		}
		&.fading {
			opacity: 1;
		}
		.loading-container {
			@include box-shadow ($x: 0px, $y: 0px, $blur: 2px, $spread: 0px, $opacity: 0.05);
			@include border-radius (2px);
			position: absolute;
			bottom: 68px;
			left: 50%;
			width: 200px;
			height: 4px;
			margin-left: -100px;
			background-color: $white;
			.loading-bar {
				@include transition (all, $timing-long, cubic-bezier(0.23, 1, 0.32, 1));
				@include border-radius (2px);
				animation: pulsate-login 1s ease-out;
				animation-iteration-count: infinite;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: 0%;
				background-color: $primary;
				&.step-1 {
					width: 80%;
				}
				&.step-2 {
					width: 99%;
				}
				&.error {
					background-color: $serious;
				}
			}
		}
	}
	.glow {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 500px;
		height: 500px;
		margin-top: -270px;
		margin-left: -250px;
		z-index: 1;
		background-color: $gray-1;
		background: -webkit-radial-gradient($white 0%, $gray-1 60%);
		background: -o-radial-gradient($white 0%, $gray-1 60%);
		background: -moz-radial-gradient($white 0%, $gray-1 60%);
		background: radial-gradient($white 0%, $gray-1 60%);
	}
}
