//////////////////////////////////////////////////////////////////////////////
// Messages

.mention {
	@include transition (all, 400ms, ease-in-out);
	// @include border-radius (2px);
	// background-color: lighten($primary, 45%);
	// padding: 0 2px 0 2px;
	color: $primary;
	cursor: pointer;
	&:hover {
		color: darken($primary, 8%);
	}
}

.mention-choice {
	img {
		width: 30px;
		margin-right: 5px;
	}
}

.message {
	position: absolute;
	top: 0;
	left: 40%;
	width: 60%;
	height: 100%;
	padding: 40px;
	min-width: 500px;
	overflow: auto;
	background-color: $white;
	z-index: 1;
	.details {
		.avatar {
			@include transition (all, $timing-short, ease-in-out);
			@include box-shadow ();
			@include border-radius (100px);
			position: absolute;
			top: 40px;
			left: 40px;
			width: 60px;
			height: 60px;
			overflow: hidden;
			cursor: pointer;
			&:hover {
				opacity: 0.8;
			}
			// border: 3px solid $primary;
			// background-color: $primary;
		}
		.from {
			@include transition (all, $timing-short, ease-in-out);
			position: absolute;
			top: 60px;
			left: 120px;
			font-size: 16px;
			font-weight: 500;
			cursor: pointer;
			&:hover {
				color: $primary;
			}
		}
		.timeago {
			position: absolute;
			top: 63px;
			right: 40px;
			font-size: 13px;
			font-weight: 500;
			color: $gray-3;
		}
		h1 {
			margin-top: 100px;
			margin-bottom: 4px;
		}
		input.subject {
			@include transition (all, $timing-short, ease-in-out);
			@include border-radius (0);
			margin-top: 100px;
			margin-bottom: 10px;
			border: none;
			border-bottom: 1px solid $gray-3;
			font-size: 30px;
			font-weight: 300;
			color: $gray-5;
			padding: 10px 0 20px 0;
			&:focus {
				border-bottom: 1px solid $primary;
				-webkit-box-shadow: 0px 0px 0px 0px transparent;
				-moz-box-shadow: 0px 0px 0px 0px transparent;
				box-shadow: 0px 0px 0px 0px transparent;
			}
		}
		.recipients {
			.twitter-typeahead {
				height: 40px;
				margin-bottom: 4px;
				width: 100%;
				input.recipients {
					border: none;
					padding: 0;
					margin-bottom: 10px;
					&:focus {
						-webkit-box-shadow: 0px 0px 0px 0px transparent;
						-moz-box-shadow: 0px 0px 0px 0px transparent;
						box-shadow: 0px 0px 0px 0px transparent;
					}
				}
				.tt-hint {
				    color: $gray-3;
				}
				.tt-dropdown-menu {
					@include border-radius (2px);
					top: 20px;
					padding: 3px 0;
					box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
					background-color: $white;
					min-width: 300px;
				}
				.tt-suggestions {
					margin-right: 0 !important;
				}
				.tt-suggestion {
					@include transition (all, $timing-short, ease-in-out);
					display: block;
					padding: 0px 20px;
					clear: both;
					font-weight: normal;
					white-space: nowrap;
					font-size: 12px;
					margin-right: 0 !important;
					cursor: pointer;
					&:hover {
						color: $primary;
					}
				}
				.tt-is-under-cursor {
					color: $primary;
				}
			}
		}
		.to {
			color: $gray-3;
			margin-bottom: 30px;
			font-weight: 500;
			span {
				@include transition (all, $timing-short, ease-in-out);
				@include border-radius (2px);
				background-color: $gray-1;
				padding: 3px 6px;
				color: $gray-4;
				margin-right: 4px;
				cursor: pointer;
				&:hover {
					background-color: $serious;
					color: $white;
				}
				.material-icons {
					font-size: 16px;
					margin-right: 4px;
					vertical-align: middle;
					margin-top: -3px;
				}
			}
		}
	}
	.attachments {
		margin-top: 20px;
		margin-left: -20px;
	}
	.seen {
		margin-top: 20px;
		margin-bottom: -15px;
		font-size: 11px;
		color: $gray-2;
		font-weight: 500;
		a {
			@include transition (all, 400ms, ease-in-out);
			cursor: pointer;
			&:hover {
				color: $gray-4;
			}
		}
		.material-icons {
			font-size: 16px;
			vertical-align: middle;
			margin-top: -2px;
			margin-right: 4px;
		}
	}
	.body {
		max-width: 800px;
		color: $gray-5;
		font-size: 16px;
		line-height: 30px;
	}
	.button-group {
		.button {
			@include transition (all, 400ms, ease-in-out);
			display: inline-block;
			min-width: 200px;
			margin-top: 20px;
			&.hidden {
				display: none;
			}
			&.subdued {
				min-width: 40px;
				width: 40px;
				margin-left: 20px;
				padding-left: 10px;
			}
		}
	}
	.response {
		position: relative;
		margin-top: 40px;
		border-top:	1px solid $gray-1;
		padding-top: 80px;
		.avatar {
			top: 20px;
			left: 0px;
			width: 40px;
			height: 40px;
			cursor: pointer;
			&:hover {
				opacity: 0.8;
			}
		}
		.from {
			top: 28px;
			left: 60px;
			font-size: 16px;
			cursor: pointer;
			&:hover {
				color: $primary;
			}
		}
		.timeago {
			top: 23px;
			right: 0px;
		}
	}
	.compose {
		textarea {
			display: block;
			min-height: 300px;
			font-size: 15px;
		}
	}
	.reply {
		margin-top: 40px;
		border-top:	1px solid $gray-1;
		margin-bottom: 20px;
		min-height: 300px;
		&.active {
			textarea {
				height: 180px;
			}
		}
		textarea {
			@include transition (all, 200ms, ease-in-out);
			@include border-radius (2px);
			margin-top: 40px;
			display: block;
			padding: 20px;
			border: none;
			resize: none;
			width: 100%;
			max-width: 800px;
			height: 100px;
			color: $gray-4;
			font-size: 16px;
			line-height: 30px;
			background-color: lighten($gray-1, 3%);
			&:focus {
				@include box-shadow (0px, 0px, 0px, 0px, 0.0);
			}
		}
		.button {
			@include transition (all, 400ms, ease-in-out);
			display: inline-block;
			min-width: 200px;
			margin-top: 20px;
			&.subdued {
				min-width: 40px;
				width: 40px;
				margin-left: 20px;
				padding-left: 10px;
			}
		}
	}
	.close-message {
		@include transition (all, 400ms, ease-in-out);
		position: absolute;
		top: 14px;
		left: 50%;
		margin-left: -20px;
		border-radius: 100px;
		width: 40px;
		height: 40px;
		padding-top: 4px;
		padding-left: 2px;
		color: $white;
		cursor: pointer;
		background-color: $gray-1;
		text-align: center;
		display: none;
		.material-icons {
			font-size: 32px;
		}
		&:active,
		&:focus,
		&:hover {
			background-color: $primary;
		}
	}
	.resize-handle {
		position: absolute;
		top: 0;
		bottom: 0;
		left: -6px;
		width: 11px;
		cursor: col-resize;
	}
}

.message-listing {
	@include transition (border-color, $timing-short, ease-in-out);
	border-right: 1px solid $gray-1;
	min-width: 300px;
	width: 40%;
	height: 100%;
	overflow: auto;
	&.resize-hover {
		border-color: $gray-3;
	}
	&.resize-active {
		border-color: $primary;
	}
	&.empty {
		width: 100%;
		.no-items {
			left: 5%;
			width: 30%;
			margin-left: 0px;
		}
	}
	.message-preview {
		@include transition (all, $timing-short, ease-in-out);
		position: relative;
		padding: 16px;
		color: $gray-4;
		line-height: 22px;
		font-size: 14px;
		padding: 20px 20px 20px 40px;
		border-bottom: 1px solid $gray-1;
		cursor: pointer;
		max-height: 150px; // Not as good for flexible pane
		overflow: hidden; // Not as good for flexible pane
		&.unread {
			background-color: $white;
			.unread-indicator {
				margin-left: 0;
				opacity: 1;
			}
			.byline {
				.subject {
					margin-left: 14px;
				}
			}
		}
		&.archived {
			.byline {
				.subject {
					color: $gray-4;
				}
			}
		}
		&.selected,
		&.active {
			.active-indicator {
				width: 4px;
				opacity: 1;
			}
			//background-color: lighten($primary, 45%);
			background-color: $white;
			.byline {
				.subject {
					color: $primary;
				}
			}
		}
		&:hover {
			.byline {
				.subject {
					color: $primary;
				}
			}
			// background-color: lighten($primary, 45%);
		}
		.message-select {
			position: absolute;
			top: 22px;
			left: 8px;
		}
		.active-indicator {
			@include transition (all, 400ms, ease-in-out);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 0px;
			background-color: $primary;
			opacity: 0;
		}
		.unread-indicator {
			@include transition (all, 400ms, ease-in-out);
			@include border-radius (10px);
			// animation: pulsate 2s ease-out;
			// animation-iteration-count: infinite;
			position: absolute;
			top: 27px;
			left: 20;
			width: 8px;
			height: 8px;
			background-color: $primary;
			margin-left: -16px;
			opacity: 0;
		}
		.timeago {
			position: absolute;
			right: 20px;
			top: 20px;
			text-align: right;
			font-size: 12px;
			font-weight: 500;
			color: $gray-3;
			.material-icons {
				font-size: 14px;
				vertical-align: middle;
				margin-top: -2px;
			}
		}
		.body {
			max-height: 70px;
			overflow: hidden;
		}
		.byline {
			position: relative;
			margin-bottom: 4px;
			font-size: 13px;
			font-weight: 500;
			color: $gray-3;
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			padding-right: 30px;
			.subject {
				@include transition (all, 400ms, ease-in-out);
				color: $gray-6;
				margin-right: 4px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				.count {
					opacity: 0.5;
				}
				.is-chat,
				.has-attachment {
					font-size: 16px;
					color: $gray-3;
					vertical-align: middle;
					margin-top: -2px;
					margin-left: 4px;
				}
			}
			.recipients {
				font-size: 12px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				line-height: 14px;
				margin-bottom: 4px;
			}
			.avatar {
				display: none;
				@include box-shadow ();
				@include border-radius (40px);
				position: absolute;
				top: -30px;
				left: 50%;
				margin-left: -20px;
				width: 40px;
				height: 40px;
				overflow: hidden;
				border: 2px solid $white;
				img {
					width: 100%;
				}
			}
		}
	}
}
