@mixin transition ($prop: all, $time: 200ms, $ease: ease-in-out, $delay: 0ms) {
	-webkit-transition: $prop $time $ease $delay;
	-moz-transition: $prop $time $ease $delay;
	-o-transition: $prop $time $ease $delay;
	-ms-transition: $prop $time $ease $delay;
	transition: $prop $time $ease $delay;
}
@mixin scale ($factor, $important:"") {
	-webkit-transform: scale($factor) unquote($important);
	-moz-transform: scale($factor) unquote($important);
	-ms-transform: scale($factor) unquote($important);
	-o-transform: scale($factor) unquote($important);
}
@mixin clearfix{
	zoom:1;
	&:before, &:after{ content:""; display:table; }
	&:after{ clear: both; }
}
@mixin border-radius ($radius: 4px) {
	-webkit-border-radius: $radius;
	-moz-border-radius:    $radius;
	border-radius:         $radius;
	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}
@mixin border-radius-each ($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0) {
	-webkit-border-top-right-radius: $topright;
	-webkit-border-bottom-right-radius: $bottomright;
	-webkit-border-bottom-left-radius: $bottomleft;
	-webkit-border-top-left-radius: $topleft;
	-moz-border-radius-topright: $topright;
	-moz-border-radius-bottomright: $bottomright;
	-moz-border-radius-bottomleft: $bottomleft;
	-moz-border-radius-topleft: $topleft;
	border-top-right-radius: $topright;
	border-bottom-right-radius: $bottomright;
	border-bottom-left-radius: $bottomleft;
	border-top-left-radius: $topleft;
	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}
@mixin box-shadow ($x: 0px, $y: 1px, $blur: 4px, $spread: 0px, $opacity: 0.2) {
	-webkit-box-shadow: $x $y $blur $spread rgba(0,0,0,$opacity);
	-moz-box-shadow: $x $y $blur $spread rgba(0,0,0,$opacity);
	box-shadow: $x $y $blur $spread rgba(0,0,0,$opacity);
}
@mixin vertical-align($position: relative) {
	position: $position;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

/* not a mixing, but Ben will put it in the right place */
%cursor-drag {
	cursor: move;
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
@mixin scale($scale) {
	 @include transform(scale($scale));
}
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
@mixin transform-origin ($origin) {
	moz-transform-origin: $origin;
	-o-transform-origin: $origin;
	-ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
	transform-origin: $origin;
}
@mixin loader11(
	$size: $loader-size,
	$color: $loader-color,
	$duration: $loader-animation-duration,
	$gap: $loader-gap,
	$align: null
) {
	width: $size;
	height: $size;
	border-radius: 50%;
	box-shadow: 0 $size * 2 0 $color;
	position: relative;
	animation: loader11 $duration ease-in-out alternate infinite;
	animation-delay: ($duration / 5) * 2;
	&::after,
	&::before {
		content: '';
		position: absolute;
		width: $size;
		height: $size;
		border-radius: 50%;
		box-shadow: 0 $size * 2 0 $color;
		animation: loader11 $duration ease-in-out alternate infinite;
	}
	&::before {
		left: -($size + $gap);
		animation-delay: ($duration / 5) * 3;
	}
	&::after {
		right: -($size + $gap);
		animation-delay: ($duration / 5) * 1;
	}
	@if ($align == center) {
		margin-left: auto;
		margin-right: auto;
	}
	@if ($align == middle) {
		top: 50%;
		margin: -($size * 2 + $size / 2) auto 0;
	} @else {
		top: -$size * 2;
	}
	@keyframes loader11 {
		0% {
			box-shadow: 0 $size * 2 0 $color;
		}
		100% {
			box-shadow: 0 $size 0 $color;
		}
	}
}
@keyframes pulsate {
	0% {background-color: $primary;}
	50% {background-color: lighten($primary, 30%);}
	100% {background-color: $primary;}
}
@keyframes pulsate-opacity {
	0% {opacity: 1;}
	50% {opacity: 0.7;}
	100% {opacity: 1;}
}
@keyframes pulsate-login {
	0% {background-color: $primary;}
	50% {background-color: darken($primary, 8%);}
	100% {background-color: $primary;}
}
@keyframes pulsate-bg {
	0% {background-color: lighten($primary, 25%);}
	50% {background-color: lighten($primary, 35%);}
	100% {background-color: lighten($primary, 25%);}
}
@keyframes dragover {
	0% {border-color: lighten($primary, 30%);}
	50% {border-color: $primary;}
	100% {border-color: lighten($primary, 30%);}
}
@keyframes pulsate-text {
	0% {color: $gray-4;}
	50% {color: $gray-2;}
	100% {color: $gray-4;}
}
@keyframes spin {
	from{
		transform: rotate(0deg);
	} to {
		transform: rotate(360deg);
	}
}

@keyframes floating {
	0% {transform: translate(0%,0%);}
	25% {transform: translate(5%,15%);}
	50% {transform: translate(10%,5%);}
	75% {transform: translate(0%,15%);}
	100% {transform: translate(0%,0%);}
}
@keyframes progress-bar {
	0% {width: 0%;}
	20% {width: 80%;}
	40% {width: 85%;}
	60% {width: 88%;}
	80% {width: 90%;}
	100% {width: 92%;}
}
