//////////////////////////////////////////////////////////////////////////////
// Overlays

// Relocate
.validate-input {
	position: relative;
	.validate-check {
		@include transition (all, $timing-short, ease-in-out);
		position: absolute;
		top: 7px;
		right: 10px;
		color: $gray-3;
		&.valid {
			color: $primary;
		}
		&.lower-check {
			top: 67px;
		}
	}
}

.discover-container {
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -100px;
    left: 0px;
	color: $white;
	text-align: center;
	z-index: 102;
	display: none;
	.discover-close {
		cursor: pointer;
		font-size: 30px;
		cursor: pointer;
	}
	.discover-description {
		font-size: 30px;
		font-weight: 400;
		line-height: 40px;
		max-width: 720px;
		margin: 0 auto;
		padding: 0 80px 0 80px;
	}
}
.discover-spotlight {
	@include transition (all, $timing-short, ease-in-out);
	position: fixed;
	top: -2600px; // -2500 is top
	left: -2600px; // -2500 is left
	width: 5000px;
	height: 5000px;
	opacity: 0;
	z-index: 101;
	pointer-events: none;
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}
body.help {
	.help *:hover{
		cursor: help !important;
	}
	.discover-container {
		display: block;
	}
	.discover-spotlight {
		opacity: 1;
	}
}

.smoke {
	position: fixed;
	top: 0; // 80px
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba($gray-1, 0.95);
	z-index: 100;
	display: none;
	.close {
		@include transition (all, $timing-short, ease-in-out);
		position: absolute;
		padding-top: 12px;
		top: 0;
		right: 0;
		width: 64px;
		height: 64px;
		color: $gray-4;
		font-weight: 700;
		cursor: pointer;
		text-align: center;
		font-size: 10px;
		z-index: 103;
		.material-icons {
			@include transition (color, $timing-short, ease-in-out);
			display: block;
			font-size: 36px;
			color: $gray-5;
		}
		&:hover {
			.material-icons {
				color: $serious;
			}
		}
	}
	.modal {
		@include transition (all, $timing-short, ease-in-out);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 101;
		text-align: center;
		opacity: 0;
		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -0.25em; // To collapse space
		}
		&.active {
			z-index: 102;
			opacity: 1;
			.modal-bg {
				margin-top: 0px;
			}
		}
		&.slide-down {
			.modal-bg {
				margin-top: 400px;
			}
		}
		table {
			text-align: left;
		}
		.modal-bg {
			@include transition (all, $timing-short, ease-in-out);
			@include box-shadow ();
			@include border-radius (2px);
			background-color: $white;
			display: inline-block;
			vertical-align: middle;
			min-width: 300px;
			padding: 30px;
			position: relative;
			display: inline-block;
			margin-top: -400px;
			&.crop {
				max-height: 94%;
				overflow: auto;
			}
		}
		.actions {
			border-top: 1px solid $gray-1;
			padding-top: 30px;
			.button {
				min-width: 180px;
				float: right;
			}
			.cancel {
				@include transition (all, $timing-short, ease-in-out);
				color: $gray-3;
				font-weight: 500;
				float: left;
				cursor: pointer;
				padding: 12px 12px 12px 0;
				&:focus,
				&:hover {
					color: $serious;
				}
			}
		}
		.button-group {
			.button {
				margin-top: 20px;
				margin-right: 20px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
		.header-circle {
			@include box-shadow ();
			@include border-radius (100px);
			position: relative;
			width: 100px;
			height: 100px;
			margin: -80px auto 0px;
			overflow: hidden;
			border: 3px solid $primary;
			background-color: $white;
			&.with-background {
				background-color: lighten($primary, 30%);
			}
			&.editable {
				cursor: pointer;
				&:hover {
					.avatar {
						opacity: 0.2;
					}
					.edit-avatar {
						opacity: 1;
					}
				}
			}
			.directus {
				height: 40px;
				margin-top: 26px;
			}
			.avatar {
				@include transition (all, $timing-short, ease-in-out); // Causes flicker
				width: 100%;
			}
			.edit-avatar {
				@include transition (all, $timing-short, ease-in-out);
				position: absolute;
				top: 36px;
				left: 36px;
				color: $primary;
				opacity: 0;
				cursor: pointer;
			}
		}
		.fields {
			.field {
				padding: 16px 0 20px 0;
				&:last-child {
					border-bottom: none;
				}
				.label {
					color: $primary;
					font-size: 12px;
					font-weight: 500;
					margin-bottom: 4px;
					width: 100%;
				}
				.comment {
					width: 100%;
				}
				.interface {
					margin-top: 0;
					display: block;
					width: 100%;
				}
			}
		}
		&.confirm .modal-bg {
			min-width: 500px;
			max-width: 600px;
			h5 {
				margin-bottom: 10px;
				font-style: normal;
				text-align: left;
				font-size: 16px;
				font-weight: 400;
				color: $gray-6;
			}
			.actions {
				border-color: transparent;
			}
		}
		&.table-create .modal-bg {
			h1 {
				text-align: left;
				margin-bottom: 20px;
			}
			.fields {
				.field {
					text-align: left;
					border-top: 1px solid $gray-1;
					border-bottom: none;
					padding: 40px 0 40px 0;
					.checkbox-container {
						margin-bottom: 0;
						margin-top: 20px;
						input[type="checkbox"]:checked + label {
							font-weight: normal;
							color: $gray-6;
						}
					}
				}
			}
		}
		&.file-add .modal-bg {
			width: 500px;
			max-width: 90%;
			text-align: left;
			.dropzone {
				@include transition (all, $timing-short, ease-in-out);
				@include border-radius (4px);
				border: 1px dashed $gray-4;
				padding: 30px;
				width: 100%;
				margin-top: 20px;
				margin-bottom: 10px;
				text-align: center;
				color: $gray-1;
				cursor: pointer;
				text-transform: uppercase;
				.cloud {
					font-size: 100px;
					margin-top: -10px;
				}
				.drag-and-drop {
					font-size: 22px;
					font-weight: 700;
				}
				.click-to-browse {
					margin-top: 2px;
					font-size: 14px;
				}
				&:hover {
					border-color: $primary;
					color: $primary;
				}
			}
		}
		&.file .modal-bg {
			min-width: 500px;
			max-width: 90%;
			.asset {
				width: 100%;
				height: 100%;
				// max-height: 600px;
				display: inline-block;
				text-align: center;
				background-color: $gray-1;
				margin-bottom: 50px;
				overflow: hidden;
				img {
					max-width: 100%;
					max-height: 100%;
				}
				.image-preview {
					height: 80vh;
					width: 80vw;
					background-repeat: no-repeat;
					background-position: center center;
					background-size: contain;
				}
			}
			.info {
				@include transition (all, $timing-short, ease-in-out);
				text-align: left;
				font-size: 16px;
				font-weight: 400;
				color: $gray-6;
				position: absolute;
				bottom: 12px;
				left: 30px;
				h1 {
					font-size: 18px;
					font-weight: 400;
					color: $gray-5;
					margin-bottom: 2px;
				}
				h6 {
					color: $gray-3;
					font-style: normal;
					margin-top: -3px;
				}
			}
			.view,
			.edit {
				position: absolute;
				bottom: 20px;
				right: 30px;
				padding: 12px 7px;
				background-color: $gray-2;
				color: $white;
				&:hover {
					background-color: $primary;
				}
				.material-icons {
					margin-left: 0;
					margin-right: 0;
				}
			}
			.view {
				right:80px;
			}
		}
		&.profile .modal-bg {
			position: relative;
			width: 300px;
			h1 {
				margin: 18px 0  4px;
				font-size: 26px;
			}
			h5 {
				margin: 0 0 20px;
				font-size: 13px;
				font-weight: 500;
				font-style: normal;
				color: $gray-3;
			}
			.online {
				@include border-radius (2px);
				position: absolute;
				top: 40px;
				left: 130px;
				padding: 2px 3px 2px 3px;
				background-color: $primary;
				color: $white;
				font-size: 10px;
				font-weight: 500;
				text-transform: uppercase;
			}
			.row {
				position: relative;
				border-top: 1px solid $gray-1;
				margin-top: 8px;
				padding-top: 8px;
				font-size: 14px;
				font-weight: 500;
				line-height: 18px;
				color: $gray-4;
				text-align: left;
				&.info {
					margin-top: 20px;
					padding-top: 20px;
					padding-bottom: 20px;
					line-height: 22px;
					text-align: center;
				}
				.label {
					color: $primary;
					font-size: 12px;
					height: 16px;
				}
				.light {
					color: $gray-3;
					font-size: 12px;
				}
				.material-icons {
					position: absolute;
					top: 14px;
					right: 0;
					font-size: 22px;
					color: $gray-2;
				}
			}
			.button {
				width: 100%;
				margin-top: 30px;
			}
		}
		&.invitation .modal-bg {
			width: 460px;
			text-align: left;
			h1 {
				margin-bottom: 5px;
			}
			h5 {
				margin-bottom: 20px;
				font-weight: 400;
			}
			.row {
				position: relative;
				margin-bottom: 30px;
				font-size: 14px;
				color: $gray-4;
				.label {
					color: $primary;
					font-size: 12px;
					height: 16px;
					font-weight: 500;
					margin-bottom: 4px;
				}
				textarea {
					width: 100%;
					height: 140px;
				}
				select {
					min-width: 200px;
				}
			}
			.fields {
				margin-bottom: 20px;
				.field {
					padding: 10px 0 20px 0;
					border-bottom: none;
					.label {
						color: $primary;
						margin-bottom: 4px;
						font-size: 12px;
						height: 16px;
					}
				}
			}
		}
		&.column .modal-bg,
		&.interface .modal-bg {
			width: 600px;
			text-align: left;
			h1 {
				margin-bottom: 20px;
				.table-name {
					color: $gray-4;
				}
				.column-name {
					color: $important;
				}
			}
			.toggle-pane {
				@include transition (color, $timing-short, ease-in-out);
				position: relative;
				display: inline-block;
				font-size: 16px;
				border-top: $gray-1 1px solid;
				border-right: $gray-1 1px solid;
				border-left: $gray-1 1px solid;
				padding: 8px 12px;
				margin-right: 10px;
				background-color: $white;
				color: $gray-4;
				z-index: 2;
				&:hover {
					color: $gray-6;
				}
				&.active {
					color: $gray-6;
					&:after {
						content: "";
						position: absolute;
						bottom: -1px;
						left: 0;
						right: 0;
						height: 1px;
						background-color: $white;
					}
				}
			}
			.row {
				position: relative;
				font-size: 14px;
				color: $gray-4;
				border-top: 1px solid $gray-1;
			}
		}
		&.column .modal-bg {
			width: 600px;
			text-align: left;
			h1 {
				margin-bottom: 20px;
			}
			h5 {
				margin-bottom: 20px;
				margin-top: -10px;
			}
			input {
				max-width: none;
			}
			.row {
				position: relative;
				margin-bottom: 15px;
				font-size: 14px;
				color: $gray-4;
				border-top: 1px solid $gray-1;
				padding-top: 20px;
				.relational-arrow-left {
					position: absolute;
					right: -23px;
					top: 9px;
				}
				.relational-arrow-right {
					position: absolute;
					left: -23px;
					top: 9px;
				}
				.strict-naming {
					position: absolute;
					top: 0;
					right: 15px;
					font-size: 11px;
					color: $gray-3;
					span:before {
						color: $gray-3;
						font-size: 16px;
					}
				}
				.comment {
					margin-top: 5px;
					margin-bottom: 25px;
				}
				.column-50 {
					position: relative;
					display: inline-block;
					width: 48%;
					padding-left: 0;
					padding-right: 0;
					margin-right: 4%;
					margin-bottom: 10px;
					&:nth-of-type(2) {
						margin-right: 0;
					}
				}
				.column-33 {
					position: relative;
					display: inline-block;
					width: 30.6%;
					padding-left: 0;
					padding-right: 0;
					margin-right: 4%;
					margin-bottom: 10px;
					vertical-align: top;
					&:nth-of-type(3) {
						margin-right: 0;
					}
					&.set-height {
						// height: 30px;
					}
					.select-container {
						width: 100%;
						select {
							min-width: 100%;
							width: 100%;
						}
					}
				}
				.column-66 {
					position: relative;
					display: inline-block;
					width: 65%;
					padding-top: 4px;
					padding-left: 30px;
					padding-right: 0;
					margin-bottom: -55px;
					font-size: 12px;
					padding-top: 4px;
					line-height: 15px;
					vertical-align: middle;
					.bold {
						font-weight: 500;
						color: $gray-5;
					}
					.material-icons {
						position: absolute;
						top: 7px;
						left: 0;
						color: $gray-2;
					}
				}
				.label {
					color: $primary;
					font-size: 12px;
					height: 16px;
					font-weight: 500;
					margin-bottom: 4px;
				}
				textarea {
					width: 100%;
					height: 140px;
				}
				select {
					min-width: 200px;
				}
			}
		}
		&.welcome-1 .modal-bg,
		&.welcome-2 .modal-bg,
		&.welcome-3 .modal-bg {
			width: 300px;
			h1 {
				margin: 20px 0  20px;
			}
			h5 {
				margin: 0 0 30px;
				font-weight: 400;
			}
			.select-container,
			input {
				width: 100%;
				margin-bottom: 20px;
				select {
					width: 100%;
				}
			}
			.custom-checkbox-label {
				margin: 0 0 10px;
			}
			.button {
				width: 100%;
				margin-top: 10px;
			}
			.go-back {
				@include transition (color, $timing-short, ease-in-out);
				text-align: center;
				color: $gray-3;
				margin-top: 14px;
				margin-bottom: -4px;
				cursor: pointer;
				&:hover {
					color: $gray-5;
				}
			}
		}
	}
}
