//////////////////////////////////////////////////////////////////////////////
// Landscape

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {

}
//////////////////////////////////////////////////////////////////////////////
// Responsive <1600px wide

@media only screen and (max-width: 1600px) {
	.fields {
		.field {
			padding: 30px;
			.label {
				display: block;
				width: 100%;
				padding: 0;
				margin-bottom: 10px;
			}
			.interface {
				display: block;
				width: 100%;
				.wysiwyg {
					border-left: none;
					margin-top: 0;
					margin-bottom: 0;
					textarea {
						padding: 0;
					}
				}
			}
		}
	}
}

//////////////////////////////////////////////////////////////////////////////
// Responsive <1400px wide

@media only screen and (max-width: 1400px) {
	// .page.settings-container .settings-modules {
	// 	height: 420px;
	// }
}

//////////////////////////////////////////////////////////////////////////////
// Responsive <1200px wide

@media only screen and (max-width: 1200px) {
	body.right-sidebar-open,
	body.right-sidebar-open-wide {
		.right-sidebar {
			@include box-shadow ($x: 0px, $y: 1px, $blur: 4px, $spread: 0px, $opacity: 0.2);
			border-left: 1px solid $gray-2;
		}
		.page {
			.page-container {
				.main-container {
					margin-right: 200px;
				}
			}
		}
	}

	// Show calendar items as dots (no room for text)
	.view-calendar {
		.days {
			.day {
				&.active {
					.items {
						bottom: 5px;
						left: 8px;
						right: 4px;
					}
				}
				.items {
					position: absolute;
					bottom: 6px;
					left: 10px;
					right: 6px;
					width: auto;
					.item {
						@include border-radius (10px);
						width: 10px;
						height: 10px;
						float: left;
						margin-right: 4px;
						margin-bottom: 4px;
						padding: 0;
						text-indent: 100px;
					}
				}
			}
		}
	}
	// Tiles
	.user-listing {
		padding: 15px;
		.user {
			width: 140px;
			margin: 15px;
			img {
				width: 140px;
				height: 140px;
			}
			.group,
			.online {
				top: 115px;
			}
			.info {
				.more {
					display: none;
				}
			}
		}
	}
	.attachments,
	.folder-listing,
	.file-listing {
		padding: 15px;
		.folder  {
			.folder-icon {
				width: 140px;
				height: 140px;
				.material-icons {
					font-size: 100px;
					margin-top: 20px;
				}
			}
		}
		.folder,
		.file {
			width: 140px;
			margin: 15px;
			img {
				height: 140px;
			}
			.extension-fallback {
				height: 140px;
				padding-top: 60px;
				font-size: 24px;
			}
			.type {
				top: 115px;
			}
			.info {
				.more {
					display: none;
				}
				// .name,
				// .uploaded {
				// 	margin-right: 0;
				// }
			}
		}
	}
	.fields .field .interface .attachments.multiple .dropzone {
		width: 140px;
		height: 189px;
		margin: 15px;
		.cloud {
			font-size: 60px;
			margin-top: -30px;
		}
	}
	// .page.settings-container .settings-modules {
	// 	height: 460px;
	// }
}

//////////////////////////////////////////////////////////////////////////////
// Responsive <1000px wide

@media only screen and (max-width: 1000px) {
	// Messages as overlay
	.message {
		@include transition (all, $timing-short, ease-in-out);
		left: 100% !important; // Uses important to override CSS values set directly in JS
		width: 100% !important; // Uses important to override CSS values set directly in JS
		min-width: 500px;
		background-color: $white;
		.close-message {
			display: block;
		}
		&.show-responsive-message {
			left: 0px !important; // Uses important to override CSS values set directly in JS
			right: -100% !important; // Uses important to override CSS values set directly in JS
		}
	}
	.message-listing {
		width: 100%;
	}
	.resize-handle {
		display: none;
	}
	.header {
		.tools-right {
			.filter {
				display: none;
			}
		}
		.actions {
			.action.filter-toggle {
				display: inline-block;
			}
		}
		.breadcrumb {
			font-size: 22px;
		}
	}
	.page.settings-container {
		.settings-modules {
			display: block;
			flex-direction: inherit;
			flex-wrap: inherit;
			justify-content: inherit;
			height: auto;
			margin: 0 40px;
			padding-bottom: 40px;
			.settings-module {
				width: 100%;
				margin-top: 40px;
				margin-bottom: 0;
				.description {
					padding-top: 20px;
				}
				.icon-header {
					display: none;
				}
				.button {
					width: 240px;
				}
			}
		}
		.marketplace {
			font-size: 10px; // Controls icon size
		}
	}
}

//////////////////////////////////////////////////////////////////////////////
// Responsive <800px wide

@media only screen and (max-width: 800px) {
	.header {
		.logo {
			left: -200px;
		}
		.breadcrumb {
			font-size: 20px;
			left: 10px;
			.veggieburger {
				display: inline-block;
			}
			.separator {
				display: none;
			}
			.crumb {
				display: none;
				&.active {
					display: inline;
				}
			}
		}
		.fading-separator {
			display: none;
		}
	}
    .sidebar {
		left: -200px;
		ul.menu {
			li {
				font-size: 14px;
				padding: 8px 20px 8px 20px;
			}
			&.bookmarks {
				li {
					padding: 8px 35px 8px 20px;
				}
			}
		}
	}
	.right-sidebar {
		left: -200px;
	}
	.right-sidebar {
		left: auto;
	}
	.page {
		left: 0;
	}
	table.fixed-header thead {
		left: 0;
	}
	body.sidebar-open {
		.header {
			.logo {
				left: -200px;
			}
		}
	    .sidebar {
	    	@include box-shadow (0px, 0px, 6px, 0px, 0.20);
			left: 0;
		}
		.table-sidebar {
			left: auto;
		}
	}
	body.right-sidebar-open,
	body.right-sidebar-open-wide {
		.right-sidebar {
			right: 0;
		}
		.page {
			.page-container {
				.main-container {
					margin-right: 200px;
				}
			}
		}
	}
	.view-calendar { // Smaller calendar header
		header {
			padding: 20px;
			.next-month {
				top: 20px;
				right: 20px;
			}
			.prev-month {
				top: 20px;
				left: 20px;
			}
		}
		.days {
			top: 113px;
		}
	}
}

//////////////////////////////////////////////////////////////////////////////
// Responsive <600px wide

@media only screen and (max-width: 600px) {
	.header {
		.tools-right {
			.filter {
				display: none;
			}
		}
	}
	.smoke .modal.confirm .modal-bg {
		min-width: 90%;
	}
	.page.settings-container .settings-modules {
		.settings-module {
			.button {
				width: auto;
			}
		}
	}
}

//////////////////////////////////////////////////////////////////////////////
// Responsive <500px wide

@media only screen and (max-width: 500px) {
	// Shift item edit form UIs to full-width
	.fields {
		.field {
			.interface {
				input {
					min-width: auto;
					width: 100%;
				}
				input[type="date"] {
					margin-right: 0;
					width: 100%;
					margin-bottom: 10px;
				}
				input[type="time"] {
					width: 100%;
				}
				input[type="range"] {
					width: 75%;
					margin-right: 4%;
					min-width: auto;
				}
				.slider-value {
					width: 20%;
					text-align: center;
				}
				textarea {
					min-width: 100%;
				}
				select {
					min-width: 100%;
				}
				.char-count {
					min-width: 100%;
					input {
						padding-right: 40px;
					}
					.char-remaining {
						right: 13px;
						text-align: right;
					}
				}
				.map-search {
					width: 80%;
					margin-left: 10%;
					margin-right: 10%;
				}
				.dropzone {
					width: 100%;
				}
			}
		}
	}
	.header {
		.tools-right {
			.filter {
				position: absolute;
				top: 64px;
				left: 0%;
				right: 0%;
				width: 100%;
				margin-top: 0;
				text-align: right;
				background-color: $white;
				input.general {
					font-size: 18px;
					padding-left: 50px;
					padding-right: 20px;
					padding-top: 10px;
					padding-bottom: 10px;
					height: 50px;
				}
				.search {
					left: 20px;
					top: 13px;
				}
				.filter-dropdown-toggle {
					display: none;
				}
			}
		}
	}
	.items-chart {
		margin: 40px 20px 0 0px; // Larger chart on Item Listing
		height: 140px;
	}
	table.charted.fixed-header thead {
		top: 244px;
	}
	.message {
		min-width: auto;
		padding: 30px;
		font-size: 13px;
		line-height: 28px;
		.details {
			&.original {
				.avatar {
					left: 30px;
				}
				.from {
					left: 110px;
				}
				.timeago {
					right: 30px;
					top: 61px;
				}
			}
		}
		.response {
			.details {
				.timeago {
					top: 29px;
				}
			}
		}
	}
}

//////////////////////////////////////////////////////////////////////////////
