//////////////////////////////////////////////////////////////////////////////
// Settings
.interface-field {
	table {
		td {
			&:hover {
				.privilege-shortcuts {
					opacity: 1;
				}
			}
			.privilege-shortcuts {
				@include transition (all, $timing-short, ease-in-out);
				font-size: 11px;
				font-weight: 500;
				padding-left: 6px;
				opacity: 0;
				.all {
					color: $primary;
					padding-right: 2px;
					cursor: pointer;
				}
				.none {
					color: $serious;
					padding-left: 2px;
					cursor: pointer;
				}
			}
		}
	}
}

.page.settings-container {
	hr {
		margin: 30px 40px;
	}
	.settings-modules {
		padding: 40px 20px 0 20px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		// height: 400px;
		.settings-module {
			@include transition (all, $timing-short, ease-in-out);
			@include box-shadow ();
			@include border-radius (2px);
			display: inline-block;
			position: relative;
			width: 30%;
			background-color: $white;
			color: $gray-6;
			overflow: hidden;
			margin-bottom: 40px;
			&.disabled {
				.icon-header {
					.material-icons {
						color: $gray-2;
					}
				}
				.description {
					color: $gray-2;
					h1 {
						color: $gray-4;
					}
				}
				.button {
					// background-color: $gray-3;
				}
			}
			.icon-header {
				background-color: $white;
				padding-top: 20px;
				padding-bottom: 0;
				.material-icons {
					color: $primary;
					display: block;
					text-align: center;
					font-size: 72px;
				}
			}
			.description {
				padding: 10px 30px 60px 30px;
				font-size: 14px;
				color: $gray-4;
				line-height: 19px;
				margin-top: 10px;
				margin-bottom: 40px;
				min-height: 200px;
				h1 {
					line-height: 28px;
					font-size: 26px;
					color: $gray-6;
					margin-bottom: 10px;
				}
			}
			.button {
				position: absolute;
				bottom: 30px;
				left: 30px;
				right: 30px;
			}
		}
	}
	.marketplace {
		@include transition (all, $timing-short, ease-in-out);
		@include box-shadow ();
		@include border-radius (2px);
		position: relative;
		background-color: $primary;
		color: $white;
		text-align: center;
		margin: 70px 40px 120px 40px;
		padding: 60px 30px 60px 30px;
		cursor: pointer;
		overflow: hidden;
		font-size: 12px; // Controls icon size
		&:hover {
			background-color: darken($primary, 10%);
			h1 {
				@include scale(1.04);
			}
		}
		&:active {
			h1 {
				@include scale(0.96);
			}
		}
		h1 {
			@include transition (all, $timing-short, ease-in-out);
			color: $white;
			font-size: 36px;
		}
		.float {
			position: absolute;
			opacity: 0.2;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in-out;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
			&.animate {
				animation-name: floating;
			}
			.material-icons {
				font-size: inherit;
			}
			&.pos-1 { top: 5%; left: 8%; font-size: 5.6em; animation-duration: 5.2s;  .material-icons {@include rotate (45); } }
			&.pos-2 { top: 8%; left: 93%; font-size: 4.2em; animation-duration: 3.4s; .material-icons {@include rotate (12); } }
			&.pos-3 { top: 14%; left: 34%; font-size: 4.1em; animation-duration: 3.5s; .material-icons {@include rotate (8); } }
			&.pos-4 { top: 73%; left: 70%; font-size: 3.6em; animation-duration: 4.6s; .material-icons {@include rotate (0); } }
			&.pos-5 { top: 9%; left: 42%; font-size: 2.4em; animation-duration: 4.7s; .material-icons {@include rotate (0); } }
			&.pos-6 { top: 24%; left: 22%; font-size: 3.3em; animation-duration: 4.8s; .material-icons {@include rotate (-7); } }
			&.pos-7 { top: 45%; left: 66%; font-size: 2.0em; animation-duration: 4.9s; .material-icons {@include rotate (0); } }
			&.pos-8 { top: 59%; left: 14%; font-size: 3.5em; animation-duration: 3.0s; .material-icons {@include rotate (0); } }
			&.pos-9 { top: 55%; left: 94%; font-size: 8.0em; animation-duration: 5.1s; .material-icons {@include rotate (-13); } }
			&.pos-10 { top: 14%; left: 80%; font-size: 3.1em; animation-duration: 4.2s; .material-icons {@include rotate (0); } }
			&.pos-11 { top: 97%; left: 40%; font-size: 4.3em; animation-duration: 3.3s; .material-icons {@include rotate (0); } }
			&.pos-12 { top: 38%; left: 2%; font-size: 2.8em; animation-duration: 4.4s; .material-icons {@include rotate (6); } }
			&.pos-13 { top: 71%; left: 54%; font-size: 4.2em; animation-duration: 3.5s; .material-icons {@include rotate (-2); } }
			&.pos-14 { top: -5%; left: 70%; font-size: 5.5em; animation-duration: 3.6s; .material-icons {@include rotate (4); } }
			&.pos-15 { top: 13%; left: 58%; font-size: 3.9em; animation-duration: 3.7s; .material-icons {@include rotate (6); } }
			&.pos-16 { top: 57%; left: 28%; font-size: 6.9em; animation-duration: 5.8s; .material-icons {@include rotate (-4); } }
			&.pos-17 { top: 60%; left: 44%; font-size: 3.9em; animation-duration: 4.9s; .material-icons {@include rotate (-13); } }
			&.pos-18 { top: 48%; left: 76%; font-size: 4.2em; animation-duration: 3.0s; .material-icons {@include rotate (-4); } }
			&.pos-19 { top: 64%; left: 89%; font-size: 2.6em; animation-duration: 4.1s; .material-icons {@include rotate (42); } }
			&.pos-20 { top: 60%; left: 3%; font-size: 7.1em; animation-duration: 5.2s; .material-icons {@include rotate (0); } }
			&.pos-21 { top: 25%; left: 87%; font-size: 3.9em; animation-duration: 4.3s; .material-icons {@include rotate (23); } }
			&.pos-22 { top: -23%; left: -3%; font-size: 7.8em; animation-duration: 5.4s; .material-icons {@include rotate (0); } }
			&.pos-23 { top: 65%; left: 81%; font-size: 6.0em; animation-duration: 5.5s; .material-icons {@include rotate (-3); } }
			&.pos-24 { top: 58%; left: 61%; font-size: 3.7em; animation-duration: 3.6s; .material-icons {@include rotate (6); } }
			&.pos-25 { top: -5%; left: 16%; font-size: 4.0em; animation-duration: 3.7s; .material-icons {@include rotate (-2); } }
			&.pos-26 { top: 1%; left: 86%; font-size: 2.8em; animation-duration: 4.8s; .material-icons {@include rotate (-3); } }
			&.pos-27 { top: 70%; left: 21%; font-size: 2.9em; animation-duration: 4.9s; .material-icons {@include rotate (-2); } }
			&.pos-28 { top: 3%; left: 27%; font-size: 3.4em; animation-duration: 3.0s; .material-icons {@include rotate (3); } }
			&.pos-29 { top: -7%; left: 48%; font-size: 5.7em; animation-duration: 5.1s; .material-icons {@include rotate (-10); } }
			&.pos-30 { top: 5%; left: 64%; font-size: 2.8em; animation-duration: 4.2s; .material-icons {@include rotate (-3); } }
		}
	}
}








