//////////////////////////////////////////////////////////////////////////////
// Sidebar

.sidebar {
	@include transition (left, $timing-short, ease-in-out);
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	padding-top: 64px;
	background-color: $gray-1;
	z-index: 9;
	&.shadowed {
		-webkit-box-shadow: 2px 0px 6px 0px rgba(0,0,0,0.20);
		-moz-box-shadow: 2px 0px 6px 0px rgba(0,0,0,0.20);
		box-shadow: 2px 0px 6px 0px rgba(0,0,0,0.20);
	}
	.loading-pane {
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		background-color: $gray-1;
		z-index: 2;
		display: none;
		&.active {
			display: block;
		}
		.spinner {
			position: relative;
			display: inline-block;
			top: 50%;
			margin-top: -20px;
			width: 40px;
			height: 40px;
			border: 3px solid $gray-2;
			border-top: 3px solid $gray-4;
			// border-left: 3px solid $gray-4;
			// border-bottom: 3px solid $gray-4;
			border-radius: 100%;

			color: $gray-4;
			animation: spin 1s infinite linear;
		}
	}
	.scroll-y {
		overflow-y: auto;
		position: absolute;
		top: 64px;
		bottom: 60px;
		left: 0;
		right: 0;
		padding-bottom: 20px;
	}
	hr {
		margin: 25px 20px 10px 20px;
	}
	h3 {
		padding: 20px 10px 5px 20px;
	}
	ul.menu {
		list-style: none;
		li {
			@include transition (all, $timing-short, ease-in-out);
			position: relative;
			padding: 5px 20px 5px 20px;
			border-left: 4px solid transparent;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			cursor: pointer;
			&:hover {
				color: $primary;
				.delete-bookmark {
					opacity: 1;
				}
				&.active {
					color: inherit;
				}
			}
			&.active {
				font-weight: 500;
				border-left: 4px solid $primary;
			}
			.delete-bookmark {
				@include transition (all, $timing-short, ease-in-out);
				position: absolute;
				top: 0;
				right: 10px;
				padding: 3px;
				opacity: 0;
				font-size: 18px;
				color: $gray-5;
				&:hover {
					color: $serious;
				}
			}
		}
		&.bookmarks {
			li {
				padding: 5px 35px 5px 20px; // To compensate for "delete" icon
				a {
					display: inline-block;
					width: 100%;
				}
			}
		}
	}
	.system {
		@include transition (all, $timing-short, ease-in-out);
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 60px;
		padding: 23px 10px 10px 65px;
		background-color: $gray-6;
		cursor: pointer;
		&:hover {
			background-color: $primary;
			.user-more {
				color: $white;
			}
			.count {
				background-color: $white;
				color: $primary;
			}
		}
		.avatar {
			@include border-radius (40px);
			position: absolute;
			top: 10px;
			left: 15px;
			width: 40px;
			height: 40px;
			border: 2px solid $white;
		}
		.user-name {
			@include transition (all, $timing-short, ease-in-out);
			color: $white;
			font-weight: 500;
			padding-right: 24px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
		.count {
			@include border-radius (2px);
			position: absolute;
			top: 20px;
			right: 12px;
			z-index: 2;
			background-color: $primary;
			color: $white;
			font-weight: 700;
			padding: 2px 6px;
		}
		.user-more {
			position: absolute;
			top: 18px;
			right: 2px;
			color: #AAAAAA;
		}
		.user-menu {
			@include box-shadow (0px, 0px, 6px, 0px, 0.20);
			@include border-radius (2px);
			position: absolute;
			bottom: 10px;
			right: -215px;
			width: 200px;
			background-color: $white;
			color: $gray-5;
			border: 1px solid #e3e3e3;
			// -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.20);
			// -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.20);
			// box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.20);

			visibility: hidden; // Off by default
			opacity: 0;
			-webkit-transition: visibility 0s, opacity $timing-short ease-in-out;
			-moz-transition: visibility 0s, opacity $timing-short ease-in-out;
			-o-transition: visibility 0s, opacity $timing-short ease-in-out;
			-ms-transition: visibility 0s, opacity $timing-short ease-in-out;
			transition: visibility 0s, opacity $timing-short ease-in-out;
			&.active {
				visibility: visible;
				opacity: 1;
				li {
					opacity: 1;
				}
			}
			&:before {
				content: "";
				position: absolute;
				bottom: 0;
				left: -28px;
				height: 0;
				width: 0;
				border: 20px solid transparent;
				border-right-color: $white;
			}
			&:after {
				content: "";
				position: absolute;
				bottom: 10px;
				left: -5px;
				height: 20px;
				width: 20px;
				background-color: $white;
				z-index: -1;
				-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.20);
				-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.20);
				box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.20);
				-moz-transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			ul {
				text-align: left;
				padding: 10px 0;
				list-style: none;
				li {
					@include transition (color, $timing-short, ease-in-out);
					color: $gray-5;
					opacity: 0;
					padding: 5px 15px 5px 15px;
					border-left: 0 solid transparent;
					&:hover {
						color: $primary;
						.material-icons {
							color: $primary;
						}
					}
					&.system-settings {
						color: $important;
						// font-weight: 700;
						&:hover {
							color: darken($important, 8%);
							.material-icons {
								color: darken($important, 8%);
							}
						}
						.material-icons {
							color: $important;
						}
					}
					&.discover {
						span {
							padding-right: 10px;
						}
					}
					.count-menu {
						@include border-radius (2px);
						float: right;
						background-color: $primary;
						color: $white;
						font-weight: 700;
						padding: 2px 6px;
					}
					.material-icons {
						@include transition (all, $timing-short, ease-in-out);
						color: $gray-4;
						vertical-align: middle;
						margin-right: 10px;
						margin-top: -2px;
					}
				}
				hr {
					margin: 10px 15px 10px 15px;
				}
			}
		}
	}
}

.right-sidebar {
	@include transition (right, $timing-short, ease-in-out);
	position: fixed;
	top: 0;
	right: -200px;
	width: 200px;
	height: 100%;
	padding-top: 64px;
	background-color: $gray-1;
	z-index: 9;
	border-left: 1px solid $gray-1;
	&.shadowed {
		-webkit-box-shadow: -2px 0px 6px 0px rgba(0,0,0,0.20);
		-moz-box-shadow: -2px 0px 6px 0px rgba(0,0,0,0.20);
		box-shadow: -2px 0px 6px 0px rgba(0,0,0,0.20);
	}
	&.wide {
		width: 360px;
		right: -360px;
	}
	&.no-title {
		.scroll-y {
			top: 64px;
			border-top: none;
		}
	}
	.sidebar-title {
		padding: 12px 40px 0 16px;
		font-weight: 500;
		color: $gray-5;
	}
	.close {
		@include transition (color, $timing-short, ease-in-out);
		position: absolute;
		top: 72px;
		right: 10px;
		color: $gray-4;
		cursor: pointer;
		z-index: 1;
		&:hover {
			color: $serious;
		}
	}
	.scroll-y {
		overflow-y: auto;
		position: absolute;
		top: 103px;
		bottom: 0;
		left: 0;
		right: 0;
		padding-bottom: 60px;
		border-top: 1px solid $gray-2;
		.select-container {
			margin-left: 20px;
			min-width: 160px;
			select {
				width: 100%;
			}
		}
		hr {
			margin: 20px 20px 0px 20px;
		}
		h3 {
			padding: 20px 10px 5px 20px;
		}
		.options {
			.fields {
				.field {
					padding: 4px 20px;
					.label {
						margin-bottom: 0;
						display: block;
						width: 100%;
						padding: 8px 0 4px 0;
						font-size: 10px;
						font-weight: 700;
						text-transform: uppercase;
						color: $gray-4;
						.required {
							font-size: 6px;
							display: none;
						}
					}
					.interface {
						display: block;
						width: 100%;
						select {
							min-width: 160px;
						}
						.select-container {
							margin-left: 0;
						}
					}
				}
			}
		}
		.status {
			@include transition (all, $timing-short, ease-in-out);
			@include border-radius (2px);
			position: relative;
			background-color: lighten($gray-1, 4%);
			border: 1px solid $gray-3;
			// color: $primary;
			padding: 8px;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 500;
			margin: 20px;
			cursor: pointer;
			&.expanded,
			&:hover {
				border-color: $primary;
				.arrow {
					color: $primary;
				}
			}
			&.disabled {
				cursor: not-allowed;
				border-color: $gray-3;
				.arrow {
					color: $gray-3;
				}
			}
			&.expanded {
				ul {
					li {
						opacity: 1;
						height: 28px;
						padding-left: 24px;
						&.active {
							.status-check {
								opacity: 1;
								color: $gray-3;
							}
						}
						&:hover {
							color: $primary;
							.status-check {
								opacity: 1;
								color: $primary;
							}
						}
					}
				}
				.arrow {
					@include rotate (-180);
				}
			}
			ul {
				li {
					@include transition (all, $timing-short, ease-in-out);
					position: relative;
					padding: 0;
					opacity: 0;
					height: 0;
					overflow: hidden;
					line-height: 28px;
					&.active {
						opacity: 1;
						height: 28px;
					}
					.status-check {
						@include transition (all, $timing-short, ease-in-out);
						opacity: 0;
						position: absolute;
						top: 1px;
						left: 0;
						font-size: 22px;
					}
					.color {
						@include border-radius (20px);
						background-color: $primary;
						display: inline-block;
						width: 10px;
						height: 10px;
						margin-left: 2px;
						margin-right: 6px;
					}
				}
			}
			.arrow {
				@include transition (all, $timing-short, ease-in-out);
				position: absolute;
				top: 50%;
				right: 10px;
				margin-top: -12px;
				color: $gray-4;
			}
		}
		.metadata {
			margin: 30px 20px 20px 20px;
			line-height: 22px;
			padding-bottom: 20px;
			border-bottom: 1px solid $gray-2;
			font-size: 13px;
			color: $gray-5;
			.button {
				display: block;
				margin-top: 20px;
				width: 100%;
				.material-icons {
					margin-right: 2px;
				}
				&.preview {
					margin-bottom: 20px;
					.material-icons {
						font-size: 20px;
						margin-top: -3px;
						margin-right: 5px;
					}
				}
			}
			.created-modified {
				.directus-user {
					@include transition (all, $timing-short, ease-in-out);
					@include box-shadow ();
					@include border-radius (4px);
					display: inline-block;
					position: relative;
					font-size: 13px;
					text-align: center;
					line-height: 18px;
					font-weight: 500;
					color: $gray-5;
					display: inline-block;
					background-color: $white;
					width: 46%;
					padding: 40px 10px 20px 10px;
					margin-bottom: 10px;
					&:hover {
						color: $primary;
						.action {
							background-color: $primary;
						}
						img {
							border-color: $primary;
						}
					}
					&:first-child {
						margin-right: 7%;
					}
					.action {
						@include transition (all, $timing-short, ease-in-out);
						@include border-radius-each (4px, 0, 0, 4px);
						background-color: $gray-2;
						color: $white;
						padding: 4px;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
					}
					img {
						@include transition (all, $timing-short, ease-in-out);
						@include border-radius (60px);
						vertical-align: top;
						width: 80px;
						height: 80px;
						border: 2px solid $gray-4;
						display: inline-block;
						margin-bottom: 12px;
					}
					.online {
						@include transition (all, $timing-short, ease-in-out);
						@include border-radius (2px);
						display: inline-block;
						position: absolute;
						top: 110px;
						left: 50%;
						-webkit-transform: translateX(-50%);
						-ms-transform: translateX(-50%);
						transform: translateX(-50%);
						padding: 2px 3px 2px 3px;
						background-color: $primary;
						color: $white;
						font-size: 10px;
						font-weight: 500;
						text-transform: uppercase;
						line-height: 11px;
					}
					.datetime {
						color: $gray-4;
					}
				}
			}
		}
		ul {
			list-style: none;
			&.reorder-columns {
				li {
					@extend %cursor-drag;
					label {
						@extend %cursor-drag;
						span,
						span:before {
							cursor: pointer;
						}
					}
				}
			}
			li {
				padding: 2px 16px 2px 16px;
				&.gu-transit {
					background-color: $gray-2;
					animation: none;
				}
				&.gu-mirror {
					opacity: 0.5;
				}
				// .drag-handle {
				// 	position: absolute;
				// 	top: 5px;
				// 	left: 0;
				// 	font-size: 16px;
				// 	color: $gray-3;
				// 	margin-right: 2px;
				// }
			}
			&.timeline {
				margin: 20px;
				.toggles {
					display: none;
					text-align: center;
					.activity-toggle,
					.comments-toggle {
						@include transition (all, $timing-short, ease-in-out);
						font-size: 32px;
						margin: 0 10px;
						cursor: pointer;
						&.active {
							color: $primary;
						}
					}
				}
				li {
					position: relative;
					padding: 0;
					&.activity {
						@include transition (all, $timing-short, ease-in-out);
						@include border-radius (2px);
						color: $gray-4;
						font-weight: 500;
						text-align: left;
						padding: 12px 12px 8px 12px;
						// margin-top: 20px;
						// margin-bottom: 20px;
						// border: 1px solid $gray-2;

						// background-color: $gray-2;
						&:hover {
							// border-color: $primary;
							color: $primary;
							.timeago {
								color: $primary;
							}
						}
						&.expanded {
							border: 1px solid $primary;
							.full-activity {
								height: 132px;
								margin-top: 10px;
								opacity: 1;
							}
							.activity-full-toggle {
								color: $primary;
							}
							.more-activity {
								@include transition (all, $timing-short, ease-in-out);
								@include rotate (-180);
							}
							.timeago {
								color: $primary;
							}
						}
						&.current {
							border-color: $primary;
							color: $primary;
							.timeago {
								color: $primary;
							}
						}
						.activity-full-toggle {
							padding-bottom: 10px;
							padding-top: 10px;
							margin-top: -10px;
							margin-bottom: -10px;
							cursor: pointer;
							.more-activity {
								font-size: 22px;
								vertical-align: middle;
								margin-top: -4px;
							}
						}
						.full-activity {
							@include transition (all, $timing-short, ease-in-out);
							color: $gray-4;
							font-weight: 400;
							line-height: 18px;
							margin-top: 0;
							font-size: 12px;
							height: 0;
							overflow: hidden;
							opacity: 0;
							font-weight: 500;
							b {
								color: $gray-5;
								font-weight: 600;
							}
							.rollback {
								margin-top: 16px;
								// margin-bottom: 16px;
								display: block;
								.material-icons {
									vertical-align: middle;
									margin-top: -3px;
									font-size: 22px;
								}
							}
						}
						.timeago {
							@include transition (all, $timing-short, ease-in-out);
							position: absolute;
							right: 16px;
							top: 12px;
							text-align: right;

							display: inline-block;
							font-size: 12px;
							font-weight: 500;
							color: $gray-3;
							margin-left: 10px;
							.material-icons {
								font-size: 14px;
								vertical-align: middle;
								margin-top: -2px;
							}
						}
					}
					&.comment {
						@include box-shadow ();
						@include border-radius (2px);
						padding: 16px;
						background-color: $white;
						color: $gray-4;
						line-height: 20px;
						font-size: 14px;
						margin-bottom: 20px;
						margin-top: 20px;
						&.create {
							padding: 0;
							overflow: hidden;
							textarea {
								@include transition (all, $timing-short, ease-in-out);
								@include box-shadow (0px, 0px, 0px, 0px, 0.0);
								display: block;
								padding: 16px;
								width: 100%;
								border: none;
								resize: none;
								color: $gray-4;
								line-height: 22px;
								font-size: 14px;
								height: 54px;
								&.active,
								&:focus {
									height: 148px;
									& + button {
										opacity: 1;
										bottom: 8px;
									}
								}
								&.active {
									& + button {
										background-color: $primary;
										color: $white;
										cursor: pointer;
										&:hover {
											background-color: darken($primary, 10%);
											color: $white;
										}
									}
								}
							}
							button {
								@include transition (all, $timing-short, ease-in-out);
								@include border-radius (2px);
								position: absolute;
								bottom: -26px;
								right: 8px;
								background-color: $gray-1;
								padding: 2px 10px;
								color: $gray-3;
								text-transform: uppercase;
								font-size: 12px;
								font-weight: 600;
								opacity: 0;
								cursor: not-allowed;
							}
						}
						.byline {
							position: relative;
							font-weight: 500;
							margin-bottom: 4px;
							color: $gray-6;
							font-size: 12px;
							&.me {
								// color: $primary;
							}
							.timeago {
								position: absolute;
								right: 0;
								top: 0;
								text-align: right;
								font-size: 12px;
								font-weight: 500;
								color: $gray-3;
								.material-icons {
									font-size: 14px;
									vertical-align: middle;
									margin-top: -2px;
								}
							}
							.avatar {
								display: none;
								@include box-shadow ();
								@include border-radius (40px);
								position: absolute;
								top: -30px;
								left: 50%;
								margin-left: -20px;
								width: 40px;
								height: 40px;
								overflow: hidden;
								border: 2px solid $white;
								img {
									width: 100%;
								}
							}
						}
					}
					&.mention-list {
						@include box-shadow ();
						@include border-radius (2px);
						background-color: $white;
						margin-bottom: 20px;
						.mention-choice {
							@include transition (all, $timing-short, ease-in-out);
							padding: 10px;
							&:hover {
								color: $primary;
								cursor: pointer;
							}
							img {
								@include border-radius (50%);
								vertical-align: middle;
								margin-right: 10px;
							}
						}
					}
				}
			}
		}
		input[type="checkbox"].custom-checkbox + label {
			color: $gray-4;
			span {
				vertical-align: middle;
				height: 26px;
				display: inline-block;
				&:before {
					vertical-align: middle;
				}
			}
		}
		input[type="checkbox"].custom-checkbox:checked + label {
			color: $gray-6;
		}
		.tiles {
			position: relative;
			margin-left: 19px;
			margin-top: 20px;
			margin-bottom: 20px;
			width: 162px;
			height: 42px;
			background-color: inherit;

			@include border-radius (2px);
			border: 2px solid $primary;
			background-color: $white;

			.tile {
				@include transition (all, $timing-short, ease-in-out);
				display: inline-block;
				float: left;
				width: 40px;
				height: 38px;
				text-align: center;
				cursor: pointer;
				color: $primary;
				border: none;
				border-left: 2px solid $primary;
				&.disabled {
					color: $gray-3;
					cursor: not-allowed;
					&:hover,
					&.active {
						background-color: $white;
						color: $gray-3;
					}
				}
				&:first-child {
					border-left: none;
					width: 38px;
				}
				&:hover,
				&.active {
					background-color: $primary;
					color: $white;
				}
				.material-icons {
					margin-top: 7px;
				}
			}
		}
	}
}
