//////////////////////////////////////////////////////////////////////////////
// Tables

table {
	@include transition (width, $timing-short, ease-in-out);
	width: 100%;
	thead {
		background-color: $white;
		border-bottom: 1px solid $gray-1;
		color: $gray-4;
		font-size: 10px;
		font-weight: 700;
		text-transform: uppercase;
		height: 50px;
		tr {
			th {
				@include transition (width, $timing-short, ease-in-out);
				padding: 10px 4px 8px 4px; // Optical vertical centering (no descenders in uppercase)
				height: 50px;
				cursor: default;
				&.right-sidebar-toggle {
					@include transition (color, $timing-short, ease-in-out);
					white-space: nowrap;
					text-align: right;
					padding-right: 10px;
					// &:hover {
					// 	color: $primary;
					// }
				}
				.order-direction {
					font-size: 12px;
					vertical-align: middle;
					margin-top: -2px;
					color: $gray-3;
				}
				&.reorder {
					@include transition (color, $timing-short, ease-in-out);
					cursor: pointer;
					&.active,
					&:hover {
						color: $primary;
					}
				}
				&.visible,
				&.required {
					.material-icons {
						font-size: 20px;
					}
				}
			}
		}
	}
	tbody {
		color: $gray-6;
		background-color: $white;
		tr {
			&.selected {
				td {
					background-color: lighten($primary, 45%);
				}
			}
			&.gu-mirror {
				background-color: $white;
				border-bottom: 1px solid $gray-1;
				border-top: 1px solid $gray-1;
				td {
					&.reorder {
						.reorder-handle {
							color: $primary;
						}
					}
				}
			}
			&.not-managed {
				td {
					color: $gray-3;
				}
			}
			&.not-published {
				td {
					color: $gray-3;
					.photo-stack {
						opacity: 0.6;
					}
				}
			}
			&.administrator-group,
			&.public-group {
				// font-weight: 500;
				color: $gray-4;
			}
			&.required-on {
				td {
					&.required {
						.material-icons {
							color: $primary;
						}
					}
				}
			}
			&.visibility-off {
				td {
					color: $gray-3;
					&.visible {
						&:hover {
							.material-icons {
								color: $important;
							}
						}
						.material-icons {
							color: $important;
						}
					}
					&.required {
						&:hover {
							.material-icons {
								color: $gray-1;
							}
						}
						.material-icons {
							color: $gray-1;
							cursor: not-allowed;
						}
					}
				}
			}
			&.workflow-enabled {
				td {
					&.permissions-workflow {
						color: $primary;
					}
					&.permissions-status {
						color: $gray-4;
					}
					.workflow {
						display: block;
					}
					.global {
						display: none;
					}
				}
			}
			td {
				@include transition (padding, $timing-short, ease-in-out);
				// Min-width being too low will cause table headers to be mis-aligned.
				// Another solution is to make thead cells inline-block and pad to the vertical middle
				min-width: 100px;
				height: 40px;
				padding-left: 4px;
				padding-right: 14px;
				&.static-numbers {
					font-size: 10px;
					color: $gray-4;
					width: 30px;
					min-width: 30px;
					padding-right: 0;
					text-align: center;
				}
				&.reorder {
					white-space: nowrap;
					width: 30px;
					min-width: 30px;
					padding-right: 0;
					-webkit-touch-callout: none;
					-webkit-user-select: none;
					-khtml-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
					.reorder-handle {
						@include transition (color, $timing-short, ease-in-out);
						color: $gray-1;
						cursor: not-allowed;
					}
				}
				&.status {
					white-space: nowrap;
					width: 30px;
					min-width: 30px;
					padding-right: 8px;
				}
				&.required {
					color: $gray-3;
					white-space: nowrap;
					width: 30px;
					min-width: auto;
					&:hover {
						.material-icons {
							color: $primary;
						}
					}
					.material-icons {
						@include transition (color, $timing-short, ease-in-out);
						font-size: 20px;
					}
				}
				&.visible {
					color: $gray-3;
					white-space: nowrap;
					width: 30px;
					min-width: auto;
					&:hover {
						.material-icons {
							color: $primary;
						}
					}
					.material-icons {
						@include transition (color, $timing-short, ease-in-out);
						font-size: 20px;
					}
				}
				&.column-name {
					&:hover {
						color: $primary;
					}
				}
				&.user-interface {
					@include transition (color, $timing-short, ease-in-out);
					&:hover {
						color: $primary;
					}
					.missing-options {
						font-size: 20px;
						vertical-align: middle;
						line-height: 10px;
						margin-left: 6px;
						margin-top: -4px;
						color: $important;
					}
				}
				&.relationship {
					@include transition (color, $timing-short, ease-in-out);
					&:hover {
						color: $primary;
					}
					&.not-allowed {
						cursor: not-allowed;
						&:hover {
							color: $gray-3;
						}
					}
					.table-name {
						color: $gray-4;
					}
				}
				&.default-value {
					@include transition (color, $timing-short, ease-in-out);
					&:hover {
						color: $primary;
						.no-value {
							color: $primary;
						}
					}
				}
				&.comment {
					@include transition (color, $timing-short, ease-in-out);
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					max-width: 300px;
					&:hover {
						color: $primary;
						.no-value {
							color: $primary;
						}
					}
				}
				&.avatar {
					white-space: nowrap;
					width: 60px;
					min-width: auto;
				}
				&.bold {
					font-weight: 500;
				}
				&.system-table {
					color: $gray-4;
				}
				&.status-badges {
					text-align: right;
					white-space: nowrap;
					width: 1px;
					min-width: 38px; // So cells don't collapse when empty
					.status-badge {
						@include border-radius (2px);
						display: inline-block;
						padding: 6px 10px;
						margin-right: 6px; // 6 + 4 (cell) = 10
						font-size: 10px;
						font-weight: 700;
						text-transform: uppercase;
						color: $gray-4;
						background-color: $gray-1;
						&.online {
							background-color: $primary;
							color: $white;
						}
					}
				}
				&.permissions-workflow {
					@include transition (color, $timing-short, ease-in-out);
					width: 40px;
					min-width: auto;
					color: $gray-3;
					cursor: pointer;
					&:hover {
						color: $primary;
					}
					&.disabled {
						color: $gray-1;
						cursor: not-allowed;
						&:hover {
							color: $gray-1;
						}
					}
				}
				&.permissions-status {
					width: 60px;
					min-width: auto;
					color: $gray-2;
				}
				&.permissions-view {
					width: 40px;
					min-width: auto;
				}
				&.permissions-add {
					width: 40px;
					min-width: auto;
				}
				&.permissions-edit {
					width: 40px;
					min-width: auto;
				}
				&.permissions-delete {
					width: auto;
					min-width: 60px;
				}
				&.permissions-blacklist {
					.choose-column-blacklist {
						@include transition (color, $timing-short, ease-in-out);
						display: block;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						max-width: 200px;
						color: $gray-3;
						&:hover {
							color: $gray-5;
						}
						&.active {
							color: $serious;
						}
					}
				}
				&.settings-tables-name {
					width: auto;
					min-width: 200px;
				}
				&.settings-tables-count {
					width: 100%;
				}
				&.settings-tables-manage {
					width: auto;
					min-width: 100px;
					text-align: right;
					.add-table,
					.remove-table {
						@include transition (all, $timing-short, ease-in-out);
						@include border-radius (2px);
						display: inline-block;
						background-color: $gray-1;
						color: $gray-3;
						padding: 6px 10px;
						margin-right: 6px;
						font-size: 10px;
						font-weight: 700;
						text-transform: uppercase;
						&:hover {
							background-color: $serious;
							color: $white;
						}
					}
					.add-table {
						background-color: $primary;
						color: $white;
						&:hover {
							background-color: darken($primary, 10%);
						}
					}
				}
				&.text-abrev {
					white-space: nowrap;
					max-width: 300px;
					overflow-x: hidden;
					text-overflow: ellipsis;
					padding-right: 30px;
				}
				.workflow {
					display: none;
					.state {
						margin-top: 4px;
						height: 30px;
						&.text-align {
							line-height: 26px;
						}
					}
				}
				.no-value {
					@include transition (color, $timing-short, ease-in-out);
					color: $gray-3;
				}
				img {
					display: block;
					max-height: 40px;
					max-width: 40px;
					margin-top: 4px;
					margin-bottom: 4px;
				}
				input[type=checkbox][disabled]{
					//
				}
				.search-term {
					@include border-radius (2px);
					background-color: lighten($primary, 40%);
					padding: 3px 1px 3px 1px;
					margin-left: -1px;
					margin-right: -1px;
					color: darken($primary, 5%);
				}
				.tag-container {
					position: relative;
					display: inline-block;
					max-width: 300px;
					white-space: nowrap;
					overflow: hidden;
					margin-right: 10px;
					.fade-out {
						position: absolute;
						top: 0;
						bottom: 0;
						left: 260px;
						width: 40px;
						z-index: 2;
						background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
						background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
						background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
					}
					.tag {
						@include transition (all, $timing-short, ease-in-out);
						@include border-radius (2px);
						display: inline-block;
						padding: 4px;
						margin-right: 1px;
						margin-top: 4px;
						font-size: 10px;
						font-weight: 700;
						text-transform: uppercase;
						color: $gray-4;
						background-color: $gray-1;
					}
				}
				.interface-user {
					.avatar {
						@include border-radius (2px);
						display: inline-block;
						vertical-align: middle;
						margin-right: 10px;
					}
					.name {
						vertical-align: middle;
						font-weight: 500;
					}
				}
				.photo-stack {
					height: 27px;
					min-width: 110px;
					&:hover {
						img {
							margin-left: 2px;
							border-right: none;
						}
					}
					img {
						@include transition (all, $timing-short, ease-in-out);
						@include border-radius (2px);
						display: inline-block;
						height: 100%;
						border-right: 2px solid $white;
						margin-left: -16px;
						position: relative;
						&:nth-child(1) { z-index: 4; margin-left: 0; }
						&:nth-child(2) { z-index: 3; }
						&:nth-child(3) { z-index: 2; }
						&:nth-child(4) { z-index: 1; }
					}
				}
			}
		}
	}
	tfoot {
		@include transition (bottom, $timing-short, ease-in-out);
		position: fixed;
		bottom: -40px;
		left: 200px;
		right: 0;
		height: 40px;
		background-color: lighten($gray-1, 3%); // #f5f5f5
		&.footer-open {
			bottom: 0;
			z-index: 4;
		}
		tr {
			td {
				@include transition (width, $timing-short, ease-in-out);
				color: $gray-4;
				font-size: 10px;
				font-weight: 700;
				text-transform: uppercase;
				padding: 12px 4px;
				.choose-footer-metric {
					margin-top: 3px;
					select {
						background-color: transparent;
						border: none;
						padding: 0 30px 0 0;
						height: auto;
						&:focus {
							-webkit-box-shadow: none;
							-moz-box-shadow: none;
							box-shadow: none;
						}
					}
					.select-arrow {
						background-color: transparent;
						top: -7px;
					}
				}
			}
		}
	}
	&.header-sortable {
		thead tr th {
			cursor: pointer;
			&:hover .order-direction,
			&:hover {
				color: $primary;
			}
		}
	}
	&.item-listing {
		tbody tr td {
			white-space: nowrap;
			height: auto;
		}
	}
	&.pad-first { // For tables that don't start with icons on the left
		tfoot tr td:nth-child(1),
		thead tr th:nth-child(1),
		tbody tr td:nth-child(1) {
			padding-left: 20px;
		}
	}
	&.pad-status { // More specific to account for "static numbers", etc
		tfoot tr td.status,
		thead tr th.status,
		tbody tr td.status {
			padding-left: 15px;
		}
	}
	&.fixed-header {
		margin-top: 50px;
		margin-bottom: 40px;
		thead {
			// Box shadow managed in JS
			position: fixed;
			top: 64px;
			left: 200px;
			right: 0;
			// width: 100%;
			z-index: 4;
		}
	}
	&.charted {
		&.fixed-header {
			thead {
				top: 304px;
			}
		}
	}
	&.compact tbody tr td {
		padding-top: 2px;
		padding-bottom: 2px;
	}
	&.cozy tbody tr td {
		padding-top: 6px;
		padding-bottom: 6px;
	}
	&.comfortable tbody tr td {
		padding-top: 12px;
		padding-bottom: 12px;
	}
	&.striped tbody tr:nth-child(even) td {
		background-color: lighten($gray-1, 5%); // #fafafa
	}
	&.lines tbody tr {
		border-bottom: 1px solid $gray-1;
	}
	&.clickable tbody tr {
		td {
			cursor: pointer;
		}
		&:hover td {
			background-color: lighten($primary, 45%);
			.tag-container {
				.fade-out {
					background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, lighten($primary, 45%) 100%);
					background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,lighten($primary, 45%) 100%);
					background: linear-gradient(to right, rgba(255,255,255,0) 0%,lighten($primary, 45%) 100%);
				}
			}
		}
	}
	&.reorder-enabled {
		tbody {
			tr {
				td {
					&.reorder {
						.reorder-handle {
							color: $gray-2;
							&:hover {
								color: $gray-4;
								@extend %cursor-drag;
							}
						}
					}
				}
			}
		}
	}
}

//////////////////////////////////////////////////////////////////////////////
// Chart

.items-chart {
	position: relative;
	height: 200px;
	background-color: $white;
	padding: 40px 20px 20px 20px;
	.chart-title {
		@include transition (all, $timing-short, ease-in-out);
		position: absolute;
		top: 10px;
		left: 10px;
		right: 10px;
		font-size: 12px;
		font-weight: 500;
		color: $gray-3;
		text-align: center;
		text-transform: uppercase;
		cursor: pointer;
		z-index: 2;
		&:hover {
			color: $primary;
			.material-icons {
				color: $primary;
			}
		}
		.material-icons {
			@include transition (all, $timing-short, ease-in-out);
			color: $gray-3;
			vertical-align: middle;
			margin-right: 4px;
		}
	}
	#chart {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}
}

//////////////////////////////////////////////////////////////////////////////
// Drag and Drop

.gu-mirror {
	position: fixed !important;
	margin: 0 !important;
	z-index: 9999 !important;
	opacity: 0.5;
	list-style: none;
}
.gu-hide {
	display: none !important;
}
.gu-unselectable {
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}
.gu-transit {
	// opacity: 0.2;
	// -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	// filter: alpha(opacity=20);

	background-color: lighten($primary, 45%);
	animation: pulsate-text 2s ease-out;
	animation-iteration-count: infinite;
}

//////////////////////////////////////////////////////////////////////////////
// More Items

.loading-more {
	position: relative;
	width: 100%;
	height: 60px;
	text-align: center;
	.spinner {
		// display: inline-block;
		// width: 20px;
		// height: 20px;
		// border: 5px solid $white;
		// border-top: 5px solid $primary;
		// border-left: 5px solid $primary;
		// border-bottom: 5px solid $primary;
		// border-radius: 100%;

		color: $gray-2;
		animation: spin 1s infinite linear;
	}
}

//////////////////////////////////////////////////////////////////////////////
// No Items

.no-items {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 350px;
	height: 260px;
	margin-left: -175px;
	margin-top: -140px;
	text-align: center;
	font-size: 36px;
	font-weight: 300;
	color: $gray-3;
	.background-circle {
		@include border-radius (200px);
		display: inline-block;
		width: 200px;
		height: 200px;
		padding: 50px;
		background-color: $gray-1;
		margin-bottom: 20px;
		display: none;
	}
}

//////////////////////////////////////////////////////////////////////////////
