//////////////////////////////////////////////////////////////////////////////
// Misc

$imagePath: "../../../assets/imgs";

//////////////////////////////////////////////////////////////////////////////
// Colors

$black: 	#000000;
$gray-7: 	#222222;
$gray-6: 	#333333;
$gray-5: 	#666666;
$gray-4: 	#999999;
$gray-3: 	#CCCCCC;
$gray-2: 	#DDDDDD;
$gray-1: 	#EEEEEE;
$white: 	#FFFFFF;

$primary: 	#3498DB; // MD: 2196F3
$serious: 	#E53935; // MD: F44336
$important: #FF9800; // MD: FFC107

//////////////////////////////////////////////////////////////////////////////
// Spacing

$margin-base: 20px;

//////////////////////////////////////////////////////////////////////////////
// Timing

$timing-short: 200ms;
$timing-long: 4000ms;

//////////////////////////////////////////////////////////////////////////////
