<a href="{{rootUrl}}" class="open-modal" data-modal="welcome-1">
	<div class="logo help static{{#if cms_thumbnail_url}} has-project-logo{{/if}}" data-help="Your Logo – at any point you can click this to visit your project.">
		<div class="fading-separator"></div>
		<div class="directus"></div>
		{{#if cms_thumbnail_url}}
		<img class="project-logo" src="{{cms_thumbnail_url}}"></img>
		{{/if}}
	</div>
</a>

<div class="breadcrumb help" data-help="This is the 'breadcrumb' which shows you where you are within the system.">
	<i class="material-icons veggieburger">menu</i>
	{{#if route.isOverlay}}
	<i class="material-icons arrow-back" id="removeOverlay">arrow_back</i>
	{{/if}}
	{{#each route.breadcrumbs}}
	<a class="crumb" href="{{anchor}}">{{{capitalize title}}}</a>
	<i class="material-icons separator">keyboard_arrow_right</i>
	{{/each}}
	{{#if route.title}}
	<a class="crumb active">{{{capitalize route.title}}}</a>
	{{/if}}
	{{!--<i class="material-icons bookmark {{# if page = 'item' }}active{{/if}}" title="Bookmark this page">{{# if page = 'item' }}bookmark{{else}}bookmark_border{{/if}}</i> <!-- Option: active (icon: bookmark) --> --}}
	<i id="saveSnapshotBtn" class="material-icons bookmark" title="Bookmark this page">bookmark_border</i>
	{{!--
	{% if breadcrumb[0] %}<a class="crumb {% if breadcrumb|length == 1 %}active{% endif %}" href="{{rootUrl}}{{breadcrumbURL[0]}}">{{breadcrumb[0]}}</a>{% endif %}
	{% if breadcrumb|length > 1 %}<i class="material-icons separator">keyboard_arrow_right</i>{% endif %}
	{% if breadcrumb[1] %}<a class="crumb {% if breadcrumb|length == 2 %}active{% endif %}" href="{{rootUrl}}{{breadcrumbURL[0]}}/{{breadcrumbURL[1]}}">{{breadcrumb[1]}}</a>{% endif %}
	{% if breadcrumb|length > 2 %}<i class="material-icons separator">keyboard_arrow_right</i>{% endif %}
	{% if breadcrumb[2] %}<a class="crumb {% if breadcrumb|length == 3 %}active{% endif %}" href="#">{{breadcrumb[2]}}</a>{% endif %}
	{% if breadcrumb[0] == 'Tables' and breadcrumb|length >= 2 %}<i class="material-icons bookmark {% if page == 'item' %}active{% endif %}" title="Bookmark this page">{% if page == 'item' %}bookmark{% else %}bookmark_border{% endif %}</i>{% endif %} <!-- Option: active (icon: bookmark) -->
	--}}
</div>

<div id="tools-right-insert" class="tools-right"></div>
<div class="actions" id="tools-left-insert"></div>
