<div class="header1">
  <div class="primary-row row-plain">
    <h1 class="font-primary">
      {{#if route}}
        {{#if route.isOverlay}}
          <span class="icon icon-circled-left" id="removeOverlay"></span>
          <span class="icon icon-chevron-small-right"></span>
        {{else}}
          {{#each route.breadcrumbs}}
              <a href="{{anchor}}" class="" >{{{capitalize title}}}</a>
              <span class="icon icon-chevron-small-right"></span>
          {{/each}}
        {{/if}}
        <span class="endnode">{{{capitalize route.title}}}</span>
      {{/if}}
    </h1>
    <ul class="tools left" id="tools-left-insert"></ul>
    <ul class="tools right" id="tools-right-insert"></ul>
  </div>
  <ul class="tools right" id="secondary-row-insert"></ul>
</div>