
.buttons[data-v-a990aa]{display:flex;flex-wrap:wrap;padding:5px 0
}
.buttons span[data-v-a990aa]{margin:2px;padding:2px 4px 3px;background-color:var(--gray);color:var(--white);border-radius:var(--border-radius)
}