
.interface-tags[data-v-3d34f1]{max-width:var(--width-medium)
}
.buttons[data-v-3d34f1]{display:flex;flex-wrap:wrap;padding:5px 0
}
.buttons button[data-v-3d34f1]{transition:var(--fast) var(--transition);margin:2px;padding:2px 4px 3px;background-color:var(--gray);color:var(--white);border-radius:var(--border-radius)
}
.buttons button[data-v-3d34f1]:hover,.user-is-tabbing .buttons button[data-v-3d34f1]:focus{background-color:var(--danger)
}