// Dark Mode
@mixin dark {
	$purple: #8866ff;
	$color-mapping: map-merge(
		$color-mapping,
		(
			'primary': $purple,
			'secondary': $pink,
		)
	);

	color-scheme: dark;

	--border-normal: #30363d;
	--border-normal-alt: #484f58;
	--border-subdued: #21262d;

	--foreground-inverted: #0d1117;

	--background-normal: #21262e;
	--background-normal-alt: #30363d;
	--background-subdued: #161b22;
	--background-highlight: #1d1d21;
	--background-input: #0d1117;
	--background-page-rgb: 13, 17, 23;
	--background-inverted: #fff;
	--background-mark: var(--theme--primary-subdued);

	--card-face-color: var(--background-subdued);
	--card-shadow-color: 0, 0, 0;
	--card-shadow: 0px 0px 6px 0px rgba(var(--card-shadow-color), 0.2);
	--overlay-color: rgba(0, 0, 0, 0.9);

	--header-shadow: 0 4px 7px -4px rgb(var(--black) / 0.2);
	--navigation-shadow: 0px 0px 12px var(--black);
	--sidebar-shadow: var(--navigation-shadow);

	// Generate color variations
	@include generate-colors($color-mapping, $dark-theme-shade, $dark-theme-tint);

	--purple-alt: var(--purple-10);
	--blue-alt: var(--blue-10);
	--green-alt: var(--green-10);
	--yellow-alt: var(--yellow-10);
	--orange-alt: var(--orange-10);
	--red-alt: var(--red-10);
	--primary-alt: var(--theme--primary-background);
	--secondary-alt: var(--secondary-10);
	--success-alt: var(--green-10);
	--warning-alt: var(--yellow-10);
	--danger-alt: var(--red-10);

	.alt-colors {
		--background-subdued: var(--theme--background);
	}
}
