// Dark Mode
@mixin dark {
	color-scheme: dark;

	--g-color-primary-normal: #8866ff;
	--g-color-primary-accent: #a48bff;
	--g-color-primary-subtle: #191a2d;

	--g-color-secondary-normal: #FF99DD;
	--g-color-secondary-accent: #ffbdd9;
	--g-color-secondary-subtle: #1f1924;

	--g-color-success-normal: #2ECDA7;
	--g-color-success-accent: #35e5bb;
	--g-color-success-subtle: #0d1e1f;

	--g-color-danger-normal: #E35169;
	--g-color-danger-accent: #e7828f;
	--g-color-danger-subtle: #231820;

	--g-color-warning-normal: #FBC54F;
	--g-color-warning-accent: #fcdcac;
	--g-color-warning-subtle: #1d1b16;

	--g-color-border-normal: #30363d;
	--g-color-border-accent: #484f58;
	--g-color-border-subtle: #21262d;

	--g-color-foreground-normal: #c9d1d9;
	--g-color-foreground-accent: #f0f6fc;
	--g-color-foreground-subtle: #666672;
	--g-color-foreground-invert: #0d1117;

	--g-color-background-normal: #21262e;
	--g-color-background-accent: #30363d;
	--g-color-background-subtle: #161b22;
	--g-color-background-page: #0d1117;
	--background-input: var(--g-color-background-page);
	--g-color-background-invert: #fff;

	--card-face-color: var(--g-color-background-subtle);
	--card-shadow-color: 0, 0, 0;
	--card-shadow: 0px 0px 6px 0px rgba(var(--card-shadow-color), 0.2);
	--overlay-color: rgba(0, 0, 0, 0.9);

	--module-background: var(--g-color-background-page);
	--module-background-alt: var(--g-color-background-normal);
	--module-icon: var(--g-color-foreground-subtle);
	--module-icon-alt: var(--g-color-foreground-accent);

	// Generate color variations
	@include generate-colors($color-mapping, $dark-theme-shade, $dark-theme-tint);
}
