// Default / Light Mode
@mixin light {
	color-scheme: light;

	--background-input: var(--g-color-background-page);

	--card-face-color: #fafcfd;
	--card-shadow-color: 23, 41, 64;
	--card-shadow: 0px 0px 6px 0px rgba(var(--card-shadow-color), 0.2);
	--overlay-color: rgba(38, 50, 56, 0.8);
}
