// Default / Light Mode
@mixin light {
	color-scheme: light;

	--g-color-primary-normal: #6644FF;
	--g-color-primary-accent: #4800e2;
	--g-color-primary-subtle: #f2efff;

	--g-color-secondary-normal: #FF99DD;
	--g-color-secondary-accent: #ff77ba;
	--g-color-secondary-subtle: #ffebf9;

	--g-color-success-normal: #2ECDA7;
	--g-color-success-accent: #28b694;
	--g-color-success-subtle: #dbf7f0;

	--g-color-danger-normal: #E35169;
	--g-color-danger-accent: #bc3b52;
	--g-color-danger-subtle: #fcedef;

	--g-color-warning-normal: #FBC54F;
	--g-color-warning-accent: #e5b23b;
	--g-color-warning-subtle: #ffefcd;

	--g-color-border-normal: #d3dae4;
	--g-color-border-accent: #a2b5cd;
	--g-color-border-subtle: #f0f4f9;

	--g-color-foreground-normal: #4f5464; // Less contrast for improved hierarchy
	--g-color-foreground-accent: #172940; // More contrast for titles and labels
	--g-color-foreground-subtle: #a2b5cd;
	--g-color-foreground-invert: #fff;

	--g-color-background-normal: #f0f4f9;
	--g-color-background-accent: #e4eaf1;
	--g-color-background-subtle: #f7fafc;
	--g-color-background-page: #ffffff;
	--background-input: var(--g-color-background-page);
	--g-color-background-invert: #263238;

	--card-face-color: #fafcfd;
	--card-shadow-color: 23, 41, 64;
	--card-shadow: 0px 0px 6px 0px rgba(var(--card-shadow-color), 0.2);
	--overlay-color: rgba(38, 50, 56, 0.8);

	--module-background-normal: #18222F;
	--module-background-hover: #18222F;
	--module-background-active: #F0F4F9;
	--module-foreground-normal: #8196B1;
	--module-foreground-hover: #FFFFFF;
	--module-foreground-active: #172940;

	// Generate color variations
	@include generate-colors($color-mapping, $light-theme-tint, $light-theme-shade);
}
