{{#rows}}
<div class="file js-file" id="file_{{id}}" data-id="{{id}}" data-cid="{{cid}}">
	{{# if thumbnailUrl}}
	<img src="{{thumbnailUrl}}">
	{{else}}
	{{# if id}}
	<div class="extension-fallback">{{ucase type}}</div>
	{{else}}
	{{!-- While loading --}}
	<div class="default-loading"><span class="icon icon-three-dots"></span></div>
	{{/if}}
	{{/if}}
    <div class="type">{{uppercase type}}</div>
    <div class="info">
        <div class="name" title="{{title}}">{{title}}</div>
        <div class="uploaded" title="{{fullDateTime date_uploaded}}">{{date_uploaded}}</div> <!-- time ago -->
        <i class="material-icons more">more_vert</i>
    </div>
</div>
{{/rows}}
{{#unless rows}}
{{{include "listingEmpty"}}}
{{/unless}}
