{{#rows}}
<li class="card col-2 gutter-bottom" data-id="{{id}}" data-cid="{{cid}}">
  <div class="header-image">
    {{{thumbnail}}}
    <div class="tool-item large-circle"><i class="material-icons">edit</i></div>
    {{#if embed}}<span class="icon icon-cloud embed-icon"></span>{{/if}}
    <div style="display:none" class="files-card-progress"></div>
  </div>
  <div class="info">
    <div class="featured">
      <div class="primary-info">{{title_short}}</div>
      <div class="secondary-info ellipsis italic">Added {{date_uploaded}}</div>
    </div>
    <div class="extra">
        <div class="secondary-info ellipsis">{{size}} <span class="light-grey-color">●</span> {{uppercase type}}{{#if dimensions}} <span class="light-grey-color">●</span> {{dimensions}}{{/if}}</div>
    </div>
  </div>
</li>
{{/rows}}

{{#unless rows}}
  <div class="nothing-here secondary-info">
  <h1>Nothing to see here...</h1>
  <!-- Maybe upload a new file? -->
  </div>
{{/unless}}

<div style="display: none;" class="external-drop-indicator top"></div>
<div style="display: none;" class="external-drop-indicator left"></div>
<div style="display: none;" class="external-drop-indicator right"></div>
<div style="display: none;" class="external-drop-indicator bottom"></div>
