{% block content %}

<div class="right-sidebar wide sidebar-open no-title">

	<!-- <div class="sidebar-title">Item Details</div>
	<i class="material-icons close">close</i> -->

	<div class="scroll-y">

		<div class="metadata">
			<b>Status:</b> Active<br>
			<b>ID:</b> 12<br>
			<b>Type:</b> JPG<br>
			<b>File Size:</b> 174KB<br>
			<b>Dimensions:</b> 1024×940<br>
			<b>Capture Device:</b> Nexus 6P<br>
			<b>Capture Details:</b> f/2 1/125 4.67mm ISO83<br>
			<b>Storage Adapter:</b> S3<br>
			<b>Path:</b> <a href="#" class="primary">...1f491ec86258eee35f87bbd18c.jpg</a><br>
			<b>Folder:</b> /Mountains<br>
			<b>Uploaded By:</b> Ben Haynes<br>
			<b>Uploaded On:</b> Nov 19th, 2016 @ 5:35p<br>
			<b>Last Modified By:</b> Ben Haynes<br>
			<b>Last Modified On:</b> Nov 19th, 2016 @ 5:35p<br>

			<a href="{{assetsRoot}}imgs/file-full.jpg" target="_blank">
				<div class="button preview"><i class="material-icons">visibility</i> View Original</div>
			</a>

			<div class="button replace"><i class="material-icons">swap_vert</i> Replace File</div>

		</div>

		<ul class="timeline">
			<li class="comment create">
				<textarea placeholder="Write a comment..."></textarea>
			</li>
			<li class="activity">
				<div class="activity-full-toggle">
					REVISON 5 <i class="material-icons more-activity">arrow_drop_down</i>
					<div class="timeago">
						<i class="material-icons">schedule</i> 3m
					</div>
				</div>
				<div class="full-activity">
					<b>Author:</b> Ben Haynes<br>
					<b>Date:</b> Tue – Nov 3, 2016 @ 18:24:09<br>
					<b>Changes:</b> 3<br>
					<b>IP:</b> 123.123.123.123<br>
					<!-- <b>Rollback:</b> <a href="#" class="rollback">Restore</a> -->
					<div class="button rollback"><i class="material-icons">restore</i> Rollback</div>
				</div>
			</li>
			<li class="comment">
				<div class="byline">
					<div class="avatar"><img src="{{rootUrl}}assets/imgs/avatar.png"></div>
					Ben Haynes
					<div class="timeago">
						<i class="material-icons">schedule</i> 3m
					</div>
				</div>
				Thanks!
			</li>
			<li class="comment">
				<div class="byline me">
					<div class="avatar"><img src="{{rootUrl}}assets/imgs/avatar.png"></div>
					Welling Guzman
					<div class="timeago">
						<i class="material-icons">schedule</i> 2h
					</div>
				</div>
				Had to change the author, but it's good now!
			</li>
			<li class="activity">
				<div class="activity-full-toggle">
					REVISON 4 <i class="material-icons more-activity">arrow_drop_down</i>
					<div class="timeago">
						<i class="material-icons">schedule</i> 5h
					</div>
				</div>
				<div class="full-activity">
					<b>Author:</b> Ben Haynes<br>
					<b>Date:</b> Tue – Nov 3, 2016 @ 18:24:09<br>
					<b>Changes:</b> 3<br>
					<b>IP:</b> 123.123.123.123<br>
					<!-- <b>Rollback:</b> <a href="#" class="rollback">Restore</a> -->
					<div class="button rollback"><i class="material-icons">restore</i> Rollback</div>
				</div>
			</li>
			<li class="activity">
				<div class="activity-full-toggle">
					REVISON 3 <i class="material-icons more-activity">arrow_drop_down</i>
					<div class="timeago">
						<i class="material-icons">schedule</i> 5h
					</div>
				</div>
				<div class="full-activity">
					<b>Author:</b> Ben Haynes<br>
					<b>Date:</b> Tue – Nov 3, 2016 @ 18:24:09<br>
					<b>Changes:</b> 3<br>
					<b>IP:</b> 123.123.123.123<br>
					<!-- <b>Rollback:</b> <a href="#" class="rollback">Restore</a> -->
					<div class="button rollback"><i class="material-icons">restore</i> Rollback</div>
				</div>
			</li>
			<li class="activity">
				<div class="activity-full-toggle">
					REVISON 2 <i class="material-icons more-activity">arrow_drop_down</i>
					<div class="timeago">
						<i class="material-icons">schedule</i> 1d
					</div>
				</div>
				<div class="full-activity">
					<b>Author:</b> Ben Haynes<br>
					<b>Date:</b> Tue – Nov 3, 2016 @ 18:24:09<br>
					<b>Changes:</b> 3<br>
					<b>IP:</b> 123.123.123.123<br>
					<!-- <b>Rollback:</b> <a href="#" class="rollback">Restore</a> -->
					<div class="button rollback"><i class="material-icons">restore</i> Rollback</div>
				</div>
			</li>
			<li class="comment">
				<div class="byline">
					<div class="avatar"><img src="{{rootUrl}}assets/imgs/avatar.png"></div>
					Ben Haynes
					<div class="timeago">
						<i class="material-icons">schedule</i> 4d
					</div>
				</div>
				Can someone please review this and let me know if it's ready to go?
			</li>
			<li class="comment">
				<div class="byline">
					<div class="avatar"><img src="{{rootUrl}}assets/imgs/avatar.png"></div>
					Ben Haynes
					<div class="timeago">
						<i class="material-icons">schedule</i> 1w
					</div>
				</div>
				OK – I've created a new post for the event. You believe the year is 1997 when in fact it is much closer to 2197. I can't say for certain what year it is because we honestly do not know.
			</li>
			<li class="activity">
				<div class="activity-full-toggle">
					REVISON 1 <i class="material-icons more-activity">arrow_drop_down</i>
					<div class="timeago">
						<i class="material-icons">schedule</i> 1d
					</div>
				</div>
				<div class="full-activity">
					<b>Author:</b> Ben Haynes<br>
					<b>Date:</b> Tue – Nov 3, 2016 @ 18:24:09<br>
					<b>Changes:</b> 3<br>
					<b>IP:</b> 123.123.123.123<br>
					<!-- <b>Rollback:</b> <a href="#" class="rollback">Restore</a> -->
					<div class="button rollback"><i class="material-icons">restore</i> Rollback</div>
				</div>
			</li>
			<li class="activity">
				<div class="activity-full-toggle">
					CREATED <i class="material-icons more-activity">arrow_drop_down</i>
					<div class="timeago">
						<i class="material-icons">schedule</i> 3w
					</div>
				</div>
				<div class="full-activity">
					<b>Author:</b> Ben Haynes<br>
					<b>Date:</b> Tue – Nov 3, 2016 @ 18:24:09<br>
					<b>Changes:</b> 3<br>
					<b>IP:</b> 123.123.123.123<br>
					<!-- <b>Rollback:</b> <a href="#" class="rollback">Restore</a> -->
					<div class="button rollback"><i class="material-icons">restore</i> Rollback</div>
				</div>
			</li>
		</ul>
	</div>
</div>

{% endblock %}
