{% extends "base.twig.html" %}

{% block pageClass %}define-edge{% endblock %}

{% block content %}

{% if true %}

<div class="folder-listing" id="folder-listing">
	{% for i in 0..3 %}
	<div class="folder" id="folder_{{i}}">
		<div class="folder-icon">
			<i class="material-icons folder-closed">folder</i>
			<i class="material-icons folder-open">folder_open</i>
		</div>
		<!-- <div class="type">Folder</div> -->
		<div class="info">
			<div class="name">American Ranges</div>
			<div class="uploaded">13 Files</div>
			<i class="material-icons more">more_vert</i>
		</div>
	</div>
	{% endfor %}
</div>

<div class="file-listing" id="file-listing">

	{% for i in 0..50 %}
	<div class="file dynamic-link" data-dynamic-link="{{rootUrl}}files/1" id="file_{{i}}">
		<img src="{{assetsRoot}}imgs/file.png">
		<div class="type">PNG</div>
		<div class="info">
			<div class="name">The Mountains {{i}}</div>
			<div class="uploaded">2 Days Ago</div>
			<i class="material-icons more">more_vert</i>
		</div>
	</div>
	{% endfor %}
</div>

{% else %}

<div class="no-items">
	<div class="background-circle">
		<img src="{{assetsRoot}}imgs/no-items.svg">
	</div>
	<br>
	Nothing to see here!
</div>

{% endif %}

{% include 'items/items-sidebar.twig.html' %}

{% endblock %}
