{% extends "base.twig.html" %}

{% block pageClass %}define-edge{% endblock %}

{% block content %}

{% if true %}

<!-- Show Tile Directory -->
<div class="user-listing">
	{% for i in 0..37 %}
	<div class="user open-modal {% if loop.index == 5 %}online{% endif %}" data-modal="profile">
		<img src="{{assetsRoot}}imgs/avatar.png">
		<div class="group">Admin</div>
		<div class="online">Online</div>
		<div class="info">
			<div class="name">Ben Haynes</div>
			<div class="position">Founder, RANGER</div>
			<div class="extended hidden"><!-- Toggle for details -->
				<div class="location"><i class="material-icons">place</i> Brooklyn, NY</div>
				<div class="phone"><i class="material-icons">local_phone</i> (224) 444-9666</div>
				<div class="email"><i class="material-icons">email</i> ben@rngr.org</div>
			</div>
			<i class="material-icons more">more_vert</i>
		</div>
	</div>
	{% endfor %}
</div>

<!-- Show Groups -->
<!-- <div class="user-listing">
	<div class="section-break">
		<h2>Administrators</h2>
		<hr>
	</div>

	{% for i in 0..19 %}

	{% if loop.index == 7%}
	<div class="section-break">
		<h2>Project Managers</h2>
		<hr>
	</div>
	{% endif %}

	<div class="user {% if loop.index == 5 %}online{% endif %}">
		<img src="{{assetsRoot}}imgs/avatar.png">
		<div class="online">ONLINE</div>
		<div class="info">
			<div class="name">Ben Haynes</div>
			<div class="position">Founder, RANGER</div>
			<div class="extended">
				<div class="location"><i class="material-icons">place</i> Brooklyn, NY</div>
				<div class="phone"><i class="material-icons">local_phone</i> (224) 444-9666</div>
				<div class="email"><i class="material-icons">email</i> ben@rngr.org</div>
			</div>
			<i class="material-icons more">more_vert</i>
		</div>
	</div>
	{% endfor %}
</div> -->

<!-- Show Listing -->
<!-- <table class="lines cozy clickable fixed-header">
	<thead>
		<tr>
			<th scope="column" class="status">
				<input class="custom-checkbox select-row" id="checkall" type="checkbox" value="" />
				<label for="checkall"><span></span></label>
			</th>
			<th scope="column" class="avatar">Avatar</th>
			<th scope="column">Name <i class="material-icons order-direction">arrow_downward</i></th>
			<th scope="column">Position</th>
			<th scope="column">Location</th>
			<th scope="column">Email</th>
			<th scope="column">Group</th>
			<th scope="column">Last Login</th>
			<th scope="column" class="table-sidebar-toggle"><i class="material-icons">more_horiz</i></th>
		</tr>
	</thead>
	<tbody class="drag-and-drop">
		{% for i in 0..50 %}
		<tr class="dynamic-link" data-dynamic-link="/tables/blog/1#title">
			<td class="status">
				<input class="custom-checkbox select-row" id="check{{i}}" type="checkbox" value="" />
				<label for="check{{i}}"><span></span></label>
			</td>
			<td class="avatar"><img src="{{assetsRoot}}imgs/avatar.png"></td>
			<td class="bold">Ben Haynes</td>
			<td>Founder, RANGER</td>
			<td>Brooklyn, NY</td>
			<td>ben@rngr.org</td>
			<td>Admin</td>
			<td>3 hours ago</td>
			<td class="status-badges">
				{% if i == 5 %}<div class="status-badge online">Online</div>{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table> -->

{% else %}

<div class="no-items">
	<div class="background-circle">
		<img src="{{assetsRoot}}imgs/no-items.svg">
	</div>
	<br>
	Nothing to see here!
</div>

{% endif %}

{% endblock %}
