<div class="header-circle editable">
    <img class="avatar" src="{{userAvatarUrl model.id}}">
    <i class="material-icons edit-avatar">create</i>
</div>
<form>
    <h1>Your Profile</h1>
    <div class="validate-input"><input type="text" name="first_name" placeholder="First Name" value="{{model.first_name}}"><i class="material-icons validate-check valid">check</i></div>
    <div class="validate-input"><input type="text" name="last_name" placeholder="Last Name" value="{{model.last_name}}"><i class="material-icons validate-check">check</i></div>
    <div class="validate-input"><input type="text" name="position" placeholder="Role" value="{{model.position}}"><i class="material-icons validate-check">check</i></div>
    <input type="text" name="location" placeholder="Location" value="{{model.location}}">
    <input type="text" name="phone" placeholder="Phone Number" value="{{model.phone}}">
    <div class="button open-modal js-next">Next</div>
</form>
