<div class="header-circle editable js-change-avatar">
	<img class="avatar" src="{{userAvatarUrl model.id}}">
	<i class="material-icons edit-avatar">create</i>
</div>
<form>
	<h1>Your Profile</h1>
	<input id="welcome_profile_file" name="file" type="file" style="display: none;">
	<div class="validate-input"><input type="text" name="first_name" placeholder="First Name" value="{{model.first_name}}"><i class="material-icons validate-check{{#if model.first_name}} valid{{/if}}">check</i></div>
	<div class="validate-input"><input type="text" name="last_name" placeholder="Last Name" value="{{model.last_name}}"><i class="material-icons validate-check {{#if model.last_name}} valid{{/if}}">check</i></div>
	<input type="text" name="position" placeholder="Role" value="{{model.position}}">
	<input type="text" name="location" placeholder="Location" value="{{model.location}}">
	<input type="text" name="phone" placeholder="Phone Number" value="{{model.phone}}">
	<div class="button open-modal js-next">Next</div>
</form>
