<div class="header-circle editable">
    <img class="avatar" src="{{userAvatarUrl id}}">
    <i class="material-icons edit-avatar">create</i>
</div>
<form>
    <h1>Your Profile</h1>
    <div class="validate-input"><input type="text" name="first_name" placeholder="First Name" value=""><i class="material-icons validate-check valid">check</i></div>
    <div class="validate-input"><input type="text" name="last_name" placeholder="Last Name" value=""><i class="material-icons validate-check">check</i></div>
    <div class="validate-input"><input type="text" name="position" placeholder="Role" value=""><i class="material-icons validate-check">check</i></div>
    <input type="text" name="location" placeholder="Location" value="">
    <input type="text" name="phone" placeholder="Phone Number" value="">
    <div class="button open-modal js-next">Next</div>
</form>
