<div class="header-circle">
	<img class="avatar" src="{{userAvatarUrl model.id}}">
</div>
<form>
	<h1>Your Settings</h1>
	<div class="validate-input">
		<input type="password" name="password" placeholder="{{password_placeholder}}" value="{{data.password}}" class="password-primary"{{#if disablePassword}} disabled{{/if}}>
		<i class="material-icons validate-check{{#if validPassword}} valid{{/if}}">check</i>
		<input type="password" name="confirm_password" placeholder="Confirm Password" value="{{data.confirm_password}}" class="password-confirm"{{#if disablePassword}} disabled{{/if}}>
		<i class="material-icons validate-check lower-check{{#if validConfirmPassword}} valid{{/if}}">check</i>
	</div>
	<div class="select-container">
		<select name="language">
			{{#languages}}
			<option value="{{id}}"{{#if selected}} selected{{/if}}>{{name}}</option>
			{{/languages}}
		</select>
		<i class="material-icons select-arrow">arrow_drop_down</i>
	</div>
	<div class="select-container">
		<select name="timezone">
			{{#timezones}}
			<option value="{{id}}"{{#if selected}} selected{{/if}}>{{name}}</option>
			{{/timezones}}
		</select>
		<i class="material-icons select-arrow">arrow_drop_down</i>
	</div>

	<input class="custom-checkbox" id="email_messages" name="email_messages" type="checkbox" value="1"{{#if model.email_messages}} checked{{/if}} />
	<label class="custom-checkbox-label" for="email_messages"><span></span> Email me my messages</label>

	<div class="button close-modal js-finish">Finish</div>
	<div class="go-back js-go-back">{{t "navigation_go_back"}}</div>
</form>
