<div class="header-circle editable">
    <img class="avatar" src="{{userAvatarUrl model.id}}">
    <i class="material-icons edit-avatar">create</i>
</div>
<form>
    <h1>Your Settings</h1>
    <div class="validate-input">
        <input type="password" name="password" placeholder="Password" value="{{#if disablePassword}}*********{{/if}}" class="password-primary"{{#if disablePassword}} disabled{{/if}}>
        <i class="material-icons validate-check valid">check</i>
        <input type="password" name="confirm_password" placeholder="Confirm Password" value="{{#if disablePassword}}*********{{/if}}" class="password-confirm"{{#if disablePassword}} disabled{{/if}}>
        <i class="material-icons validate-check">check</i>
    </div>
    <div class="select-container">
        <select name="language">
            {{#languages}}
            <option value="{{id}}"{{#if selected}} selected{{/if}}>{{name}}</option>
            {{/languages}}
        </select>
        <i class="material-icons select-arrow">arrow_drop_down</i>
    </div>
    <div class="select-container">
        <select name="timezone">
            {{#timezones}}
            <option value="{{id}}"{{#if selected}} selected{{/if}}>{{name}}</option>
            {{/timezones}}
        </select>
        <i class="material-icons select-arrow">arrow_drop_down</i>
    </div>

    <input class="custom-checkbox" id="email_messages" name="email_messages" type="checkbox" value="1" checked />
    <label class="custom-checkbox-label" for="email_messages"><span></span> Email me my messages</label>

    <div class="button close-modal js-finish">Finish</div>
</form>
