
[data-v-b98f7724] {
	display: none;
}

pre[data-v-f4a493be] {
	overflow-x: auto;
	padding-inline: 24px;
}

.atom_one_dark.hljs,
.atom_one_dark .hljs {
	color: #abb2bf;
	background: #282c34;
}
.atom_one_dark .hljs-comment,
.atom_one_dark .hljs-quote {
	color: #5c6370;
	font-style: italic;
}
.atom_one_dark .hljs-doctag,
.atom_one_dark .hljs-keyword,
.atom_one_dark .hljs-formula {
	color: #c678dd;
}
.atom_one_dark .hljs-section,
.atom_one_dark .hljs-name,
.atom_one_dark .hljs-selector-tag,
.atom_one_dark .hljs-deletion,
.atom_one_dark .hljs-subst {
	color: #e06c75;
}
.atom_one_dark .hljs-literal {
	color: #56b6c2;
}
.atom_one_dark .hljs-string,
.atom_one_dark .hljs-regexp,
.atom_one_dark .hljs-addition,
.atom_one_dark .hljs-attribute,
.atom_one_dark .hljs-meta .hljs-string {
	color: #98c379;
}
.atom_one_dark .hljs-attr,
.atom_one_dark .hljs-variable,
.atom_one_dark .hljs-template-variable,
.atom_one_dark .hljs-type,
.atom_one_dark .hljs-selector-class,
.atom_one_dark .hljs-selector-attr,
.atom_one_dark .hljs-selector-pseudo,
.atom_one_dark .hljs-number {
	color: #d19a66;
}
.atom_one_dark .hljs-symbol,
.atom_one_dark .hljs-bullet,
.atom_one_dark .hljs-link,
.atom_one_dark .hljs-meta,
.atom_one_dark .hljs-selector-id,
.atom_one_dark .hljs-title {
	color: #61aeee;
}
.atom_one_dark .hljs-built_in,
.atom_one_dark .hljs-title .class_,
.atom_one_dark .hljs-class .hljs-title {
	color: #e6c07b;
}
.atom_one_dark .hljs-emphasis {
	font-style: italic;
}
.atom_one_dark .hljs-strong {
	font-weight: 700;
}
.atom_one_dark .hljs-link {
	text-decoration: underline;
}
.atom_one_light.hljs,
.atom_one_light .hljs {
	color: #383a42;
	background: #edf2f4;
}
.atom_one_light .hljs-comment,
.atom_one_light .hljs-quote {
	color: #a0a1a7;
	font-style: italic;
}
.atom_one_light .hljs-doctag,
.atom_one_light .hljs-keyword,
.atom_one_light .hljs-formula {
	color: #a626a4;
}
.atom_one_light .hljs-section,
.atom_one_light .hljs-name,
.atom_one_light .hljs-selector-tag,
.atom_one_light .hljs-deletion,
.atom_one_light .hljs-subst {
	color: #e45649;
}
.atom_one_light .hljs-literal {
	color: #0184bb;
}
.atom_one_light .hljs-string,
.atom_one_light .hljs-regexp,
.atom_one_light .hljs-addition,
.atom_one_light .hljs-attribute,
.atom_one_light .hljs-meta .hljs-string {
	color: #50a14f;
}
.atom_one_light .hljs-attr,
.atom_one_light .hljs-variable,
.atom_one_light .hljs-template-variable,
.atom_one_light .hljs-type,
.atom_one_light .hljs-selector-class,
.atom_one_light .hljs-selector-attr,
.atom_one_light .hljs-selector-pseudo,
.atom_one_light .hljs-number {
	color: #986801;
}
.atom_one_light .hljs-symbol,
.atom_one_light .hljs-bullet,
.atom_one_light .hljs-link,
.atom_one_light .hljs-meta,
.atom_one_light .hljs-selector-id,
.atom_one_light .hljs-title {
	color: #4078f2;
}
.atom_one_light .hljs-built_in,
.atom_one_light .hljs-title .class_,
.atom_one_light .hljs-class .hljs-title {
	color: #c18401;
}
.atom_one_light .hljs-emphasis {
	font-style: italic;
}
.atom_one_light .hljs-strong {
	font-weight: 700;
}
.atom_one_light .hljs-link {
	text-decoration: underline;
}
