
.button-group-subgroup[data-v-34f76f]{display:inline-flex;flex-wrap:wrap;margin-right:10px
}
.button-group-button[data-v-34f76f]{border:var(--input-border-width) solid var(--action);cursor:pointer;transition:var(--fast) var(--transition);transition-property:border-color,background-color,color;display:flex;align-items:center;justify-content:center;padding:0 20px;height:40px;line-height:40px;white-space:nowrap;color:var(--action-dark)
}
.button-group-button[data-v-34f76f]:hover{background-color:var(--light-blue-50)
}
.button-group-button i[data-v-34f76f]{font-size:18px
}
.button-group-button i+span[data-v-34f76f]{margin-left:4px
}
.button-group-item input[type=radio][data-v-34f76f]{height:0;position:absolute;opacity:0
}
.button-group-item input[type=radio]:focus+.button-group-button[data-v-34f76f]{background-color:var(--light-blue-50)
}
.button-group-item input[type=radio]:checked+.button-group-button[data-v-34f76f]{background-color:var(--accent);color:var(--white)
}
.button-group-item input[type=radio]:disabled+.button-group-button[data-v-34f76f]{border-color:var(--lighter-gray);background-color:var(--lightest-gray);color:var(--gray);cursor:not-allowed
}
.button-group-item input[type=radio]:disabled:checked+.button-group-button[data-v-34f76f]{background-color:var(--lighter-gray);color:var(--gray)
}
.button-group-item+.button-group-item .button-group-button[data-v-34f76f]{margin-left:calc(-1*var(--input-border-width))
}
.button-group-item:first-child .button-group-button[data-v-34f76f]{border-radius:var(--border-radius) 0 0 var(--border-radius)
}
.button-group-item:last-child .button-group-button[data-v-34f76f]{border-radius:0 var(--border-radius) var(--border-radius) 0
}
@media only screen and (max-width:800px){
.button-group-subgroup[data-v-34f76f],.interface-button-group[data-v-34f76f]{display:inline-flex;flex-direction:column
}
.button-group-subgroup[data-v-34f76f]{margin:0
}
.button-group-subgroup+.button-group-subgroup[data-v-34f76f]{margin:10px 0 0
}
.button-group-item+.button-group-item .button-group-button[data-v-34f76f]{margin-left:0;margin-top:calc(-1*var(--input-border-width))
}
.button-group-item:first-child .button-group-button[data-v-34f76f]{border-radius:var(--border-radius) var(--border-radius) 0 0
}
.button-group-item:last-child .button-group-button[data-v-34f76f]{border-radius:0 0 var(--border-radius) var(--border-radius)
}
}
.button-group-solid .button-group-button[data-v-34f76f]{border:none;background-color:var(--dark-gray);color:var(--white)
}
.button-group-solid .button-group-button[data-v-34f76f]:hover{background-color:var(--darker-gray);color:var(--white)
}
.button-group-solid .button-group-item input[type=radio]:focus+.button-group-button[data-v-34f76f]{background-color:var(--darker-gray)
}
.button-group-solid .button-group-item input[type=radio]:checked+.button-group-button[data-v-34f76f]{background-color:var(--accent)
}
.button-group-solid .button-group-item input[type=radio]:disabled+.button-group-button[data-v-34f76f]{background-color:var(--lighter-gray);color:var(--light-gray)
}
.button-group-solid .button-group-item input[type=radio]:disabled:checked+.button-group-button[data-v-34f76f]{background-color:var(--blue-grey-200);color:var(--gray)
}
.button-group-solid .button-group-item+.button-group-item .button-group-button[data-v-34f76f]{margin-left:0
}
@media only screen and (max-width:800px){
.button-group-solid .button-group-item+.button-group-item .button-group-button[data-v-34f76f]{margin-top:0
}
}