<div class="select-container">
	<select name="{{name}}">
		<option value="">None</option>
		{{#columns}}
		<option value="{{name}}"{{#if isSelected}} selected{{/if}}>{{name}}</option>
		{{/columns}}
	</select>
	<i class="material-icons select-arrow">arrow_drop_down</i>
</div>
