<div class="sidebar-title">View Settings</div>
<i class="material-icons close js-close">close</i>

<div class="scroll-y">
	<div class="tiles">
		{{#views}}
		<div id="{{id}}-view" class="tile {{id}}-view{{#if isActive}} active{{/if}}{{#unless isSupported}} disabled{{/unless}}" data-view="{{id}}" title="{{capitalize id}}">
			<i class="material-icons">{{icon}}</i>
		</div>
		{{/views}}
	</div>

	<!-- <h3>{{tVarCapitalize "x_view_options" view=viewId}}</h3> -->
	<div class="options"></div>

	{{#if isTableView}}
	<hr>

	<h3>Columns</h3>
	<ul id="reorder-columns" class="menu reorder-columns">
		{{#columns}}
		<li title="{{capitalize id}}"{{#unless visible}} class="deselected"{{/unless}}>
			<input class="custom-checkbox select-row js-column" id="check-{{id}}" data-name="{{id}}" type="checkbox" value="" {{#if visible}}checked="checked"{{/if}}>
			<label for="check-{{id}}"><span></span> {{capitalize id}}</label>
		</li>
		{{/columns}}
	</ul>

	<hr>

	<h3>System</h3>
	<ul class="menu">
		<li title="Item Numbers">
			<input class="custom-checkbox select-row js-item-numbers" id="check-item-numbers" type="checkbox" value="" {{#if viewOptions.item_numbers}}checked{{/if}}>
			<label for="check-item-numbers"><span></span> Item Numbers</label>
		</li>
		<li title="Last Edited On">
			<input class="custom-checkbox select-row js-last-updated" id="check-last-edited-on" type="checkbox" value="" {{#if viewOptions.last_updated}}checked{{/if}}>
			<label for="check-last-edited-on"><span></span> Last Edited On</label>
		</li>
		<li title="Show Comments">
			<input class="custom-checkbox select-row js-comments-count" id="check-comments-count" type="checkbox" value="" {{#if viewOptions.comments_count}}checked{{/if}}>
			<label for="check-comments-count"><span></span> Show Comments</label>
		</li>
		<li title="Revisions">
			<input class="custom-checkbox select-row js-revisions-count" id="check-10" type="checkbox" value="" {{#if viewOptions.revisions_count}}checked{{/if}}>
			<label for="check-10"><span></span> Revisions</label>
		</li>
		<li title="Show Footer">
			<input class="custom-checkbox select-row js-show-footer" id="check-11" type="checkbox" value="" {{#if viewOptions.show_footer}}checked{{/if}}>
			<label for="check-11" class="footer-open-toggle"><span></span> Show Footer</label>
		</li>
	</ul>
	{{/if}}
</div>
