{{#unless rows}}
{{{include "listingEmpty"}}}
{{/unless}}
{{#if rows}}
<table class="lines cozy clickable fixed-header pad-first">
    <thead>
    <tr>
        {{#columns}}
        <th scope="col">{{{capitalize this}}}</th>
        {{/columns}}
    </tr>
    </thead>
    <tbody>
        {{#rows}}
        <tr data-id="{{id}}">
            {{#each ../columns}}<td>{{uiCapitalize ../model this}}</td>{{/each}}
        </tr>
        {{/rows}}
    </tbody>
</table>
{{/if}}
