
.rating-stars[data-v-2ac7dd]{display:flex
}
.rating-readonly .rating-button[data-v-2ac7dd]{cursor:auto
}
.rating-small .rating-button[data-v-2ac7dd]{width:18px;height:20px
}
.rating-small .rating-button[data-v-2ac7dd]:after{font-size:18px
}
.rating-button[data-v-2ac7dd]{width:36px;height:40px;display:flex;justify-content:center;align-items:center
}
.rating-button[data-v-2ac7dd]:after{font-family:Material Icons;font-size:36px;line-height:1
}
.rating-empty[data-v-2ac7dd]{color:var(--lighter-gray)
}
.rating-empty[data-v-2ac7dd]:after{content:"star_border"
}
.rating-half[data-v-2ac7dd]{color:var(--darker-gray)
}
.rating-half[data-v-2ac7dd]:after{content:"star_half"
}
.rating-full[data-v-2ac7dd]{color:var(--darker-gray)
}
.rating-full[data-v-2ac7dd]:after{content:"star"
}
.rating-numbers[data-v-1f4857],.rating-stars[data-v-1f4857]{display:flex;align-items:center
}
.rating-numbers i.material-icons[data-v-1f4857],.rating-stars i.material-icons[data-v-1f4857]{font-size:18px;line-height:1;margin-right:4px
}