
.rating-stars[data-v-2c6e06]{display:flex
}
.rating-readonly .rating-button[data-v-2c6e06]{cursor:auto
}
.rating-small .rating-button[data-v-2c6e06]{width:18px;height:20px
}
.rating-small .rating-button[data-v-2c6e06]:after{font-size:18px
}
.rating-button[data-v-2c6e06]{width:36px;height:40px;display:flex;justify-content:center;align-items:center
}
.rating-button[data-v-2c6e06]:after{font-family:Material Icons;font-size:36px;line-height:1
}
.rating-empty[data-v-2c6e06]{color:var(--lighter-gray)
}
.rating-empty[data-v-2c6e06]:after{content:"star_border"
}
.rating-half[data-v-2c6e06]{color:var(--darker-gray)
}
.rating-half[data-v-2c6e06]:after{content:"star_half"
}
.rating-full[data-v-2c6e06]{color:var(--darker-gray)
}
.rating-full[data-v-2c6e06]:after{content:"star"
}
.rating-numbers[data-v-b09ce8],.rating-stars[data-v-b09ce8]{display:flex;align-items:center
}
.rating-numbers i.material-icons[data-v-b09ce8],.rating-stars i.material-icons[data-v-b09ce8]{font-size:18px;line-height:1;margin-right:4px
}