
.rating-stars[data-v-2c6e06]{display:flex
}
.rating-readonly .rating-button[data-v-2c6e06]{cursor:auto
}
.rating-small .rating-button[data-v-2c6e06]{width:18px;height:20px
}
.rating-small .rating-button[data-v-2c6e06]:after{font-size:18px
}
.rating-button[data-v-2c6e06]{width:36px;height:40px;display:flex;justify-content:center;align-items:center
}
.rating-button[data-v-2c6e06]:after{font-family:Material Icons;font-size:36px;line-height:1
}
.rating-empty[data-v-2c6e06]{color:var(--lighter-gray)
}
.rating-empty[data-v-2c6e06]:after{content:"star_border"
}
.rating-half[data-v-2c6e06]{color:var(--darker-gray)
}
.rating-half[data-v-2c6e06]:after{content:"star_half"
}
.rating-full[data-v-2c6e06]{color:var(--darker-gray)
}
.rating-full[data-v-2c6e06]:after{content:"star"
}
.rating[data-v-481c4e],.rating-value[data-v-481c4e]{display:flex;align-items:center
}
.rating-value[data-v-481c4e]{margin-left:20px;color:var(--gray)
}
.rating-input[data-v-481c4e]{width:50px;margin-right:10px
}