
.interface-many-to-one[data-v-3e584f]{position:relative;max-width:var(--width-medium)
}
.v-select[data-v-3e584f]{margin-top:0
}
button[data-v-3e584f]{position:absolute;left:0;top:0;width:100%;height:100%;background:transparent;border:var(--input-border-width) solid var(--lighter-gray);border-radius:var(--border-radius);transition:border var(--fast) var(--transition)
}
button[data-v-3e584f]:hover{transition:none;border-color:var(--light-gray)
}
.spinner[data-v-3e584f]{position:absolute;right:-50px;top:50%;transform:translateY(-50%)
}