{% if header %}
  <tr>
    <td
      align="center"
      width="100%"
      style="padding:0;Margin:0">
      <table
        class="es-header-body"
        style="background-color:#122ed2"
        cellspacing="0"
        cellpadding="0"
        align="center">
        <tr>
          <td
            align="left"
            bgcolor="#002C5C"
            style="padding:20px;background-color:#002c5c">
            <table
              cellspacing="0"
              cellpadding="0"
              width="100%"
              role="presentation">
              <tr>
                <td align="center" style="padding:0;Margin:0;width:600px">
                  <table
                    cellspacing="0"
                    cellpadding="0"
                    role="presentation">
                    <tr>
                      <td align="center" style="padding:0;Margin:0;padding-left:16px;padding-right:16px;font-size:0px">
                        <!-- Primeira Imagem com margem à direita de 16px -->
                        <a
                          href="https://www.usabmx.com/"
                          target="_blank"
                          style="text-decoration:underline;color:#1376C8;font-size:14px;margin-right:16px;display:inline-block;">
                          <img
                            src="https://usabmx-admin-staging.sepionet.com/assets/02ce4ba0-725f-4ba9-b628-8b673cbb1654/USA-BMX-White-H40.png"
                            alt="USABMX Logo"
                            style="display:block;border:0;outline:none;text-decoration:none"
                            class="adapt-img"
                            width="200"
                            height="16">
                        </a>
                        <!-- Segunda Imagem sem margem à direita -->
                        <a
                          href="https://www.usabmx.com/"
                          target="_blank"
                          style="text-decoration:underline;color:#1376C8;font-size:14px;display:inline-block;">
                          <img
                            src="https://usabmx-admin-staging.sepionet.com/assets/ac6a4a2f-f8d7-494b-bee6-bc83b3a11900/bmx-canada-White-H40.png"
                            alt="BMX CANADA"
                            style="display:block;border:0;outline:none;text-decoration:none"
                            class="adapt-img"
                            width="200"
                            height="16">
                        </a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
{% endif %}