<form>
{{#if isNew}}
<h1>{{t "new_column_title"}}</h1> <!-- Create New Column -->
{{else}}
<h1><!-- {{t "editing"}}:  --><span class="table-name">{{table_name}}.</span><span class="column-name">{{column_name}}</span></h1> <!-- {{t "edit_column_title"}} -->
{{/if}}
<a href="#" class="toggle-pane js-pane active" data-pane="column">Column Setup</a>
{{#if showOptions}}<a href="#" class="toggle-pane js-pane" data-pane="interface">Interface Options</a>{{/if}}

	{{#unless hideColumnName}}
	<div class="row">
		<div class="column-50">
			<div class="label">
				Name (Database)
				<input class="custom-checkbox js-strict-naming" id="strictNaming" type="checkbox" value="" {{#if isStrictNaming}}checked{{/if}}>
				<label for="strictNaming" class="strict-naming"><span></span> Strict Naming</label>
			</div>
			<div class="validate-input">
				<input type="text" id="columnName" name="column_name" placeholder="" value="{{column_name}}">
				<i{{#unless isValidName}} style="display:none;"{{/unless}} id="columnNameValid" class="material-icons validate-check valid">check</i>
			</div>
		</div><!--
		--><div class="column-50">
			<div class="label">Name (Display)</div>
			<input type="text" id="displayName" name="display_name" placeholder="" value="" disabled>
		</div>
		<!-- <div class="strict">
			<input class="custom-checkbox" id="checkbox" type="checkbox" value="" checked />
			<label for="checkbox"><span></span> Enable strict column naming</label>
		</div> -->
	</div>
	{{/unless}}
	<div class="row">
		<div class="column-33">
			<div class="label">User Interface</div>
			<div class="select-container">
				<select id="uiType" name="ui_type">
					<optgroup label="{{t 'choose_a_input_interface'}}">
						{{#each interfaces}}
						<optgroup label="{{capitalize @key}}">
							{{#each this}}
							<option {{#if selected}}selected{{/if}} value="{{id}}">{{capitalize id}}</option>
							{{/each}}
						</optgroup>
						{{/each}}
					</optgroup>
				</select>
				<i class="material-icons select-arrow">arrow_drop_down</i>
			</div>
		</div>
		{{#if isAlias}}
		<div class="column-66">
			<i class="material-icons">warning</i>
			<div class="bold">This interface creates an ALIAS, not an actual column</div>
			The alias allows you to interact with the relational data
		</div>
		{{/if}}
	</div>
	<div class="row">
		<div class="column-33">
			<div class="label">Datatype</div>
			<div class="select-container">
				<select id="dataType" name="data_type">
					{{#data_types}}
					<option {{#if selected}}selected{{/if}}>{{#if value}}{{value}}{{else}}{{title}}{{/if}}</option>
					{{/data_types}}
				</select>
				<i class="material-icons select-arrow">arrow_drop_down</i>
			</div>
		</div>
		{{#if SHOW_LENGTH}}
		<div class="column-33">
			<div class="label">Length</div>
			<input type="text" id="length" name="length" placeholder="NULL" value="{{length}}">
		</div>
		{{/if}}
		{{#if showDefaultValue}}
		<div class="column-33">
			<div class="label">Default</div>
			<input type="text" id="defaultValue" name="default_value" placeholder="NULL" value="{{default_value}}">
		</div>
		{{/if}}
		<div class="comment">
			<div class="label">Comment</div>
			<div class="validate-input"><input type="text" id="comment" name="comment" placeholder="Add a helpful note for users..." value="{{comment}}"></div>
		</div>
	</div>
	{{#if isRelational}}
	<div class="row">
		<h5 id="relationship">Relationship Setup: {{capitalize selectedRelationshipType}}</h5>
		<div>
			<div class="column-33 set-height">
				<div class="label">This Table</div>
				<div class="select-container">
					<select name="user-group" disabled>
						<!--<option value="value">Blog</option>
						<option value="value">Column</option>-->
						<option>{{table_name}}</option>
					</select>
					<i class="material-icons select-arrow">arrow_drop_down</i>
				</div>
			</div>
			{{#if MANYTOMANY}}
			<div class="column-33 set-height">
				<div class="label">Junction Table</div>
				<div class="select-container">
					<select id="tableJunction" name="table_junction">
						{{#junctionTables}}
						<option {{#if selected}}selected{{/if}}>{{this.id}}</option>
						{{/junctionTables}}
					</select>
					<i class="material-icons select-arrow">arrow_drop_down</i>
				</div>
			</div>
			{{/if}}
			<div class="column-33 set-height">
				<div class="label">Related Table</div>
				<div class="select-container">
					<select name="related_table" id="relatedTable"{{#if disabledTableRelated}} disabled{{/if}}>
						{{#tables}}
						<option {{#if selected}}selected{{/if}}>{{this.id}}</option>
						{{/tables}}
					</select>
					<i class="material-icons select-arrow">arrow_drop_down</i>
				</div>
			</div>
		</div>

		<div>
			<div class="column-33 set-height">
				{{#if MANYTOMANY}}
				<i class="material-icons relational-arrow-left">arrow_forward</i>
				{{/if}}
				<div class="select-container">
					<select {{#if MANYTOONE}}id="junctionKeyRight" name="junction_key_right"{{/if}}{{#if disabledJunctionKeyRight}} disabled{{/if}}>
					{{#columns_right}}
						<option {{#if selected}}selected{{/if}}>{{column_name}}</option>
					{{/columns_right}}
					</select>
					<i class="material-icons select-arrow">arrow_drop_down</i>
				</div>
			</div>
			{{#if MANYTOMANY}}
			<div class="column-33 set-height">
				<div class="select-container">
					<select id="junctionKeyLeft" name="junction_key_left">
						{{#junction_columns_left}}
						<option {{#if selected}}selected{{/if}}>{{column_name}}</option>
						{{/junction_columns_left}}
					</select>
					<i class="material-icons select-arrow">arrow_drop_down</i>
				</div>
			</div>
			{{/if}}
			{{#unless MANYTOMANY}}
			<div class="column-33 set-height">
				<i class="material-icons relational-arrow-right" title="Shows where the key is stored">arrow_{{#if ONETOMANY}}forward{{else}}back{{/if}}</i>
				<div class="select-container">
					<select {{#if ONETOMANY}}id="junctionKeyRight" name="junction_key_right"{{/if}}>
					{{#columns_left}}
					<option {{#if selected}}selected{{/if}} value={{column_name}}>{{column_name}}</option>
					{{/columns_left}}
					</select>
					<i class="material-icons select-arrow">arrow_drop_down</i>
				</div>
			</div>
			{{/unless}}
		</div>

		<div>
			<div class="column-33 set-height">
				<div class="select-container hidden">
					<select name="user-group">
						<option value="value">Column</option>
						<option value="value">Column</option>
					</select>
					<i class="material-icons select-arrow">arrow_drop_down</i>
				</div>
			</div>
			{{#if MANYTOMANY}}
			<div class="column-33 set-height">
				<div class="select-container">
					<select id="junctionKeyRight" name="junction_key_right">
						{{#junction_columns_right}}
						<option {{#if selected}}selected{{/if}}>{{column_name}}</option>
						{{/junction_columns_right}}
					</select>
					<i class="material-icons select-arrow">arrow_drop_down</i>
				</div>
			</div>
			<div class="column-33 set-height">
				<i class="material-icons relational-arrow-right">arrow_back</i>
				<div class="select-container">
					<select {{#if ONETOMANY}}id="junctionKeyRight" name="junction_key_right"{{/if}}>
						{{#columns_left}}
						<option {{#if selected}}selected{{/if}} value={{column_name}}>{{column_name}}</option>
						{{/columns_left}}
					</select>
					<i class="material-icons select-arrow">arrow_drop_down</i>
				</div>
			</div>
			{{/if}}
		</div>

	</div>
	</div>
	{{/if}}
	<div class="actions">
		<div class="cancel js-cancel">Cancel</div>
		<div class="button js-save">Save</div>
	</div>
</form>
