{{#if isNew}}
{{!- Soon --}}
<h1>Interface Options</h1>
{{else}}
<h1><span class="table-name">{{table_name}}.</span><span class="column-name">{{column_name}}</span></h1>
{{/if}}
<a href="#" class="toggle-pane js-pane" data-pane="column">Column Setup</a>
<a href="#" class="toggle-pane js-pane active" data-pane="interface">Interface Options</a>

<div id="form-columns-options" class="row"></div>

<div class="actions">
	<div class="cancel js-cancel">Cancel</div>
	<div class="button js-save">Save</div>
</div>
