:root{
  --border-normal: #d3dae4;
  --border-subdued: #f0f4f9;

  --background-page: #ffffff;
  --background-normal: #f0f4f9;
  --background-normal-alt: #e4eaf1;
  --background-highlight: #f7f9fd;
  --background-subdued: #f7fafc;

  --foreground-normal: #4f5464;
  --foreground-normal-alt: #172940;
  --foreground-subdued: #a2b5cd;
  --foreground-inverted: #fff;

  --primary-light: #ddddff;
  --primary: #6644ff;
  --primary-dark: #4422dd;

  --secondary-light: #ffeeff;
  --secondary: #ff99dd;
  --secondary-dark: #ff77bb;

  --success-light: #e6faf5;
  --success: #00c897;
  --success-dark: #0ca582;

  --warning-light: #fff7e6;
  --warning: #ffb300;
  --warning-dark: #cb9511;

  --danger-light: #fceef0;
  --danger: #e35169;
  --danger-dark: #b64c60;

}

#nprogress .bar {
  background: white !important;
}

@media (prefers-color-scheme: dark)
  :root {
    --border-normal: #30363d;
    --border-subdued: #21262d;

    --background-page: #0d1117;
    --background-normal: #21262e;
    --background-normal-alt: #30363d;
    --background-highlight: #161b22;
    --background-subdued: #161b22;

    --foreground-normal: #c9d1d9;
    --foreground-normal-alt: #f0f6fc;
    --foreground-subdued: #666672;
    --foreground-inverted: #0d1117;

    --primary-light: #262245;
    --primary: #8866ff;
    --primary-dark: #8E6DFF;

    --secondary-light: #ddddff;
    --secondary: #6644ff;
    --secondary-dark: #7760ff;

    --success-light: #294a4b;
    --success: #00c897;
    --success-dark: #40d6b1;

    --warning-light: #252115;
    --warning: #ffb300;
    --warning-dark: #ffc640;

    --danger-light: #381E27;
    --danger: #e35169;
    --danger-dark: #ea7d8f;
  }

  #nprogress .bar {
    background: var(--primary) !important;
  }
