:root {
  --border-normal: #d3dae4;
  --border-normal-alt: #a2b5cd;
  --border-subdued: #f0f4f9;
  --foreground-normal: #4f5464;
  --foreground-normal-alt: #172940;
  --foreground-subdued: #a2b5cd;
  --foreground-inverted: #fff;
  --background-normal: #f0f4f9;
  --background-normal-alt: #e4eaf1;
  --background-subdued: #f7fafc;
  --background-highlight: #f7f9fd;
  --background-page: #ffffff;
  --background-input: #ffffff;
  --background-page-rgb: 255, 255, 255;
  --background-inverted: #263238;
  --card-face-color: #fafcfd;
  --card-shadow-color: 23, 41, 64;
  --card-shadow: 0px 0px 6px 0px @css{ rgba(var(--card-shadow-color), .2) };
  --overlay-color: rgba(38, 50, 56, .9);
  --purple-10: #f5f4fc;
  --purple-25: #e7e3f8;
  --purple-50: #cfc6f2;
  --purple-75: #b6aaeb;
  --purple-90: #a898e7;
  --purple: #9e8de4;
  --purple-110: #9385d4;
  --purple-125: #8279bc;
  --purple-150: #666594;
  --purple-175: #4a506b;
  --purple-190: #394453;
  --blue-10: #f0f7fe;
  --blue-25: #d9ebfc;
  --blue-50: #b4d8fa;
  --blue-75: #8ec4f7;
  --blue-90: #77b8f5;
  --blue: #68b0f4;
  --blue-110: #62a4e2;
  --blue-125: #5a93c8;
  --blue-150: #4b769c;
  --blue-175: #3d596f;
  --blue-190: #344855;
  --green-10: #e6faf5;
  --green-25: #bff1e5;
  --green-50: #80e4cb;
  --green-75: #40d6b1;
  --green-90: #1acea1;
  --green: #00c897;
  --green-110: #05ba8f;
  --green-125: #0ca582;
  --green-150: #17826d;
  --green-175: #235f58;
  --green-190: #294a4b;
  --yellow-10: #fff7e6;
  --yellow-25: #ffecbf;
  --yellow-50: #ffd980;
  --yellow-75: #ffc640;
  --yellow-90: #ffbb1a;
  --yellow: #ffb300;
  --yellow-110: #eaa707;
  --yellow-125: #cb9511;
  --yellow-150: #977822;
  --yellow-175: #625a32;
  --yellow-190: #43483c;
  --orange-10: #fdf5ed;
  --orange-25: #fbe5d1;
  --orange-50: #f7cba3;
  --orange-75: #f2b174;
  --orange-90: #f0a159;
  --orange: #ee9746;
  --orange-110: #db8e46;
  --orange-125: #be8045;
  --orange-150: #8e6a45;
  --orange-175: #5e5344;
  --orange-190: #414543;
  --red-10: #fceef0;
  --red-25: #f8d4da;
  --red-50: #f1a8b4;
  --red-75: #ea7d8f;
  --red-90: #e66278;
  --red: #e35169;
  --red-110: #d14f65;
  --red-125: #b64c60;
  --red-150: #894756;
  --red-175: #5b414d;
  --red-190: #403e47;
  --primary-10: #e6faf5;
  --primary-25: #bff1e5;
  --primary-50: #80e4cb;
  --primary-75: #40d6b1;
  --primary-90: #1acea1;
  --primary: #00c897;
  --primary-110: #05ba8f;
  --primary-125: #0ca582;
  --primary-150: #17826d;
  --primary-175: #235f58;
  --primary-190: #294a4b;
  --secondary-10: #f0f7fe;
  --secondary-25: #d9ebfc;
  --secondary-50: #b4d8fa;
  --secondary-75: #8ec4f7;
  --secondary-90: #77b8f5;
  --secondary: #68b0f4;
  --secondary-110: #62a4e2;
  --secondary-125: #5a93c8;
  --secondary-150: #4b769c;
  --secondary-175: #3d596f;
  --secondary-190: #344855;
  --success-10: #e6faf5;
  --success-25: #bff1e5;
  --success-50: #80e4cb;
  --success-75: #40d6b1;
  --success-90: #1acea1;
  --success: #00c897;
  --success-110: #05ba8f;
  --success-125: #0ca582;
  --success-150: #17826d;
  --success-175: #235f58;
  --success-190: #294a4b;
  --warning-10: #fff7e6;
  --warning-25: #ffecbf;
  --warning-50: #ffd980;
  --warning-75: #ffc640;
  --warning-90: #ffbb1a;
  --warning: #ffb300;
  --warning-110: #eaa707;
  --warning-125: #cb9511;
  --warning-150: #977822;
  --warning-175: #625a32;
  --warning-190: #43483c;
  --danger-10: #fceef0;
  --danger-25: #f8d4da;
  --danger-50: #f1a8b4;
  --danger-75: #ea7d8f;
  --danger-90: #e66278;
  --danger: #e35169;
  --danger-110: #d14f65;
  --danger-125: #b64c60;
  --danger-150: #894756;
  --danger-175: #5b414d;
  --danger-190: #403e47;
  --purple-alt: var(--purple-10);
  --blue-alt: var(--blue-10);
  --green-alt: var(--green-10);
  --yellow-alt: var(--yellow-10);
  --orange-alt: var(--orange-10);
  --red-alt: var(--red-10);
  --primary-alt: var(--green-10);
  --secondary-alt: var(--blue-10);
  --success-alt: var(--green-10);
  --warning-alt: var(--yellow-10);
  --danger-alt: var(--red-10);
}

@media (prefers-color-scheme: dark)
  :root {
    --border-normal: #455a64;
    --border-normal-alt: #78909c;
    --border-subdued: #2e3f47;
    --foreground-normal: #b3c4cc;
    --foreground-normal-alt: #cfd8dc;
    --foreground-subdued: #697a83;
    --foreground-inverted: #263238;
    --background-normal: #2e3c43;
    --background-normal-alt: #3a4b53;
    --background-subdued: #2d3a41;
    --background-highlight: #2d3a41;
    --background-page: #263238;
    --background-input: #263238;
    --background-page-rgb: 38, 50, 56;
    --background-inverted: #fff;
    --card-face-color: #36454d;
    --card-shadow-color: 0, 0, 0;
    --card-shadow: 0px 0px 6px 0px @css{ rgba(var(--card-shadow-color), .2) };
    --overlay-color: rgba(19, 24, 26, .9);
    --purple-10: #394453;
    --purple-25: #4a506b;
    --purple-50: #666594;
    --purple-75: #8279bc;
    --purple-90: #9385d4;
    --purple: #9e8de4;
    --purple-110: #a898e7;
    --purple-125: #b6aaeb;
    --purple-150: #cfc6f2;
    --purple-175: #e7e3f8;
    --purple-190: #f5f4fc;
    --blue-10: #344855;
    --blue-25: #3d596f;
    --blue-50: #4b769c;
    --blue-75: #5a93c8;
    --blue-90: #62a4e2;
    --blue: #68b0f4;
    --blue-110: #77b8f5;
    --blue-125: #8ec4f7;
    --blue-150: #b4d8fa;
    --blue-175: #d9ebfc;
    --blue-190: #f0f7fe;
    --green-10: #294a4b;
    --green-25: #235f58;
    --green-50: #17826d;
    --green-75: #0ca582;
    --green-90: #05ba8f;
    --green: #00c897;
    --green-110: #1acea1;
    --green-125: #40d6b1;
    --green-150: #80e4cb;
    --green-175: #bff1e5;
    --green-190: #e6faf5;
    --yellow-10: #43483c;
    --yellow-25: #625a32;
    --yellow-50: #977822;
    --yellow-75: #cb9511;
    --yellow-90: #eaa707;
    --yellow: #ffb300;
    --yellow-110: #ffbb1a;
    --yellow-125: #ffc640;
    --yellow-150: #ffd980;
    --yellow-175: #ffecbf;
    --yellow-190: #fff7e6;
    --orange-10: #414543;
    --orange-25: #5e5344;
    --orange-50: #8e6a45;
    --orange-75: #be8045;
    --orange-90: #db8e46;
    --orange: #ee9746;
    --orange-110: #f0a159;
    --orange-125: #f2b174;
    --orange-150: #f7cba3;
    --orange-175: #fbe5d1;
    --orange-190: #fdf5ed;
    --red-10: #403e47;
    --red-25: #5b414d;
    --red-50: #894756;
    --red-75: #b64c60;
    --red-90: #d14f65;
    --red: #e35169;
    --red-110: #e66278;
    --red-125: #ea7d8f;
    --red-150: #f1a8b4;
    --red-175: #f8d4da;
    --red-190: #fceef0;
    --primary-10: #294a4b;
    --primary-25: #235f58;
    --primary-50: #17826d;
    --primary-75: #0ca582;
    --primary-90: #05ba8f;
    --primary: #00c897;
    --primary-110: #1acea1;
    --primary-125: #40d6b1;
    --primary-150: #80e4cb;
    --primary-175: #bff1e5;
    --primary-190: #e6faf5;
    --secondary-10: #344855;
    --secondary-25: #3d596f;
    --secondary-50: #4b769c;
    --secondary-75: #5a93c8;
    --secondary-90: #62a4e2;
    --secondary: #68b0f4;
    --secondary-110: #77b8f5;
    --secondary-125: #8ec4f7;
    --secondary-150: #b4d8fa;
    --secondary-175: #d9ebfc;
    --secondary-190: #f0f7fe;
    --success-10: #294a4b;
    --success-25: #235f58;
    --success-50: #17826d;
    --success-75: #0ca582;
    --success-90: #05ba8f;
    --success: #00c897;
    --success-110: #1acea1;
    --success-125: #40d6b1;
    --success-150: #80e4cb;
    --success-175: #bff1e5;
    --success-190: #e6faf5;
    --warning-10: #43483c;
    --warning-25: #625a32;
    --warning-50: #977822;
    --warning-75: #cb9511;
    --warning-90: #eaa707;
    --warning: #ffb300;
    --warning-110: #ffbb1a;
    --warning-125: #ffc640;
    --warning-150: #ffd980;
    --warning-175: #ffecbf;
    --warning-190: #fff7e6;
    --danger-10: #403e47;
    --danger-25: #5b414d;
    --danger-50: #894756;
    --danger-75: #b64c60;
    --danger-90: #d14f65;
    --danger: #e35169;
    --danger-110: #e66278;
    --danger-125: #ea7d8f;
    --danger-150: #f1a8b4;
    --danger-175: #f8d4da;
    --danger-190: #fceef0;
    --purple-alt: var(--purple-10);
    --blue-alt: var(--blue-10);
    --green-alt: var(--green-10);
    --yellow-alt: var(--yellow-10);
    --orange-alt: var(--orange-10);
    --red-alt: var(--red-10);
    --primary-alt: var(--green-10);
    --secondary-alt: var(--blue-10);
    --success-alt: var(--green-10);
    --warning-alt: var(--yellow-10);
    --danger-alt: var(--red-10);
  }
