<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access 1 year"
</IfModule>

<FilesMatch "\.(php|phps|php5|phtml|htm|shtml|xhtml|cgi.+)$">
    order allow,deny
    deny from all
</FilesMatch>

# Respond with 404 if the file doesn't exists
# Before the API mod_rewrite catches the request
<IfModule mod_rewrite.c>
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule .* - [L,R=404]
</IfModule>
