// Sans Serif

@font-face {
	font-weight: 400;
	font-family: 'Inter';
	font-style: normal;
	src: url('/fonts/Inter-Regular.woff2') format('woff2'),
		url('/fonts/Inter-Regular.woff') format('woff');
	font-display: block;
}

@font-face {
	font-weight: 500;
	font-family: 'Inter';
	font-style: normal;
	src: url('/fonts/Inter-Medium.woff2') format('woff2'),
		url('/fonts/Inter-Medium.woff') format('woff');
	font-display: block;
}

@font-face {
	font-weight: 500;
	font-family: 'Inter';
	font-style: italic;
	src: url('/fonts/Inter-MediumItalic.woff2') format('woff2'),
		url('/fonts/Inter-MediumItalic.woff') format('woff');
	font-display: block;
}

@font-face {
	font-weight: 600;
	font-family: 'Inter';
	font-style: normal;
	src: url('/fonts/Inter-SemiBold.woff2') format('woff2'),
		url('/fonts/Inter-SemiBold.woff') format('woff');
	font-display: block;
}

@font-face {
	font-weight: 700;
	font-family: 'Inter';
	font-style: normal;
	src: url('/fonts/Inter-Bold.woff2') format('woff2'), url('/fonts/Inter-Bold.woff') format('woff');
	font-display: block;
}

@font-face {
	font-weight: 800;
	font-family: 'Inter';
	font-style: normal;
	src: url('/fonts/Inter-Black.woff2') format('woff2'), url('/fonts/Inter-Black.woff') format('woff');
	font-display: block;
}

// Monospace

@font-face {
	font-weight: 500;
	font-family: 'Fira Mono';
	font-style: normal;
	src: url('/fonts/FiraMono-Medium.woff2') format('woff2'),
		url('/fonts/FiraMono-Medium.woff') format('woff');
}

// Serif

@font-face {
	font-weight: 400;
	font-family: 'Merriweather';
	font-style: normal;
	src: url('/fonts/merriweather-regular.woff2') format('woff2'),
		url('/fonts/merriweather-regular.woff') format('woff');
	font-display: block;
}

@font-face {
	font-weight: 400;
	font-family: 'Merriweather';
	font-style: italic;
	src: url('/fonts/merriweather-italic.woff2') format('woff2'),
		url('/fonts/merriweather-italic.woff') format('woff');
	font-display: block;
}

@font-face {
	font-weight: 600;
	font-family: 'Merriweather';
	font-style: normal;
	src: url('/fonts/merriweather-bold.woff2') format('woff2'),
		url('/fonts/merriweather-bold.woff') format('woff');
	font-display: block;
}

@font-face {
	font-weight: 300;
	font-family: 'Merriweather';
	font-style: normal;
	src: url('/fonts/merriweather-light.woff2') format('woff2'),
		url('/fonts/merriweather-light.woff') format('woff');
	font-display: block;
}

@font-face {
	font-weight: 400;
	font-family: 'Material Icons';
	font-style: normal;
	src: url('/fonts/material-icons.woff2') format('woff2');
	font-display: block;
}

@font-face {
	font-weight: 400;
	font-family: 'Material Icons Outline';
	font-style: normal;
	src: url('/fonts/material-icons-outline.woff2') format('woff2');
	font-display: block;
}
