// Roboto

@font-face {
	font-weight: 300;
	font-family: 'Roboto';
	font-style: normal;
	src:
		url('../assets/fonts/roboto-light.woff2') format('woff2'),
		url('../assets/fonts/roboto-light.woff') format('woff');
	font-display: block;
}

@font-face {
	font-weight: 400;
	font-family: 'Roboto';
	font-style: normal;
	src:
		url('../assets/fonts/roboto-regular.woff2') format('woff2'),
		url('../assets/fonts/roboto-regular.woff') format('woff');
	font-display: block;
}

@font-face {
	font-weight: 500;
	font-family: 'Roboto';
	font-style: normal;
	src:
		url('../assets/fonts/roboto-medium.woff2') format('woff2'),
		url('../assets/fonts/roboto-medium.woff') format('woff');
	font-display: block;
}

// Roboto Mono

@font-face {
	font-weight: 400;
	font-family: 'Roboto Mono';
	font-style: normal;
	src:
		url('../assets/fonts/robotomono-regular.woff2') format('woff2'),
		url('../assets/fonts/robotomono-regular.woff') format('woff');
	font-display: block;
}

// Merriweather

@font-face {
	font-weight: 400;
	font-family: 'Merriweather';
	font-style: normal;
	src:
		url('../assets/fonts/merriweather-regular.woff2') format('woff2'),
		url('../assets/fonts/merriweather-regular.woff') format('woff');
	font-display: block;
}

@font-face {
	font-weight: 400;
	font-family: 'Merriweather';
	font-style: italic;
	src:
		url('../assets/fonts/merriweather-italic.woff2') format('woff2'),
		url('../assets/fonts/merriweather-italic.woff') format('woff');
	font-display: block;
}

@font-face {
	font-weight: 600;
	font-family: 'Merriweather';
	font-style: normal;
	src:
		url('../assets/fonts/merriweather-bold.woff2') format('woff2'),
		url('../assets/fonts/merriweather-bold.woff') format('woff');
	font-display: block;
}

@font-face {
	font-weight: 300;
	font-family: 'Merriweather';
	font-style: normal;
	src:
		url('../assets/fonts/merriweather-light.woff2') format('woff2'),
		url('../assets/fonts/merriweather-light.woff') format('woff');
	font-display: block;
}

// Material Icons

@font-face {
	font-weight: 400;
	font-family: 'Material Icons';
	font-style: normal;
	src: url('../assets/fonts/material-icons.woff2') format('woff2');
	font-display: block;
}

@font-face {
	font-weight: 400;
	font-family: 'Material Icons Outline';
	font-style: normal;
	src: url('../assets/fonts/material-icons-outline.woff2') format('woff2');
	font-display: block;
}
