/* stylelint-disable custom-property-empty-line-before */
:root {
	--transition: cubic-bezier(0.4, 0, 0.2, 1);
	--transition-in: cubic-bezier(0, 0, 0.2, 1);
	--transition-out: cubic-bezier(0.4, 0, 1, 1);
	--fast: 125ms;
	--medium: 200ms;
	--slow: 300ms;
}
