# Comment this line if you are getting: "Option SymLinksIfOwnerMatch not allowed here" error
# in Apache
Options +SymLinksIfOwnerMatch

php_value upload_max_filesize 50M
php_value post_max_size 100M

<ifModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Map all admin endpoints to the admin app (except static files)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^admin/(.*)   admin/index.html [NC,L]

    # Map all other requests to invoke the API router (except static files)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule !^admin index.php?%{QUERY_STRING} [L]
</ifModule>
