// sass --watch compile.scss:../css/directus.css

@import 'vendor/_normalize.scss';

@import 'directus/_vars.scss';

@import 'directus/_custom.scss';

@import 'directus/_mixins.scss';
@import 'directus/_glyph-fonts.scss';
@import 'directus/_grid.scss';
@import 'directus/_animations.scss';
@import 'directus/_tags.scss';
@import 'directus/_globals.scss';
@import 'directus/_buttons.scss';
@import 'directus/_forms.scss';
@import 'directus/_tables.scss';
@import 'directus/_cards.scss';
@import 'directus/_lists.scss';
@import 'directus/_alerts.scss';
@import 'directus/_tool-tips.scss';
@import 'directus/_sidebar.scss';
@import 'directus/_header.scss';

@import 'directus/_responsive.scss';

@import 'directus/pages/_login.scss';
@import 'directus/pages/_messages.scss';