<div class="modal-bg">
    <div class="asset">
        {{#if html}}
        {{html}}
        {{else}}
        <img src="{{url}}">
        {{/if}}
    </div>
    <div class="info">
        <h1 class="title">{{title}}</h1>
        <h6 class="" title="{{fullDateTime date_uploaded}}">{{contextualDate date_uploaded}} by {{userFirstAndLastName user}}</h6>
        <h6 class="">{{readableBytesSize size}} | {{type}} {{#if width}}| {{width}}×{{height}}{{/if}}</h6>
    </div>
    <a href="{{rootUrl}}files/{{id}}">
        <div class="button edit"><i class="material-icons">edit</i></div>
    </a>
</div>
