<div class="modal-bg">
	<div class="asset">
		{{#if html}}
		{{html}}
		{{else}}
		<div class="image-preview" style="background-image:url('{{url}}');max-width:{{width}}px;max-height:{{height}}px;"></div>
		{{/if}}
	</div>
	<div class="info">
		<h1 class="title">{{title}}</h1>
		<h6 class="" title="{{fullDateTime date_uploaded}}">{{contextualDate date_uploaded}} by {{userFirstAndLastName user}}</h6>
		<h6 class="">{{readableBytesSize size}} – {{type}}{{#if width}} – {{number width}}×{{number height}}{{/if}}</h6>
	</div>
	<a href="{{url}}" target="_blank">
		<div class="button view"><i class="material-icons">visibility</i></div>
	</a>
	<a href="{{rootUrl}}files/{{id}}">
		<div class="button edit"><i class="material-icons">edit</i></div>
	</a>
</div>
