<div class="modal-bg crop">
	<h1>Invite New User</h1>
	<h5>Each will be sent a welcome email with registration info</h5>
	<div class="form"></div>
	<div class="actions">
		<button id="save" type="button" class="button close-modal">{{t "invite"}}</button>
		<button id="cancel" type="button" class="cancel close-modal js-close-modal">{{t "cancel"}}</button>
	</div>
</div>
