<div class="modal-bg">
    <!-- <h1>Optional Title</h1> -->
    <h5>{{message}}</h5>
    {{#if isPrompt}}
    {{#if showInput}}<input type="text">{{/if}}
    <div class="actions">
        <button id="save" type="button" class="button close-modal">{{t "ok"}}</button>
        <button id="cancel" type="button" class="cancel close-modal">{{t "cancel"}}</button>
    </div>
    {{/if}}
    {{#if isYesNoCancelConfirm}}
    <div class="directus-alert-modal-buttons">
        <button id="yesBtn" type="button" class="primary">{{t "yes"}}</button>
        <button id="noBtn" type="button">{{t "no"}}</button>
        <button id="cancel" type="button">{{t "cancel"}}</button>
    </div>
    {{/if}}
    {{#if isYesNoConfirm}}
    <div class="directus-alert-modal-buttons">
        <button id="yesBtn" type="button" class="primary">{{t "yes"}}</button>
        <button id="noBtn" type="button">{{t "no"}}</button>
    </div>
    {{/if}}
    {{#if isAlert}}
    <div class="directus-alert-modal-buttons">
        <button id="okBtn" type="button" class="primary">{{t "ok"}}</button>
    </div>
    {{/if}}
    <!-- @NOTE: Going to be removed
    <div class="actions">
        <div class="cancel close-modal">Cancel</div>
        <a href="{{rootUrl}}"><div class="button close-modal">OK</div></a>
    </div>
    -->
</div>
