<div class="modal-bg">
	<h1>{{t "create_table"}}</h1>
	<form class="fields">
		<div class="field">
			<div class="interface">
				<div class="interface-field required">
					<input id="table_name" type="text" placeholder="{{t 'table_name'}}" value="" name="name" class="large" autofocus>
				</div>
				<div class="interface-field">
					<div class="checkbox-container">
						<input class="custom-checkbox js-strict-naming" id="strictNaming" type="checkbox" value="" checked>
						<label for="strictNaming" class="strict-naming"><span></span> Strict Naming</label>
					</div>
					<div class="checkbox-container">
						<input class="custom-checkbox" type="checkbox" id="check_status" value="status" name="columns" checked="checked">
						<label for="check_status"><span></span> {{t "include"}} {{t "status"}}</label>
					</div>
					<div class="checkbox-container">
						<input class="custom-checkbox" type="checkbox" id="check_sort" value="sort" name="columns" checked="checked">
						<label for="check_sort"><span></span> {{t "include"}} {{t "sort"}}</label>
					</div>
				</div>
			</div>
		</div>
		<div class="actions">
			<button id="save" type="button" class="button js-save">{{t "ok"}}</button>
			<button id="cancel" type="button" class="cancel js-cancel">{{t "cancel"}}</button>
		</div>
	</form>
</div>
