<div class="modal-bg">
	<div class="header-circle">
		<img class="avatar" src="{{userAvatarUrl id}}">
	</div>
	<h1>{{userFirstAndLastName id}}</h1>
	{{#if id}}
		<h5>{{position}}</h5>
		{{#if online}}
		<div class="online">Online</div>
		{{/if}}
		<div class="row">
			<div class="label">Group</div>
			{{#if group.name}}{{group.name}}{{else}}{{t "unknown"}}{{/if}}
			<i class="material-icons">group</i>
		</div>
		<div class="row">
			<div class="label">Last Seen</div>
			<span title="{{#if last_access}}{{fullDateTime last_access}}{{/if}}">{{#if online}}Online Now{{else}}{{lastSeen}}{{/if}}</span>
			<i class="material-icons">beenhere</i>
		</div>
		{{#if location}}
		<div class="row">
			<div class="label">Location</div>
			{{location}}
			<i class="material-icons">place</i>
		</div>
		{{/if}}
		{{#if phone}}
		<div class="row">
			<div class="label">Phone</div>
			<a href="tel:{{phone}}" target="_blank">{{phone}}</a>
			<i class="material-icons">local_phone</i>
		</div>
		{{/if}}
		<div class="row">
			<div class="label">Email</div>
			<a href="mailto:{{email}}" target="_blank">{{email}}</a>
			<i class="material-icons">email</i>
		</div>
		<div class="row">
			<div class="label">Timezone</div>
			{{#if validTimeDiff}}
			{{timezone}}<br>
			<span class="light">
				(
				{{#if timeDiff}}
				{{t "x_hours_from_you" hours=timeDiff}}
				{{else}}
				{{t "same_time_as_you"}}
				{{/if}}
				)
			</span>
			{{else}}
			<span class="light">{{t "unknown"}}</span>
			{{/if}}
			<i class="material-icons">access_time</i>
		</div>
		{{#if canEditUser}}
		<div class="button js-edit-user" data-id="{{id}}">Edit User</div>
		{{/if}}
	{{else}}
		<div class="row info">
			Perhaps this user was removed from the database or the associated action was performed outside of the CMS.
		</div>
	{{/if}}
</div>
