<div class="modal invite">
	<div class="modal-bg crop">
		<h1>Invite New Users</h1>
		<h5>Each will be sent a welcome email with registration info</h5>
		<div class="row">
			<div class="label">Email Addresses</div>
			<textarea name="emails" placeholder="Enter email addresses separated commas..."></textarea>
		</div>
		<div class="row">
			<div class="label">Assign to User Group</div>
			<div class="select-container">
				<select name="user-group">
					<option value="value">Administrator</option>
					<option value="value">Administrator</option>
					<option value="value" selected="selected">Administrator</option>
					<option value="value">Administrator</option>
					<option value="value">Administrator</option>
					<option value="value">Administrator</option>
					<option value="value">Administrator</option>
				</select>
				<i class="material-icons select-arrow">arrow_drop_down</i>
			</div>
		</div>
		<div class="actions">
			<div class="cancel close-modal">Cancel</div>
			<div class="button close-modal">Invite</div>
		</div>
	</div>
</div>