<div class="modal column">
	<div class="modal-bg crop">
		<h1>Create New Column</h1> <!-- Editing Column -->
		<div class="row">
			<div class="column-50">
				<div class="label">
					Name (Database)
					<input class="custom-checkbox" id="checkbox_strict" type="checkbox" value="" checked /><label for="checkbox_strict" class="strict-naming"><span></span> Strict Naming</label>
				</div>
				<div class="validate-input"><input type="text" name="display_name" placeholder="" value="hero_slideshow"><i class="material-icons validate-check valid">check</i></div>
			</div><!--
			--><div class="column-50">
				<div class="label">Name (Display)</div>
				<input type="text" name="database_name" placeholder="" value="Hero Slideshow" disabled>
			</div>
			<!-- <div class="strict">
				<input class="custom-checkbox" id="checkbox" type="checkbox" value="" checked />
				<label for="checkbox"><span></span> Enable strict column naming</label>
			</div> -->
			<div class="comment">
				<div class="label">Comment</div>
				<div class="validate-input"><input type="text" name="database_name" placeholder="Add a helpful note for users..." value=""></div>
			</div>
		</div>
		<div class="row">
			<div class="column-33">
				<div class="label">User Interface</div>
				<div class="select-container">
					<select name="user-group">
						<option value="value">Multiple Files</option>
						<option value="value">Many-to-Many</option>
					</select>
					<i class="material-icons select-arrow">arrow_drop_down</i>
				</div>
			</div><!--
			--><div class="column-66">
				<i class="material-icons">warning</i>
				<div class="bold">This UI creates an ALIAS, not an actual column</div>
				The alias allows you to interact with the relational data
			</div>
		</div>
		<div class="row"><!--
			--><div class="column-33">
				<div class="label">Datatype</div>
				<div class="select-container">
					<select name="user-group">
						<option value="value">Alias</option>
					</select>
					<i class="material-icons select-arrow">arrow_drop_down</i>
				</div>
			</div><!--
			--><div class="column-33">
				<div class="label">Length</div>
				<input type="text" name="length" placeholder="" value="0">
			</div><!--
			--><div class="column-33">
				<div class="label">Default</div>
				<input type="text" name="default" placeholder="" value="0">
			</div><!--
		--></div>
		<div class="row">
			<h5>Relationship Setup: Many-to-Many</h5>
			<div>
				<div class="column-33 set-height">
					<div class="label">This Table</div>
					<div class="select-container">
						<select name="user-group">
							<option value="value">Blog</option>
							<option value="value">Column</option>
						</select>
						<i class="material-icons select-arrow">arrow_drop_down</i>
					</div>
				</div><!--
				--><div class="column-33 set-height">
					<div class="label">Junction Table</div>
					<div class="select-container">
						<select name="user-group">
							<option value="value">Blog Slideshows</option>
							<option value="value">Column</option>
						</select>
						<i class="material-icons select-arrow">arrow_drop_down</i>
					</div>
				</div><!--
				--><div class="column-33 set-height">
					<div class="label">Related Table</div>
					<div class="select-container">
						<select name="user-group">
							<option value="value">Directus Files</option>
							<option value="value">Column</option>
						</select>
						<i class="material-icons select-arrow">arrow_drop_down</i>
					</div>
				</div>
			</div>

			<div>
				<div class="column-33 set-height">
					<i class="material-icons relational-arrow-left">arrow_forward</i>
					<div class="select-container">
						<select name="user-group">
							<option value="value">ID</option>
							<option value="value">Column</option>
						</select>
						<i class="material-icons select-arrow">arrow_drop_down</i>
					</div>
				</div><!--
				--><div class="column-33 set-height">
					<div class="select-container">
						<select name="user-group">
							<option value="value">Blog ID</option>
							<option value="value">Column</option>
						</select>
						<i class="material-icons select-arrow">arrow_drop_down</i>
					</div>
				</div><!--
				--><div class="column-33 set-height">
					<div class="select-container hidden">
						<select name="user-group">
							<option value="value">Directus Files</option>
							<option value="value">Column</option>
						</select>
						<i class="material-icons select-arrow">arrow_drop_down</i>
					</div>
				</div>
			</div>

			<div>
				<div class="column-33 set-height">
					<div class="select-container hidden">
						<select name="user-group">
							<option value="value">Column</option>
							<option value="value">Column</option>
						</select>
						<i class="material-icons select-arrow">arrow_drop_down</i>
					</div>
				</div><!--
				--><div class="column-33 set-height">
					<div class="select-container">
						<select name="user-group">
							<option value="value">File ID</option>
							<option value="value">Column</option>
						</select>
						<i class="material-icons select-arrow">arrow_drop_down</i>
					</div>
				</div><!--
				--><div class="column-33 set-height">
					<i class="material-icons relational-arrow-right">arrow_back</i>
					<div class="select-container">
						<select name="user-group" disabled>
							<option value="value">ID</option>
							<option value="value">Column</option>
						</select>
						<i class="material-icons select-arrow">arrow_drop_down</i>
					</div>
				</div>
			</div>

		</div>
		<div class="actions">
			<div class="cancel close-modal">Cancel</div>
			<div class="button close-modal">Save</div>
		</div>
	</div>
</div>