<div class="modal profile">
	<div class="modal-bg">
		<div class="header-circle">
			<img class="avatar" src="{{assetsRoot}}imgs/avatar.png">
		</div>
		<h1>Ben Haynes</h1>
		<h5>Founder, RANGER</h5>
		<div class="online">Online</div>
		<div class="row">
			<div class="label">Group</div>
			Administrator
			<i class="material-icons">group</i>
		</div>
		<div class="row">
			<div class="label">Last Seen</div>
			3 Hours Ago
			<i class="material-icons">beenhere</i>
		</div>
		<div class="row">
			<div class="label">Location</div>
			Brooklyn, NY
			<i class="material-icons">place</i>
		</div>
		<div class="row">
			<div class="label">Phone</div>
			(224) 444-9666
			<i class="material-icons">local_phone</i>
		</div>
		<div class="row">
			<div class="label">Email</div>
			ben@rngr.org
			<i class="material-icons">email</i>
		</div>
		<div class="row">
			<div class="label">Timezone</div>
			Eastern Standard<br><span class="light">(+3 from you)</span>
			<i class="material-icons">access_time</i>
		</div>
		<!-- <div class="row">
			<div class="label">Address</div>
			312 Humboldt Street, FL3<br>
			Brooklyn, NY 11211
			<i class="material-icons">location_city</i>
		</div> -->
		<!-- <div class="button">OK</div> -->
	</div>
</div>