<p style="margin-top:10px;margin-bottom:10px;">
	This email was sent by Directus – <a href="{{ settings.global.project.url }}">{{settings.global.project.name }}</a>
</p>
<p style="margin-top:10px;margin-bottom:10px;">
	<a href="{{ settings.global.project.url }}login.php">Log in</a>
	to manage your email preferences
</p>
