{% extends "base.twig" %}
{% block content %}

<p>Hey {{ user_full_name }},</p>

<p>Here is a temporary password to access Directus:</p>

<p>{{ new_password }}</p>

<p>Once you log in, you can change your password via the User Settings menu.</p>

<p>Love,<br>Directus</p>

{% endblock %}
