{% extends "base.twig" %}
{% block content %}

<p>Hey {{ user_full_name }},</p>

<p>You requested to reset your password, click here to reset your password:</p>

<p><a href="{{ reset_url }}">Reset my password</a></p>

<p> Love,<br>Directus</p>

{% endblock %}
