{% extends "base.twig.html" %}

{% block bodyClass %}{% endblock %}

{% block content %}
<!--
Optional Classes: [lines striped clickable fixed-header]
Spacing: [comfortable cozy compact]
-->
<table class="lines cozy clickable fixed-header pad-first">
	<thead>
		<tr>
			<th scope="column">Table</th>
			<th scope="column">Total Items</th>
			<th scope="column"></th>
		</tr>
	</thead>
	<tbody>
		{% for i in 0..10 %}
		<tr class="dynamic-link {% if i > 8 %}not-managed{% endif %}" data-dynamic-link="{{rootUrl}}settings/tables/blog"> <!-- Optional Classes: selected -->
			<td class="settings-tables-name">Table {{i}}</td>
			<td class="settings-tables-count">67</td>
			<td class="settings-tables-manage">{% if i > 8 %}<div class="add-table">Manage</div>{% else %}<div class="remove-table">Remove</div>{% endif %}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>


{% endblock %}
