{% extends "base.twig.html" %}

{% block bodyClass %}{% endblock %}

{% block content %}
<!--
Optional Classes: [lines striped clickable fixed-header]
Spacing: [comfortable cozy compact]
-->
<table class="lines cozy clickable fixed-header pad-first">
	<thead>
		<tr>
			<th scope="column">Group</th>
			<th scope="column">Users</th>
			<th scope="column">Description</th>
		</tr>
	</thead>
	<tbody>
		<tr class="dynamic-link admin-group" data-dynamic-link="{{rootUrl}}settings/groups/1"> <!-- Optional Classes: selected -->
			<td>Administrator</td>
			<td>5</td>
			<td>Admins have access to all managed data within the system by default</td>
		</tr>
		<tr class="dynamic-link public-group" data-dynamic-link="{{rootUrl}}settings/groups/1"> <!-- Optional Classes: selected -->
			<td>Public</td>
			<td>n/a</td>
			<td>This sets the data that is publically available through the API without a token</td>
		</tr>
		{% for i in 0..2 %}
		<tr class="dynamic-link" data-dynamic-link="{{rootUrl}}settings/groups/1"> <!-- Optional Classes: selected -->
			<td>User Group</td>
			<td>5</td>
			<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
		</tr>
		{% endfor %}
	</tbody>
</table>


{% endblock %}
