////////////
//  HEADER
////////////
#fixedHeader {
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 50;
}

#header-shadow {
  position: absolute;
  bottom: -10px;
  height: 10px;
  width: 100%;
  z-index: 50;
  /* Switch to mixin */
  background: -webkit-linear-gradient(top, fade(@darkGrey, 10%) 0%,fade(@darkGrey, 0%) 100%);
  opacity: 0.0;
  pointer-events: none;
}

.header1 {
  position: relative;
  .border-box;
  background-color: @white;
  // border-bottom: 1px solid @lightGrey;
  clear: both;
  float: left;
  margin-bottom: @smallPad;
  padding-bottom: 20px;
  padding-top: 30px;
  width: 100%;
  min-height: 100px;
  h1, ul {
    margin: 0px;
  }
  h1 {
    color: @mediumGrey;
    float: left;
    height: 38px;
    text-transform: capitalize;
    .icon {
      color: @lightGrey;
      display: inline-block;
      font-size: 80px;
      line-height: 30px;
      margin: 0px 10px;
      vertical-align: top;
      cursor: pointer;
      &:hover {
        color: @mediumGrey; // Removed due to breadcrumb >'s hovering
      }
      &#removeOverlay {
        margin: 0;
      }
      &.breadcrumb-delimiter {
        cursor: auto;
        &:hover {
          color: @lightGrey;
        }
      }
    }
    .endnode {
      color: @darkGrey;
    }
    .focused {
      color: @darkGrey;
    }
  }
  li {
    float: left;
    list-style: none;
  }
  .input-and-button {
    &.point {
      &.point {
        .large-circle {
          .icon {
            position: relative;
            z-index: 2;
          }
          &:before {
            .triangle-bottom(14px, 14px, @darkGrey);
            bottom: -5px;
            content: "";
            display: block;
            margin-left: 2px;
            position: absolute;
            z-index: 1;
          }
        }
      }
    }
    &:hover, &.active {
      input {
        color: @darkGrey;
      }
      button {
        background-color: @darkGrey;
      }
    }
  }
  .tools {
    position: relative;
    &.left {
      padding: 0px;
      .tool {
        float: left;
        margin-left: @smallPad;
        &:first-child {
          margin-left: 0px;
        }
        .action {
          margin-left: @smallPad;
          &:first-child {
            margin-left: 0px;
          }
        }
      }
      &.big-space {
        .tool {
          margin-left: @standardPad;
          &:first-child {
            margin-left: 0px;
          }
          &.div-right {
            padding-right: @standardPad;
          }
          &.div-left {
            padding-left: @standardPad;
          }
        }
      }
    }
    &.right {
      .tool {
        margin-right: @smallPad;
        &:last-child {
          margin-right: 0px;
        }
      }
      &.big-space {
        .tool {
          margin-right: @standardPad;
          &:last-child {
            margin-left: 0px;
          }
        }
      }
    }
    button, input {
      display: block;
    }
    button {
      border: none;
    }
    input {
      border: none;
      color: @mediumGrey;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    .tool {
      &.div-right {
        border-right: solid 1px @lightGrey;
        height: 32px;
        padding-right: @smallPad;
      }
      &.div-left {
        border-left: solid 1px @lightGrey;
        height: 32px;
        padding-left: @smallPad;
      }
    }
    .tool-item {
      background-color: @mediumGrey;
      color: @white;
      cursor: pointer;
      &:hover {
        background-color: @darkGrey;
      }
    }
    .simple-select {
      display: inline-block;
      vertical-align: middle;
      font-weight: 600;
      cursor: pointer;
    }
    .saved-success {
      color: @addColor;
      .simple-select {
        color: @addColor;
      }
      .tool-item {
        background-color: @addColor;
      }
    }
    .btn {
      &.disabled {
        //opacity: 0.1;
        color: fade(@white, 25%);
        &:hover {
          background-color: @mediumGrey;
        }
      }
      &:hover {
        background-color: @darkGrey;
      }
    }
  }
  .primary-row {
    .tools {
      margin-top: 5px;
      &.left {
        margin-left: 15px;
      }
      &.right {
        button, input {
          display: block;
          float:right;
        }
      }
      .btn-round {
        padding: 8px; // For pagination, anything else affected?
      }
      .select-and-circle {
        label {
          &.icon {
            line-height: 85%;
          }
        }
      }
      .simple-select {
        margin-bottom: -13px;
        margin-left: @extraSmallPad;
        font-weight: 700;
      }
      input {
        margin-right: 10px;
        margin-top: 5px;
        text-align: right;
        width: auto;
      }
    }
  }
  .secondary-row {
    @textActionMarginTop: 7px;
    color: @mediumGrey;
    font-weight: 600;
    margin: 10px 0px -15px 0px;
    //overflow: hidden;
    &.filter-options {
      .filter-list {
        padding: 0px;
      }
      .filter-form {
        float: left;
        margin-left: @smallPad;
        .simple-select {
          margin-right: @extraSmallPad;
          max-width: 150px;
        }
        input {
          display: inline-block;
          max-width: 150px;
        }
        .action {
          display: block;
          float: left;
          margin-left: 4px;
        }
        .simple-select {
          margin-top: 0px;
        }
      }
    }
    &.batch-actions {
      &.left {
        li {
          margin-left: @standardPad;
          &.div-right {
            padding-right: @standardPad;
          }
          &.div-left {
            padding-left: @standardPad;
          }
        }
      }
    }
    li {
      font-size: 12px;
    }
    .vertical-center {
      margin-top: @textActionMarginTop;
    }
    .action {
      display: inline-block;
      color: @darkGrey;
      cursor: pointer;
      &.delete {
        color: @deleteColor
      }
      &.inactive {
        color: @mediumGrey;
      }
    }
    .text-spacer {
      padding: 0px @smallPad;
    }
    .tools {
      font-size: 12px;
      .action {
        margin-top: @textActionMarginTop;
      }
      .tool {
        height: 32px; // TODO: This keeps the secondary toolbar height in check...
      }
    }
    .filters {
      padding: 0px;
      li {
        display: inline-block;
        font-weight: 600;
        background-color: @extraLightGrey;
        .border-radius(2px, 2px, 2px, 2px);
        position: relative;
        margin: 0 10px 0 0;
        padding: 3px;
        color: @mediumGrey;
        overflow: visible;
        .filter-name {
          position: absolute;
          top: -12px;
          left: 0px;
          color: @mediumGrey;
          font-size: 9px;
          text-transform: uppercase;
          //display: none;
        }
        .filter-remove {
          color: @mediumGrey;
          top: 5px;
          position: relative;
          margin: 0 6px 0 3px;
          cursor: pointer;
          &:hover {
            color: @deleteColor;
          }
        }
        input {
          width: 120px;
          background-color: @extraLightGrey;
          color: @darkGrey;
        }
      }
    }
  }
}