@media only screen and (max-height: 700px), screen and (max-width: 800px) {
  #sidebar {
    width: 60px;
  }
  #sidebar .directusLogo {
    height: 50px !important;
    font-size: 30px;
    padding: 10px 0px;
  }
  #sidebar .sidebar-subitem {
    display: none;
  }
  #sidebar .sidebar-label {
    display: none;
  }
  #sidebar #mainSidebar {
    top: 81px;
  }
  #sidebar #mainSidebar .sidebar-extension,
  #sidebar #mainSidebar .sidebar-section {
    margin: 0;
  }
  #sidebar #mainSidebar li {
    height: 35px;
  }
  #sidebar #mainSidebar li.hr {
    display: none;
  }
  #sidebar #mainSidebar li a {
    height: 12px;
  }
  #sidebar #mainSidebar li .icon {
    font-size: 400%;
    margin-left: 5px;
  }
  #sidebar #featureSidebar {
    padding: 0px 10px 10px 10px;
  }
  #sidebar #featureSidebar li {
    width: 40px;
    height: 40px;
  }
  #sidebar #featureSidebar li .icon {
    font-size: 40px;
    line-height: 3px;
    margin-left: -9px;
  }
  .main-container {
    margin-left: 60px;
    padding: 0px 20px;
  }
  .main-container .header1 {
    padding-top: 20px;
    padding-bottom: 0;
    min-height: 60px;
  }
  .main-container .header1 h1 {
    font-size: 24px;
  }
  .main-container .header1 h1 .breadcrumb-delimiter {
    line-height: 20px;
    margin: 0px 5px;
  }
  .main-container .header1 .primary-row .tools {
    margin-top: 0;
  }
  .main-container .header1 .pagination-number {
    display: none;
  }
  .main-container .header1 #save .simple-select {
    display: none;
  }
  .main-container .header1 .secondary-row {
    display: none;
  }
  .main-container .header1 #tools-right-insert {
    display: none;
  }
  .content-body {
    margin-top: 70px !important;
  }
  .two-column-form .fields .field {
    padding: 20px 10px 20px 10px;
  }
  .two-column-form .fields .label {
    width: 100px;
    padding: 30px 10px 20px 10px;
  }
  .history-container ul .history-add-comment {
    padding-right: 20px;
  }
  .activity-page li .avatar {
    top: 40px !important;
    left: 0 !important;
  }
  .feature-cards .feature-card {
    width: 250px;
  }
  .feature-cards .feature-card .left-col {
    width: 30%;
  }
  .feature-cards .feature-card .left-col .icon {
    font-size: 100px;
    line-height: 130px;
  }
  .feature-cards .feature-card .right-col {
    width: 70%;
  }
}
