////////////
//  COLORS
////////////
  @white: #FFF;

  //Greys
  @extraLightGrey: #f4f4f4; // Extra Light Gray – previously #fbfbfb
  @lightGrey: #ededed; // Light Grey
  @mediumGrey: #cbcbcb; // Medium Grey
  @darkGrey: #7d7d7d; // Dark Grey  previously #5b5b5b
  @mediumDarkGrey: #313131; //Medium Dark Grey
  @extraDarkGrey: #252525; // Extra Dark Grey

  @tableHoverYellow: #fffbc4;

  // Actions
  @addColor: #7ac943;
  @editColor: #3fa9f5;
  @deleteColor: #c1272d;
  @attachColor: #ff7bac;
  @loginColor: #5b5b5b;
  @errorColor: #fbb03b;

////////////
//  FONTS
////////////
  @openFont: 'Open Sans', sans-serif;

////////////
//  GLYPHS
////////////
  @glyphFont: 'Directus';

////////////
//  GRID
////////////
  @colWidth: 90px;
  @gutterWidth: 20px;

  @extraSmallPad: @gutterWidth - 10;
  @smallPad: @gutterWidth - 5;
  @standardPad: @gutterWidth;
  @largePad: @gutterWidth + 5;
  @extraLargePad: @gutterWidth + 10;

////////////
//  MISC
////////////
  @standardSidebarWidth: 170px;