
.password[data-v-c504b6]{display:inline-block;width:100%;max-width:var(--width-medium)
}
.first[data-v-c504b6]{margin-right:20px
}
@media only screen and (max-width:660px){
.first[data-v-c504b6]{margin-bottom:10px
}
}