.font-primary {
  font-family: 'Open Sans', sans-serif;
}
.primary-text-color {
  color: #89c33d !important;
}
.primary-border-color {
  border-color: #89c33d !important;
}
.primary-background {
  background-color: #89c33d !important;
  color: #ffffff !important;
}
.primary-background.invert {
  color: #0f0f0f !important;
}
@font-face {
  font-family: 'Directus';
  src: url('../fonts/directus/directus-regular.eot');
  src: url('../fonts/directus/directus-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/directus/directus-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/directus/directus-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/directus/directus-regular.svg#entypo') format('svg');
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
}
.icon {
  display: inline-block;
  font-family: 'Directus';
  font-size: 300%;
  font-style: normal;
  letter-spacing: normal;
  line-height: 90%;
  text-transform: lowercase !important;
  vertical-align: top;
}
.icon-pencil.color:before {
  color: #3fa9f5;
}
.icon-plus.color:before {
  color: #7ac943;
}
.icon-cross.color:before {
  color: #c1272d;
}
.icon-attach.color:before {
  color: #ff7bac;
}
.icon-key.color:before {
  color: #5b5b5b;
}
.icon-warning.color:before {
  color: #fbb03b;
}
.icon-directus:before {
  content: "\1F6C5";
}
.icon-power-button:before {
  content: "\1F6C9";
}
.icon-phone:before {
  content: "\1F4DE";
}
.icon-mobile:before {
  content: "\1F4F1";
}
.icon-mouse:before {
  content: "\E789";
}
.icon-address:before {
  content: "\E723";
}
.icon-mail:before {
  content: "\2709";
}
.icon-paper-plane:before {
  content: "\1F53F";
}
.icon-pencil:before {
  content: "\270F";
}
.icon-feather:before {
  content: "\2712";
}
.icon-attach:before {
  content: "\1F4CE";
}
.icon-inbox:before {
  content: "\E777";
}
.icon-reply:before {
  content: "\E712";
}
.icon-reply-all:before {
  content: "\E713";
}
.icon-forward:before {
  content: "\27A6";
}
.icon-user:before {
  content: "\1F464";
}
.icon-users:before {
  content: "\1F465";
}
.icon-add-user:before {
  content: "\E700";
}
.icon-vcard:before {
  content: "\E722";
}
.icon-export:before {
  content: "\E715";
}
.icon-location:before {
  content: "\E724";
}
.icon-map:before {
  content: "\E727";
}
.icon-compass:before {
  content: "\E728";
}
.icon-direction:before {
  content: "\27A2";
}
.icon-hair-cross:before {
  content: "\1F3AF";
}
.icon-share:before {
  content: "\E73C";
}
.icon-shareable:before {
  content: "\E73E";
}
.icon-heart:before {
  content: "\2665";
}
.icon-heart-empty:before {
  content: "\2661";
}
.icon-star:before {
  content: "\2605";
}
.icon-star-empty:before {
  content: "\2606";
}
.icon-thumbs-up:before {
  content: "\1F44D";
}
.icon-thumbs-down:before {
  content: "\1F44E";
}
.icon-chat:before {
  content: "\E720";
}
.icon-comment:before {
  content: "\E718";
}
.icon-quote:before {
  content: "\275E";
}
.icon-home:before {
  content: "\2302";
}
.icon-popup:before {
  content: "\E74C";
}
.icon-search:before {
  content: "\1F50D";
}
.icon-flashlight:before {
  content: "\1F526";
}
.icon-print:before {
  content: "\E716";
}
.icon-bell:before {
  content: "\1F514";
}
.icon-link:before {
  content: "\1F517";
}
.icon-flag:before {
  content: "\2691";
}
.icon-cog:before {
  content: "\2699";
}
.icon-tools:before {
  content: "\2692";
}
.icon-trophy:before {
  content: "\1F3C6";
}
.icon-tag:before {
  content: "\E70C";
}
.icon-camera:before {
  content: "\1F4F7";
}
.icon-megaphone:before {
  content: "\1F4E3";
}
.icon-moon:before {
  content: "\263D";
}
.icon-palette:before {
  content: "\1F3A8";
}
.icon-leaf:before {
  content: "\1F342";
}
.icon-note:before {
  content: "\266A";
}
.icon-beamed-note:before {
  content: "\266B";
}
.icon-new:before {
  content: "\1F4A5";
}
.icon-graduation-cap:before {
  content: "\1F393";
}
.icon-book:before {
  content: "\1F4D5";
}
.icon-newspaper:before {
  content: "\1F4F0";
}
.icon-bag:before {
  content: "\1F45C";
}
.icon-airplane:before {
  content: "\2708";
}
.icon-lifebuoy:before {
  content: "\E788";
}
.icon-eye:before {
  content: "\E70A";
}
.icon-clock:before {
  content: "\1F554";
}
.icon-mic:before {
  content: "\1F3A4";
}
.icon-calendar:before {
  content: "\1F4C5";
}
.icon-flash:before {
  content: "\26A1";
}
.icon-thunder-cloud:before {
  content: "\26C8";
}
.icon-droplet:before {
  content: "\1F4A7";
}
.icon-cd:before {
  content: "\1F4BF";
}
.icon-briefcase:before {
  content: "\1F4BC";
}
.icon-air:before {
  content: "\1F4A8";
}
.icon-hourglass:before {
  content: "\23F3";
}
.icon-gauge:before {
  content: "\1F6C7";
}
.icon-language:before {
  content: "\1F394";
}
.icon-network:before {
  content: "\E776";
}
.icon-key:before {
  content: "\1F511";
}
.icon-battery:before {
  content: "\1F50B";
}
.icon-bucket:before {
  content: "\1F4FE";
}
.icon-magnet:before {
  content: "\E7A1";
}
.icon-drive:before {
  content: "\1F4FD";
}
.icon-cup:before {
  content: "\2615";
}
.icon-rocket:before {
  content: "\1F680";
}
.icon-brush:before {
  content: "\E79A";
}
.icon-suitcase:before {
  content: "\1F6C6";
}
.icon-traffic-cone:before {
  content: "\1F6C8";
}
.icon-globe:before {
  content: "\1F30E";
}
.icon-keyboard:before {
  content: "\2328";
}
.icon-browser:before {
  content: "\E74E";
}
.icon-publish:before {
  content: "\E74D";
}
.icon-progress-3:before {
  content: "\E76B";
}
.icon-progress-2:before {
  content: "\E76A";
}
.icon-progress-1:before {
  content: "\E769";
}
.icon-progress-0:before {
  content: "\E768";
}
.icon-light-down:before {
  content: "\1F505";
}
.icon-light-up:before {
  content: "\1F506";
}
.icon-adjust:before {
  content: "\25D1";
}
.icon-code:before {
  content: "\E714";
}
.icon-monitor:before {
  content: "\1F4BB";
}
.icon-infinity:before {
  content: "\221E";
}
.icon-light-bulb:before {
  content: "\1F4A1";
}
.icon-credit-card:before {
  content: "\1F4B3";
}
.icon-database:before {
  content: "\1F4F8";
}
.icon-voicemail:before {
  content: "\2707";
}
.icon-clipboard:before {
  content: "\1F4CB";
}
.icon-cart:before {
  content: "\E73D";
}
.icon-box:before {
  content: "\1F4E6";
}
.icon-ticket:before {
  content: "\1F3AB";
}
.icon-rss:before {
  content: "\E73A";
}
.icon-signal:before {
  content: "\1F4F6";
}
.icon-thermometer:before {
  content: "\1F4FF";
}
.icon-water:before {
  content: "\1F4A6";
}
.icon-sweden:before {
  content: "\F601";
}
.icon-line-graph:before {
  content: "\1F4C8";
}
.icon-pie-chart:before {
  content: "\25F4";
}
.icon-bar-graph:before {
  content: "\1F4CA";
}
.icon-area-graph:before {
  content: "\1F53E";
}
.icon-lock:before {
  content: "\1F512";
}
.icon-lock-open:before {
  content: "\1F513";
}
.icon-logout:before {
  content: "\E741";
}
.icon-login:before {
  content: "\E740";
}
.icon-check:before {
  content: "\2713";
}
.icon-cross:before {
  content: "\271D";
}
.icon-squared-minus:before {
  content: "\229F";
}
.icon-squared-plus:before {
  content: "\229E";
}
.icon-squared-cross:before {
  content: "\274E";
}
.icon-circled-minus:before {
  content: "\2296";
}
.icon-circled-plus:before {
  content: "\2295";
}
.icon-circled-cross:before {
  content: "\2716";
}
.icon-minus:before {
  content: "\2796";
}
.icon-plus:before {
  content: "\2795";
}
.icon-erase:before {
  content: "\232B";
}
.icon-block:before {
  content: "\1F6AB";
}
.icon-info:before {
  content: "\2139";
}
.icon-circled-info:before {
  content: "\E705";
}
.icon-help:before {
  content: "\2753";
}
.icon-circled-help:before {
  content: "\E704";
}
.icon-warning:before {
  content: "\26A0";
}
.icon-cycle:before {
  content: "\1F504";
}
.icon-cw:before {
  content: "\27F3";
}
.icon-ccw:before {
  content: "\27F2";
}
.icon-shuffle:before {
  content: "\1F500";
}
.icon-back:before {
  content: "\1F519";
}
.icon-level-down:before {
  content: "\21B3";
}
.icon-retweet:before {
  content: "\E717";
}
.icon-loop:before {
  content: "\1F501";
}
.icon-back-in-time:before {
  content: "\E771";
}
.icon-level-up:before {
  content: "\21B0";
}
.icon-switch:before {
  content: "\21C6";
}
.icon-numbered-list:before {
  content: "\E005";
}
.icon-add-to-list:before {
  content: "\E003";
}
.icon-layout:before {
  content: "\268F";
}
.icon-list:before {
  content: "\2630";
}
.icon-text-doc:before {
  content: "\1F4C4";
}
.icon-text-doc-inverted:before {
  content: "\E731";
}
.icon-doc:before {
  content: "\E730";
}
.icon-docs:before {
  content: "\E736";
}
.icon-landscape-doc:before {
  content: "\E737";
}
.icon-picture:before {
  content: "\1F304";
}
.icon-video:before {
  content: "\1F3AC";
}
.icon-music:before {
  content: "\1F3B5";
}
.icon-folder:before {
  content: "\1F4C1";
}
.icon-archive:before {
  content: "\E800";
}
.icon-trash:before {
  content: "\E729";
}
.icon-upload:before {
  content: "\1F4E4";
}
.icon-download:before {
  content: "\1F4E5";
}
.icon-save:before {
  content: "\1F4BE";
}
.icon-install:before {
  content: "\E778";
}
.icon-cloud:before {
  content: "\2601";
}
.icon-upload-cloud:before {
  content: "\E711";
}
.icon-bookmark:before {
  content: "\1F516";
}
.icon-bookmarks:before {
  content: "\1F4D1";
}
.icon-open-book:before {
  content: "\1F4D6";
}
.icon-play:before {
  content: "\25B6";
}
.icon-paus:before {
  content: "\2016";
}
.icon-record:before {
  content: "\25CF";
}
.icon-stop:before {
  content: "\25A0";
}
.icon-ff:before {
  content: "\23E9";
}
.icon-fb:before {
  content: "\23EA";
}
.icon-to-start:before {
  content: "\23EE";
}
.icon-to-end:before {
  content: "\23ED";
}
.icon-resize-full:before {
  content: "\E744";
}
.icon-resize-small:before {
  content: "\E746";
}
.icon-volume:before {
  content: "\23F7";
}
.icon-sound:before {
  content: "\1F50A";
}
.icon-mute:before {
  content: "\1F507";
}
.icon-flow-cascade:before {
  content: "\1F568";
}
.icon-flow-branch:before {
  content: "\1F569";
}
.icon-flow-tree:before {
  content: "\1F56A";
}
.icon-flow-line:before {
  content: "\1F56B";
}
.icon-flow-parallel:before {
  content: "\1F56C";
}
.icon-left-bold:before {
  content: "\E4AD";
}
.icon-down-bold:before {
  content: "\E4B0";
}
.icon-up-bold:before {
  content: "\E4AF";
}
.icon-right-bold:before {
  content: "\E4AE";
}
.icon-left:before {
  content: "\2B05";
}
.icon-down:before {
  content: "\2B07";
}
.icon-up:before {
  content: "\2B06";
}
.icon-right:before {
  content: "\27A1";
}
.icon-circled-left:before {
  content: "\E759";
}
.icon-circled-down:before {
  content: "\E758";
}
.icon-circled-up:before {
  content: "\E75B";
}
.icon-circled-right:before {
  content: "\E75A";
}
.icon-triangle-left:before {
  content: "\25C2";
}
.icon-triangle-down:before {
  content: "\25BE";
}
.icon-triangle-up:before {
  content: "\25B4";
}
.icon-triangle-right:before {
  content: "\25B8";
}
.icon-chevron-left:before {
  content: "\E75D";
}
.icon-chevron-down:before {
  content: "\E75C";
}
.icon-chevron-up:before {
  content: "\E75F";
}
.icon-chevron-right:before {
  content: "\E75E";
}
.icon-chevron-small-left:before {
  content: "\E761";
}
.icon-chevron-small-down:before {
  content: "\E760";
}
.icon-chevron-small-up:before {
  content: "\E763";
}
.icon-chevron-small-right:before {
  content: "\E762";
}
.icon-chevron-thin-left:before {
  content: "\E765";
}
.icon-chevron-thin-down:before {
  content: "\E764";
}
.icon-chevron-thin-up:before {
  content: "\E767";
}
.icon-chevron-thin-right:before {
  content: "\E766";
}
.icon-left-thin:before {
  content: "\2190";
}
.icon-down-thin:before {
  content: "\2193";
}
.icon-up-thin:before {
  content: "\2191";
}
.icon-right-thin:before {
  content: "\2192";
}
.icon-arrow-combo:before {
  content: "\E74F";
}
.icon-three-dots:before {
  content: "\23F6";
}
.icon-two-dots:before {
  content: "\23F5";
}
.icon-dot:before {
  content: "\23F4";
}
.icon-cc:before {
  content: "\1F545";
}
.icon-cc-by:before {
  content: "\1F546";
}
.icon-cc-nc:before {
  content: "\1F547";
}
.icon-cc-nc-eu:before {
  content: "\1F548";
}
.icon-cc-nc-jp:before {
  content: "\1F549";
}
.icon-cc-sa:before {
  content: "\1F54A";
}
.icon-cc-nd:before {
  content: "\1F54B";
}
.icon-cc-pd:before {
  content: "\1F54C";
}
.icon-cc-zero:before {
  content: "\1F54D";
}
.icon-cc-share:before {
  content: "\1F54E";
}
.icon-cc-remix:before {
  content: "\1F54F";
}
.icon-db-logo:before {
  content: "\1F5F9";
}
.icon-db-shape:before {
  content: "\1F5FA";
}
.icon-github:before {
  content: "\F300";
}
.icon-c-github:before {
  content: "\F301";
}
.icon-flickr:before {
  content: "\F303";
}
.icon-c-flickr:before {
  content: "\F304";
}
.icon-vimeo:before {
  content: "\F306";
}
.icon-c-vimeo:before {
  content: "\F307";
}
.icon-twitter:before {
  content: "\F309";
}
.icon-c-twitter:before {
  content: "\F30A";
}
.icon-facebook:before {
  content: "\F30C";
}
.icon-c-facebook:before {
  content: "\F30D";
}
.icon-s-facebook:before {
  content: "\F30E";
}
.icon-google-plus:before {
  content: "\F30F";
}
.icon-c-google-plus:before {
  content: "\F310";
}
.icon-pinterest:before {
  content: "\F312";
}
.icon-c-pinterest:before {
  content: "\F313";
}
.icon-tumblr:before {
  content: "\F315";
}
.icon-c-tumblr:before {
  content: "\F316";
}
.icon-linkedin:before {
  content: "\F318";
}
.icon-c-linkedin:before {
  content: "\F319";
}
.icon-dribbble:before {
  content: "\F31B";
}
.icon-c-dribbble:before {
  content: "\F31C";
}
.icon-stumbleupon:before {
  content: "\F31E";
}
.icon-c-stumbleupon:before {
  content: "\F31F";
}
.icon-lastfm:before {
  content: "\F321";
}
.icon-c-lastfm:before {
  content: "\F322";
}
.icon-rdio:before {
  content: "\F324";
}
.icon-c-rdio:before {
  content: "\F325";
}
.icon-spotify:before {
  content: "\F327";
}
.icon-c-spotify:before {
  content: "\F328";
}
.icon-qq:before {
  content: "\F32A";
}
.icon-instagram:before {
  content: "\F32D";
}
.icon-dropbox:before {
  content: "\F330";
}
.icon-evernote:before {
  content: "\F333";
}
.icon-flattr:before {
  content: "\F336";
}
.icon-skype:before {
  content: "\F339";
}
.icon-c-skype:before {
  content: "\F33A";
}
.icon-renren:before {
  content: "\F33C";
}
.icon-sina-weibo:before {
  content: "\F33F";
}
.icon-paypal:before {
  content: "\F342";
}
.icon-picasa:before {
  content: "\F345";
}
.icon-soundcloud:before {
  content: "\F348";
}
.icon-mixi:before {
  content: "\F34B";
}
.icon-behance:before {
  content: "\F34E";
}
.icon-google-circles:before {
  content: "\F351";
}
.icon-vk:before {
  content: "\F354";
}
.icon-smashing:before {
  content: "\F357";
}
.row-plain {
  clear: both;
  margin: 0px 0px 0px 0px;
}
.row-plain:after {
  clear: both;
  content: '';
  display: block;
  width: 100%;
}
.row {
  clear: both;
  margin: 0px 0px 0px -20px;
}
.row:after {
  clear: both;
  content: '';
  display: block;
  width: 100%;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-full {
  float: left;
  margin-left: 20px;
}
.col-1 {
  width: 90px;
}
.col-2 {
  width: 200px;
}
.col-3 {
  width: 310px;
}
.col-4 {
  width: 420px;
}
.gutter-bottom {
  margin-bottom: 20px;
}
/*
.fade-in() {
  from {
    zoom: 0%;
  }
  to {
    zoom: 100%;
  }
}
*/
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
html,
body {
  background-color: #ffffff;
  color: #5b5b5b;
  font-size: 12px;
  height: 100%;
  width: 100%;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
  margin: 0px;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
p {
  margin: 10px 0px;
}
a {
  color: inherit;
  text-decoration: none;
}
input,
button {
  outline: none;
}
.hidden {
  visibility: hidden;
}
.clean-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.border-box {
  box-sizing: border-box;
  /* css3 rec */
  -moz-box-sizing: border-box;
  /* ff2 */
  -ms-box-sizing: border-box;
  /* ie8 */
  -webkit-box-sizing: border-box;
  /* safari3 */
}
.clear-fix:after {
  clear: both;
  content: '';
  display: block;
  width: 100%;
}
.top-right {
  position: absolute;
  right: 0px;
  top: 0px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.large-circle {
  -webkit-border-top-right-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -webkit-border-top-left-radius: 50px;
  -moz-border-radius-topright: 50px;
  -moz-border-radius-bottomright: 50px;
  -moz-border-radius-bottomleft: 50px;
  -moz-border-radius-topleft: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #cbcbcb;
  color: #ffffff;
  display: inline-block;
  height: 32px;
  padding: 0px;
  position: relative;
  text-align: center;
  width: 32px;
}
.large-circle .icon {
  display: inline-block;
  font-size: 46px;
  margin-top: -8px;
}
.btn {
  cursor: pointer;
  padding: 10px;
}
.btn.dark-grey {
  background-color: #5b5b5b;
  color: #ffffff;
}
.italic {
  font-style: italic;
}
.primary-info {
  color: #5b5b5b;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}
.secondary-info {
  color: #cbcbcb;
  font-size: 12px;
  font-weight: 300;
}
.delete-color {
  color: #c1272d;
}
.main-container {
  margin-left: 170px;
  padding: 0px 80px;
  position: relative;
  right: 0px;
}
.main-container:after {
  clear: both;
  content: '';
  display: block;
  width: 100%;
}
.content-body {
  /* flex: 1; */
  margin-bottom: 40px;
  margin-top: 130px;
}
body {
  margin: 0;
}
select {
  cursor: pointer;
}
.standard-select {
  position: relative;
}
.standard-select .icon {
  bottom: 0px;
  line-height: 22px;
  padding: 0px 6px 0px 0px;
  pointer-events: none;
  position: absolute;
  right: 0px;
  top: 0px;
}
.standard-select select {
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #ffffff;
  border: solid 1px #ededed;
  color: #5b5b5b;
  cursor: pointer;
  padding: 5px 25px 5px 10px;
  -webkit-appearance: none;
}
.simple-select {
  display: inline-block;
  position: relative;
}
.simple-select .icon {
  bottom: 0px;
  display: block;
  font-size: 200%;
  line-height: 52%;
  pointer-events: none;
  position: absolute;
  right: 0px;
  top: 0px;
}
.simple-select select {
  background: transparent;
  border: none;
  -webkit-appearance: none;
  padding-right: 20px;
}
.custom-check input[type="checkbox"],
.custom-check input[type="radio"],
input[type="checkbox"].custom-check,
input[type="radio"].custom-check {
  display: none;
}
.custom-check input[type="checkbox"] + label,
.custom-check input[type="radio"] + label,
input[type="checkbox"].custom-check + label,
input[type="radio"].custom-check + label {
  display: inline-block;
  font-weight: 600;
  margin-right: 10px;
  position: relative;
  vertical-align: bottom;
}
.custom-check input[type="checkbox"] + label span,
.custom-check input[type="radio"] + label span,
input[type="checkbox"].custom-check + label span,
input[type="radio"].custom-check + label span {
  background-color: #ffffff;
  border: solid 1px #ededed;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0px 5px 0 0;
  vertical-align: middle;
}
.custom-check input[type="checkbox"]:checked + label span,
.custom-check input[type="radio"]:checked + label span,
input[type="checkbox"].custom-check:checked + label span,
input[type="radio"].custom-check:checked + label span {
  background-color: #5b5b5b;
  border-color: #5b5b5b;
}
.custom-check input[type="checkbox"]:checked + label:before,
.custom-check input[type="radio"]:checked + label:before,
input[type="checkbox"].custom-check:checked + label:before,
input[type="radio"].custom-check:checked + label:before {
  display: inline-block;
  font-family: 'Directus';
  font-size: 300%;
  font-style: normal;
  letter-spacing: normal;
  line-height: 90%;
  text-transform: lowercase !important;
  vertical-align: top;
  color: #ffffff;
  content: "\2713";
  font-size: 29px;
  left: 2px;
  position: absolute;
  top: -6px;
}
input[type="text"],
input[type="password"],
textarea {
  box-sizing: border-box;
  /* css3 rec */
  -moz-box-sizing: border-box;
  /* ff2 */
  -ms-box-sizing: border-box;
  /* ie8 */
  -webkit-box-sizing: border-box;
  /* safari3 */
  border: solid 1px #ededed;
  display: block;
  padding: 5px;
  width: 100%;
}
.filter-form select,
.filter-form input[type="text"] {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #ededed;
  border: 0px;
  margin: 0px 4px 0px 0px;
  padding: 8px 10px;
}
.filter-form input[type="text"] {
  float: left;
  width: auto;
}
.filter-form .simple-select {
  display: block;
  float: left;
  position: relative;
}
.filter-form .simple-select .icon {
  color: #5b5b5b;
  line-height: 26px;
  right: 9px;
}
.filter-form .simple-select select {
  padding-right: 20px;
}
.two-column-form h2 {
  margin-bottom: 10px;
}
.two-column-form .fields {
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.two-column-form .fields li {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
}
.two-column-form .fields .label {
  box-sizing: border-box;
  /* css3 rec */
  -moz-box-sizing: border-box;
  /* ff2 */
  -ms-box-sizing: border-box;
  /* ie8 */
  -webkit-box-sizing: border-box;
  /* safari3 */
  background-color: #ededed;
  bottom: 0px;
  color: #5b5b5b;
  font-weight: 500;
  left: 0px;
  padding: 25px 20px 25px 20px;
  position: absolute;
  text-align: right;
  top: 0px;
  width: 200px;
}
.two-column-form .fields .label label {
  position: relative;
  text-transform: capitalize;
  top: -5px;
}
.two-column-form .fields .field {
  background-color: #fbfbfb;
  margin-left: 200px;
  padding: 20px;
  position: relative;
}
.two-column-form .fields .field:after {
  clear: both;
  content: '';
  display: block;
  width: 100%;
}
.two-column-form .fields .field input[type="text"],
.two-column-form .fields .field textarea {
  max-width: 700px;
}
.two-column-form .fields .field textarea {
  min-height: 100px;
  padding: 10px;
  resize: vertical;
}
.two-column-form .fields .field .standard-select {
  float: left;
}
.two-column-form .fields .field .file {
  min-height: 100px;
  max-width: 700px;
  position: relative;
}
.two-column-form .fields .field .file .thumbnail {
  left: 0px;
  position: absolute;
  top: 0px;
}
.two-column-form .fields .field .file .content {
  margin-left: 120px;
}
.two-column-form .fields .field .file .content .row {
  border-bottom: solid 1px #cbcbcb;
  margin: 0px;
  padding-bottom: 10px;
  position: relative;
}
.two-column-form .fields .field .file .content .row:last-child {
  border: none;
  padding: 10px 0px 0px 0px;
}
.two-column-form .fields .field .file .content .row .info {
  margin-right: 120px;
}
.two-column-form .fields .field .file .content .row .remove-media:hover {
  color: #c1272d;
}
.two-column-form .fields .field .file .content .row .remove-media .icon {
  display: inline-block;
  line-height: 12px;
  margin-right: 5px;
  vertical-align: top;
}
.table-striped {
  text-align: left;
  width: 100%;
}
.table-striped thead tr:hover {
  background-color: transparent;
  cursor: default;
}
.table-striped tr {
  color: #5b5b5b;
  font-weight: 400;
  font-size: 12px;
}
.table-striped tr:nth-child(even) {
  background-color: #fbfbfb;
}
.table-striped tr:hover {
  background-color: #fffbc4;
  cursor: pointer;
}
.table-striped tr:hover .settings {
  display: block;
}
.table-striped tr:first-child th {
  padding-bottom: 10px;
  padding-top: 0px;
}
.table-striped tr.featured {
  font-weight: 700;
}
.table-striped tr.inactive {
  color: #ededed;
}
.table-striped tr th,
.table-striped tr td {
  padding-left: 10px;
  padding-right: 10px;
}
.table-striped tr th {
  color: #cbcbcb;
  font-size: 13px;
  font-weight: 600;
  padding-bottom: 6px;
  padding-top: 5px;
  position: relative;
}
.table-striped tr th:last-child {
  padding-right: 30px;
}
.table-striped tr th.asc .sorter,
.table-striped tr th.desc .sorter {
  display: inline-block;
  padding-right: 20px;
  position: relative;
}
.table-striped tr th.asc .sorter:before,
.table-striped tr th.desc .sorter:before {
  content: '';
  position: absolute;
  right: 0px;
  top: 7px;
}
.table-striped tr th.asc .sorter:before {
  border-style: solid;
  height: 0px;
  width: 0px;
  border-width: 6px 6px 0 6px;
  border-color: #cbcbcb transparent transparent transparent;
}
.table-striped tr th.desc .sorter:before {
  border-style: solid;
  height: 0px;
  width: 0px;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #cbcbcb transparent;
}
.table-striped tr th .icon {
  display: inline-block;
  height: 0px;
  line-height: 12px;
  vertical-align: top;
}
.table-striped tr td {
  vertical-align: middle;
  padding-bottom: 6px;
  padding-top: 5px;
}
.table-striped tr .check-box {
  padding-left: 15px;
  width: 12px;
}
.table-striped tr .check-box label {
  margin-right: 0px;
}
.cards {
  padding-left: 0px;
}
.cards .card {
  font-size: 12px;
  list-style: none;
}
.cards .card .header-image {
  height: 200px;
  position: relative;
  width: 200px;
}
.cards .card .header-image:hover {
  cursor: pointer;
}
.cards .card .header-image:hover .tool-item {
  display: block;
}
.cards .card .header-image .default-info {
  border: solid 1px #ededed;
  border-bottom: 0px;
  font-size: 45px;
  font-weight: 700;
  height: 199px;
  line-height: 190px;
  text-align: center;
}
.cards .card .header-image img {
  display: block;
}
.cards .card .header-image .tool-item {
  background-color: #ffffff;
  bottom: 10px;
  color: #5b5b5b;
  display: none;
  position: absolute;
  right: 10px;
}
.cards .card.active .header-image {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  margin-bottom: -7px;
}
.cards .card .info {
  border: solid 1px #ededed;
  border-top: none;
  margin-top: 4px;
}
.cards .card .info .featured,
.cards .card .info .extra {
  padding: 8px 20px 8px 20px;
}
.cards .card .info .featured {
  background-color: #ededed;
  margin-top: -4px;
}
.cards .card .info .extra li {
  border-bottom: solid 1px #ededed;
  list-style: none;
  padding: 5px 17px 5px 0px;
  position: relative;
}
.cards .card .info .extra li:last-child {
  border-bottom: none;
}
.cards .card .info .extra li .sub-line {
  font-size: 10px;
  margin-top: -5px;
}
.cards .card .info .extra li .icon {
  float: right;
  font-size: 30px;
  position: absolute;
  right: 0px;
  top: 10px;
  line-height: 1px;
  vertical-align: top;
}
.feature-cards {
  padding-left: 0px;
}
.feature-cards .feature-card {
  background-color: #ededed;
  list-style: none;
  padding: 20px;
}
.feature-cards .feature-card .left-col,
.feature-cards .feature-card .right-col {
  float: left;
}
.feature-cards .feature-card .left-col {
  color: #ffffff;
  margin: 0px 10px 0px -10px;
  text-align: center;
  width: 40%;
}
.feature-cards .feature-card .left-col .icon {
  display: inline-block;
  font-size: 270px;
  line-height: 100px;
}
.feature-cards .feature-card .right-col {
  width: 60%;
}
.group-list {
  color: #cbcbcb;
}
.group-list,
.group-list ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.group-list .group .group-item {
  background-color: #fbfbfb;
  margin: 5px 0px;
  padding: 11px 20px 10px 20px;
}
.group-list .group .group-item:after {
  clear: both;
  content: '';
  display: block;
  width: 100%;
}
.group-list .group .group-item > .icon {
  font-size: 38px;
  line-height: 5px;
  margin-right: 20px;
  margin-top: 3px;
}
.group-list .group .group-item .stack {
  color: #5b5b5b;
  height: 17px;
}
.group-list .group .group-item .stack .icon {
  color: #cbcbcb;
  display: inline-block;
  font-size: 32px;
  line-height: 14px;
  margin: 0px 10px;
  vertical-align: top;
}
.group-list .group .group-item .time {
  color: #cbcbcb;
}
.alerts {
  list-style: none;
  margin: 0px;
  padding: 0px;
  bottom: 20px;
  position: fixed;
  right: 20px;
  width: 400px;
  z-index: 10;
}
.alerts .alert {
  background-color: #ededed;
  color: #ffffff;
  margin-bottom: 10px;
  padding: 20px;
}
.alerts .alert:last-child {
  margin: 0px;
}
.alerts .alert.add {
  background-color: #7ac943;
}
.alerts .alert.edit {
  background-color: #3fa9f5;
}
.alerts .alert.delete {
  background-color: #c1272d;
}
.alerts .alert.attach {
  background-color: #ff7bac;
}
.alerts .alert.error {
  background-color: #fbb03b;
}
.alerts .alert.login {
  background-color: #5b5b5b;
}
#sidebar {
  background-color: #252525;
  bottom: 0px;
  color: #5b5b5b;
  float: left;
  font-weight: 400;
  height: 100%;
  letter-spacing: 1px;
  position: fixed;
  top: 0px;
  width: 170px;
  z-index: 100;
}
#sidebar ul {
  padding: 0px;
}
#sidebar ul li {
  list-style: none;
}
#sidebar ul li:hover {
  color: #ffffff;
  cursor: pointer;
}
#sidebar #mainLogoBox {
  background-color: rgba(255, 255, 255, 0.04);
  border-bottom: 1px solid #ededed;
  font-size: 40px;
  height: 60px;
  line-height: 90px;
  padding: 20px 0px;
  text-align: center;
}
#sidebar #mainLogoBox .icon {
  line-height: 36px;
}
#sidebar #mainSidebar {
  bottom: 290px;
  overflow: auto;
  position: absolute;
  top: 101px;
  width: 100%;
}
#sidebar #mainSidebar ul {
  margin: 10px 0px;
}
#sidebar #mainSidebar li {
  font-size: 12px;
  line-height: 13px;
  margin-bottom: 10px;
  padding: 10px 20px;
  position: relative;
}
#sidebar #mainSidebar li.active {
  border-left-width: 4px;
  border-left-style: solid;
  color: #ffffff;
  cursor: auto;
  padding-left: 16px;
}
#sidebar #mainSidebar li.active:after {
  border-style: solid;
  height: 0px;
  width: 0px;
  border-width: 12px 8px 12px 0;
  border-color: transparent #ffffff transparent transparent;
  content: "";
  margin-top: -12px;
  position: absolute;
  right: 0px;
  top: 50%;
}
#sidebar #mainSidebar li .icon {
  display: block;
  float: left;
  line-height: 5px;
  margin-bottom: -2px;
  margin-right: 10px;
  text-align: right;
  width: 25px;
}
#sidebar #featureSidebar {
  bottom: 0px;
  padding: 0px 20px;
  position: absolute;
}
#sidebar #featureSidebar .row {
  margin-left: -10px;
}
#sidebar #featureSidebar li {
  background-color: #313131;
  float: left;
  height: 59px;
  margin-bottom: 10px;
  margin-left: 10px;
  position: relative;
  width: 59px;
}
#sidebar #featureSidebar li:hover {
  background-color: #5b5b5b;
}
#sidebar #featureSidebar li:hover.has-image .icon {
  display: block;
}
#sidebar #featureSidebar li:hover.has-image img {
  opacity: .2;
}
#sidebar #featureSidebar li a {
  display: block;
  padding: 17px;
}
#sidebar #featureSidebar li.active {
  background-color: #fbfbfb;
}
#sidebar #featureSidebar li.has-image .icon {
  display: none;
}
#sidebar #featureSidebar li img {
  display: block;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 59px;
  height: 59px;
}
#sidebar #featureSidebar li .icon {
  display: block;
  font-size: 46px;
  height: 25px;
  line-height: 17px;
  margin-right: 18px;
  position: relative;
  text-align: center;
  width: 25px;
}
#sidebar #featureSidebar li .icon.icon-thunder-cloud {
  -webkit-animation: fadein 1s 0 ease;
  -moz-animation: fadein 1s 0 ease;
  -ms-animation: fadein 1s 0 ease;
}
#sidebar #featureSidebar li .feature-nav-alert {
  -webkit-border-top-right-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -webkit-border-top-left-radius: 50%;
  -moz-border-radius-topright: 50%;
  -moz-border-radius-bottomright: 50%;
  -moz-border-radius-bottomleft: 50%;
  -moz-border-radius-topleft: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  bottom: 5px;
  display: block;
  height: 10px;
  position: absolute;
  right: 5px;
  width: 10px;
}
#fixedHeader {
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 50;
}
.header1 {
  box-sizing: border-box;
  /* css3 rec */
  -moz-box-sizing: border-box;
  /* ff2 */
  -ms-box-sizing: border-box;
  /* ie8 */
  -webkit-box-sizing: border-box;
  /* safari3 */
  background-color: #ffffff;
  border-bottom: 1px solid #ededed;
  clear: both;
  float: left;
  margin-bottom: 10px;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 100%;
}
.header1 h1,
.header1 ul {
  margin: 0px;
}
.header1 h1 {
  color: #cbcbcb;
  float: left;
  height: 38px;
  text-transform: capitalize;
}
.header1 h1 .icon {
  display: inline-block;
  font-size: 80px;
  line-height: 30px;
  margin: 0px 10px;
  vertical-align: top;
}
.header1 h1 .focused {
  color: #5b5b5b;
}
.header1 li {
  float: left;
  list-style: none;
}
.header1 .primary-row .tools {
  margin-top: 5px;
}
.header1 .primary-row .tools.left {
  margin-left: 15px;
}
.header1 .primary-row .tools .simple-select {
  margin-top: 4px;
}
.header1 .secondary-row {
  color: #cbcbcb;
  margin: 15px 0px -15px 0px;
}
.header1 .secondary-row.filter-options .filter-list {
  padding: 0px;
}
.header1 .secondary-row.filter-options .filter-form {
  float: left;
  margin-left: 10px;
  margin-top: 4px;
}
.header1 .secondary-row.filter-options .filter-form .action {
  display: block;
  float: left;
  margin-left: 4px;
  margin-top: 5px;
}
.header1 .secondary-row.batch-actions.left li {
  margin-left: 20px;
}
.header1 .secondary-row.batch-actions.left li.div-right {
  padding-right: 20px;
}
.header1 .secondary-row li {
  font-size: 12px;
}
.header1 .secondary-row .vertical-center {
  margin-top: 10px;
}
.header1 .secondary-row .action {
  color: #5b5b5b;
  cursor: pointer;
}
.header1 .secondary-row .text-spacer {
  padding: 0px 10px;
}
.header1 .secondary-row .tools li {
  height: 22px;
  padding-top: 10px;
}
.header1 .secondary-row .tools .simple-select {
  margin-top: -3px;
}
.header1 .secondary-row .filters {
  padding: 0px;
}
.header1 .secondary-row .filters li {
  background-color: #cbcbcb;
  color: #ffffff;
  margin: 8px 0px 7px 10px;
  padding: 3px 10px;
}
.header1 .input-and-button.point.point .large-circle .icon {
  position: relative;
  z-index: 2;
}
.header1 .input-and-button.point.point .large-circle:before {
  border-style: solid;
  height: 0px;
  width: 0px;
  border-width: 14px 14px 0 14px;
  border-color: #5b5b5b transparent transparent transparent;
  bottom: -5px;
  content: "";
  display: block;
  margin-left: 2px;
  position: absolute;
  z-index: 1;
}
.header1 .input-and-button:hover input,
.header1 .input-and-button.active input {
  color: #5b5b5b;
}
.header1 .input-and-button:hover button,
.header1 .input-and-button.active button {
  background-color: #5b5b5b;
}
.header1 .tools {
  font-size: 18px;
  position: relative;
}
.header1 .tools li.div-right {
  border-right: solid 1px #ededed;
  height: 32px;
  padding-right: 10px;
}
.header1 .tools.left {
  padding: 0px;
}
.header1 .tools.left li {
  margin-left: 10px;
}
.header1 .tools.left li:first-child {
  margin-left: 0px;
}
.header1 .tools.right li {
  margin-right: 10px;
}
.header1 .tools.right li:last-child {
  margin-right: 0px;
}
.header1 .tools button,
.header1 .tools input {
  display: block;
  float: right;
}
.header1 .tools button {
  border: none;
}
.header1 .tools input {
  border: none;
  color: #cbcbcb;
  margin-right: 10px;
  margin-top: 5px;
  text-align: right;
}
.header1 .tools .tool-item {
  background-color: #cbcbcb;
  color: #ffffff;
  cursor: pointer;
}
.header1 .tools .tool-item:hover {
  background-color: #5b5b5b;
}
.header1 .tools .simple-select {
  color: #cbcbcb;
  display: inline-block;
  vertical-align: middle;
}
.header1 .tools .saved {
  color: #7ac943;
}
.header1 .tools .saved .simple-select {
  color: #7ac943;
}
.header1 .tools .saved .tool-item {
  background-color: #7ac943;
}
.login-box {
  left: 50%;
  margin-left: -208px;
  margin-top: -136px;
  position: absolute;
  top: 50%;
  width: 372px;
}
.login-box button[type="submit"] {
  border: none;
  background: transparent;
  color: #5b5b5b;
  font-size: 30px;
  margin-top: 10px;
}
.login-box button[type="submit"]:after {
  display: inline-block;
  font-family: 'Directus';
  font-size: 300%;
  font-style: normal;
  letter-spacing: normal;
  line-height: 90%;
  text-transform: lowercase !important;
  vertical-align: top;
  content: "\E4AE";
  font-size: 50px;
  line-height: 30px;
  margin-left: 10px;
}
.login-panel {
  background-color: #ededed;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.05);
  padding: 20px;
  position: relative;
}
.login-panel:after {
  border-style: solid;
  height: 0px;
  width: 0px;
  border-width: 12px 12px 0 12px;
  border-color: #ededed transparent transparent transparent;
  bottom: -12px;
  content: "";
  left: 50px;
  position: absolute;
}
.login-panel input {
  padding: 10px;
  width: 100%;
}
.login-panel input:first-child {
  margin-bottom: 10px;
}
.login-panel p {
  position: relative;
}
.login-panel p #forgot-password {
  background: transparent;
  border: none;
  font-size: 11px;
  padding: 0px;
  position: absolute;
  right: 5px;
  top: 1px;
}
.login-panel p #forgot-password :hover:after {
  color: #5b5b5b;
}
.login-panel p #forgot-password:after {
  display: inline-block;
  font-family: 'Directus';
  font-size: 300%;
  font-style: normal;
  letter-spacing: normal;
  line-height: 90%;
  text-transform: lowercase !important;
  vertical-align: top;
  color: #ededed;
  content: "\2753";
  line-height: 25px;
}
.login-panel p.error {
  color: red;
  margin: 0;
  padding: 15px 10px 0;
}
.login-panel p.message {
  color: green;
  margin: 0;
  padding: 15px 10px 0;
}
.left-corner-message {
  bottom: 20px;
  color: #ffffff;
  font-style: italic;
  left: 20px;
  position: fixed;
}
.left-corner-message .icon {
  line-height: 11px;
  margin-right: 10px;
}
