/*STRUCTURE*/
#tabs {margin-top:80px;padding:0;}

/*PADDING HACK (NON-RESPONSIVE)*/
#content {background-color:#FFF;padding:20px; overflow:hidden; min-height:300px;}
.anti-padding-hack {margin-left:-20px;margin-right:-20px;}

/*BOOTSTRAP HACKS*/
.nav-tabs {margin:0;border:0;}
.nav-tabs > li > a,
.nav-tabs > li > a:hover {background-color:#1C98C9;color:#FFF;border:0;}

/*EDIT FORM*/
form.edit-item { background-color:#F4F4F4;}
form.edit-item fieldset {border-bottom: 1px solid gainsboro; border-top: 1px solid #FFFFFF; padding:8px 16px;}
form.edit-item input[type=text],
form.edit-item textarea {width:90%;}

/*TABLE*/
.toolbar { background-color:#FAFAFA; border: 1px solid gainsboro; border-bottom:0; padding:8px; overflow:visible; height:25px;}
.table-items td:first-child {width:15px; text-align:center;}

.dropdown-menu {max-height:210px; overflow:auto;}
label {font-weight:bold;}
a,a:visited {color:#1C98C9;}

.no-margins {margin:0;}


.sidebar-module {border: 1px solid #CCC;}
/*.disabled {opacity:0.4;}*/



/* Sidenav for Docs (ripped from bootstrap.com)
-------------------------------------------------- */

.bs-docs-sidenav {
  /*width: 228px;*/
  margin: 0 0 20px;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  /*width: 190px \9;*/
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}