blockquote {
	color: #bbbbbb;
	border-left: 1px solid #ededed;
	padding-left: 10px;
}
a {
	color: #7ac943;
}
hr {
	border: none;
	color: #ededed;
	background-color: #ededed;
	height: 1px;
}
iframe {
	width: 100%;
	height: 400px;
}