body {
	padding: 20px !important;
}
blockquote {
	color: #bbbbbb;
	border-left: 2px solid #cccccc;
	padding-left: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
}
a {
	color: inherit;
	border-bottom: dotted 1px #8d8d8d;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	color: #1a1a1a;
	border-bottom: dotted 1px #1a1a1a;
}
hr {
	border: none;
	color: #cccccc;
	background-color: #cccccc;
	height: 2px;
	margin-top: 30px;
	margin-bottom: 30px;
}
iframe {
	width: 100%;
	height: 400px;
}
