<div class="header">
    <a href="https://getdirectus.com" target="_blank">
        <img src="{{ directus.root_path }}installation/assets/directus-logo.svg">
    </a>

    <ul class="breadcrumb">
        {% for step in directus.steps %}
            <li class="{{ directus.step.getName() == step.getName() ? 'current' : '' }}"><i class="material-icons">{{ directus.current_step > loop.index0 ? 'check_circle' : (directus.step.getName() == step.getName() ? 'adjust' : 'panorama_fish_eye') }}</i>{{ step.getShortTitle()|t }}</li>
        {% endfor %}
    </ul>

    <a href="https://docs.getdirectus.com" target="_blank" class="help-button">
        <i class="material-icons">help</i>{{ 'Help'|t }}
    </a>
</div>
