{% block head %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>
        Install Directus
        {% if step %}
             | {% block step %}{% endblock %}
        {% endif %}
    </title>
    <meta name="description" content="Directus">
    <meta name="author" content="RANGER Studio LLC">

    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico'/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ directus.root_path }}installation/assets/install.css?v={{ "now"|date('Ymd') }}">
</head>
{% endblock %}
