
.interface-icon[data-v-35c21c]{display:flex;flex-direction:column;overflow-y:scroll;height:334px;width:100%;max-width:var(--width-medium);border:var(--input-border-width) solid var(--lighter-gray);border-radius:var(--border-radius);background-color:#fff;padding:10px
}
.interface-icon .v-input[data-v-35c21c]{position:sticky;top:0;z-index:1
}
.interface-icon details[data-v-35c21c]{text-transform:uppercase
}
.interface-icon details summary[data-v-35c21c]{margin:20px 2px 5px;cursor:pointer;color:var(--gray)
}
.interface-icon details summary[data-v-35c21c]:hover{color:var(--darker-gray)
}
.interface-icon button[data-v-35c21c]{padding:.5em;transition:color var(--fast) var(--transition);color:var(--lighter-gray);max-width:37px
}
.interface-icon button.active[data-v-35c21c]{color:var(--darker-gray)
}
.interface-icon button[data-v-35c21c]:hover{transition:none;color:var(--dark-gray)
}
.interface-icon button[disabled=disabled][data-v-35c21c]:hover{cursor:not-allowed;color:var(--lighter-gray)
}