{
  "openapi": "3.0.1",
  "info": {
    "title": "Directus SDK",
    "description": "Template for generating any kind of SDK.",
    "contact": {
      "email": "contact@directus.io"
    },
    "license": {
      "name": "GPL-3.0",
      "url": "https://www.gnu.org/licenses/gpl-3.0.de.html"
    },
    "version": "1.0.0"
  },
  "externalDocs": {
    "description": "Directus Docs",
    "url": "https://docs.directus.io"
  },
  "servers": [
    {
      "url": "https://demo.directus.io/"
    },
    {
      "url": "/"
    }
  ],
  "tags": [
    {
      "name": "Activity",
      "description": "All events that happen within Directus are tracked and stored in the activities collection. This gives you full accountability over everything that happens."
    },
    {
      "name": "Assets",
      "description": "Image typed files can be dynamically resized and transformed to fit any need."
    },
    {
      "name": "Authentication",
      "description": "All events that happen within Directus are tracked and stored in the activities collection. This gives you full accountability over everything that happens."
    },
    {
      "name": "Collection presets",
      "description": "Collection presets hold the preferences of individual users of the platform. This allows Directus to show and maintain custom item listings for users of the app."
    },
    {
      "name": "Collections",
      "description": "Collections are the individual collections of items, similar to tables in a database. Changes to collections will alter the schema of the database."
    },
    {
      "name": "Extensions",
      "description": "Directus can easily be extended through the addition of several types of extensions, including layouts, interfaces, and modules."
    },
    {
      "name": "Fields",
      "description": "Fields are individual pieces of content within an item. They are mapped to columns in the database."
    },
    {
      "name": "Files",
      "description": "Files can be saved in any given location. Directus has a powerful assets endpoint that can be used to generate thumbnails for images on the fly."
    },
    {
      "name": "Folders",
      "description": "Folders don't do anything yet, but will be used in the (near) future to be able to group files."
    },
    {
      "name": "Items",
      "description": "Items are individual pieces of data in your database. They can be anything, from articles, to IoT status checks."
    },
    {
      "name": "Mail",
      "description": "Send electronic mail through the electronic post."
    },
    {
      "name": "Permissions",
      "description": "Permissions control who has access to what and when."
    },
    {
      "name": "Projects",
      "description": "Projects are the individual tenants of the platform. Each project has its own database and data."
    },
    {
      "name": "Relations",
      "description": "What data is linked to what other data. Allows you to assign authors to articles, products to sales, and whatever other structures you can think of."
    },
    {
      "name": "Revisions",
      "description": "Revisions are individual changes to items made. Directus keeps track of changes made, so you're able to revert to a previous state at will."
    },
    {
      "name": "Roles",
      "description": "Roles are groups of users that share permissions."
    },
    {
      "name": "SCIM",
      "description": "Directus partially supports Version 2 of System for Cross-domain Identity Management (SCIM). It is an open standard that allows for the exchange of user information between systems, therefore allowing users to be externally managed using the endpoints described below."
    },
    {
      "name": "Server",
      "description": "Access to where Directus runs. Allows you to make sure your server has everything needed to run the platform, and check what kind of latency we're dealing with."
    },
    {
      "name": "Settings",
      "description": "Settings control the way the platform works and acts."
    },
    {
      "name": "Users",
      "description": "Users are what gives you access to the data."
    },
    {
      "name": "Utilities",
      "description": "Directus comes with various utility endpoints you can use to simplify your development flow."
    }
  ],
  "paths": {
    "/activity": {
      "get": {
        "operationId": "getActivitys",
        "description": "Returns a list of activity actions.",
        "parameters": [
          {
            "description": "Control what fields are being returned in the object.",
            "in": "query",
            "name": "fields",
            "required": false,
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "A limit on the number of objects that are returned.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "What metadata to return in the response.",
            "in": "query",
            "name": "meta",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "How many items to skip when fetching data.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Return the result as if it was a single item. Useful for selecting a single item based on filters and search queries.",
            "in": "query",
            "name": "single",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "How to sort the returned items. `sort` is a CSV of fields used to sort the fetched items. Sorting defaults to ascending (ASC) order but a minus sign (` - `) can be used to reverse this to descending (DESC) order. Fields are prioritized by their order in the CSV. You can also use a ` ? ` to sort randomly.\n",
            "in": "query",
            "name": "sort",
            "required": false,
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Select items in collection by given conditions.",
            "in": "query",
            "name": "filter",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "pattern": "^(\\[[^\\[\\]]*?\\]){1}(\\[(=|eq|<>|!=|neq|<|lt|<=|lte|>|gt|>=|gte|in|nin|null|nnull|contains|like|ncontains|nlike|rlike|nrlike|between|nbetween|empty|nempty|all|has)\\])?=.*?$"
              }
            }
          },
          {
            "description": "Filter by items that contain the given search query in one of their fields.",
            "in": "query",
            "name": "q",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "action": {
                            "description": "Action that was performed.",
                            "example": "update",
                            "type": "string",
                            "enum": [
                              "authenticate",
                              "comment",
                              "upload",
                              "create",
                              "update",
                              "delete",
                              "soft-delete",
                              "revert",
                              "invalid-credentials"
                            ]
                          },
                          "action_by": {
                            "description": "Unique identifier of the user account who caused this action.",
                            "example": "63716273-0f29-4648-8a2a-2af2948f6f78",
                            "type": "string"
                          },
                          "action_on": {
                            "description": "When the action happened.",
                            "example": "2019-12-05 22:52:09",
                            "type": "string",
                            "format": "date-time"
                          },
                          "collection": {
                            "description": "Collection identifier in which the item resides.",
                            "example": "movies",
                            "type": "string"
                          },
                          "comment": {
                            "description": "User comment. This will store the comments that show up in the right sidebar of the item edit page in the admin app.",
                            "example": null,
                            "type": "string",
                            "nullable": true
                          },
                          "comment_deleted_on": {
                            "description": "When and if the comment was (soft-)deleted.",
                            "example": null,
                            "type": "string",
                            "nullable": true
                          },
                          "edited_on": {
                            "description": "When the action record was edited. This currently only applies to comments, as activity records can't be modified.",
                            "example": null,
                            "type": "string",
                            "nullable": true
                          },
                          "id": {
                            "description": "Unique identifier for the object.",
                            "example": 2,
                            "type": "integer"
                          },
                          "ip": {
                            "description": "The IP address of the user at the time the action took place.",
                            "example": "160.72.72.58",
                            "oneOf": [
                              {
                                "type": "string",
                                "format": "ipv4"
                              },
                              {
                                "type": "string",
                                "enum": [
                                  "localhost"
                                ]
                              }
                            ]
                          },
                          "item": {
                            "description": "Unique identifier for the item the action applied to. This is always a string, even for integer primary keys.",
                            "example": "328",
                            "type": "string"
                          },
                          "user_agent": {
                            "description": "User agent string of the browser the user used when the action took place.",
                            "example": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "Successful request"
          },
          "401": {
            "description": "Error: Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Error: Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Activity"
        ]
      }
    },
    "/activity/comment": {
      "post": {
        "description": "Creates a new comment.",
        "operationId": "createComment",
        "parameters": [
          {
            "description": "What metadata to return in the response.",
            "in": "query",
            "name": "meta",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "collection",
                  "item",
                  "comment"
                ],
                "properties": {
                  "collection": {
                    "type": "string",
                    "example": "projects"
                  },
                  "item": {
                    "type": "integer",
                    "example": 1
                  },
                  "comment": {
                    "type": "string",
                    "example": "A new comment"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "action": {
                          "description": "Action that was performed.",
                          "example": "update",
                          "type": "string",
                          "enum": [
                            "authenticate",
                            "comment",
                            "upload",
                            "create",
                            "update",
                            "delete",
                            "soft-delete",
                            "revert",
                            "invalid-credentials"
                          ]
                        },
                        "action_by": {
                          "description": "Unique identifier of the user account who caused this action.",
                          "example": "63716273-0f29-4648-8a2a-2af2948f6f78",
                          "type": "string"
                        },
                        "action_on": {
                          "description": "When the action happened.",
                          "example": "2019-12-05 22:52:09",
                          "type": "string",
                          "format": "date-time"
                        },
                        "collection": {
                          "description": "Collection identifier in which the item resides.",
                          "example": "movies",
                          "type": "string"
                        },
                        "comment": {
                          "description": "User comment. This will store the comments that show up in the right sidebar of the item edit page in the admin app.",
                          "example": null,
                          "type": "string",
                          "nullable": true
                        },
                        "comment_deleted_on": {
                          "description": "When and if the comment was (soft-)deleted.",
                          "example": null,
                          "type": "string",
                          "nullable": true
                        },
                        "edited_on": {
                          "description": "When the action record was edited. This currently only applies to comments, as activity records can't be modified.",
                          "example": null,
                          "type": "string",
                          "nullable": true
                        },
                        "id": {
                          "description": "Unique identifier for the object.",
                          "example": 2,
                          "type": "integer"
                        },
                        "ip": {
                          "description": "The IP address of the user at the time the action took place.",
                          "example": "160.72.72.58",
                          "oneOf": [
                            {
                              "type": "string",
                              "format": "ipv4"
                            },
                            {
                              "type": "string",
                              "enum": [
                                "localhost"
                              ]
                            }
                          ]
                        },
                        "item": {
                          "description": "Unique identifier for the item the action applied to. This is always a string, even for integer primary keys.",
                          "example": "328",
                          "type": "string"
                        },
                        "user_agent": {
                          "description": "User agent string of the browser the user used when the action took place.",
                          "example": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "Successful request"
          },
          "401": {
            "description": "Error: Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Error: Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Activity"
        ]
      }
    },
    "/activity/{id}": {
      "get": {
        "description": "Retrieves the details of an existing activity action. Provide the primary key of the activity action and Directus will return the corresponding information.",
        "operationId": "getActivity",
        "parameters": [
          {
            "description": "Unique identifier of the item.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Control what fields are being returned in the object.",
            "in": "query",
            "name": "fields",
            "required": false,
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "What metadata to return in the response.",
            "in": "query",
            "name": "meta",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "action": {
                          "description": "Action that was performed.",
                          "example": "update",
                          "type": "string",
                          "enum": [
                            "authenticate",
                            "comment",
                            "upload",
                            "create",
                            "update",
                            "delete",
                            "soft-delete",
                            "revert",
                            "invalid-credentials"
                          ]
                        },
                        "action_by": {
                          "description": "Unique identifier of the user account who caused this action.",
                          "example": "63716273-0f29-4648-8a2a-2af2948f6f78",
                          "type": "string"
                        },
                        "action_on": {
                          "description": "When the action happened.",
                          "example": "2019-12-05 22:52:09",
                          "type": "string",
                          "format": "date-time"
                        },
                        "collection": {
                          "description": "Collection identifier in which the item resides.",
                          "example": "movies",
                          "type": "string"
                        },
                        "comment": {
                          "description": "User comment. This will store the comments that show up in the right sidebar of the item edit page in the admin app.",
                          "example": null,
                          "type": "string",
                          "nullable": true
                        },
                        "comment_deleted_on": {
                          "description": "When and if the comment was (soft-)deleted.",
                          "example": null,
                          "type": "string",
                          "nullable": true
                        },
                        "edited_on": {
                          "description": "When the action record was edited. This currently only applies to comments, as activity records can't be modified.",
                          "example": null,
                          "type": "string",
                          "nullable": true
                        },
                        "id": {
                          "description": "Unique identifier for the object.",
                          "example": 2,
                          "type": "integer"
                        },
                        "ip": {
                          "description": "The IP address of the user at the time the action took place.",
                          "example": "160.72.72.58",
                          "oneOf": [
                            {
                              "type": "string",
                              "format": "ipv4"
                            },
                            {
                              "type": "string",
                              "enum": [
                                "localhost"
                              ]
                            }
                          ]
                        },
                        "item": {
                          "description": "Unique identifier for the item the action applied to. This is always a string, even for integer primary keys.",
                          "example": "328",
                          "type": "string"
                        },
                        "user_agent": {
                          "description": "User agent string of the browser the user used when the action took place.",
                          "example": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Error: Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Activity"
        ]
      }
    },
    "/activity/comment/{id}": {
      "patch": {
        "description": "Update the content of an existing comment.",
        "operationId": "updateComment",
        "parameters": [
          {
            "description": "Unique identifier of the item.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "What metadata to return in the response.",
            "in": "query",
            "name": "meta",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string",
                    "example": "My updated comment"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "action": {
                          "description": "Action that was performed.",
                          "example": "update",
                          "type": "string",
                          "enum": [
                            "authenticate",
                            "comment",
                            "upload",
                            "create",
                            "update",
                            "delete",
                            "soft-delete",
                            "revert",
                            "invalid-credentials"
                          ]
                        },
                        "action_by": {
                          "description": "Unique identifier of the user account who caused this action.",
                          "example": "63716273-0f29-4648-8a2a-2af2948f6f78",
                          "type": "string"
                        },
                        "action_on": {
                          "description": "When the action happened.",
                          "example": "2019-12-05 22:52:09",
                          "type": "string",
                          "format": "date-time"
                        },
                        "collection": {
                          "description": "Collection identifier in which the item resides.",
                          "example": "movies",
                          "type": "string"
                        },
                        "comment": {
                          "description": "User comment. This will store the comments that show up in the right sidebar of the item edit page in the admin app.",
                          "example": null,
                          "type": "string",
                          "nullable": true
                        },
                        "comment_deleted_on": {
                          "description": "When and if the comment was (soft-)deleted.",
                          "example": null,
                          "type": "string",
                          "nullable": true
                        },
                        "edited_on": {
                          "description": "When the action record was edited. This currently only applies to comments, as activity records can't be modified.",
                          "example": null,
                          "type": "string",
                          "nullable": true
                        },
                        "id": {
                          "description": "Unique identifier for the object.",
                          "example": 2,
                          "type": "integer"
                        },
                        "ip": {
                          "description": "The IP address of the user at the time the action took place.",
                          "example": "160.72.72.58",
                          "oneOf": [
                            {
                              "type": "string",
                              "format": "ipv4"
                            },
                            {
                              "type": "string",
                              "enum": [
                                "localhost"
                              ]
                            }
                          ]
                        },
                        "item": {
                          "description": "Unique identifier for the item the action applied to. This is always a string, even for integer primary keys.",
                          "example": "328",
                          "type": "string"
                        },
                        "user_agent": {
                          "description": "User agent string of the browser the user used when the action took place.",
                          "example": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "Successful request"
          },
          "401": {
            "description": "Error: Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Error: Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Activity"
        ]
      },
      "delete": {
        "description": "Delete an existing comment. Deleted comments can not be retrieved.",
        "operationId": "deleteComment",
        "parameters": [
          {
            "description": "Unique identifier of the item.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "203": {
            "description": "Deleted succsessfully"
          },
          "401": {
            "description": "Error: Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Error: Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Activity"
        ]
      }
    },
    "/assets/{key}": {
      "get": {
        "tags": [
          "Assets"
        ],
        "operationId": "getAsset",
        "description": "Image typed files can be dynamically resized and transformed to fit any need.",
        "security": [
          {
            "Auth": []
          }
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "private_hash of the file",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "The key of the asset size configured in settings.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "w",
            "in": "query",
            "description": "Width of the file in pixels.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "h",
            "in": "query",
            "description": "Height of the file in pixels.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "f",
            "in": "query",
            "description": "Fit of the file",
            "schema": {
              "type": "string",
              "enum": [
                "crop",
                "contain"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Quality of compression.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Error: Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "description": "Retrieve a Temporary Access Token.",
        "tags": [
          "Authentication"
        ],
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "admin@example.com",
                    "description": "Email address of the user you're retrieving the access token for."
                  },
                  "password": {
                    "type": "string",
                    "description": "Password of the user.",
                    "format": "password",
                    "example": "password"
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "jwt",
                      "cookie"
                    ],
                    "default": "jwt",
                    "description": "Choose between retrieving the token as a string, or setting it as a cookie."
                  },
                  "otp": {
                    "type": "string",
                    "description": "If 2FA is enabled, you need to pass the one time password."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful authentification",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "public": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        },
                        "user": {
                          "type": "object",
                          "properties": {
                            "tfa_secret": {
                              "description": "The 2FA secret string that's used to generate one time passwords.",
                              "example": null,
                              "type": "string",
                              "nullable": true
                            },
                            "avatar": {
                              "description": "The user's avatar.",
                              "example": null,
                              "oneOf": [
                                {
                                  "type": "integer",
                                  "nullable": true
                                },
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "charset": {
                                      "description": "Character set of the file.",
                                      "example": "binary",
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "checksum": {
                                      "description": "Represents the sum of the correct digits of the file, can be used to detect errors in and duplicates of the file later.",
                                      "example": "d41d8cd98f00b204e9800998ecf8427e",
                                      "type": "string"
                                    },
                                    "data": {
                                      "example": {
                                        "embed": null,
                                        "full_url": "https://demo.directus.io/uploads/thumper/originals/a88c3b72-ac58-5436-a4ec-b2858531333a.jpg",
                                        "thumbnails": {
                                          "dimension": "64x64",
                                          "height": 64,
                                          "relative_url": "/thumper/assets/pnw7s9lqy68048g0?key=directus-small-crop",
                                          "url": "https://demo.directus.io/thumper/assets/pnw7s9lqy68048g0?key=directus-small-crop",
                                          "width": 64
                                        },
                                        "url": "/uploads/thumper/originals/a88c3b72-ac58-5436-a4ec-b2858531333a.jpg"
                                      },
                                      "properties": {
                                        "full_url": {
                                          "description": "Full URL to the original file.",
                                          "type": "string"
                                        },
                                        "thumbnails": {
                                          "description": "List of all available asset sizes with links.",
                                          "type": "array",
                                          "nullable": true,
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "dimension": {
                                                "description": "Width x height of the thumbnail.",
                                                "type": "string"
                                              },
                                              "height": {
                                                "description": "Height of the thumbnail in pixels.",
                                                "type": "integer"
                                              },
                                              "relative_url": {
                                                "description": "Relative URL to the thumbnail.",
                                                "type": "string"
                                              },
                                              "url": {
                                                "description": "Full URL to the thumbnail.",
                                                "type": "string"
                                              },
                                              "width": {
                                                "description": "Width of the thumbnail in pixels.",
                                                "type": "integer"
                                              }
                                            }
                                          }
                                        },
                                        "url": {
                                          "description": "Relative URL to the original file.",
                                          "type": "string"
                                        }
                                      },
                                      "type": "object"
                                    },
                                    "description": {
                                      "description": "Description for the file.",
                                      "example": "",
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "duration": {
                                      "description": "Duration of the file in seconds. Only applies to audio and video.",
                                      "example": 0,
                                      "type": "integer",
                                      "nullable": true
                                    },
                                    "embed": {
                                      "description": "Where the file was embedded from.",
                                      "example": null,
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "filename_disk": {
                                      "description": "Name of the file on disk. By default, Directus uses a random hash for the filename.",
                                      "example": "a88c3b72-ac58-5436-a4ec-b2858531333a.jpg",
                                      "type": "string"
                                    },
                                    "filename_download": {
                                      "description": "How you want to the file to be named when it's being downloaded.",
                                      "example": "avatar.jpg",
                                      "type": "string"
                                    },
                                    "filesize": {
                                      "description": "Size of the file in bytes.",
                                      "example": 137862,
                                      "type": "integer"
                                    },
                                    "folder": {
                                      "description": "Virtual folder where this file resides in.",
                                      "example": null,
                                      "nullable": true,
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "description": "Unique identifier for the folder.",
                                          "example": "0cf0e03d-4364-45df-b77b-ca61f61869d2",
                                          "type": "string"
                                        },
                                        "name": {
                                          "description": "Name of the folder.",
                                          "example": "New York",
                                          "type": "string"
                                        },
                                        "parent_folder": {
                                          "description": "Unique identifier of the parent folder. This allows for nested folders.",
                                          "example": null,
                                          "type": "string",
                                          "nullable": true
                                        }
                                      }
                                    },
                                    "height": {
                                      "description": "Height of the file in pixels. Only applies to images.",
                                      "example": 838,
                                      "type": "integer",
                                      "nullable": true
                                    },
                                    "id": {
                                      "description": "Unique identifier for the file.",
                                      "example": "8cbb43fe-4cdf-4991-8352-c461779cec02",
                                      "type": "string"
                                    },
                                    "location": {
                                      "description": "Where the file was created. Is automatically populated based on EXIF data for images.",
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "metadata": {
                                      "description": "User provided miscellaneous key value pairs that serve as additional metadata for the file.",
                                      "example": null,
                                      "type": "object",
                                      "nullable": true
                                    },
                                    "private_hash": {
                                      "description": "Random hash used to access the file privately. This can be rotated to prevent unauthorized access to the file.",
                                      "example": "pnw7s9lqy68048g0",
                                      "type": "string"
                                    },
                                    "storage": {
                                      "description": "Where the file is stored. Either `local` for the local filesystem or the name of the storage adapter (for example `s3`).",
                                      "example": "local",
                                      "type": "string"
                                    },
                                    "tags": {
                                      "description": "Tags for the file. Is automatically populated based on EXIF data for images.",
                                      "type": "array",
                                      "nullable": true,
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "title": {
                                      "description": "Title for the file. Is extracted from the filename on upload, but can be edited by the user.",
                                      "example": "User Avatar",
                                      "type": "string"
                                    },
                                    "type": {
                                      "description": "MIME type of the file.",
                                      "example": "image/jpeg",
                                      "type": "string"
                                    },
                                    "uploaded_by": {
                                      "description": "Who uploaded the file.",
                                      "example": "63716273-0f29-4648-8a2a-2af2948f6f78",
                                      "type": "string"
                                    },
                                    "uploaded_on": {
                                      "description": "When the file was uploaded.",
                                      "example": "2019-12-03T00:10:15+00:00",
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    "width": {
                                      "description": "Width of the file in pixels. Only applies to images.",
                                      "example": 800,
                                      "type": "integer",
                                      "nullable": true
                                    }
                                  }
                                }
                              ],
                              "nullable": true
                            },
                            "email": {
                              "description": "Unique email address for the user.",
                              "example": "admin@example.com",
                              "type": "string",
                              "format": "email"
                            },
                            "external_id": {
                              "description": "ID used for SCIM.",
                              "example": null,
                              "type": "string",
                              "nullable": true
                            },
                            "first_name": {
                              "description": "First name of the user.",
                              "example": "Admin",
                              "type": "string"
                            },
                            "id": {
                              "description": "Unique identifier for the user.",
                              "example": "63716273-0f29-4648-8a2a-2af2948f6f78",
                              "type": "string"
                            },
                            "last_login": {
                              "description": "When this user logged in last.",
                              "example": "2020-05-31 14:32:37",
                              "type": "string",
                              "nullable": true,
                              "format": "date-time"
                            },
                            "last_name": {
                              "description": "First name of the user.",
                              "example": "User",
                              "type": "string"
                            },
                            "last_page": {
                              "description": "Last page that the user was on.",
                              "example": "/my-project/settings/collections/a",
                              "type": "string",
                              "nullable": true
                            },
                            "language": {
                              "description": "The user's language used in Directus.",
                              "example": "en-US",
                              "type": "string"
                            },
                            "role": {
                              "description": "Unique identifier of the role of this user.",
                              "example": "2f24211d-d928-469a-aea3-3c8f53d4e426",
                              "type": "string"
                            },
                            "status": {
                              "description": "Status of the user.",
                              "example": "active",
                              "type": "string",
                              "enum": [
                                "active",
                                "invited",
                                "draft",
                                "suspended",
                                "deleted"
                              ]
                            },
                            "theme": {
                              "description": "What theme the user is using.",
                              "example": "auto",
                              "type": "string",
                              "enum": [
                                "light",
                                "dark",
                                "auto"
                              ]
                            },
                            "timezone": {
                              "description": "The user's timezone.",
                              "example": "America/New_York",
                              "type": "string"
                            },
                            "title": {
                              "description": "The user's title.",
                              "example": null,
                              "type": "string",
                              "nullable": true
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "description": "Refresh a Temporary Access Token.",
        "tags": [
          "Authentication"
        ],
        "operationId": "refresh",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "example": "eyJ0eXAiOiJKV...",
                    "description": "JWT access token you want to refresh. This token can't be expired."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "public": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "description": "Log out of directus.",
        "tags": [
          "Authentication"
        ],
        "operationId": "logout",
        "responses": {
          "200": {
            "description": "Request successful"
          }
        }
      }
    },
    "/auth/password/request": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "passwordRequest",
        "description": "Request a reset password email to be send.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "admin@example.com",
                    "description": "Email address of the user you're requesting a reset for."
                  },
                  "reset_url": {
                    "type": "string",
                    "example": "https://mydomain.com/passwordreset",
                    "description": "Provide a custom reset url which the link in the Email will lead to. The reset token will be passed as a parameter."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Error: Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/password/reset": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "passwordReset",
        "description": "The request a password reset endpoint sends an email with a link to the admin app which in turn uses this endpoint to allow the user to reset their password.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token",
                  "password"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "example": "eyJ0eXAiOiJKV1Qi...",
                    "description": "One-time use JWT token that is used to verify the user."
                  },
                  "password": {
                    "type": "string",
                    "example": "password",
                    "format": "password",
                    "description": "New password for the user."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "401": {
            "description": "Error: Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/sso": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "operationId": "sso",
        "description": "List the SSO providers.",
        "responses": {
          "200": {
            "description": "Successful request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "public": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "example": [
                        "github",
                        "facebook"
                      ],
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/sso/{provider}": {
      "get": {
        "description": "List the SSO providers.",
        "tags": [
          "Authentication"
        ],
        "operationId": "ssoProvider",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "description": "Key of the activated SSO provider.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Controls if the API sets a cookie or returns a JWT on successful login.",
            "in": "query",
            "name": "mode",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "jwt",
                "cookie"
              ]
            }
          },
          {
            "name": "redirect_url",
            "in": "query",
            "required": true,
            "description": "Where to redirect on successful login.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "public": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/items/{collection}": {
      "get": {
        "description": "List the items.",
        "tags": [
          "Items"
        ],
        "operationId": "getItems",
        "security": [
          {
            "Auth": []
          }
        ],
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "description": "Name of collection",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Control what fields are being returned in the object.",
            "in": "query",
            "name": "fields",
            "required": false,
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "A limit on the number of objects that are returned.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "What metadata to return in the response.",
            "in": "query",
            "name": "meta",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "How many items to skip when fetching data.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Return the result as if it was a single item. Useful for selecting a single item based on filters and search queries.",
            "in": "query",
            "name": "single",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "How to sort the returned items. `sort` is a CSV of fields used to sort the fetched items. Sorting defaults to ascending (ASC) order but a minus sign (` - `) can be used to reverse this to descending (DESC) order. Fields are prioritized by their order in the CSV. You can also use a ` ? ` to sort randomly.\n",
            "in": "query",
            "name": "sort",
            "required": false,
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Select items in collection by given conditions.",
            "in": "query",
            "name": "filter",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "pattern": "^(\\[[^\\[\\]]*?\\]){1}(\\[(=|eq|<>|!=|neq|<|lt|<=|lte|>|gt|>=|gte|in|nin|null|nnull|contains|like|ncontains|nlike|rlike|nrlike|between|nbetween|empty|nempty|all|has)\\])?=.*?$"
              }
            }
          },
          {
            "description": "Filter by items that contain the given search query in one of their fields.",
            "in": "query",
            "name": "q",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter items by the given status",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new item.",
        "tags": [
          "Items"
        ],
        "operationId": "createItem",
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "description": "Name of collection",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "What metadata to return in the response.",
            "in": "query",
            "name": "meta",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/items/{collection}/{id}": {
      "get": {
        "description": "Retrieve a single item by unique identifier.",
        "tags": [
          "Items"
        ],
        "operationId": "getItem",
        "parameters": [
          {
            "name": "collection",
            "description": "Name of the collection.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "description": "Id of the item.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Control what fields are being returned in the object.",
            "in": "query",
            "name": "fields",
            "required": false,
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "What metadata to return in the response.",
            "in": "query",
            "name": "meta",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Error: Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Update an existing item.",
        "tags": [
          "Items"
        ],
        "operationId": "updateItem",
        "parameters": [
          {
            "name": "collection",
            "description": "Name of the collection.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "description": "Id of the item.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Control what fields are being returned in the object.",
            "in": "query",
            "name": "fields",
            "required": false,
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "What metadata to return in the response.",
            "in": "query",
            "name": "meta",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Error: Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete an existing item.",
        "tags": [
          "Items"
        ],
        "operationId": "deleteItem",
        "parameters": [
          {
            "name": "collection",
            "description": "Name of the collection.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "description": "Id of the item.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request"
          },
          "401": {
            "description": "Error: Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Error: Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/presets": {
      "get": {
        "tags": [
          "Presets"
        ],
        "operationId": "getPresets",
        "description": "List the presets.",
        "security": [
          {
            "Auth": []
          }
        ],
        "parameters": [
          {
            "description": "Control what fields are being returned in the object.",
            "in": "query",
            "name": "fields",
            "required": false,
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "A limit on the number of objects that are returned.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "How many items to skip when fetching data.",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Cursor for use in pagination. Often used in combination with limit.",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "How to sort the returned items. `sort` is a CSV of fields used to sort the fetched items. Sorting defaults to ascending (ASC) order but a minus sign (` - `) can be used to reverse this to descending (DESC) order. Fields are prioritized by their order in the CSV. You can also use a ` ? ` to sort randomly.\n",
            "in": "query",
            "name": "sort",
            "required": false,
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Return the result as if it was a single item. Useful for selecting a single item based on filters and search queries.",
            "in": "query",
            "name": "single",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Select items in collection by given conditions.",
            "in": "query",
            "name": "filter",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "pattern": "^(\\[[^\\[\\]]*?\\]){1}(\\[(=|eq|<>|!=|neq|<|lt|<=|lte|>|gt|>=|gte|in|nin|null|nnull|contains|like|ncontains|nlike|rlike|nrlike|between|nbetween|empty|nempty|all|has)\\])?=.*?$"
              }
            }
          },
          {
            "description": "Filter by items that contain the given search query in one of their fields.",
            "in": "query",
            "name": "q",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "What metadata to return in the response.",
            "in": "query",
            "name": "meta",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "collection": {
                            "description": "What collection this collection preset is used for.",
                            "example": "articles",
                            "type": "string"
                          },
                          "filters": {
                            "description": "The filters that the user applied.",
                            "example": {
                              "field": "title",
                              "operator": "contains",
                              "value": "Hello"
                            },
                            "type": "array",
                            "nullable": true,
                            "items": {
                              "type": "object"
                            }
                          },
                          "id": {
                            "description": "Unique identifier for this single collection preset.",
                            "example": "155",
                            "type": "integer"
                          },
                          "role": {
                            "description": "The unique identifier of a role in the platform. If `user` is null, this will be used to apply the collection preset or bookmark for all users in the role.",
                            "example": "63716273-0f29-4648-8a2a-2af2948f6f78",
                            "nullable": true,
                            "type": "string"
                          },
                          "search_query": {
                            "description": "What the user searched for in search/filter in the header bar.",
                            "example": null,
                            "type": "string",
                            "nullable": true
                          },
                          "title": {
                            "description": "Name for the bookmark. If this is set, the collection preset will be considered to be a bookmark.",
                            "example": null,
                            "type": "string",
                            "nullable": true
                          },
                          "translation": {
                            "description": "Key value pair of language-translation. Can be used to translate the bookmark title in multiple languages.",
                            "example": null,
                            "type": "object",
                            "nullable": true
                          },
                          "user": {
                            "description": "The unique identifier of the user to whom this collection preset applies.",
                            "example": "63716273-0f29-4648-8a2a-2af2948f6f78",
                            "nullable": true,
                            "type": "string"
                          },
                          "view_options": {
                            "description": "Options of the views. The properties in here are controlled by the layout.",
                            "example": {
                              "timeline": {
                                "color": "action",
                                "content": "excerpt",
                                "date": "published_on",
                                "title": "{{ title }} ({{ author.first_name }} {{ author.last_name }})"
                              }
                            },
                            "type": "object",
                            "nullable": true
                          },
                          "view_query": {
                            "description": "View query that's saved per view type. Controls what data is fetched on load. These follow the same format as the JS SDK parameters.",
                            "example": {
                              "timeline": {
                                "sort": "-published_on"
                              }
                            },
                            "type": "object",
                            "nullable": true
                          },
                          "view_type": {
                            "description": "Name of the view type that is used.",
                            "example": "timeline",
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Presets"
        ],
        "operationId": "createPreset",
        "description": "Create a new preset.",
        "parameters": [
          {
            "description": "Control what fields are being returned in the object.",
            "in": "query",
            "name": "fields",
            "required": false,
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "What metadata to return in the response.",
            "in": "query",
            "name": "meta",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "collection"
                ],
                "properties": {
                  "collection": {
                    "type": "string",
                    "description": "What collection this collection preset is used for.",
                    "example": "articles"
                  },
                  "title": {
                    "type": "string",
                    "description": "Name for the bookmark. If this is set, the collection preset will be considered to be a bookmark.",
                    "example": "Highly rated articles"
                  },
                  "role": {
                    "type": "integer",
                    "description": "The unique identifier of a role in the platform. If user is null, this will be used to apply the collection preset or bookmark for all users in the role."
                  },
                  "search_query": {
                    "type": "string",
                    "description": "What the user searched for in search/filter in the header bar."
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "field": {
                          "type": "string",
                          "example": "rating"
                        },
                        "operator": {
                          "type": "string",
                          "example": "gte"
                        },
                        "value": {
                          "type": "integer",
                          "example": 4.5
                        }
                      }
                    }
                  },
                  "view_type": {
                    "type": "string",
                    "description": "Name of the view type that is used. Defaults to tabular."
                  },
                  "view_query": {
                    "type": "string",
                    "description": "View query that's saved per view type. Controls what data is fetched on load. These follow the same format as the JS SDK parameters."
                  },
                  "view_options": {
                    "type": "string",
                    "description": "Options of the views. The properties in here are controlled by the layout."
                  },
                  "translation": {
                    "type": "object",
                    "description": "Key value pair of language-translation. Can be used to translate the bookmark title in multiple languages."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "collection": {
                          "description": "What collection this collection preset is used for.",
                          "example": "articles",
                          "type": "string"
                        },
                        "filters": {
                          "description": "The filters that the user applied.",
                          "example": {
                            "field": "title",
                            "operator": "contains",
[...]
