<style>
	.select2-hidden-accessible {
		border: 0 !important;
		clip: rect(0 0 0 0) !important;
		height: 1px !important;
		margin: -1px !important;
		overflow: hidden !important;
		padding: 0 !important;
		position: absolute !important;
		width: 1px !important;
	}

	.select2-container--disabled {
		opacity: 0.6;
		cursor: not-allowed;
	}

	.select2-container {
		position: relative;
		width: 100% !important;
		max-width: 400px;
		display: block;
	}

	.select-interface .select2-selection--multiple {
		cursor: pointer;
		display: block;
		user-select: none;
		padding: 8px 12px;
	}

	.select2-selection__rendered {
		padding-left: 12px;
		padding-right: 30px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: #444;
		line-height: 40px;
	}

	.select2-dropdown {
		background-color: white;
		border: 1px solid #ccc;
		border-radius: 2px;
		position: absolute;
		z-index: 1050;
		box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px 0px;
	}

	.select-interface .select2-selection--multiple {
		cursor: pointer;
		display: block;
		user-select: none;
		min-width: 400px;
		padding: 8px 12px;
	}
	.select-interface .select2-selection--single,
	.select-interface .select2-selection--multiple {
		border: 1px solid #ccc;
		border-radius: 2px;
		color: #444;
		background-color: #fff;
		transition: box-shadow 200ms ease-in-out;
	}
	.select-interface .select2-selection--single {
		cursor: pointer;
	}
	.select-interface .select2-selection--multiple {
		cursor: text;
	}
	.select-interface .select2-container--focus .select2-selection--multiple,
	.select-interface .select2-container--focus .select2-selection--single {
		box-shadow: 0px 0px 0px 2px #3498DB;
	}
	.select-interface .select2-selection--multiple input {
		width: 100%;
		height: auto;
		padding: 0;
	}
	.select-interface .select2-selection--multiple .select2-results__option {
		width: 100%;
	}
	.select-interface .select2-selection--multiple .select2-search--inline {
		height: auto;
		min-width: 0;
		width: auto;
		flex-grow: 1;
		flex-basis: 5em;
	}
	.select2-container--default .select2-selection--multiple .select2-selection__rendered {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0;
		width: 100%;
	}
	.select-interface .select2-selection__choice {
		position: relative;
	}
	.select-interface .select2-selection__choice:hover {
		background-color: #F44336 !important;
		cursor: pointer !important;
		transition: background-color 200ms ease-in-out;
	}
	.select-interface .select2-selection__choice__remove {
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	.select2-results__options {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.select2-results__option {
		padding: 12px;
		user-select: none;
		cursor: pointer;
	}

	.select2-results__option:hover {
		background-color: #eee;
	}

	.select2-close-mask {
		border: 0;
		margin: 0;
		padding: 0;
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		min-height: 100%;
		min-width: 100%;
		height: auto;
		width: auto;
		opacity: 0;
		z-index: 99;

		// styles required for IE to work
		background-color: #fff;
		filter: alpha(opacity=0);
	}

	.select2-selection__arrow {
		height: 40px;
		position: absolute;
		top: 1px;
		right: 10px;
		width: 20px;
	}

	.select2-selection__arrow b {
		border-color: #888 transparent transparent transparent;
		border-style: solid;
		border-width: 5px 4px 0 4px;

		height: 0;
		left: 50%;

		margin-left: -4px;
		margin-top: -2px;

		position: absolute;

		top: 50%;
		width: 0;
	}

	.select2-selection--multiple input[type="search"].select2-search__field {
		box-sizing: border-box;
		border-radius: 0;
		width: 100%;
		border: 0;
	}

	.select2-selection--multiple input[type="search"].select2-search__field:focus {
		box-shadow: none;
	}

	.select2-search--hide {
		display: none;
	}

	.dropdown_multiple-interface .select2-selection--multiple {
		cursor: pointer;
		display: block;
		user-select: none;
	}

	.dropdown_multiple-interface .select2-selection--multiple {
		border: 1px solid #ccc;
		border-radius: 2px;
		color: #444;
		background-color: #fff;
		transition: box-shadow 200ms ease-in-out;
	}
	.dropdown_multiple-interface .select2-selection--multiple {
		cursor: text;
	}
	.dropdown_multiple-interface .select2-container--focus .select2-selection--multiple {
		box-shadow: 0px 0px 0px 2px #3498db;
	}
	.dropdown_multiple-interface .select2-selection--multiple input {
		width: 100%;
		height: auto;
		padding: 0;
	}
	.dropdown_multiple-interface .select2-selection--multiple .select2-results__option {
		width: 100%;
	}
	.dropdown_multiple-interface .select2-selection--multiple .select2-search--inline {
		height: auto;
		min-width: 0;
		width: auto;
		flex-grow: 1;
		flex-basis: 5em;
	}
	.select2-container--default .select2-selection--multiple .select2-selection__rendered {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0;
		width: 100%;
	}
	.dropdown_multiple-interface .select2-selection__choice {
		position: relative;
	}
	.dropdown_multiple-interface .select2-selection__choice:hover {
		background-color: #f44336 !important;
		cursor: pointer !important;
		transition: background-color 200ms ease-in-out;
	}
	.dropdown_multiple-interface .select2-selection__choice__remove {
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.dropdown_multiple-interface .select2-selection--multiple .select2-selection__choice {
		background-color: #999;
		border-radius: 2px;
		cursor: default;
		float: left;
		color: #fff;
		text-transform: uppercase;
		font-size: 10px;
		font-weight: 700;
		padding: 0 10px;
		margin: 4px 0;
		margin-right: 10px;
	}

</style>

<div class="dropdown_multiple-interface">
	<select name="{{name}}" {{#if readOnly}}disabled{{/if}} multiple="multiple">
		{{#if placeholder}}<option value="" disabled>{{placeholder}}</option>{{/if}}

		{{#options}}
		<option value="{{key}}" {{#if selected}}selected{{/if}}>{{value}}</option>
		{{/options}}
	</select>
</div>
