body {
  background-color: #F4F4F4;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased !important;
  font-size: 16px;
  color: #bbbbbb;
  font-weight: 600; }

a {
  color: inherit;
  text-decoration: none; }

h1 {
  font-weight: 400;
  font-size: 24px;
  margin: 10px 0 30px 0;
  color: #666666; }

hr {
  border: 0;
  color: #bbbbbb;
  background-color: #bbbbbb;
  height: 1px; }

label {
  font-size: 13px;
  text-transform: uppercase; }

input[type=checkbox] {
  margin: 0 10px 0 0;
  top: -1px;
  position: relative; }

textarea {
  width: 100%;
  min-height: 200px;
  font-size: 10px;
  outline: none;
  border-color: #bbbbbb;
  white-space: pre;
  word-wrap: normal;
  overflow-x: scroll;
  margin: 10px 0 10px 0; }

.header {
  background-color: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  text-align: center;
  position: relative; }
  .header img {
    margin-top: 40px; }
  .header .breadcrumb {
    padding-bottom: 35px;
    color: #bbbbbb;
    font-size: 14px;
    font-weight: 600; }
    .header .breadcrumb .separator {
      margin: -5px 20px 0 20px;
      font-size: 10px;
      color: #eeeeee;
      vertical-align: middle;
      display: inline-block; }
    .header .breadcrumb .complete {
      color: #666666; }
    .header .breadcrumb .current {
      color: #b26cee; }

.container {
  width: 100%;
  margin: 60px auto 10px;
  max-width: 340px;
  position: relative; }
  .container.step-1 {
    max-width: 650px;
    color: #666666;
    letter-spacing: 0.6px;
    line-height: 30px; }

input[type=text],
input[type=email],
input[type=password] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
  padding: 10px 12px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #666666;
  border: #BBBBBB 1px solid;
  outline: none;
  background-color: #ffffff;
  box-sizing: border-box; }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus {
    border: 1px solid #b26cee; }
  input[type=text].bad,
  input[type=email].bad,
  input[type=password].bad {
    border: 1px solid #c1272d !important; }

.button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
  width: 100%;
  font-size: 15px;
  outline: none;
  display: block;
  background-color: #aaaaaa;
  border: none;
  color: #ffffff;
  cursor: pointer;
  padding: 20px 15px 20px 15px;
  margin: 30px 0 10px 0;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-weight: 600; }
  .button:hover {
    background-color: #4f4f4f; }
  .button.primary {
    background-color: #b26cee; }
    .button.primary:hover {
      background-color: #a655eb; }
    .button.primary.disabled {
      background-color: #cccccc; }
      .button.primary.disabled:hover {
        cursor: not-allowed; }

.no-button {
  width: 100%;
  outline: none;
  display: block;
  background-color: transparent;
  border: none;
  color: #aaaaaa;
  cursor: pointer;
  margin: 10px 0 10px 0;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600; }

.hide {
  display: none; }

.note {
  font-style: italic;
  font-size: 11px; }

.label-important {
  color: #c1272d;
  font-weight: bold; }

.label-success {
  color: #b26cee;
  font-weight: bold; }

.step-3 h3 {
  font-size: 16px;
  margin-bottom: 0px;
  margin-top: 30px;
  font-weight: 400; }
.step-3 table {
  font-size: 12px;
  width: 100%; }
  .step-3 table .item {
    font-weight: bold;
    height: 22px; }
  .step-3 table .result {
    text-align: right; }
.step-3 input[type=checkbox] {
  margin: 0; }

.config-paste {
  font-size: 12px; }

.error-container {
  background-color: #c1272d;
  color: white;
  padding: 20px;
  margin: 0 0 20px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px; }

.error {
  border: 1px solid #c1272d !important; }

/*# sourceMappingURL=install.css.map */
