span[mi] {
	font-family: 'Material Symbols Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	font-variation-settings: 'wght' 600;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	font-feature-settings: 'liga';
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	vertical-align: -4px;
	color: var(--vp-c-text-1);
}

span[mi][prmry] {
	color: var(--vp-c-brand);
}

span[mi][dark] {
	color: var(--vp-c-gray);
}

span[mi][dngr] {
	color: var(--vp-c-red);
}

span[mi][warn] {
	color: var(--vp-c-yellow);
}

span[mi][muted] {
	color: var(--vp-c-gray);
}

span[mi][btn] {
	color: var(--vp-c-text-inverse-1);
	background-color: var(--vp-c-brand);
	border-radius: 50%;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 4px;
}

span[mi][btn][dngr] {
	background-color: var(--vp-c-red-dimm-3);
	color: var(--vp-c-red);
}

span[mi][btn][sec] {
	background-color: var(--vp-c-purple-dimm-3);
	color: var(--vp-c-purple);
}

span[mi][btn][warn] {
	background-color: var(--vp-c-yellow-dimm-3);
	color: var(--vp-c-yellow);
}

span[mi][btn][outline] {
	background-color: transparent;
	border: var(--theme--border-width) solid var(--vp-c-purple);
	color: var(--vp-c-purple);
}

span[mi][btn][action] {
	background-color: var(--vp-c-green-dimm-3);
	color: var(--vp-c-green);
}

span[mi][btn][muted] {
	background-color: var(--vp-c-gray-light-4);
	color: var(--vp-c-gray);
}
