/**
- * Make logo size of the sidebar
+ * Switch to mobile navbar earlier to prevent overlapping page
  * -------------------------------------------------------------------------- */
@media only screen and (min-width: 390px) {
	.VPNav .VPNavBar .VPNavBarTitle .logo {
		height: unset;
	}
}

/**
 * Switch to mobile navbar earlier to prevent overlapping page
 * -------------------------------------------------------------------------- */
@media (max-width: 959px) {
	.VPNav .VPNavBar .VPNavBarMenu,
	.VPNav .VPNavBar .VPNavBarExtra {
		display: none;
	}

	.VPNav .VPNavBar .VPNavBarHamburger {
		display: flex;
	}

	.VPNav .VPNavScreen {
		display: unset;
	}
}

/**
 * Border radius on inline media
 * -------------------------------------------------------------------------- */
.vp-doc img,
.vp-doc video {
	border-radius: 8px;
	width: 100%;
	box-shadow: 0px 0px 6px 0px rgba(23, 41, 64, 0.2);
}

/**
 * Match font weight of app in headings
 * -------------------------------------------------------------------------- */
.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc h4,
.vp-doc h5,
.vp-doc h6 {
	font-weight: 700;
}

.vp-doc h4 {
	margin-top: 16px;
}

/**
 * Hubspot color-scheme weirdness
 * -------------------------------------------------------------------------- */
#hubspot-messages-iframe-container {
	color-scheme: auto;
}

/**
 * Fix spacing of lists in custom blocks
 * -------------------------------------------------------------------------- */
.vp-doc .custom-block li + li {
	margin: 0;
}

/**
 * Same font weight for links inside custom blocks as outside
 * -------------------------------------------------------------------------- */
.vp-doc .custom-block a {
	font-weight: 500;
}

/**
 * Remove padding on bottom of homepage
 * -------------------------------------------------------------------------- */
.VPHome {
	padding-bottom: 0 !important;
}

/**
 * Add spacing between h3 and snippet toggler for "API Reference" pages
 * -------------------------------------------------------------------------- */
.vp-doc h3 + .snippet-toggler {
	margin-top: 1em;
	margin-bottom: 1em;
}

/**
* Reduce spacing at bottom of sidebar section
* -------------------------------------------------------------------------- */
.VPSidebarItem.level-0 {
	padding-bottom: 10px !important;
}

/**
* Light theme for tabs component
* -------------------------------------------------------------------------- */
:root {
	--vp-plugin-tabs-tab-bg: transparent;
}
.plugin-tabs {
	border: 1px solid var(--vp-plugin-tabs-tab-divider);
}
.plugin-tabs--tab-list::after {
	height: 1px;
}
.plugin-tabs--tab {
	border-width: 1px;
}

/**
* Sidebar Badge
* -------------------------------------------------------------------------- */
.VPSidebarItem span.badge {
	border: 1px solid var(--vp-c-divider);
	background-color: var(--vp-c-bg-alt);
	font-size: 0.75em;
	padding: 0.1rem 0.4rem;
	border-radius: 10rem;
	vertical-align: top;
	transition: background-color 0.25s;
}

.VPSidebarItem.is-active span.badge {
	border: 1px solid var(--vp-custom-block-tip-border);
	color: var(--vp-custom-block-tip-text);
	background-color: var(--vp-custom-block-tip-bg);
}
