/**
 * Make logo size of the sidebar
 * -------------------------------------------------------------------------- */
.VPNav .VPNavBar .VPNavBarTitle .logo {
	height: unset;
}

/**
 * Workaround for navbar getting collapsed too late and overlapping page
 * -------------------------------------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 940px) {
	.VPNav .VPNavBar .container {
		overflow-x: auto;
		overflow-y: hidden;
	}
}

/**
 * Border radius on inline media
 * -------------------------------------------------------------------------- */
.vp-doc img,
.vp-doc video {
	border-radius: 8px;
	width: 100%;
	box-shadow: 0px 0px 6px 0px rgba(23, 41, 64, 0.2);
}

/**
 * Match font weight of app in headings
 * -------------------------------------------------------------------------- */
.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc h4,
.vp-doc h5,
.vp-doc h6 {
	font-weight: 700;
}

/**
 * Hubspot color-scheme weirdness
 * -------------------------------------------------------------------------- */
#hubspot-messages-iframe-container {
	color-scheme: auto;
}

/**
 * Spacing in notices
 * -------------------------------------------------------------------------- */
.vp-doc .custom-block li + li {
	margin: 0;
}

.vp-doc .custom-block a {
	font-weight: 500;
	text-decoration: underline;
}

/**
 * Homepage container
 * -------------------------------------------------------------------------- */
.VPHome {
	padding-bottom: 0 !important;
}

/**
 * Prevent flash effect in navbar on home page when scrolling down
 * -------------------------------------------------------------------------- */
.isHome .VPNavBar {
	background-color: var(--vp-nav-bg-color);
}
