{% layout "base" %}
{% block content %}

<p>You requested to reset your password. Please click the link below to reset your password:</p>

<p><a href="{{ url }}">{{ url }}</a></p>

{% comment %}
@TODO
Make this white-labeled
{% endcomment %}

<p>Love,<br>Directus</p>

{% endblock %}
