{% layout "base" %}
{% block content %}

<p>
    You requested to reset your password. Please click the button below to reset your password:
</p>

<p style="text-align: center; padding: 20px 0;">
    <a href="{{ url }}">
        Click to reset your password
    </a>
</p>

<p>
    Thank You,<br>
    {{ projectName }}
</p>

{% endblock %}
