.popupContainer.autoTheme {
	z-index: 10000;
	--root-border-radius: var(--border-radius);

	.picmo-picker {
			--ui-font: var(--family-sans-serif);
			--ui-font-size: inherit;
			--text-color: var(--foreground-normal);
			--secondary-text-color: var(--foreground-normal-alt);
			--category-name-text-color: var(--foreground-normal);

			--background-color: var(--background-page);
			--variant-popup-background-color: var(--background-normal-alt);
			--secondary-background-color: var(--background-normal);
			--category-name-background-color: var(--background-normal);
			--tag-background-color: var(--background-normal-alt);
			--hover-background-color: var(--background-normal);
			--focus-indicator-background-color: var(--primary-25);
			--overlay-background-color: var(--overlay-color);

			--border-color: var(--border-normal);
			--border-radius: var(--root-border-radius);

			--search-height: 40px;
			--search-placeholder-color: var(--foreground-subdued);
			--search-icon-color: var(--foreground-subdued);
			--search-background-color: var(--background-input);
			--search-focus-background-color: var(--background-input);

			box-shadow: var(--card-shadow);
			border: var(--border-width) solid var(--border-normal);

			header {
				border-bottom: var(--border-width) solid var(--border-normal);

				.searchContainer {
					padding: 0 8px;

					.searchField {
						font-size: inherit;
						padding: var(--input-padding);
						border: var(--border-width) solid var(--border-normal);
						border-radius: var(--border-radius);

						&:hover {
							border-color: var(--border-normal-alt);
						}

						&:focus {
							border-color: var(--primary);
						}
					}

					.searchAccessory {
						right: calc(8px + var(--input-padding))
					}
				}

				.categoryButtons {
					padding: 0 8px;

					.categoryTab .categoryButton:hover {
						background: var(--background-normal-alt)
					}

					.categoryTabActive .categoryButton {
						background: none;
					}
				}
			}

			.content {
				.emojiCategory:first-child .categoryName {
					margin-top: 0;
				}

				.categoryName {
					font-size: inherit;
					padding: 0 8px;
					margin: 8px 0;
				}
			}

			.emojiButton {
				border-radius: var(--border-radius);
			}

			.preview {
				padding: 8px;
				height: calc(1em + var(--emoji-preview-height));
				border-top: var(--border-width) solid var(--border-normal);

				.previewName {
					font-size: inherit;
				}
			}
		}
}
