.tox {
	font-family: var(--family-sans-serif);
}

.tox .tox-tbtn {
	height: 36px;
	margin: 0;
	color: var(--foreground-normal);
}

.tox .tox-listbox__select-chevron svg,
.tox .tox-collection__item-caret svg {
	fill: var(--foreground-normal);
}

.tox .tox-swatches__picker-btn svg {
	fill: var(--foreground-normal);
}

.tox .tox-tbtn svg,
.tox .tox-tbtn:hover svg {
	fill: var(--foreground-normal);
}

.tox-tbtn[aria-label='Bold'] .tox-icon svg {
	display: none;
}

.tox-tbtn[aria-label='Bold'] .tox-icon::after {
	display: inline-block;
	margin-top: 4px;
	color: var(--foreground-normal);
	font-size: 24px;
	font-family: 'Material Icons';
	content: 'format_bold';
	font-feature-settings: 'liga';
}

.tox-tbtn[aria-label='Italic'] .tox-icon svg {
	display: none;
}

.tox-tbtn[aria-label='Italic'] .tox-icon::after {
	display: inline-block;
	margin-top: 4px;
	color: var(--foreground-normal);
	font-size: 24px;
	font-family: 'Material Icons';
	content: 'format_italic';
	font-feature-settings: 'liga';
}

.tox-tbtn[aria-label='Underline'] .tox-icon svg {
	display: none;
}

.tox-tbtn[aria-label='Underline'] .tox-icon::after {
	display: inline-block;
	margin-top: 4px;
	color: var(--foreground-normal);
	font-size: 24px;
	font-family: 'Material Icons';
	content: 'format_underlined';
	font-feature-settings: 'liga';
}

.tox-tbtn[aria-label='Add/Edit Link'] .tox-icon svg {
	display: none;
}

.tox-tbtn[aria-label='Add/Edit Link'] .tox-icon::after {
	display: inline-block;
	margin-top: 4px;
	color: var(--foreground-normal);
	font-size: 24px;
	font-family: 'Material Icons';
	content: 'insert_link';
	font-feature-settings: 'liga';
}

.tox-tbtn--disabled {
	opacity: 0.8;
	pointer-events: none;
}

.tox .tox-edit-area__iframe {
	background-color: var(--background-input);
}

.tox-tinymce {
	min-height: 300px;
	color: var(--foreground-normal);
	border: 2px solid var(--border-normal);
	border-radius: var(--border-radius);
	transition: var(--fast) var(--transition);
	transition-property: color, border-color;
}

.wysiwyg:not(.disabled) .tox-tinymce:hover {
	border-color: var(--border-normal-alt);
}

.wysiwyg:not(.disabled) .tox-tinymce.focus {
	border-color: var(--primary) !important;
	box-shadow: 0 0 16px -8px var(--primary) !important;
}

.tox .tox-toolbar,
.tox .tox-toolbar__primary,
.tox .tox-toolbar__overflow {
	min-height: 40px;
	padding: 2px 0;
	background: var(--background-subdued);
	border-bottom: 2px solid var(--border-normal);
}

.tox .tox-pop__dialog .tox-toolbar {
	margin-bottom: -2px;
}

body.dark .tox .tox-toolbar,
body.dark .tox .tox-toolbar__primary,
body.dark .tox .tox-toolbar__overflow {
	background: url("data:image/svg+xml;charset=utf8,%3Csvg height='40px' viewBox='0 0 40 40px' width='40' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' y='38px' width='100' height='2' fill='%23455a64'/%3E%3C/svg%3E")
		left 0 top 0 var(--background-subdued);
}

@media (prefers-color-scheme: dark) {
	body.auto .tox .tox-toolbar,
	body.auto .tox .tox-toolbar__primary,
	body.auto .tox .tox-toolbar__overflow {
		background: url("data:image/svg+xml;charset=utf8,%3Csvg height='40px' viewBox='0 0 40 40px' width='40' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' y='38px' width='100' height='2' fill='%23455a64'/%3E%3C/svg%3E")
			left 0 top 0 var(--background-subdued);
	}
}

.tox .tox-swatches__picker-btn,
.tox .tox-swatches__picker-btn:hover,
.tox .tox-swatches__picker-btn:active,
.tox .tox-split-button:hover {
	-webkit-box-shadow: unset;
	box-shadow: unset;
}

.tox .tox-tbtn--enabled,
.tox .tox-tbtn--enabled:hover,
.tox .tox-split-button:hover,
.tox .tox-tbtn:hover,
.tox .tox-split-button:focus {
	color: var(--foreground-normal);
	background: var(--border-normal);
}

.tox .tox-tbtn + .tox .tox-tbtn {
	margin-left: 2px;
}

.tox .tox-swatches__picker-btn:hover {
	background: transparent;
	border: none;
}

.tox .tox-swatch:hover,
.tox .tox-swatch:focus {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.mce-content-body {
	margin: 20px;
}

/* Modal */

.tox .tox-dialog-wrap__backdrop {
	background-color: var(--v-overlay-color);
}

.tox.tox-tinymce-aux {
	z-index: 510;
}

.tox .tox-dialog {
	color: var(--foreground-normal);
	background-color: var(--background-page);
	border: none;
	box-shadow: none;
}

.tox .tox-dialog--width-lg {
	max-width: 800px;
}

.tox .tox-dialog__header {
	padding: 20px;
	color: var(--foreground-normal);
	font-size: 16px;
	background-color: var(--background-page);
}

.tox .tox-dialog__body {
	color: var(--foreground-normal);
}

.tox .tox-dialog__body-content {
	padding: 24px 24px;
}

.tox .tox-dialog__footer {
	padding: 0 24px 24px;
	color: var(--foreground-normal);
	background-color: var(--background-page);
	border-top: none;
}

.tox .tox-textfield,
.tox .tox-listboxfield .tox-listbox,
.tox .tox-toolbar-textfield,
.tox .tox-selectfield select,
.tox .tox-textarea {
	padding: 12px;
	color: var(--foreground-normal);
	font-weight: 500;
	font-size: 14px;
	font-family: var(--family-sans-serif);
	background-color: var(--background-page);
	border: 2px solid var(--border-normal);
	border-radius: var(--border-radius);
	transition: var(--fast) var(--transition);
}

.tox .tox-textarea {
	font-family: var(--family-monospace);
}

.tox .tox-textfield:focus,
.tox .tox-listboxfield .tox-listbox:focus,
.tox .tox-toolbar-textfield:focus,
.tox .tox-selectfield select:focus,
.tox .tox-textarea:focus {
	background-color: var(--background-page);
}

.tox .tox-menu {
	box-sizing: border-box;
	padding: 4px !important;
	color: var(--foreground-normal);
	font-family: var(--family-sans-serif);
	background-color: var(--background-subdued);
	border: 2px solid var(--border-normal);
	border-radius: var(--border-radius);
}

.tox .tox-collection__item {
	border-radius: var(--border-radius);
}

.tox .tox-collection--list .tox-collection__item {
	color: var(--foreground-normal);
}

.tox .tox-collection--list .tox-collection__item--enabled,
.tox .tox-collection--list .tox-collection__item--active {
	color: var(--foreground-normal) !important;
	background-color: var(--background-normal-alt) !important;
}

.tox .tox-collection__item-label {
	line-height: unset;
}

.tox .tox-textfield:focus,
.tox .tox-selectfield select:focus,
.tox .tox-textarea:focus {
	border-color: var(--primary);
}

.tox .tox-button {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 136px;
	height: 44px;
	padding: 0 20px 1px;
	color: var(--white);
	font-weight: 500;
	font-size: 16px;
	font-family: var(--family-sans-serif);
	line-height: 19px;
	background-color: var(--primary);
	border: 2px solid var(--primary);
	border: none;
	border-color: var(--primary);
	border-radius: var(--border-radius);
	cursor: pointer;
	-webkit-transition: var(--fast) var(--transition);
	transition: var(--fast) var(--transition);
	transition-property: border-color, background-color, color;
}

.tox .tox-button:hover:not(:disabled) {
	background-color: var(--primary);
	border-color: var(--primary);
}

.tox .tox-button--secondary {
	color: var(--foreground-normal);
	background-color: var(--background-normal);
	border-color: var(--background-normal);
}

.tox .tox-button--secondary:hover:not(:disabled) {
	color: var(--foreground-normal);
	background-color: var(--background-normal);
	border-color: var(--background-normal);
}

.tox .tox-button--naked {
	min-width: auto;
	height: auto;
	color: var(--foreground-subdued);
	background-color: transparent;
	border-color: transparent;
}

.tox .tox-button--naked.tox-button--icon:hover:not(:disabled) {
	color: var(--foreground-normal);
	background-color: transparent;
	border-color: transparent;
}

.tox .tox-form__group {
	margin-bottom: 24px;
}

.tox .tox-label,
.tox .tox-toolbar-label {
	margin-bottom: 4px;
	color: var(--foreground-normal);
	font-weight: 500;
	font-size: 16px;
}

.tox .tox-dialog__body-nav-item {
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 4px;
	padding: 12px 16px;
	color: var(--foreground-normal);
	font-weight: 500;
	font-size: 14px;
	border-bottom: none;
	border-radius: var(--border-radius);
	transition: var(--fast) var(--transition);
	transition-property: background-color, color;
}

.tox .tox-dialog__body-nav-item:hover {
	background-color: var(--background-normal-alt);
}

.tox .tox-dialog__body-nav-item--active {
	background-color: var(--background-normal-alt);
}

.tox .tox-dialog__body-nav-item--active:focus {
	background-color: var(--background-normal-alt);
}

.tox .tox-pop__dialog,
.tox:not([dir='rtl']) .tox-toolbar__group:not(:last-of-type),
.tox .tox-collection--list .tox-collection__group {
	border-color: var(--border-normal);
}

.tox .tox-insert-table-picker__label {
	color: var(--foreground-normal);
}

.tox .tox-insert-table-picker > div {
	border-color: var(--border-normal);
}

.tox .tox-insert-table-picker .tox-insert-table-picker__selected {
	border-color: var(--primary);
}

.tox .tox-pop.tox-pop--top::after {
	border-bottom-color: var(--background-subdued);
}

.tox .tox-pop.tox-pop--top::before {
	border-bottom-color: var(--border-normal);
}

.tox .tox-dialog-wrap__backdrop .tox-rgba-preview {
	visibility: hidden;
}

@media screen and (max-width: 767px) {
	.tox .tox-dialog__body-nav-item {
		text-align: center;
	}
}
