{{#rows}}
<li class="card col-2 gutter-bottom" data-id="{{id}}" data-cid="{{cid}}">
  <div class="header-image">
    {{{thumbnail}}}
    <div class="tool-item large-circle"><span class="icon icon-pencil"></span></div>
    {{#if embed}}<span class="icon icon-cloud embed-icon"></span>{{/if}}
  </div>
  <div class="info">
    <div class="featured">
      <div class="primary-info">{{title_short}}</div>
      <div class="secondary-info">{{#if dimensions}}{{dimensions}} | {{/if}}{{size}} | {{uppercase type}}</div>
      <div class="secondary-info italic">{{date_uploaded}}</div>
    </div>
  </div>
</li>
{{/rows}}