<!--<form id="user-preferences">-->

{{#if showEmptyMessage}}
<div class="nothing-here secondary-info">
<h1>{{t "listing_items_not_found"}}</h1>
<!-- Add a new item -->
</div>
{{else}}
<table class="lines cozy clickable fixed-header pad-first"></table> <!-- charted <-- has a chart at the top -->
{{!--
<div class="table-shadow">
    <div class="directus-toolbar"></div>
    <table class="table table-striped directus-table hover-header {{#if disabledSorting}}disable-sorting{{/if}}" id="{{id}}">
        <colgroup>
        	<col class="col-status">
        	{{#if sortable}}<col class="col-sort">{{/if}}
        	{{#if selectable}}<col class="col-check">{{/if}}
        	{{#columns}}
        		<col class="col-{{this}}">
        	{{/columns}}
        </colgroup>
    </table>
</div>
--}}
{{/if}}

<!--</form>-->
<!-- <div class="overlay"><h3>Just let go...</h3></div> -->
