{{!--
<form class="directus-form set-columns">
<fieldset>
{{#columns}}
	<label class="checkbox" {{#if disabled}}title="Can't add relational columns"{{/if}}><input name="columns_visible" type="checkbox" value="{{name}}" {{#if isForeign}}data-foreign="true"{{/if}} {{#if visible}}checked{{/if}} {{#if disabled}}disabled{{/if}}>{{capitalize name}}</label>
{{/columns}}
</fieldset>
<div class="btn-row">
	<button class="btn btn-small btn-primary" id="saveVisibleColumnsBtn" type="button">{{t "save"}}</button>
	<button class="btn btn-small" id="cancelVisibleColumnsBtn" type="button">{{t "cancel"}}</button>
</div>
</form>
--}}
