{{#if showEmptyMessage}}
{{{include "listingEmpty"}}}
{{else}}
{{#if showChart}}<div id="items-chart" class="items-chart"></div>{{/if}}
<table class="lines {{spacing}} clickable item-listing{{#if fixedHead}} fixed-header{{/if}}{{#unless sortable}} header-sortable{{/unless}}{{#unless disabledSorting}} reorder-enabled{{/unless}}{{#unless hasSortColumn}} pad-status pad-first{{/unless}}"></table> <!-- charted, pad-status -->
{{/if}}
<div class="loading-more" style="display: none;">
	<!-- <div class="spinner"></div> -->
	<i class="material-icons spinner">autorenew</i>
</div>
