<tr>
    {{#if sortable}}
    <th scope="col" class="reorder"><i class="material-icons">import_export</i></th>
    {{/if}}
    {{#if selectable}}
    <th scope="col" class="status js-check">
        <input class="custom-checkbox js-select-all-row" id="checkAll" type="checkbox" value="" />
        <label for="checkAll"><span></span></label>
    </th>
    {{/if}}
    {{#columns}}
    <th scope="col" class="sortable-column" data-id="{{name}}">
        {{{capitalize name}}}
        {{#if orderBy}}
            <i class="material-icons order-direction">arrow_{{#if desc}}down{{else}}up{{/if}}ward</i>
        {{/if}}
    </th>
    {{/columns}}
    <th scope="col" class="right-sidebar-toggle"><i class="material-icons">more_horiz</i></th>
</tr>

{{!--
<tr>
  {{#if sortable}}<th class="sort sortableHeader" data-id="sort"><!-- <span class="icon icon-shuffle"></span> --><i class="material-icons">swap_vert</i></th>{{/if}}
  {{#if selectable}}
    <th class="check check-box{{#if sortable}} with-sort{{/if}}">
      <input class="custom-check" id="check-all" type="checkbox" />
      <label for="check-all"><span></span></label>
    </th>
  {{/if}}
  {{#columns}}
    <th class="sortable-column" data-id="{{name}}">{{{capitalize name}}} {{#if orderBy}}{{#if desc}}▼{{else}}▲{{/if}}{{/if}}</th>
  {{/columns}}
  {{#if deleteColumn}}<th class="delete"></th>{{/if}}
  <th class="visible-columns-cell">
    {{#unless hideColumnPreferences}}<a href="#" id="set-visible-columns"><i class="material-icons">settings</i></a>{{/unless}}
    <span id="visible_columns_entry"></span>
  </th>
</tr>
--}}
