{{#if hasANumericColumn}}
<tr>
	{{#if showItemNumbers}}<td></td>{{/if}}
	{{#if sortable}}<td></td>{{/if}}
	{{#if selectable}}<td></td>{{/if}}
	{{#columns}}
	<td>
	{{#if showFooter}}
		<div class="select-container choose-footer-metric">
			<select>
				{{#functionsValues}}
				<option value="{{value}}"{{# if selected}} selected{{/if}}>{{value}} ({{name}})</option>
				{{/functionsValues}}
			</select>
			<i class="material-icons select-arrow">arrow_drop_down</i>
		</div>
	{{/if}}
	</td>
	{{/columns}}
	<td></td>
</tr>
{{/if}}
