{{#if visibilityButtons}}
<div class="btn-group btn-group-action active" id="set-visibility">
  {{#if actionButtons}}
  <button class="btn btn-small" data-value="1" rel="tooltip" data-placement="bottom" title="Active"><span class="glyphicon-eye-open"></span></button>
  <button class="btn btn-small" data-value="2" rel="tooltip" data-placement="bottom" title="Inactive"><span class="glyphicon-eye-close"></span></button>
  <button class="btn btn-small" data-value="0" rel="tooltip" data-placement="bottom" title="Delete"><span class="glyphicon-trash"></span></button>
  {{/if}}
  {{#if deleteOnly}}
    <button class="btn btn-small" data-value="0" rel="tooltip" data-placement="bottom" title="Delete"><span class="glyphicon-trash"></span></button>
  {{/if}}
</div>
{{/if}}

{{#if batchEdit}}
<div class="btn-group btn-group-action active">
  <button class="btn btn-small" title="Batch Edit" id="batch-edit">Batch Edit</button>
</div>
{{/if}}

{{#if false}}
<div class="header1"><!-- This is just to help styling while form is out of header -->
  <div class="secondary-row row-plain filter-options">
          <ul class="tools left">
            {{#if filter}}
              <li>
                <span class="action" data-add-filter-row>Add Filter</span>
                {{#if hasFilters}}
                  <span class="text-spacer">or</span>
                  <span class="action">Save Search</span><!-- @TODO This is currently dead -->
                {{/if}}
              </li>
            {{/if}}
          </ul>
        {{#if filter}}
          <ul id="advancedFilterList" class="filter-list advanced-search-fields">
            <li class="advanced-search-fields-row filter-form">
              <span class="simple-select">
                <span class="icon icon-triangle-down"></span>
                <select name="" id="" class="medium adv-search-col-id">
                  {{#tableColumns}}
                  <option value="{{this}}">{{this}}</option>
                  {{/tableColumns}}
                </select>
              </span>
              <span class="simple-select">
                <span class="icon icon-triangle-down"></span>
                <select name="" id="" class="small adv-search-query-type">
                  <option value="=">==</option>
                  <option value="<=">&lt;=</option>
                  <option value=">=">&gt;=</option>
                  <option value="like">like</option>
                </select>
              </span>
              <input type="text" placeholder="Keywords..." name="keywords" id="advKeywords" maxlength="255" class="medium">
              <span id="addFilterButton" class="action" >Add</span>
            </li>
          </ul>
        {{/if}}
    <div class="vertical-center right pagination-number">{{#if uBound}} {{number lBound}}–{{number uBound}} of {{number totalCount}}{{/if}}</div>
  </div>
</div>
{{/if}}
