{{#if hasANumericColumn}}
<tr>
    {{#if sortable}}<td></td>{{/if}}
    {{#if selectable}}<td></td>{{/if}}
    {{#columns}}
    <td>
    {{#if showFooter}}
        <div class="select-container choose-footer-metric">
            <select>
                {{#functionsValues}}
                <option value="{{value}}"{{# if selected}} selected{{/if}}>{{value}} ({{name}})</option>
                {{/functionsValues}}
            </select>
            <i class="material-icons select-arrow">arrow_drop_down</i>
        </div>
        <div class="footer-function" data-column="{{title}}">
            <span class="value">{{value}}</span>
            <span class="method">{{selectedFunction}}</span>
            <ul style="list-style:none;margin:0;cursor:pointer;" class="hide footer-function-options">
            {{#otherFunctions}}
                <li>{{this}}</li>
            {{/otherFunctions}}
            </ul>
        </div>
    {{/if}}
    </td>
    {{/columns}}
    <td></td>
</tr>
{{/if}}
