.media-player-theme {
	--media-player-theme--primary: #fff;
	--media-player-theme--secondary: #fff;
}

.media-player-theme .vjs-control-bar {
	height: 70px;
	padding-top: 20px;
	background: none;
	background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
}

.media-player-theme .vjs-button > .vjs-icon-placeholder::before {
	line-height: 50px;
}

.media-player-theme .vjs-play-progress::before {
	display: none;
}

.media-player-theme .vjs-progress-control {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 20px;
}

.media-player-theme .vjs-progress-control .vjs-progress-holder {
	position: absolute;
	top: 20px;
	right: 0;
	left: 0;
	width: 100%;
	margin: 0;
}

.media-player-theme .vjs-play-progress {
	background-color: var(--media-player-theme--primary);
}

.media-player-theme .vjs-remaining-time {
	order: 1;
	line-height: 50px;
	flex: 3;
	text-align: left;
}

.media-player-theme .vjs-play-control {
	order: 2;
	flex: 8;
	font-size: 1.75em;
}

.media-player-theme .vjs-volume-panel,
.media-player-theme .vjs-picture-in-picture-control,
.media-player-theme .vjs-fullscreen-control {
	order: 3;
	flex: 1;
}

/* Volume stuff */
.media-player-theme .vjs-volume-panel:hover .vjs-volume-control.vjs-volume-horizontal {
	height: 100%;
}

.media-player-theme .vjs-mute-control {
	display: none;
}

.media-player-theme .vjs-volume-panel {
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding-top: 1.5em;
}

.media-player-theme .vjs-volume-panel,
.media-player-theme .vjs-volume-panel:hover,
.media-player-theme .vjs-volume-panel.vjs-volume-panel-horizontal:hover,
.media-player-theme .vjs-volume-panel:focus .vjs-volume-control.vjs-volume-horizontal,
.media-player-theme .vjs-volume-panel:hover .vjs-volume-control.vjs-volume-horizontal,
.media-player-theme .vjs-volume-panel:active .vjs-volume-control.vjs-volume-horizontal,
.media-player-theme .vjs-volume-panel.vjs-volume-panel-horizontal:hover,
.media-player-theme .vjs-volume-bar.vjs-slider-horizontal {
	width: 3em;
}

.media-player-theme .vjs-volume-level::before {
	font-size: 1em;
}

.media-player-theme .vjs-volume-panel .vjs-volume-control {
	opacity: 1;
	width: 100%;
	height: 100%;
}

.media-player-theme .vjs-volume-bar {
	background-color: transparent;
	margin: 0;
}

.media-player-theme .vjs-slider-horizontal .vjs-volume-level {
	height: 100%;
}

.media-player-theme .vjs-volume-bar.vjs-slider-horizontal {
	margin-top: 0;
	margin-bottom: 0;
	height: 100%;
}

.media-player-theme .vjs-volume-bar::before {
	content: '';
	z-index: 0;
	width: 0;
	height: 0;
	position: absolute;
	top: 0px;
	left: 0;

	border-style: solid;
	border-width: 0 0 1.75em 3em;
	border-color: transparent transparent rgba(255, 255, 255, 0.25) transparent;
}

.media-player-theme .vjs-volume-level {
	overflow: hidden;
	background-color: transparent;
}

.media-player-theme .vjs-volume-level::before {
	content: '';
	z-index: 1;
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;

	border-style: solid;
	border-width: 0 0 1.75em 3em;
	border-color: transparent transparent var(--media-player-theme--secondary) transparent;
}
