<span class="two-column-form">
<ul class="fields">
<li class="batchcontainer required">
  <div class="table">
  <div class="trow">
    <div class="label" id="edit_field_image">
      <label>Images<span class="note">Images to Upload</span></label>
    </div>
    <div class="field required">
      <style type="text/css">
        div.ui-thumbnail {
          float: left;
          margin-top: 8px;
          max-height: 200px;
          padding: 10px;
          background-color: #ffffff;
          border: 1px solid #ededed;
          -webkit-border-radius:3px;
          -moz-border-radius:3px;
          border-radius:3px;
          color: #ededed;
          text-align: center;
          cursor: pointer;
        }
        div.ui-thumbnail.empty {
          width: 300px;
          height: 100px;
          background-color: #ffffff;
          border: 2px dashed #ededed;
          padding: 9px;
          font-size: 16px;
          font-weight: 600;
          line-height: 100px;
        }
        div.ui-thumbnail.empty:hover {
          background-color: #fefefe;
          border: 2px dashed #cccccc;
          cursor: pointer;
        }
        div.ui-thumbnail img {
          max-height: 200px;
        }
        div.ui-img-details {
          float: left;
          position: relative;
          margin-top: 15px;
          margin-left: 10px;
          line-height: 18px;
        }
        div.ui-img-details a.title {
          font-size: 18px;
        }
        div.ui-img-details div {
          display: inline;
        }
        div.ui-img-details i {
          font-weight: 400;
          font-style: italic;
          color: #ccc;
        }
        button.btn-right {
          margin-top: 8px;
          margin-right: 10px;
        }
      </style>
        <div class="ui-thumbnail empty ui-thumbnail-dropzone batch-ui-thumbnail">Drag media here, or click for existing</div>
    </div>
  </div></div>
</li>
</ul></span>

{{#each data}}
<div class="ui-thumbnail has-media">
  <img src="{{url}}">
</div>
{{/each}}
<br/>
<br/>
<br/>
<div id="upload-content"></div>