{{#unless isNew}}
	<div class="created-modified">
		<a href="#" class="directus-user open-modal js-user" data-user-id="{{meta.createdBy}}">
			<div class="action">{{t "created_by"}}</div>
			<img src="{{userAvatarUrl meta.createdBy}}">
			{{#if meta.createdByIsOnline}}<div class="online">{{t "online"}}</div>{{/if}}
			<div>
				{{userFirstAndLastName meta.createdBy}}
				<div class="datetime" title="{{fullDateTime meta.createdOn}}">
					{{# if meta.createdOn}}
					{{contextualDate meta.createdOn}}
					{{else}}
					{{t "unknown"}}
					{{/if}}
				</div>
			</div>
		</a>
		<a href="#" class="directus-user open-modal js-user" data-user-id="{{meta.updatedBy}}">
			<div class="action">{{t "last_modified_by"}}</div>
			<img src="{{userAvatarUrl meta.updatedBy}}">
			{{#if meta.updatedByIsOnline}}<div class="online">{{t "online"}}</div>{{/if}}
			<div>
				{{userFirstAndLastName meta.updatedBy}}
				<div class="datetime" title="{{fullDateTime meta.updatedOn}}">
					{{# if meta.updatedOn}}
					{{contextualDate meta.updatedOn}}
					{{else}}
					{{t "unknown"}}
					{{/if}}
				</div>
			</div>
		</a>
	</div>

	{{#if previewUrl}}
	<a href="{{previewUrl}}" class="button preview" target="_blank"><i class="material-icons">visibility</i> {{t "preview_url"}}</a>
	{{/if}}
{{/unless}}
