<div class="js-status">
	<ul>
		{{#statuses}}
		<li data-id="{{id}}"{{#if selected}} class="active"{{/if}}><i class="material-icons status-check">check</i><div class="color" style="background-color:{{color}};"></div>{{name}}</li>
		{{/statuses}}
	</ul>
	<i class="material-icons arrow">expand_more</i>
</div>
