<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width = device-width, initial-scale = 1, user-scalable = no" />

	<title>{{project_name}}{%if subtitle %} – {{subtitle}}{%endif%}</title>

	{% block meta %}
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="{{project_name}} – Developed by RANGER Studio LLC" />
	<meta property="og:title" content="{{project_name}}" />
	{% endblock %}

	<meta name="apple-mobile-web-app-title" content="Directus">
	<meta name="application-name" content="Directus">
	<meta name="msapplication-config" content="{{rootUrl}}assets/imgs/icons/browserconfig.xml?v=6.5.0">
	<meta name="theme-color" content="#333333">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">

	<meta property="og:site_name" content="{{project_name}}" />
	<meta property="og:url" content="{{fullUrl}}" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="{{baseUrl}}/assets/logo-large.jpg" />

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="apple-touch-icon" sizes="180x180" href="{{rootUrl}}assets/imgs/icons/apple-touch-icon.png?v=6.5.0">
	<link rel="icon" type="image/png" href="{{rootUrl}}assets/imgs/icons/favicon-32x32.png?v=6.5.0" sizes="32x32">
	<link rel="icon" type="image/png" href="{{rootUrl}}assets/imgs/icons/favicon-16x16.png?v=6.5.0" sizes="16x16">
	<link rel="manifest" href="{{rootUrl}}assets/imgs/icons/manifest.json?v=6.5.0">
	<link rel="mask-icon" href="{{rootUrl}}assets/imgs/icons/safari-pinned-tab.svg?v=6.5.0" color="#3498db">
	<link rel="shortcut icon" href="{{rootUrl}}assets/imgs/icons/favicon.ico?v=6.5.0">

	<link rel="stylesheet" href="{{rootUrl}}assets/css/vendor/normalize.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&amp;subset=latin-ext">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="{{rootUrl}}assets/css/main.css?v=1.0">

</head>
<body dir="{{dir}}" class="{% block bodyClass %}{% endblock %}"><!-- Options: help -->
<div id="main"> <!-- @NOTE: not part of the new design -->
	{% if page == 'login' %}

		<!-- Login -->
		{% block login %}{% endblock %}

	{% else %}
		<!-- Modals & Overlays -->
		{% include 'modals/base.twig.html' %}

		<!-- Header & Sidebar -->
		{% include 'header.twig.html' %}
		{% include 'sidebar.twig.html' %}

		<!-- Page Content -->
		<div id="content" class="page"></div>
	{% endif %}
</div>

	<!-- Javascript -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    {% if page == 'login' %}
    <script type="text/javascript">
    $(function () {
        var $login_message = $('p.message');
        var $login_error = $('.notification');

        function message(message, error) {
            error = error || false;
            if (error) {
                $login_error.html("<i class=\"material-icons\">warning</i>" + message);
                $login_error.show();
            } else {
                $login_message.html("<i class=\"material-icons\">warning</i>" + message);
                $login_message.show();
            }
        }

        {% if inactive %}
            message("{{'logged_out_due_to_inactivity'|trans}}", true);
        {% endif %}

        function clear_messages() {
            $login_error.hide();
            $login_message.hide();
        }

        $('#forgot-password').bind('click', function (e) {
            e.preventDefault();
            clear_messages();

            var $form = $(this).closest('form'),
                email = $.trim($form.find('input[name=email]').val());

            if (email.length == 0) {
                message("{{'enter_a_valid_email_address'|trans}}", true);
                return false;
            }

            if (confirm("{{'are_you_sure_you_want_to_reset_your_password'|trans}}")) {
                $.ajax('{{rootUrl}}api/{{apiVersion}}/auth/forgot-password', {
                    data: {email: email},
                    dataType: 'json',
                    type: 'POST',
                    success: function (data, textStatus, jqXHR) {
                        if (!data.success) {
                            var errorMessage = "{{'oops_an_error_occurred'|trans}}";
                            if (data.message) {
                                errorMessage = data.message;
                            }
                            message(errorMessage, true);
                            return;
                        }
                        message("{{'reset_instructions_have_been_sent'|trans}}?>")
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        message("{{'server_error_occurred'|trans}}", true);
                    }
                });
            }
        });

        $('form').bind('submit', function (e) {
            e.preventDefault();
            clear_messages();

            var email = $.trim($(this).find('input[name=email]').val()),
                password = $.trim($(this).find('input[name=password]').val());

            if (email.length == 0 || password.length == 0) {
                return message("{{'enter_your_email_and_password'|trans}}", true);
            }

            $.ajax('{{rootUrl}}api/{{apiVersion}}/auth/login', {
                data: {email: email, password: password},
                dataType: 'json',
                type: 'POST',
                success: function (data, textStatus, jqXHR) {
                    var defaultPath = 'users';
                    var redirectPath = '{{redirectPath}}';
                    var lastPage = data.last_page;
                    var lastPagePath = lastPage ? lastPage.path : '';
                    var path = redirectPath || lastPagePath || defaultPath;

                    if (!data.success) {
                        message(data.message, true);
                        return;
                    }
                    // $('.login-box').css('opacity', 0);
                    window.location = "{{rootUrl}}" + path;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    message("{{'server_error_occurred'|trans}}", true);
                }
            });
        });
    });
</script>
    {% else %}
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmNpZfwjrxJ0zHEwYxgQ0_eKyfSexbZdQ&libraries=places"></script>
	<script type="text/javascript" src="{{rootUrl}}assets/js/vendor/dragula.min.js"></script>
	<script type="text/javascript" src="{{rootUrl}}assets/js/vendor/chart.min.js"></script>
	<script type="text/javascript" src="{{rootUrl}}assets/js/global.js"></script>
	<script type="text/javascript" src="{{rootUrl}}assets/js/header.js"></script>
	<script type="text/javascript" src="{{rootUrl}}assets/js/interfaces.js"></script>
	<script type="text/javascript" src="{{rootUrl}}assets/js/pages.js"></script>
	<script type="text/javascript" src="{{rootUrl}}assets/js/settings.js"></script>
	<script type="text/javascript" src="{{rootUrl}}assets/js/tables.js"></script>
	<script type="text/javascript" src="{{rootUrl}}assets/js/sidebar.js"></script>
	<script>
		window.directusData = {{data|raw}};
	</script>

	<!-- Application source. -->
	<!--build:js {{path}}assets/js/directus.min.js?bust={{cacheBuster}}-->
	<script data-main="{{rootUrl}}app/main" src="{{rootUrl}}assets/js/libs/require.js?bust={{cacheBuster}}"></script>
	<!--/build -->
    {% endif %}
</body>
</html>
