<div id="mainHeader" class="header">
		<a href="{{rootUrl}}" class="open-modal" data-modal="welcome-1">
			<div class="logo help" data-help="Your Logo – at any point you can click this to visit your project.">
				<img class="directus" src="{{assetsRoot}}imgs/directus-logo.svg">
				<div class="fading-separator"></div>
			</div>
		</a>

        <div id="mainHeaderContent"></div>

        {#
		<div class="breadcrumb help" data-help="This is the 'breadcrumb' which shows you where you are within the system.">
			<i class="material-icons hamburger" title="Bookmark this page">menu</i>
			{% if breadcrumb[0] %}<a class="crumb {% if breadcrumb|length == 1 %}active{% endif %}" href="{{rootUrl}}{{breadcrumbURL[0]}}">{{breadcrumb[0]}}</a>{% endif %}
			{% if breadcrumb|length > 1 %}<i class="material-icons separator">keyboard_arrow_right</i>{% endif %}
			{% if breadcrumb[1] %}<a class="crumb {% if breadcrumb|length == 2 %}active{% endif %}" href="{{rootUrl}}{{breadcrumbURL[0]}}/{{breadcrumbURL[1]}}">{{breadcrumb[1]}}</a>{% endif %}
			{% if breadcrumb|length > 2 %}<i class="material-icons separator">keyboard_arrow_right</i>{% endif %}
			{% if breadcrumb[2] %}<a class="crumb {% if breadcrumb|length == 3 %}active{% endif %}" href="#">{{breadcrumb[2]}}</a>{% endif %}
			{% if breadcrumb[0] == 'Tables' and breadcrumb|length >= 2 %}<i class="material-icons bookmark {% if page == 'item' %}active{% endif %}" title="Bookmark this page">{% if page == 'item' %}bookmark{% else %}bookmark_border{% endif %}</i>{% endif %} <!-- Option: active (icon: bookmark) -->
		</div>

		{% if page == 'items' or page == 'files' or page == 'messages' %}
		<div class="select-container" id="bulkStatus">
			<select name="type">
				<option value="">Set Status</option>
				<option value="1">Active</option>
				<option value="2">Draft</option>
			</select>
			<i class="material-icons select-arrow">arrow_drop_down</i>
		</div>
		{% endif %}

		{% if page == 'items' or page == 'users' or page == 'files' or page == 'messages' %}
		<div class="filter help" data-help="The filter area is used to find specific items within large datasets."> <!-- filter-dropdown-open -->
			<input class="general" type="text" placeholder="12 Filtered Results…">
			<i class="material-icons search">search</i>
			<!-- <i class="material-icons clear">close</i> --> <!-- Only on when there's active filters -->
			<i class="material-icons filter-dropdown-toggle">arrow_drop_down</i>
			<div class="filter-dropdown">
				<h3>Status</h3>
				<div class="status-toggle">
					<input class="custom-checkbox select-row" id="check-status-1" type="checkbox" value="" checked />
					<label for="check-status-1"><span></span> Active</label>
				</div>
				<div class="status-toggle">
					<input class="custom-checkbox select-row" id="check-status-2" type="checkbox" value="" checked />
					<label for="check-status-2"><span></span> Draft</label>
				</div>
				<!-- <div class="status-toggle">
					<input class="custom-checkbox select-row" id="check-status-3" type="checkbox" value="" />
					<label for="check-status-3"><span></span> Deleted</label>
				</div> -->

				<hr>

				<h3>Add New Filter</h3>
				<div class="select-container add-column-filter">
					<select name="type">
						<option value="">Choose Column</option>
						<option value="field">ID</option>
						<option value="field">Title</option>
						<option value="field">Date Published</option>
						<option value="field">Slideshow</option>
						<option value="field">Views</option>
						<option value="field">Hero Image</option>
					</select>
					<i class="material-icons select-arrow">arrow_drop_down</i>
				</div>

				<div class="column-filter">
					<h3>Title</h3>
					<input type="text" placeholder="" value="%test">
					<i class="material-icons remove-filter">close</i>
				</div>

				<div class="column-filter">
					<h3>Date Published</h3>
					<div class="select-container date-filter">
						<select name="type">
							<option value="">On</option>
							<option value="">On or After</option>
							<option value="">On or Before</option>
						</select>
						<i class="material-icons select-arrow">arrow_drop_down</i>
					</div>

					<input type="date" placeholder="" class="date-filter">

					<i class="material-icons remove-filter">close</i>
				</div>

			</div>
		</div>
		{% endif %}

		{% if page == 'items' %}
		<div class="actions">
			<a href="{{rootUrl}}tables/blog/1">
				<div class="action primary">
					<i class="material-icons center">add</i>
					<div class="action-text">Create</div>
					<!-- <i class="material-icons more">more_horiz</i> -->
				</div>
			</a>
			<a href="{{rootUrl}}tables/blog" id="bulkDelete">
				<div class="action serious help" data-help="This button permanently deletes this item. This can not be undone so please be careful!">
					<i class="material-icons center">close</i>
					<div class="action-text">Delete</div>
				</div>
			</a>
			<a href="{{rootUrl}}tables/blog/1" id="bulkEdit">
				<div class="action important help" data-help="This button opens a window to edit all selected items at once. This can easily overwrite a lot of data so be careful!">
					<i class="material-icons center decrease-size">edit</i>
					<div class="action-text">Bulk Edit</div>
				</div>
			</a>
			<div class="action help right-sidebar-toggle" data-help="Opens the item's detail sidebar">
				<i class="material-icons center">info</i>
				<div class="action-text">Options</div>
			</div>
		</div>
		{% elseif page == 'item' %}
		<div class="actions">
			<a href="{{rootUrl}}tables/blog">
				<div class="action primary help" data-help="This button saves the current item. You can also click the 'three dots' at the top for more save options.">
					<i class="material-icons center">check</i>
					<div class="action-text">Save</div>
					<i class="material-icons more">more_horiz</i>
				</div>
			</a>
			<a href="{{rootUrl}}tables/blog">
				<div class="action serious help" data-help="This button permanently deletes this item. This can not be undone so please be careful!">
					<i class="material-icons center">close</i>
					<div class="action-text">Delete</div>
				</div>
			</a>
			<div class="action help right-sidebar-toggle" data-help="Opens the item's detail sidebar">
				<i class="material-icons center">info</i>
				<div class="action-text">Details</div>
			</div>
		</div>
		{% elseif page == 'files' %}
		<div class="actions">
			<div class="action primary help" data-help="Click this button to upload new files to the system – or drag and drop files onto this page directly from your computer.">
				<i class="material-icons center">cloud_upload</i>
				<div class="action-text">Upload</div>
			</div>
			<div class="action help right-sidebar-toggle" data-help="Opens the item's detail sidebar">
				<i class="material-icons center">info</i>
				<div class="action-text">Details</div>
			</div>
		</div>
		{% elseif page == 'file' %}
		<div class="actions">
			<a href="{{rootUrl}}files">
				<div class="action primary help" data-help="This button saves the current item. You can also click the 'three dots' at the top for more save options.">
					<i class="material-icons center">check</i>
					<div class="action-text">Save</div>
					<i class="material-icons more">more_horiz</i>
				</div>
			</a>
			<a href="{{rootUrl}}files">
				<div class="action serious help" data-help="This button permanently deletes this item. This can not be undone so please be careful!">
					<i class="material-icons center">close</i>
					<div class="action-text">Delete</div>
				</div>
			</a>
			<div class="action help right-sidebar-toggle" data-help="Opens the item's detail sidebar">
				<i class="material-icons center">info</i>
				<div class="action-text">Details</div>
			</div>
		</div>
		{% elseif page == 'users' %}
		<div class="actions">
			<div class="action primary open-modal help" data-modal="invite" data-help="This button opens a window for inviting new users to the system.">
				<i class="material-icons center">add</i>
				<div class="action-text">New User</div>
			</div>
			<div class="action help right-sidebar-toggle" data-help="Opens the item's detail sidebar">
				<i class="material-icons center">info</i>
				<div class="action-text">Details</div>
			</div>
		</div>
		{% elseif page == 'messages' %}
		<div class="actions">
			<div class="action primary help" data-help="This button opens a window to compose new messages to other users and groups within the system.">
				<i class="material-icons center">add</i>
				<div class="action-text">New Message</div>
			</div>
		</div>
		{% elseif page == 'settings' %}
		<div class="actions">
			<div class="action help right-sidebar-toggle" data-help="Opens the server's detail sidebar">
				<i class="material-icons center">info</i>
				<div class="action-text">Details</div>
			</div>
		</div>
		{% elseif page == 'global-admin' %}
		<div class="actions">
			<a href="{{rootUrl}}settings">
				<div class="action primary help" data-help="This button saves your changes to the Directus global settings">
					<i class="material-icons center">check</i>
					<div class="action-text">Save</div>
				</div>
			</a>
		</div>
		{% elseif page == 'tables-admin' %}
		<div class="actions">
			<a href="{{rootUrl}}settings/tables/new">
				<div class="action primary help" data-help="This button creates a new table – once created, you can add new columns to it.">
					<i class="material-icons center">add</i>
					<div class="action-text">New Table</div>
				</div>
			</a>
		</div>
		{% elseif page == 'table-admin' %}
		<div class="actions">
			<a href="{{rootUrl}}settings/tables">
				<div class="action primary help" data-help="This button saves your changes to this table and its columns.">
					<i class="material-icons center">check</i>
					<div class="action-text">Save</div>
				</div>
			</a>
			<a href="{{rootUrl}}settings/tables">
				<div class="action serious help" data-help="This button permanently deletes this table and all items within. This can not be undone so please be careful!">
					<i class="material-icons center">close</i>
					<div class="action-text">Delete</div>
				</div>
			</a>
		</div>
		{% elseif page == 'groups' %}
		<div class="actions">
			<a href="{{rootUrl}}settings/groups/new">
				<div class="action primary help" data-help="This button creates a new user group with its own permissions.">
					<i class="material-icons center">add</i>
					<div class="action-text">New Group</div>
				</div>
			</a>
		</div>
		{% elseif page == 'group' %}
		<div class="actions">
			<a href="{{rootUrl}}settings/groups">
				<div class="action primary help" data-help="This button saves your changes to this user group.">
					<i class="material-icons center">check</i>
					<div class="action-text">Save</div>
				</div>
			</a>
			<a href="{{rootUrl}}settings/tables">
				<div class="action serious help" data-help="This button permanently deletes this group and suspends access for any users within. This can not be undone so please be careful!">
					<i class="material-icons center">close</i>
					<div class="action-text">Delete</div>
				</div>
			</a>
		</div>
		{% endif %}
        #}
</div>
