{% extends "base.twig.html" %}

{% block bodyClass %}login{% endblock %}

{% block login %}

<div class="login-panel">
    <form action="{{rootUrl}}api/1/auth/login" method="post" class="login-box" autocomplete="off">
        <div class="input">
            <i class="material-icons">person</i>
            <input name="email" type="email" class="email" placeholder="Email">
        </div>
        <div class="input">
            <i class="material-icons">lock</i>
            <i id="forgot-password" class="material-icons forgot ">help</i>
            <input name="password" type="password" class="password" placeholder="Password">
        </div>
        <button type="submit" class="button">Log In</button> <!-- Optional Class: disabled -->
    </form>
    <div class="hr-label">
        <hr>
        <hr>
        <div class="label">or</div>
    </div>
    <div class="alt-auth">
        <div class="tile google"><a href="/auth/google"><img src="{{assetsRoot}}imgs/login-logo-google.svg"></a></div>
        <div class="tile facebook"><a href="/auth/facebook"><img src="{{assetsRoot}}imgs/login-logo-facebook.svg"></a></div>
        <div class="tile twitter"><a href="/auth/twitter"><img src="{{assetsRoot}}imgs/login-logo-twitter.svg"></a></div>
        <div class="tile github"><a href="/auth/github"><img src="{{assetsRoot}}imgs/login-logo-github.svg"></a></div>
    </div>
</div>

<div class="glow"></div>

<div class="notifications">
    <div class="notification {% if errorMessage %}serious{% endif %}">
        {% if errorMessage %}<i class="material-icons">warning</i> {{errorMessage}}{% endif %}
    </div>
</div>

<!-- We'd appreciate this remaining visible to users. -->
<a href="http://getdirectus.com" class="directus" title="v6.4.0 – {{project_title}}">Powered by Directus</a>

{% endblock %}

{% block login_script %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
{# make this a separate file #}
<script type="text/javascript">
    $(function () {
        var $login_message = $('.notification');

        function message(message, error) {
            error = error || false;
            if (error) {
                $login_message.addClass('serious');
            } else {
                $login_message.removeClass('serious');
            }

            $login_message.html("<i class=\"material-icons\">warning</i>" + message);
            $login_message.show();
        }

        {% if inactive %}
        message("{{'logged_out_due_to_inactivity'|trans}}", true);
        {% endif %}

        function clear_messages() {
            $login_message.hide();
        }

        $('#forgot-password').bind('click', function (e) {
            e.preventDefault();
            clear_messages();

            var $form = $(this).closest('form'),
                email = $.trim($form.find('input[name=email]').val());

            if (email.length == 0) {
                message("{{'enter_a_valid_email_address'|trans}}", true);
                return false;
            }

            if (confirm("{{'are_you_sure_you_want_to_reset_your_password'|trans}}")) {
                $.ajax('{{rootUrl}}api/{{apiVersion}}/auth/forgot-password', {
                    data: {email: email},
                    dataType: 'json',
                    type: 'POST',
                    success: function (data, textStatus, jqXHR) {
                        if (!data.success) {
                            var errorMessage = "{{'oops_an_error_occurred'|trans}}";
                            if (data.message) {
                                errorMessage = data.message;
                            }
                            message(errorMessage, true);
                            return;
                        }

                        message("{{'reset_instructions_have_been_sent'|trans}}")
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        message("{{'server_error_occurred'|trans}}", true);
                    }
                });
            }
        });

        $('form').bind('submit', function (e) {
            e.preventDefault();
            clear_messages();

            var email = $.trim($(this).find('input[name=email]').val()),
                password = $.trim($(this).find('input[name=password]').val());

            if (email.length == 0 || password.length == 0) {
                return message("{{'enter_your_email_and_password'|trans}}", true);
            }

            $.ajax('{{rootUrl}}api/{{apiVersion}}/auth/login', {
                data: {email: email, password: password},
                dataType: 'json',
                type: 'POST',
                success: function (data, textStatus, jqXHR) {
                    var defaultPath = 'users';
                    var redirectPath = '{{redirectPath}}';
                    var lastPage = data.last_page;
                    var lastPagePath = lastPage ? lastPage.path : '';
                    var path = redirectPath || lastPagePath || defaultPath;

                    if (!data.success) {
                        message(data.message, true);
                        return;
                    }
                    // $('.login-box').css('opacity', 0);
                    window.location = "{{rootUrl}}" + path;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    message("{{'server_error_occurred'|trans}}", true);
                }
            });
        });
    });
</script>
{% endblock %}
