{% extends "base.twig" %}

{% block bodyClass %}group-black{% endblock %}

{% block content %}

<div class="container">
	<h1>Page Not Found</h1>
	<a onclick="window.history.go(-1); return false;">Click here</a> to go back.<br>
</div>

{% endblock %}
