<div id="sidebar" class="sidebar">

	{#<!-- <div class="scroll-y">
		<h3>Tables</h3>
		<ul class="menu help" data-help="These are the tables you have access to. Clicking them will show a listing of their items.">
			<a href="{{rootUrl}}tables/table"><li title="About">About</li></a>
			<a href="{{rootUrl}}tables/table"><li title="Blog" class="active">Blog</li></a>
			<a href="{{rootUrl}}tables/table"><li title="Contact">Contact</li></a>
			<a href="{{rootUrl}}tables/table"><li title="Projects">Projects</li></a>
			<a href="{{rootUrl}}tables/table"><li title="Results table with a long name">Results table with a long name</li></a>
		</ul>

		<hr>

		<h3>Bookmarks</h3>
		<ul class="menu bookmarks help" data-help="You can create a bookmark of any page. Bookmarks save all your filters, sorting, and other options for quick and easy access.">
			<li title="Inactive Projects">Inactive Projects <i class="material-icons delete-bookmark">highlight_off</i></li>
			<li title="Legacy Users">Legacy Users with a long name <i class="material-icons delete-bookmark">highlight_off</i></li>
		</ul>
	</div>

	<div class="system user-menu-toggle">
		<img class="avatar" src="{{rootUrl}}assets/imgs/avatar.png">
		<div class="user-name">Benjamin Haynes</div>
		<i class="material-icons user-more">more_vert</i>

		<div class="user-menu">
			<ul>
				<a href="{{rootUrl}}settings"><li><i class="material-icons">settings</i> Admin Settings</li></a>
				<a href="http://docs.getdirectus.com" target="_blank"><li><i class="material-icons">help</i> Help &amp; Docs</li></a>
				<li class="discover">
					<input class="custom-checkbox" id="check-discover" type="checkbox" value="" />
					<label for="check-discover"><span></span> Discover</label>
				</li>
				<hr>
				<a href="{{rootUrl}}files"><li><i class="material-icons">photo_library</i> File Library</li></a>
				<a href="{{rootUrl}}users"><li><i class="material-icons">group</i> User Directory</li></a>
				<hr>
				<a href="{{rootUrl}}messages"><li><i class="material-icons">inbox</i> Messages<div class="count">3</div></li></a>
				<a href="{{rootUrl}}users/1"><li><i class="material-icons">person</i> Your Profile</li></a>
				<a href="{{rootUrl}}" class="open-modal" data-modal="confirm"><li><i class="material-icons">exit_to_app</i> Logout</li></a>
			</ul>
		</div>

	</div> --> #}
</div>