<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{{ settings.global.project_name }}</title>
	<meta name="viewport" content="width=device-width">
	<meta name="format-detection" content="telephone=no">
	<style type="text/css">
		a {
			border: none;
			text-decoration: none;
			color: #4ba6de;
			outline: none !important;
			color: #999999 !important;
		}
		a:hover {
			color: #666666 !important;
		}
		p {
			margin: 20px 0 20px 0;
		}
	</style>
</head>
<body style="margin: 0; padding: 20px; background-color: #f1f1f1; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; font-weight: 400; font-size: 13px; color: #818181; font-family: Helvetica, Helvetica, Arial, sans-serif; letter-spacing: 0;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td style="padding: 0;">
			<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 0 solid #1a1a1a; border-collapse: collapse;">
				<tr>
					<td align="center" bgcolor="#222222" style="padding: 30px 0 30px 0; border-radius: 4px 4px 0 0;">
						<img src="{% if settings.global.cms_thumbnail_url %}{{settings.global.cms_thumbnail_url}}{% else %}https://getdirectus.com/press/directus-logo-6-4-0-email-header.png{% endif  %}" alt="{{ settings.global.project_name }}" width="140" style="display: block;" />
					</td>
				</tr>
				<tr>
					<td bgcolor="#ffffff" style="padding: 60px 30px 60px 30px; border-radius: 0 0 4px 4px;">
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td style="color: #818181; font-family: Helvetica, Arial, sans-serif; padding: 0; line-height: 1.5; font-size: 16px;">
									{% block content %}{% endblock %}
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td bgcolor="#f1f1f1" style="padding: 20px 30px 0 30px;">
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td style="color: #bbbbbb; font-family: Helvetica, Arial, sans-serif; font-size: 12px;" width="75%">
									{% block footer %}
									{% include 'mail/footer.twig' %}
									{% endblock %}
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</body>
</html>
