
<div class="directus-table-container">
	<div class="directus-toolbar">
		<div>
			<div class="omnibox"></div>
			<!--div class="filter pull-left">
				<input type="text" id="quickpicks-filter" placeholder="Filter" >
			</div>
			<div class="filter pull-right">
				<input type="text" id="customer-filter" placeholder="Filter"  >
			</div-->
		</div>
	</div>
	<div class="row-fluid">
		<div class="span4 quick_picks_table"></div>
		<div class="span5 active_products_table"></div>
		<div class="span3 customers_table"></div>
	</div>
</div>