<h2 class="name">{{user.first_name}} {{user.last_name}}</h2>
<ul class="payment_options">
</ul>
<div class="payment_option_details">
	<div class="payment_option_info_credit_card">
		Credit Card Name: <input type="text" name="credit_card_name" id="credit_card_name" value="{{transaction.cc_name}}" /><br />
		 Credit Card Number: <input type="text" name="credit_card_number" id="credit_card_number" placeholder="Please enter the purchaser's credit card number." value="{{transaction.cc_number}}"/><br/>
		Expiration: <input type="text" id="credit_card_exp_month" value="{{transaction.cc_exp_month}}"/> / <input type="text" id="credit_card_exp_year" value="{{transaction.cc_exp_year}}"/>
	</div>
</div>
<div class="employee_id">
</div>