@use 'reset';
@use 'vars';

body {
	font-family: var(--font--body);
	color: var(--typography-1);
}

a {
	text-decoration: underline;
	color: inherit;
}

h1,
h2,
h3,
h4 {
	font-family: var(--font--header);
	font-weight: 600;
	& a {
		text-decoration: none;
	}
}

code,
pre {
	font-family: var(--font--code);
}

.container {
	max-width: var(--max-width);
	padding: 0 var(--page-padding);
	margin-left: auto;
	margin-right: auto;
}

.prose .content {
	h1 {
		font-size: 2rem;
	}
	> h2 {
		margin-top: 3rem;
	}
	p, h1, h2, h3, img, .callout, pre, .directus-cloud {
		margin-bottom: 1rem;
	}
	ul, ol {
		li {
			margin-bottom: 0.5rem;
		}
	}
	pre {
		border: 1px solid black;
		padding: 1rem;
		border-radius: var(--border-radius);
	}
	img {
		border-radius: var(--border-radius);
		display: block;
		width: 100%;
	}
}
