@use 'reset';
@use 'vars';

body {
	font-family: var(--font--body);
	color: var(--typography-1);
}

a {
	text-decoration: underline;
	color: inherit;
}

h1,
h2,
h3,
h4 {
	font-family: var(--font--header);
	font-weight: 600;
	& a {
		text-decoration: none;
	}
}

code,
pre {
	font-family: var(--font--code);
}

.container {
	max-width: var(--max-width);
	padding: 0 var(--page-padding);
	margin-left: auto;
	margin-right: auto;
}

.container .container {
	padding-left: 0;
	padding-right: 0;
}

.prose {
	line-height: 1.9;
	h1 {
		font-size: 2rem;
	}
	> h2,
	h2.header-with-badge {
		margin-top: 3rem;
	}
	h3 {
		margin-top: 2rem;
	}
	> h2 + h3 {
		margin-top: 1rem;
	}
	h1, h2, h3, h4 {
		margin-bottom: 0.3rem;
		code {
			font-size: 1.1rem;
		}
	}
	p, img, ul, ol, table, .tabs-container {
		margin-bottom: 1rem;
	}
	.box, .directus-cloud, .callout, .prose-pre {
		margin-bottom: 1.5rem;
		margin-top: 1.5rem;
	}
	ul, ol {
		ul, ol {
			margin-top: 0.5rem;
		}
	}
	a:not([href*='directus.io']):not([href*='directus.cloud']):not([href*='localhost']):not([href*='127.0.0.1'])[href*='//']{
		display: inline-block;
		&:after {
			--size: 1rem;
			content: '';
			background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0ibTE2IDguNGwtOC45IDguOXEtLjI3NS4yNzUtLjcuMjc1dC0uNy0uMjc1dC0uMjc1LS43dC4yNzUtLjdMMTQuNiA3SDdxLS40MjUgMC0uNzEyLS4yODhUNiA2dC4yODgtLjcxMlQ3IDVoMTBxLjQyNSAwIC43MTMuMjg4VDE4IDZ2MTBxMCAuNDI1LS4yODguNzEzVDE3IDE3dC0uNzEyLS4yODhUMTYgMTZ6Ii8+PC9zdmc+');
			display: inline-block;
			background-size: var(--size);
			width: var(--size);
			height: var(--size);
		}
	}
	img {
		border-radius: var(--border-radius);
		display: block;
		width: 100%;
	}
	code {
		background: var(--background--subtle);
		font-size: 0.8rem;
		padding: 0rem 0.2rem;
		border-radius: 4px;
		border: 1px solid var(--border-2);
	}
	pre code {
		font-weight: normal;
		background: inherit;
		padding: 0;
		border-radius: 0;
		border: none;
	}
	table, td, th {
		border: 1px solid var(--border-2);
		border-collapse: collapse;
		text-align: left;
	}
	table {
		width: 100%;
		border-radius: var(--border-radius);
	}
	th {
		font-weight: bold;
		background: var(--bg-2);
	}
	td, th {
		padding: 0.5rem 0.75rem;
	}
}

.section-title {
	color: var(--typography--subdued);
	text-transform: uppercase;
	font-size: var(--nav-font);
	font-weight: 500;
}
