.directus-modal-backdrop {
  z-index: 998;
  background-color: $lightGrey;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.directus-alert-modal {
  @extend .rounded-corners;
  @extend .card-shadow;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 440px;
  min-height: 90px;
  margin-left: -250px;
  margin-top: -170px;
  padding: 30px 30px 30px 30px;
  background-color: $white;
  color: $extraDarkGrey;
  font-size: 14px;
  font-weight: 500;
  z-index: 110;
  //box-shadow: 0 2px 6px $mediumGrey;
  -webkit-font-smoothing: antialiased;
  .directus-alert-modal-message {
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    padding-bottom: 10px;
    word-wrap: break-word;
  }
  input {
    width: 100%;
    font-weight: normal;
  }
  .directus-alert-modal-buttons {
    margin-top: 20px;
    text-align: right;
    button {
      @include transition (background-color, $fastSpeed, ease-in-out);
      @include border-radius(3px, 3px, 3px, 3px);
      padding: 14px 24px 14px 24px;
      text-align: center;
      color: $white;
      background-color: $mediumGrey;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: none;
      // border-bottom: 3px solid darken($mediumGrey, 5%);
      margin-left: 20px;
      min-width: 120px;
      font-weight: 500;
      -webkit-font-smoothing: antialiased;
      &:hover {
        background-color: darken($mediumGrey, 10%);
        // border-bottom: 3px solid darken($mediumGrey, 10%);
      }
      &.primary {
        background-color: $primaryColor;
        // border-bottom: 3px solid darken($addColor, 5%);
        &:hover {
          background-color: darken($primaryColor, 20%);
          // border-bottom: 3px solid darken($addColor, 10%);
        }
      }
    }
  }
}

.noty_box {
    position: relative;
}
.noty_bar:before {
    content: "×";
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    line-height: 22px;
}
.noty_text {
    -ms-word-break: break-all;
    -ms-word-wrap: break-all;
    -webkit-word-break: break-word;
    -webkit-word-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  ul {
    padding-left: 20px;
  }
}
