@mixin btn-white() {
  color: $darkGrey;
  background-color: $white;
  border-color: $lightGrey;
  border-top: 1px solid $lightGrey;
  border-bottom: 1px solid $lightGrey;
  &:hover {
    background-color: $lightGrey
  }
  &.active, &.wysihtml5-command-active {
    border-top-color: $darkGrey;
    border-bottom-color: $darkGrey;
    border-left-color: $darkGrey;
    background-color: $darkGrey;
    color: $white;
  }
}

.btn-toolbar {
  @extend .clear-fix;
  clear: both;
  float: none;
  margin-bottom: $smallPad;
  .btn-group {
    float: left;
    margin-right: $extraSmallPad;
    &:last-child {
      margin-right: 0px;
    }
  }
}
.btn-group {
  &.btn-white {
    .btn {
      @extend .btn-white;
      border-right-width: 0px;
      &:first-child {
        @include border-radius(0px, 0px, 4px, 4px);
        border-left-width: 1px;
      }
      &:last-child {
        //border-right-width: 1px;
        border-right: 1px solid $lightGrey;
      }
    }
  }
  .btn {
    @include border-radius(0px, 0px, 0px, 0px);
    border-left: solid 1px $lightGrey;
    border-right-width: 0px;
    display: block;
    float: left;
    &:first-child {
      @include border-radius(0px, 0px, 4px, 4px);
      border-left-width: 0px;
    }
    &:last-child {
      @include border-radius(4px, 4px, 0px, 0px);
      border-right-width: 1px;
    }
    &.btn-round {
      &:first-child {
        @include border-radius(0px, 0px, 50%, 50%);
      }
      &:last-child {
        @include border-radius(50%, 50%, 0px, 0px);
      }
    }
  }
  &.wysiwyg-toolbar {
    .btn {
      padding: 5px 6px 5px 6px;
      font-size: 14px;
      min-height: 32px;
    }
  }
}
.btn {
  @include border-radius(3px, 3px, 3px, 3px);
  background-color: $mediumGrey;
  border: none;
  border-bottom: 2px solid darken($mediumGrey, 10%);
  color: $white;
  cursor: pointer;
  padding: 12px 15px 10px 15px;
  letter-spacing: 0;
  font-weight: 600;
  -webkit-font-smoothing: antialiased !important;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  &:hover {
    background-color: darken($mediumGrey, 10%);
    border-bottom: 2px solid darken($mediumGrey, 20%);
  }
  &:active {
    background-color: darken($mediumGrey, 20%);
    border-bottom: 2px solid darken($mediumGrey, 30%);
  }
  &.active {
    background-color: $extraDarkGrey;
  }
  &.btn-white {
    @include btn-white();
  }
  &.btn-round {
    @include border-radius(50%, 50%, 50%, 50%);
    border: 0px;
    padding: $smallPad;
  }
  &.btn-small {
    padding: 5px 10px 5px 10px;
  }
  .icon {
    font-size: 400%;
    line-height: 16%;
  }
  .material-icons {
    vertical-align: middle;
    font-size: 18px;
  }
}

//////////////////////////////////////////////////////////////////////////////
// Overrides

#existingFileButton {
  color: $extraDarkGrey;
}

//////////////////////////////////////////////////////////////////////////////
// Switches

.toggle-switch {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  padding: 2px;
  width: 30px;
  height: 15px;
  background-color: lighten($mediumGrey, 15%);
  border-radius: 15px;
  transition: background 0.4s;
  &:hover {
    background-color: lighten($mediumGrey, 5%);
  }
}
.toggle-switch:before,
.toggle-switch:after {
  display: block;
  position: absolute;
  content: "";
}
.toggle-switch:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 15px;
  transition: background 0.4s;
}
.toggle-switch:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 13px;
  background-color: lighten($mediumGrey, 15%);
  border-radius: 13px;
  transition: margin 0.4s, background 0.4s;
}
.toggle-switch.on {
  background-color: $addColor;
  &:hover {
    background-color: darken($addColor, 10%);
  }
}
.toggle-switch.on:after {
  margin-left: 15px;
  background-color: $addColor;
  left: 2px;
}

// Below is toggle with input

.toggle-switch-input {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.toggle-switch-input + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.toggle-switch-input + label {
  padding: 2px;
  width: 30px;
  height: 15px;
  background-color: $lightGrey;
  border-radius: 15px;
  transition: background 0.4s;
}
input.toggle-switch-input + label:before,
input.toggle-switch-input + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.toggle-switch-input + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 15px;
  transition: background 0.4s;
}
input.toggle-switch-input + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 13px;
  background-color: $lightGrey;
  border-radius: 13px;
  transition: margin 0.4s, background 0.4s;
}
input.toggle-switch-input:checked + label {
  background-color: $addColor;
}
input.toggle-switch-input:checked + label:after {
  margin-left: 15px;
  background-color: $addColor;
}