.cards {
  padding-left: 0px;
  .card {
    &.inactive {
      opacity: 0.4;
    }
    @extend .card-border;
    font-size: 12px;
    list-style: none;
    .header-image {
      overflow: hidden;
      height: 200px;
      position: relative;
      width: 200px;
      background-color: $lightGrey;
      text-align: center;
      border-radius: 4px 4px 0 0;
      &:hover {
        cursor: pointer;
        .tool-item {
          opacity: 1.0;
        }
      }
      .embed-icon {
        color: $white;
        position: absolute;
        bottom: 12px;
        right: 18px;
        z-index: 2;
      }
      .default-info {
        border: solid 1px $lightGrey;
        border-bottom: 0px;
        font-size: 45px;
        font-weight: 500;
        height: 199px;
        line-height: 190px;
        text-align: center;
      }
      .default-loading {
        border: solid 1px $lightGrey;
        border-bottom: 0px;
        font-size: 45px;
        font-weight: 500;
        height: 199px;
        line-height: 190px;
        text-align: center;
        .icon {
          @extend .pulsate;
          line-height: 130%;
        }
      }
      img {
        // display: block; // This inhibits centering of images
      }
      .tool-item {
        background-color: $white;
        bottom: 10px;
        color: $darkGrey;
        position: absolute;
        right: 10px;
        z-index: 3;
        opacity: 0;
        .material-icons {
          font-size: 18px;
          margin-top: 6px;
        }
      }
    }
    &.active {
      .header-image {
        border-bottom-style: solid;
        border-bottom-width: 3px;
        margin-bottom: -7px;
      }
    }
    .media-card-progress {
      position: absolute;
      background-color: $addColor;
      z-index: 10;
      bottom:0px;
      height:4px;
      width:100%;
    }
    .info {
      //border: solid 1px $lightGrey;
      background-color: $white;
      border-top: none;
      min-height: 100px;
      border-radius: 0 0 4px 4px;
      border-top: 1px solid $lightGrey;
      padding-top: 4px;
      .featured, .extra {
        padding: 14px 0 14px 0;
        margin-left: 14px;
        margin-right: 14px;
      }
      .featured {
        margin-top: -4px;
      }
      .primary-info {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 2px;
        div {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .extra {
        padding-top: 12px;
        border-top: 1px solid $lightGrey;
        li {
          border-bottom: solid 1px $white;
          list-style: none;
          padding: 4px 22px 4px 0px;
          position: relative;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          &:last-child {
            border-bottom: none;
          }
          .sub-line {
            font-size: 10px;
            margin-top: -5px;
          }
          .icon {
            float: right;
            font-size: 30px;
            position: absolute;
            right: 0px;
            top: 10px;
            line-height: 1px;
            vertical-align: top;
          }
        }
      }
    }
  }
}

.feature-cards {
  padding-left: 0px;
  .feature-card {
    @extend .card-border;
    @extend .card-shadow;
    @extend .rounded-corners;
    background-color: $white;
    list-style: none;
    padding: $standardPad;
    height: 100px;
    overflow: hidden;
    position: relative;
    &:hover .material-icons {
      color: darken($primaryColor, 10%) !important;
    }
    .left-col {
      color: $lightGrey;
      text-align: center;
      width: 150px;
      position: absolute;
      top: 0;
      left: 0;
      .material-icons {
        @include transition();
        display: inline-block;
        color: $primaryColor;
        font-size: 70px;
        line-height: 140px;
      }
    }
    .right-col {
      max-width: 400px;
      margin-left: 130px;
      font-weight: 400;
    }
  }
}
