////////////
//  INPUTS
////////////
select {
  cursor: pointer;
}
.icon-select {
  position: relative;
  select {
    background: transparent;
    border: 0px;
    bottom: 0px;
    left: 0px;
    font-size: 12px;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 20px;
    -webkit-appearance: none;
  }
}
.char-count-container {
  position: relative;
  display: inline-block;
  max-width: 700px;
  width: 100%;
  .char-count {
    position: absolute;
    top: 14px;
    right: 14px;
    color: $mediumGrey;
  }
}
.standard-select {
  position: relative;
  .icon {
    bottom: 0px;
    line-height: 22px;
    padding: 0px 6px 0px 0px;
    pointer-events: none;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  select {
    @include border-radius(0px, 0px, 0px, 0px);
    background-color: $white;
    border: solid 1px $lightGrey;
    color: $darkGrey;
    cursor: pointer;
    padding: $extraSmallPad 25px $extraSmallPad $smallPad;
    -webkit-appearance: none;
  }
}
.simple-select {
  display: inline-block;
  position: relative;
  .icon {
    bottom: 0px;
    display: block;
    font-size: 200%;
    line-height: 52%;
    //padding: 0px $extraSmallPad 0px $extraSmallPad;
    pointer-events: none;
    position: absolute;
    right: 7px;
    top: 0px;
  }
  select {
    background: transparent;
    border: none;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased !important;
    font-weight: 600;
    padding: 0 20px 0 0;
    outline: none;
    &:focus {
      border: none;
    }
    &:hover {
      border: none;
    }
  }
}
.two-column-form div.custom-check {
  margin-top: 4px;
  &.with-sort {
    padding-left: 0;
  }
}
.custom-check input[type="checkbox"], .custom-check input[type="radio"],
input[type="checkbox"].custom-check, input[type="radio"].custom-check {
  display:none;
  +label {
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    margin-right: $smallPad;
    position: relative;
    vertical-align: bottom;
    span:before {
      content: "check_box_outline_blank";
      @extend .material-icons;
    }
    span {
      color: $mediumGrey;
      display:inline-block;
      width:18px;
      height:22px;
      margin:0px $extraSmallPad 0 0;
      vertical-align:middle;
    }
  }
  &:checked {
    +label {
      span:before {
        content: "check_box";
        @extend .material-icons;
      }
    }
  }
}
input[type="radio"] {
  display: inline-block;
  width: auto;
  margin-right: 8px;
  cursor: pointer;
}
input,
textarea,
select,
.input {
  @include transition();
  background-color: $fieldColor;
  border: none;
  display: block;
  padding: 14px;
  font-size: 14px;
  outline: none;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:hover {
    //border: solid 1px $mediumGrey;
  }
  &:disabled {
    color: $mediumGrey;
  }
  &:disabled:hover {
    //border: solid 1px $lightGrey;
  }
  &:focus {
    color: darken($darkGrey, 10%);
  }
  &.legacy {
    padding: $smallPad;
    font-size: 13px;
  }
}
.wysiwyg {
  .btn-toolbar {
    margin-bottom: $extraSmallPad;
  }
}
.directus-media-ui {
  border: none;
  padding: 0;
  margin: 0;
  .media-container {
    margin-right: 20px;
    float: left;
    height: auto;
    width: 200px;
    img {
      width: 100%;
    }
  }
}
.status-group label {
  cursor: pointer;
}
////////////
//  CUSTOM FORMS
////////////

.table-striped tr td.field-comment-container {
  padding-right: 40px;
  .field-comment {
    width: 100%;
  }
}
.simple-select.simple-gray {
  margin-top: 0;
  .icon {
    top: 8px;
  }
  select {
    @include border-radius();
    background-color: $white; // class name no longer applicable
    border: 0px;
    //margin: 0px 4px 0px 0px;
    padding: 8px $smallPad;
  }
}
.two-column-form {
  $maxFieldWidth: 700px;
  .medium {
    width: 300px;
  }
  .small {
    width: 100px;
  }
  h2 {
    margin-bottom: $smallPad;
  }
  .fields {
    @extend .card-border;
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    li {
      margin-top: 1px;
      position: relative;
      width: 100%;
    }
    .fieldset-smoke {
      position:absolute;
      top:0px;
      left:0px;
      right:0px;
      bottom:0px;
      background-color:rgba(255,255,255,0.5);
      z-index:1;
    }
    .table {
      display: table;
      position: relative;
      width: 100%;
      .trow {
        display: table-row;
        .label, .field {
          display: table-cell;
        }
      }
    }
    .label {
      @extend .border-box;
      @extend .clear-fix;
      background-color: $white;
      color: $darkGrey;
      font-weight: 600;
      padding: 44px $standardPad $largePad $largePad;
      vertical-align: top;
      width: 200px;
      label {
        position: relative;
        text-transform: capitalize;
        //top: -5px;
        font-size: 14px;
        font-weight: 600;
        .note {
          display: block;
          color: $mediumGrey;
          font-style: italic;
          text-transform: none;
          font-size: 12px;
          a {
            border-bottom: dotted 1px $mediumGrey;
            &:hover {
              color: $darkGrey;
            }
          }
        }
      }
      .batch-edit-on {
        font-weight: 700;
        display: block;
        z-index: 2;
        input {
          display: inline-block;
          width: auto;
        }

      }
    }
    .field {
      @extend .clear-fix;
      background-color: $white;
      padding: $largePad;
      position: relative;
      font-weight: 400;
      input[type="text"], textarea, .input {
        max-width: $maxFieldWidth;
        display: inline-block;
        width: 100%;
      }
      .force-editable {
        line-height: 20px;
        padding: 10px;
        -webkit-font-smoothing: auto;
        a {
          text-decoration: underline;
          color: $addColor;
        }
        img {
          &:hover {
            border: 1px dotted $mediumGrey;
            margin-left: -1px;
            margin-top: -1px;
            margin-right: -1px;
            margin-bottom: -1px;
          }
        }
      }
      textarea {
        min-height: 100px;
        padding: 14px;
        resize: vertical;
        line-height: 20px;
        &.wysihtml5-style {
          padding: 0;
        }
      }
      select {
        max-width: 200px;
        margin-top: 2px;
        height: 38px;
        width: 100%;
      }
      select[multiple] {
        height: auto;
      }
      input.small {
        max-width: 100px;
      }
      input.medium {
        max-width: 300px;
      }
      .standard-select {
        float: left;
      }
      .file {
        min-height: 100px;
        max-width: $maxFieldWidth;
        position: relative;
        .thumbnail {
          left: 0px;
          position: absolute;
          top: 0px;
        }
        .content {
          margin-left: $standardPad + 100;
          .row {
            border-bottom: solid 1px $mediumGrey;
            margin: 0px;
            padding-bottom: $smallPad;
            position: relative;
            &:last-child {
              border: none;
              padding: $smallPad 0px 0px 0px;
            }
            .info {
              margin-right: 120px;
            }
            .remove-media {
              &:hover {
                color: $deleteColor;
              }
              .icon {
                display: inline-block;
                line-height: 12px;
                margin-right: $extraSmallPad;
                vertical-align: top;
              }
            }
          }
        }
      }
    }
  }
}