//////////////////////////////////////////////////////////////////////////////
// Mterial Design Icons

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material-design/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/material-design/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/material-design/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/material-design/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
  &.vertical-middle {
    vertical-align: middle;
  }
}
.large-circle {
  &.icon-offset {
    .material-icons {
      margin-top: 4px;
    }
  }
}

//////////////////////////////////////////////////////////////////////////////
// Directus Font

@font-face {
  font-family: 'Directus';
  src: url('../fonts/directus/directus-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/directus/directus-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/directus/directus-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/directus/directus-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/directus/directus-regular.svg#entypo') format('svg'); /* Legacy iOS */
}

//////////////////////////////////////////////////////////////////////////////

.icon {
  display: inline-block;
  font-family: $glyphFont;
  font-size: 300%;
  font-style: normal;
  font-weight: 100 !important;
  letter-spacing: normal;
  line-height: 90%;
  text-transform: lowercase !important;
  vertical-align: top;
  -webkit-font-smoothing: antialiased !important;
}

.icon-pencil.color {
  &:before {
   color: $editColor;
  }
}
.icon-plus.color {
  &:before {
   color: $addColor;
  }
}
.icon-cross.color {
  &:before {
   color: $deleteColor;
  }
}
.icon-attach.color {
  &:before {
   color: $attachColor;
  }
}
.icon-key.color {
  &:before {
   color: $loginColor;
  }
}
.icon-warning.color {
  &:before {
   color: $errorColor;
  }
}

// Directus Fonts
.icon-directus:before { content: "\1F6C5" }
.icon-power-button:before { content: "\1F6C9" }

// Entypo Originals
.icon-phone:before { content: "\1F4DE" }
.icon-mobile:before { content: "\1F4F1" }
.icon-mouse:before { content: "\E789" }
.icon-address:before { content: "\E723" }
.icon-mail:before { content: "\2709" }
.icon-paper-plane:before { content: "\1F53F" }
.icon-pencil:before { content: "\270F" } // was \270E
.icon-feather:before { content: "\2712" }
.icon-attach:before { content: "\1F4CE" }
.icon-inbox:before { content: "\E777" }
.icon-reply:before { content: "\E712" }
.icon-reply-all:before { content: "\E713" }
.icon-forward:before { content: "\27A6" }
.icon-user:before { content: "\1F464" }
.icon-users:before { content: "\1F465" }
.icon-add-user:before { content: "\E700" }
.icon-vcard:before { content: "\E722" }
.icon-export:before { content: "\E715" }
.icon-location:before { content: "\E724" }
.icon-map:before { content: "\E727" }
.icon-compass:before { content: "\E728" }
.icon-direction:before { content: "\27A2" }
.icon-hair-cross:before { content: "\1F3AF" }
.icon-share:before { content: "\E73C" }
.icon-shareable:before { content: "\E73E" }
.icon-heart:before { content: "\2665" }
.icon-heart-empty:before { content: "\2661" }
.icon-star:before { content: "\2605" }
.icon-star-empty:before { content: "\2606" }
.icon-thumbs-up:before { content: "\1F44D" }
.icon-thumbs-down:before { content: "\1F44E" }
.icon-chat:before { content: "\E720" }
.icon-comment:before { content: "\E718" }
.icon-quote:before { content: "\275E" }
.icon-home:before { content: "\2302" }
.icon-popup:before { content: "\E74C" }
.icon-search:before { content: "\1F50D" }
.icon-flashlight:before { content: "\1F526" }
.icon-print:before { content: "\E716" }
.icon-bell:before { content: "\1F514" }
.icon-link:before { content: "\1F517" }
.icon-flag:before { content: "\2691" }
.icon-cog:before { content: "\2699" }
.icon-tools:before { content: "\2692" }
.icon-trophy:before { content: "\1F3C6" }
.icon-tag:before { content: "\E70C" }
.icon-camera:before { content: "\1F4F7" }
.icon-megaphone:before { content: "\1F4E3" }
.icon-moon:before { content: "\263D" }
.icon-palette:before { content: "\1F3A8" }
.icon-leaf:before { content: "\1F342" }
.icon-note:before { content: "\266A" }
.icon-beamed-note:before { content: "\266B" }
.icon-new:before { content: "\1F4A5" }
.icon-graduation-cap:before { content: "\1F393" }
.icon-book:before { content: "\1F4D5" }
.icon-newspaper:before { content: "\1F4F0" }
.icon-bag:before { content: "\1F45C" }
.icon-airplane:before { content: "\2708" }
.icon-lifebuoy:before { content: "\E788" }
.icon-eye:before { content: "\E70A" }
.icon-clock:before { content: "\1F554" }
.icon-mic:before { content: "\1F3A4" }
.icon-calendar:before { content: "\1F4C5" }
.icon-flash:before { content: "\26A1" }
.icon-thunder-cloud:before { content: "\26C8" }
.icon-droplet:before { content: "\1F4A7" }
.icon-cd:before { content: "\1F4BF" }
.icon-briefcase:before { content: "\1F4BC" }
.icon-air:before { content: "\1F4A8" }
.icon-hourglass:before { content: "\23F3" }
.icon-gauge:before { content: "\1F6C7" }
.icon-language:before { content: "\1F394" }
.icon-network:before { content: "\E776" }
.icon-key:before { content: "\1F511" }
.icon-battery:before { content: "\1F50B" }
.icon-bucket:before { content: "\1F4FE" }
.icon-magnet:before { content: "\E7A1" }
.icon-drive:before { content: "\1F4FD" }
.icon-cup:before { content: "\2615" }
.icon-rocket:before { content: "\1F680" }
.icon-brush:before { content: "\E79A" }
.icon-suitcase:before { content: "\1F6C6" }
.icon-traffic-cone:before { content: "\1F6C8" }
.icon-globe:before { content: "\1F30E" }
.icon-keyboard:before { content: "\2328" }
.icon-browser:before { content: "\E74E" }
.icon-publish:before { content: "\E74D" }
.icon-progress-3:before { content: "\E76B" }
.icon-progress-2:before { content: "\E76A" }
.icon-progress-1:before { content: "\E769" }
.icon-progress-0:before { content: "\E768" }
.icon-light-down:before { content: "\1F505" }
.icon-light-up:before { content: "\1F506" }
.icon-adjust:before { content: "\25D1" }
.icon-code:before { content: "\E714" }
.icon-monitor:before { content: "\1F4BB" }
.icon-infinity:before { content: "\221E" }
.icon-light-bulb:before { content: "\1F4A1" }
.icon-credit-card:before { content: "\1F4B3" }
.icon-database:before { content: "\1F4F8" }
.icon-voicemail:before { content: "\2707" }
.icon-clipboard:before { content: "\1F4CB" }
.icon-cart:before { content: "\E73D" }
.icon-box:before { content: "\1F4E6" }
.icon-ticket:before { content: "\1F3AB" }
.icon-rss:before { content: "\E73A" }
.icon-signal:before { content: "\1F4F6" }
.icon-thermometer:before { content: "\1F4FF" }
.icon-water:before { content: "\1F4A6" }
.icon-sweden:before { content: "\F601" }
.icon-line-graph:before { content: "\1F4C8" }
.icon-pie-chart:before { content: "\25F4" }
.icon-bar-graph:before { content: "\1F4CA" }
.icon-area-graph:before { content: "\1F53E" }
.icon-lock:before { content: "\1F512" }
.icon-lock-open:before { content: "\1F513" }
.icon-logout:before { content: "\E741" }
.icon-login:before { content: "\E740" }
.icon-check:before { content: "\2713" }
.icon-cross:before { content: "\271D" } // was \274C
.icon-squared-minus:before { content: "\229F" }
.icon-squared-plus:before { content: "\229E" }
.icon-squared-cross:before { content: "\274E" }
.icon-circled-minus:before { content: "\2296" }
.icon-circled-plus:before { content: "\2295" }
.icon-circled-cross:before { content: "\2716" }
.icon-minus:before { content: "\2796" }
.icon-plus:before { content: "\2795" }
.icon-erase:before { content: "\232B" }
.icon-block:before { content: "\1F6AB" }
.icon-info:before { content: "\2139" }
.icon-circled-info:before { content: "\E705" }
.icon-help:before { content: "\2753" }
.icon-circled-help:before { content: "\E704" }
.icon-warning:before { content: "\26A0" }
.icon-cycle:before { content: "\1F504" }
.icon-cw:before { content: "\27F3" }
.icon-ccw:before { content: "\27F2" }
.icon-shuffle:before { content: "\1F500" }
.icon-back:before { content: "\1F519" }
.icon-level-down:before { content: "\21B3" }
.icon-retweet:before { content: "\E717" }
.icon-loop:before { content: "\1F501" }
.icon-back-in-time:before { content: "\E771" }
.icon-level-up:before { content: "\21B0" }
.icon-switch:before { content: "\21C6" }
.icon-numbered-list:before { content: "\E005" }
.icon-add-to-list:before { content: "\E003" }
.icon-layout:before { content: "\268F" }
.icon-list:before { content: "\2630" }
.icon-text-doc:before { content: "\1F4C4" }
.icon-text-doc-inverted:before { content: "\E731" }
.icon-doc:before { content: "\E730" }
.icon-docs:before { content: "\E736" }
.icon-landscape-doc:before { content: "\E737" }
.icon-picture:before { content: "\1F304" }
.icon-video:before { content: "\1F3AC" }
.icon-music:before { content: "\1F3B5" }
.icon-folder:before { content: "\1F4C1" }
.icon-archive:before { content: "\E800" }
.icon-trash:before { content: "\E729" }
.icon-upload:before { content: "\1F4E4" }
.icon-download:before { content: "\1F4E5" }
.icon-save:before { content: "\1F4BE" }
.icon-install:before { content: "\E778" }
.icon-cloud:before { content: "\2601" }
.icon-upload-cloud:before { content: "\E711" }
.icon-bookmark:before { content: "\1F516" }
.icon-bookmarks:before { content: "\1F4D1" }
.icon-open-book:before { content: "\1F4D6" }
.icon-play:before { content: "\25B6" }
.icon-paus:before { content: "\2016" }
.icon-record:before { content: "\25CF" }
.icon-stop:before { content: "\25A0" }
.icon-ff:before { content: "\23E9" }
.icon-fb:before { content: "\23EA" }
.icon-to-start:before { content: "\23EE" }
.icon-to-end:before { content: "\23ED" }
.icon-resize-full:before { content: "\E744" }
.icon-resize-small:before { content: "\E746" }
.icon-volume:before { content: "\23F7" }
.icon-sound:before { content: "\1F50A" }
.icon-mute:before { content: "\1F507" }
.icon-flow-cascade:before { content: "\1F568" }
.icon-flow-branch:before { content: "\1F569" }
.icon-flow-tree:before { content: "\1F56A" }
.icon-flow-line:before { content: "\1F56B" }
.icon-flow-parallel:before { content: "\1F56C" }
.icon-left-bold:before { content: "\E4AD" }
.icon-down-bold:before { content: "\E4B0" }
.icon-up-bold:before { content: "\E4AF" }
.icon-right-bold:before { content: "\E4AE" }
.icon-left:before { content: "\2B05" }
.icon-down:before { content: "\2B07" }
.icon-up:before { content: "\2B06" }
.icon-right:before { content: "\27A1" }
.icon-circled-left:before { content: "\E759" }
.icon-circled-down:before { content: "\E758" }
.icon-circled-up:before { content: "\E75B" }
.icon-circled-right:before { content: "\E75A" }
.icon-triangle-left:before { content: "\25C2" }
.icon-triangle-down:before { content: "\25BE" }
.icon-triangle-up:before { content: "\25B4" }
.icon-triangle-right:before { content: "\25B8" }
.icon-chevron-left:before { content: "\E75D" }
.icon-chevron-down:before { content: "\E75C" }
.icon-chevron-up:before { content: "\E75F" }
.icon-chevron-right:before { content: "\E75E" }
.icon-chevron-small-left:before { content: "\E761" }
.icon-chevron-small-down:before { content: "\E760" }
.icon-chevron-small-up:before { content: "\E763" }
.icon-chevron-small-right:before { content: "\E762" }
.icon-chevron-thin-left:before { content: "\E765" }
.icon-chevron-thin-down:before { content: "\E764" }
.icon-chevron-thin-up:before { content: "\E767" }
.icon-chevron-thin-right:before { content: "\E766" }
.icon-left-thin:before { content: "\2190" }
.icon-down-thin:before { content: "\2193" }
.icon-up-thin:before { content: "\2191" }
.icon-right-thin:before { content: "\2192" }
.icon-arrow-combo:before { content: "\E74F" }
.icon-three-dots:before { content: "\23F6" }
.icon-two-dots:before { content: "\23F5" }
.icon-dot:before { content: "\23F4" }
.icon-cc:before { content: "\1F545" }
.icon-cc-by:before { content: "\1F546" }
.icon-cc-nc:before { content: "\1F547" }
.icon-cc-nc-eu:before { content: "\1F548" }
.icon-cc-nc-jp:before { content: "\1F549" }
.icon-cc-sa:before { content: "\1F54A" }
.icon-cc-nd:before { content: "\1F54B" }
.icon-cc-pd:before { content: "\1F54C" }
.icon-cc-zero:before { content: "\1F54D" }
.icon-cc-share:before { content: "\1F54E" }
.icon-cc-remix:before { content: "\1F54F" }
.icon-db-logo:before { content: "\1F5F9" }
.icon-db-shape:before { content: "\1F5FA" }
.icon-github:before { content: "\F300" }
.icon-c-github:before { content: "\F301" }
.icon-flickr:before { content: "\F303" }
.icon-c-flickr:before { content: "\F304" }
.icon-vimeo:before { content: "\F306" }
.icon-c-vimeo:before { content: "\F307" }
.icon-twitter:before { content: "\F309" }
.icon-c-twitter:before { content: "\F30A" }
.icon-facebook:before { content: "\F30C" }
.icon-c-facebook:before { content: "\F30D" }
.icon-s-facebook:before { content: "\F30E" }
.icon-google-plus:before { content: "\F30F" }
.icon-c-google-plus:before { content: "\F310" }
.icon-pinterest:before { content: "\F312" }
.icon-c-pinterest:before { content: "\F313" }
.icon-tumblr:before { content: "\F315" }
.icon-c-tumblr:before { content: "\F316" }
.icon-linkedin:before { content: "\F318" }
.icon-c-linkedin:before { content: "\F319" }
.icon-dribbble:before { content: "\F31B" }
.icon-c-dribbble:before { content: "\F31C" }
.icon-stumbleupon:before { content: "\F31E" }
.icon-c-stumbleupon:before { content: "\F31F" }
.icon-lastfm:before { content: "\F321" }
.icon-c-lastfm:before { content: "\F322" }
.icon-rdio:before { content: "\F324" }
.icon-c-rdio:before { content: "\F325" }
.icon-spotify:before { content: "\F327" }
.icon-c-spotify:before { content: "\F328" }
.icon-qq:before { content: "\F32A" }
.icon-instagram:before { content: "\F32D" }
.icon-dropbox:before { content: "\F330" }
.icon-evernote:before { content: "\F333" }
.icon-flattr:before { content: "\F336" }
.icon-skype:before { content: "\F339" }
.icon-c-skype:before { content: "\F33A" }
.icon-renren:before { content: "\F33C" }
.icon-sina-weibo:before { content: "\F33F" }
.icon-paypal:before { content: "\F342" }
.icon-picasa:before { content: "\F345" }
.icon-soundcloud:before { content: "\F348" }
.icon-mixi:before { content: "\F34B" }
.icon-behance:before { content: "\F34E" }
.icon-google-circles:before { content: "\F351" }
.icon-vk:before { content: "\F354" }
.icon-smashing:before { content: "\F357" }
