@mixin triangle() {
  border-style: solid;
  height: 0px;
  width: 0px;
}

@mixin triangle-left($width, $height, $color) {
  @include triangle();
  border-width: $height $width $height 0;
  border-color: transparent $color transparent transparent;
}
@mixin triangle-right($width, $height, $color) {
  @include triangle();
  border-width: $height 0 $height $width;
  border-color: transparent transparent transparent $color;
}
@mixin triangle-top($width, $height, $color) {
  @include triangle();
  border-width: 0 $width $height $width;
  border-color:  transparent transparent $color transparent;
}
@mixin triangle-bottom($width, $height, $color) {
  @include triangle();
  border-width: $height $width 0 $width;
  border-color:  $color transparent transparent transparent;
}


@mixin border-radius($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0) {
  -webkit-border-top-right-radius: $topright;
  -webkit-border-bottom-right-radius: $bottomright;
  -webkit-border-bottom-left-radius: $bottomleft;
  -webkit-border-top-left-radius: $topleft;
  -moz-border-radius-topright: $topright;
  -moz-border-radius-bottomright: $bottomright;
  -moz-border-radius-bottomleft: $bottomleft;
  -moz-border-radius-topleft: $topleft;
  border-top-right-radius: $topright;
  border-bottom-right-radius: $bottomright;
  border-bottom-left-radius: $bottomleft;
  border-top-left-radius: $topleft;
  @include background-clip(padding-box);
}

@mixin background-clip($argument: padding-box) {
  -moz-background-clip: $argument;
  -webkit-background-clip: $argument;
  background-clip: $argument;
}

@mixin animation ($name, $duration: 300ms, $delay: 0, $ease: ease) {
	-webkit-animation: $name $duration $delay $ease;
	-moz-animation:    $name $duration $delay $ease;
	-ms-animation:     $name $duration $delay $ease;
}

// Mixins
//////////////////////////////////////////////////////////////////////////////

// .border-radius(20px);
@mixin border-radius-all ($radius: 4px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

// .border-radius-custom(20px, 20px, 0px, 0px);
@mixin border-radius-custom ($topleft: 5px, $topright: 5px, $bottomleft: 5px, $bottomright: 5px) {
  -webkit-border-radius: $topleft $topright $bottomright $bottomleft;
  -moz-border-radius: $topleft $topright $bottomright $bottomleft;
  border-radius: $topleft $topright $bottomright $bottomleft;
}

// .transition(all, 0.5s, ease-in);
@mixin transition ($prop: all, $time: 100ms, $ease: ease-in-out) {
  -webkit-transition: $prop $time $ease;
  -moz-transition: $prop $time $ease;
  -o-transition: $prop $time $ease;
  -ms-transition: $prop $time $ease;
  transition: $prop $time $ease;
}

// .transform(5deg, 0.5, 1deg, 0px);
@mixin transform ($rotate: 90deg, $scale: 1, $skew: 1deg, $translate: 10px) {
  -webkit-transform: rotate($rotate) scale($scale) skew($skew) translate($translate);
  -moz-transform: rotate($rotate) scale($scale) skew($skew) translate($translate);
  -o-transform: rotate($rotate) scale($scale) skew($skew) translate($translate);
  -ms-transform: rotate($rotate) scale($scale) skew($skew) translate($translate);
  transform: rotate($rotate) scale($scale) skew($skew) translate($translate);
}

// .gradient(left, #663333, #333333);
@mixin gradient ($origin: left, $start: #ffffff, $stop: #000000) {
  //background-color: $start;
  background-image: -webkit-linear-gradient($origin, $start, $stop);
  background-image: -moz-linear-gradient($origin, $start, $stop);
  background-image: -o-linear-gradient($origin, $start, $stop);
  background-image: -ms-linear-gradient($origin, $start, $stop);
  background-image: linear-gradient($origin, $start, $stop);
}

.clearfix {
  zoom:1;
  &:before, &:after{ content:""; display:table; }
  &:after{ clear: both; }
}