body.initial-load #sidebar {
    left: 0;
}

.responsive-nav-toggle {
    display: none;
}

#sidebar {
    background-color: $black;
    bottom: 0px;
    color: $mediumGrey;
    float: left;
    height: 100%;
    letter-spacing: 0.4px;
    position: fixed;
    top: 0;
    left: -170px;
    width: $standardSidebarWidth;
    z-index: 100;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: left 400ms ease-in-out;
    -moz-transition: left 400ms ease-in-out;
    -o-transition: left 400ms ease-in-out;
    transition: left 400ms ease-in-out;
    ul {
        padding: 0px;
        margin: 0px;
        li {
            list-style: none;
        }
    }

    #mainLogoBox {
        background-color: $black;
        //border-bottom: 1px solid $extraDarkGrey;
        height: 100px;
        overflow: hidden;
    }
    .logo-container {
        line-height: 90px;
        text-align: center;
        font-size: 40px;
        color: $white;
        border-bottom: 1px solid lighten($black, 5%);
        .directus-logo {
            -webkit-transition: all 400ms ease-in-out;
            -moz-transition: all 400ms ease-in-out;
            -o-transition: all 400ms ease-in-out;
            transition: all 400ms ease-in-out;

            margin: 4px auto;
            padding: $standardPad 0px;
            opacity: 1;
            background-image: url(../img/directus-logo-sprite-small.png);
            width: 80px;
            height: 64px;
            // background-size: 90px auto;
            background-repeat: no-repeat;
            background-position: left center;
            animation: logosprite .5s steps(15) infinite;

            @keyframes logosprite {
                100% { background-position: -1200px; }
            }

            &.static {
                -moz-animation-name: none;
                -webkit-animation-name: none;
                -ms-animation-name: none;
                animation-name: none;
            }

            &:hover {
                opacity: 0.5;
                // -webkit-animation-play-state: paused;
                // animation-play-state: paused;

                // -moz-animation-name: none;
                // -webkit-animation-name: none;
                // -ms-animation-name: none;
                // animation-name: none;
            }
        }
    }

    .unread-color {
        @extend .pulsate;
    }

    #mainSidebar {
        bottom: 0;
        overflow: auto;
        position: absolute;
        top: 101px;
        width: 100%;
        color: lighten($mediumGrey, 5%);
        padding-bottom: 150px;
        .add-bookmark {
            @include transition;
            position: absolute;
            top: -4px;
            right: 10px;
            cursor: pointer;
            font-size: 19px;
            color: $darkGrey;
            &:hover {
                color: $white;
            }
        }
        .responsive-nav {
            display: none;
        }
        .sidebar-section, .sidebar-extension {
            margin-bottom: 25px;
            margin-top: 20px;
            position: relative;
            .sidebar-group {
                color: #666666;
                margin-left: 17px;
                margin-bottom: 2px;
                font-size: 11px;
                text-transform: uppercase;
            }
            .sidebar-subitem.disabled {
                cursor: auto;
                font-style: italic;
                &:hover {
                    color: lighten($mediumGrey, 5%);
                }
            }
        }
        .sidebar-subitem a,
        .sidebar-subitem .no-link {
            padding-left: 20px; // 43px for icons
            padding-right: 20px;
            position: relative;
        }
        ul {
            margin: 0 0 $smallPad 0;
        }
        li {
            &.hr {
                margin: 10px 0 10px 0;
                border-top: 1px solid lighten($black, 5%);
                display: none;
            }
            &.group-header {
                text-transform: uppercase;
                color: #666666;
                font-size: 10px;
                padding-left: 25px;
                padding-bottom: 0;
                padding-top: 5px;
                position: relative;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .no-link {
                font-size: 13px;
            }
            a {
                @include transition;
                display: block;
                font-size: 13px;
                font-weight: 500;
                line-height: 13px;
                padding: 6px 12px 6px 10px;
                position: relative;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                cursor: pointer;
                .remove-snapshot {
                    @include transition;
                    position: absolute;
                    top: 3px;
                    right: 7px;
                    color: $darkGrey;
                    opacity: 0;
                    -webkit-font-smoothing: antialiased !important;
                    font-weight: 400;
                    font-size: 19px;
                    padding: 0 3px 0 3px;
                    &:hover {
                        color: $deleteColor;
                    }
                }
                &:hover {
                    color: $white;
                    .remove-snapshot {
                        opacity: 1.0;
                    }
                }
            }
            &.active {
                border-left-width: 2px;
                border-left-style: solid;
                border-color: $white;
                // background-color: $extraDarkGrey;
                a {
                    color: $white;
                    cursor: auto;
                    padding-left: 18px;
                    // Triangle Indent
                    // &:after {
                    //  @include triangle-left(6px, 12px, $lightGrey);
                    //  content: "";
                    //  margin-top: -12px;
                    //  position: absolute;
                    //  right: 0px;
                    //  top: 50%;
                    // }
                }
            }
        }
    }

    #featureSidebar {
        bottom: 0px;
        position: absolute;
        border-top: 1px solid lighten($black, 5%);
        width: 100%;
        li {
            text-decoration: center;
            float: left;
            height: 56px; // 170
            position: relative;
            background-color: $black;
            &:hover {
                color: $white;
                &.has-image {
                    .material-design {
                        display: block;
                    }
                    img {
                        opacity: .2;
                    }
                }
            }
            a {
                display: block;
                padding: 16px;
            }
            &.active {
                color: $white;
                // background-color: lighten($black, 5%) !important;
            }
            &.border-left {
                border-left: 1px solid lighten($black, 5%);
            }
            &.has-image {
                width: 56px; // 170
                .material-design {
                    display: none;
                }
                a {
                    padding: 15px;
                }
            }
            img {
                display: block;
                left: 0px;
                position: absolute;
                top: 0px;
                width: 100%;
                height: 100%;
            }
        }
    }
}
