
.display-user[data-v-86bc6e]{width:max-content;display:inline-block;vertical-align:top
}
.label[data-v-86bc6e]{display:inline-block;margin-left:4px;height:28px
}
.label div[data-v-86bc6e]{margin-top:6px
}
.gray[data-v-86bc6e]{color:var(--light-gray)
}