{% extends 'base.twig' %}

{% block content %}
<div class="container">
    {% include 'partials/errors.twig' %}
    <p>{{ 'Refresh this page when the problems above are resolved.'|t }}</p>
</div>
{% endblock %}
