{% extends 'base.twig.html' %}

{% block content %}
<div class="container step-3">
    {% include 'partials/warnings.twig.html' %}
    {% include 'partials/errors.twig.html' %}
    <h3>Project Configuration</h3>
    <hr>
    <table>
        <tbody>
        <tr>
            <td class="item">{{ 'Project Name' }}</td>
            <td class="result">{{ directus.data.getSafe('directus_name') }}</td>
        </tr>
        <tr>
            <td class="item">{{ 'Admin Email' }}</td>
            <td class="result"><span>{{ directus.data.getSafe('directus_email') }}</span>
            </td>
        </tr>
        <tr>
            <td class="item">{{ 'Admin Password' }}</td>
            <td class="result">***</td>
        </tr>
        </tbody>
    </table>

    <h3>{{ 'Database Configuration' }}</h3>
    <hr>
    <table>
        <tbody>
            {% if directus.data.getSafe('strict_mode_enabled') == true %}
            <tr id="strict_mode_enabled">
                <td class="item">{{ 'Strict Mode Disabled' }} (<a
                    href="http://getdirectus.com/docs/developer/installation"
                    target="_blank"><u>{{ 'Learn More' }}</u></a>)
                </td>
                <td class="result"><span class="label label-important">{{ 'No' }}</span></td>
            </tr>
            {% endif %}
        <tr>
            <td class="item">{{ 'Database' }}</td>
            <td class="result">{{ directus.data.getSafe('db_type') }}</td>
        </tr>
        <tr>
            <td class="item">{{ 'Host Name' }}</td>
            <td class="result">{{ directus.data.getSafe('db_host') }}</td>
        </tr>
        <tr>
            <td class="item">{{ 'Port' }}</td>
            <td class="result">{{ directus.data.getSafe('db_port') }}</td>
        </tr>
        <tr>
            <td class="item">{{ 'Username' }}</td>
            <td class="result"><span>{{ directus.data.getSafe('db_user') }}</span></td>
        </tr>
        <tr>
            <td class="item">{{ 'Password' }}</td>
            <td class="result">***</td>
        </tr>
        <tr>
            <td class="item">{{ 'Database Name' }}</td>
            <td class="result">{{ directus.data.getSafe('db_name') }}</td>
        </tr>
        <tr>
            <td class="item">{{ 'Schema' }}</td>
            <td class="result">{{ directus.data.getSafe('db_schema') ? directus.data.getSafe('db_schema') : 'none' }}</td>
        </tr>
        </tbody>
    </table>

    <h3>{{ 'Pre-Installation Check' }}</h3>
    <hr>
    <table>
        <tbody>
        <tr>
            <td class="item">{{ 'PHP Version' }} >= 5.5.0</td>
            <td class="result"><span class="label label-success">{{ 'Yes' }}</span></td>
        </tr>
        <tr>
            <td class="item">{{ 'Database Support' }}</td>
            <td class="result"><span class="label label-success">{{ 'Yes' }}</span></td>
        </tr>
        <tr>
            <td class="item">{{ 'Composer Dependencies Installed' }} (../api/composer.json)</td>
            <td class="result">{% if true %}{# <?php if (file_exists('../vendor/autoload.php')) { #}
                    <span class="label label-success">{{ 'Yes' }}</span>
                {% else %}
                    <span class="label label-important">{{ 'No.' }}</span><a href="http://getdirectus.com/docs/developer/installation" target="_blank"> ?</a>
                {% endif %}</td>
        </tr>
        <tr>
            <td class="item">{{ 'Migration Config' }}</td>
            <td class="result">{% if true %}{# <?php if (file_exists('../api/ruckusing.conf.php') && filesize('../api/ruckusing.conf.php') > 0) { #}
                    <span class="label label-success">{{ 'Yes' }}</span>
                {% else %}
                    <span class="label label-important">{{ 'No' }}</span>
                {% endif %}</td>
        </tr>
        <tr>
            <td class="item">{{ 'GD Library Support' }}</td>
            <td class="result"><span class="label label-success">{{ 'Yes' }}</span></td>
        </tr>
        <tr>
            <td class="item">{{ 'Imagick PHP Extension (Optional)' }}</td>
            <td class="result">{% if true %}{# <?php if (extension_loaded('imagick')) { #}
                    <span class="label label-success">{{ 'Yes' }}</span>
                {% else %}
                    <span class="label label-success">{{ 'No' }}</span>
                {% endif %}</td>
        </tr>
        <tr>
            <td style="padding-left: 30px;">{{ "Adds TIFF/PSD/PDF Thumbnail Support" }}</td>
        </tr>
        <tr>
            <td class="item">{{ 'Mod_Rewrite Enabled' }} (<a href="http://getdirectus.com/docs/developer/faq"
                                                                    target="_blank"><u>{{ "Learn More" }}</u></a>)
            </td>
            <td class="result">{% if true %}{# <?php if (ping_server()) { #}
                    <span class="label label-success">{{ 'Yes' }}</span>
                {% else %}
                    <span class="label label-important">{{ 'No' }}</span>
                {% endif %}</td>
        </tr>
        <tr>
            <td class="item">{{ 'Logs Directory Writable' }} (../api/logs/)</td>
            <td class="result">{% if true %}{# <?php if (is_writable('../api/logs')) { #}
                    <span class="label label-success">{{ 'Yes' }}</span>
                {% else %}
                    <span class="label label-important">{{ 'No' }}</span>
                {% endif %}</td>
        </tr>
        <tr>
            <td class="item">{{ 'Media Directory Writable' }} (/storage/uploads)</td>
            <td class="result">{% if true %}{# <?php if (is_writable('../storage/uploads')) { #}
                    <span class="label label-success">{{ 'Yes' }}</span>
                {% else %}
                    <span class="label label-important">{{ 'No' }}</span>
                {% endif %}</td>
        </tr>
        {% if false %}
        {# <?php if (!is_writable('../storage/uploads')): ?> #}
            <tr>
                <td style="padding-left: 30px;padding-bottom: 10px;">{{ "The default upload directories are either missing or don't have write permission. You can add these directories/permissions on your server or update the directus_storage_adapters table with new paths." }}</td>
            </tr>
        {% endif %}
        <tr>
            <td class="item">{{ 'Config File Writable' }} (../api/config.php)</td>
            <td class="result">{% if true %}{# <?php if (is_writable('../api')) { #}
                    {% set showConfig = false %}
                    {# $showConfig = false; #}
                    <span class="label label-success">{{ 'Yes' }}</span>
                {% else %}
                    {% set showConfig = true %}
                    <span class="label label-important">{{ 'No' }}</span>
                {% endif %}</td>
        </tr>
        </tbody>
    </table>

    {% if showConfig %}
    {# <?php if ($showConfig) { #}
        {% set configText = 'Directus\Util\Installation\InstallerUtils::createConfigFileContent(directus.data.get())' %}
        {# $configText = Directus\Util\Installation\InstallerUtils::createConfigFileContent($directus.data.get()); #}
        <span class='config-paste label label-important'>{{ 'Manually copy the code below into' }} ../api/config.php</span><br><textarea readonly>{{ configText }}</textarea><span id='failSpan'><button id='retryButton' class='button no-t-margin'>{{ 'Check Config File' }}</button></span>
    {% endif %}

    <h3>{{ 'Email This Summary?' }}</h3>
    <hr>
    <table>
        <tbody>
        <tr>
            <td class="item">{{ directus.data.getSafe('directus_email') }}</td>
            <td class="result"><input type="checkbox" value="yes" name="send_config_email" checked></td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
