{% extends 'base.twig' %}

{% block content %}
<div class="container">
    {% include 'partials/errors.twig' %}
    <label for="default_language">{{ 'Default Language' }}
        <div class="select-container">
            <select name="default_language" id="default_language" autofocus>
                {% for language in directus.step.getSafeData('languages') %}
                    <option
                        value="{{ language.getCode() }}" {{ directus.step.getSafeData('default_language') and directus.step.getSafeData('default_language') == language.getCode() ? 'selected' : '' }}>{{ language.getName() }}</option>
                {% endfor %}
            </select>
            <i class="material-icons select-arrow">arrow_drop_down</i>
        </div>
    </label>
</div>
{% endblock %}
