// Sans Serif

@font-face {
	font-weight: 400;
	font-family: 'Inter';
	font-style: normal;
	src: url('../assets/fonts/Inter-Regular.woff2') format('woff2'),
		url('../assets/fonts/Inter-Regular.woff') format('woff');
	font-display: block;
}

@font-face {
	font-weight: 500;
	font-family: 'Inter';
	font-style: normal;
	src: url('../assets/fonts/Inter-Medium.woff2') format('woff2'),
		url('../assets/fonts/Inter-Medium.woff') format('woff');
	font-display: block;
}

@font-face {
	font-weight: 500;
	font-family: 'Inter';
	font-style: italic;
	src: url('../assets/fonts/Inter-MediumItalic.woff2') format('woff2'),
		url('../assets/fonts/Inter-MediumItalic.woff') format('woff');
	font-display: block;
}

@font-face {
	font-weight: 600;
	font-family: 'Inter';
	font-style: normal;
	src: url('../assets/fonts/Inter-SemiBold.woff2') format('woff2'),
		url('../assets/fonts/Inter-SemiBold.woff') format('woff');
	font-display: block;
}

@font-face {
	font-weight: 700;
	font-family: 'Inter';
	font-style: normal;
	src: url('../assets/fonts/Inter-Bold.woff2') format('woff2'), url('../assets/fonts/Inter-Bold.woff') format('woff');
	font-display: block;
}

@font-face {
	font-weight: 800;
	font-family: 'Inter';
	font-style: normal;
	src: url('../assets/fonts/Inter-Black.woff2') format('woff2'), url('../assets/fonts/Inter-Black.woff') format('woff');
	font-display: block;
}

// Monospace

@font-face {
	font-weight: 500;
	font-family: 'Fira Mono';
	font-style: normal;
	src: url('../assets/fonts/FiraMono-Medium.woff2') format('woff2'),
		url('../assets/fonts/FiraMono-Medium.woff') format('woff');
}

// Serif

@font-face {
	font-weight: 400;
	font-family: 'Merriweather';
	font-style: normal;
	src: url('../assets/fonts/merriweather-regular.woff2') format('woff2'),
		url('../assets/fonts/merriweather-regular.woff') format('woff');
	font-display: block;
}

@font-face {
	font-weight: 400;
	font-family: 'Merriweather';
	font-style: italic;
	src: url('../assets/fonts/merriweather-italic.woff2') format('woff2'),
		url('../assets/fonts/merriweather-italic.woff') format('woff');
	font-display: block;
}

@font-face {
	font-weight: 600;
	font-family: 'Merriweather';
	font-style: normal;
	src: url('../assets/fonts/merriweather-bold.woff2') format('woff2'),
		url('../assets/fonts/merriweather-bold.woff') format('woff');
	font-display: block;
}

@font-face {
	font-weight: 300;
	font-family: 'Merriweather';
	font-style: normal;
	src: url('../assets/fonts/merriweather-light.woff2') format('woff2'),
		url('../assets/fonts/merriweather-light.woff') format('woff');
	font-display: block;
}

@font-face {
	font-weight: 400;
	font-family: 'Material Symbols';
	font-style: normal;
	src: url('../assets/fonts/material-symbols.woff2') format('woff2');
	font-display: block;
}
