:first-child {
	margin-top: 0;
}

:last-child {
	margin-bottom: 0;
}

h1 {
	margin-top: 1em;
	margin-bottom: 0;
	color: var(--theme--foreground-accent);
	font-weight: 700;
	font-size: 36px;
	line-height: 46px;
}

h2 {
	margin-top: 1.25em;
	margin-bottom: 0;
	color: var(--theme--foreground-accent);
	font-weight: 700;
	font-size: 24px;
	line-height: 34px;
}

h3 {
	margin-top: 1.25em;
	margin-bottom: 0;
	color: var(--theme--foreground-accent);
	font-weight: 700;
	font-size: 19px;
	line-height: 29px;
}

h4 {
	margin-top: 1.5em;
	margin-bottom: 0;
	color: var(--theme--foreground-accent);
	font-weight: 700;
	font-size: 16px;
	line-height: 26px;
}

h5 {
	margin-top: 2em;
	margin-bottom: 0;
	color: var(--theme--foreground-accent);
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
}

h6 {
	margin-top: 2em;
	margin-bottom: 0;
	color: var(--theme--foreground-accent);
	font-weight: 700;
	font-size: 12px;
	line-height: 22px;
}

p {
	margin: 1.5em 0;
	font-weight: 500;
	font-size: 15px;
	line-height: 24px;
}

a {
	color: var(--theme--primary-accent);
	text-decoration: none;
}

ul,
ol {
	margin: 1.5em 0;
	font-weight: 500;
	font-size: 15px;
	line-height: 24px;
}

ul ul,
ol ol,
ul ol,
ol ul {
	margin: 0;
}

b,
strong {
	font-weight: 700;
}

code {
	padding: 2px 4px;
	font-weight: 500;
	font-size: 15px;
	font-family: var(--theme--fonts--monospace--font-family), monospace;
	line-height: 24px;
	overflow-wrap: break-word;
	background-color: var(--theme--background-normal);
	border-radius: var(--theme--border-radius);
}

pre {
	position: relative;
	padding: 20px;
	overflow: auto;
	font-weight: 500;
	font-size: 15px;
	font-family: var(--theme--fonts--monospace--font-family), monospace;
	line-height: 24px;
	background-color: var(--theme--background-normal);
	border-radius: var(--theme--border-radius);

	&:hover > button.copy,
	> button.copy:focus {
		opacity: 1;
	}

	&.highlight {
		&:hover > span.lang,
		> button.copy:focus + span.lang {
			opacity: 0;
		}

		span.lang {
			position: absolute;
			top: 2px;
			right: 8px;
			z-index: 2;
			margin: 0;
			font-size: 12px;
			font-weight: 500;
			color: var(--theme--foreground);
			transition: opacity var(--slow);
		}
	}

	button.copy {
		position: absolute;
		top: 12px;
		right: 12px;
		z-index: 3;
		color: var(--theme--foreground);
		border: var(--theme--border-width) solid var(--theme--foreground);
		border-radius: var(--theme--border-radius);
		width: 40px;
		height: 40px;
		opacity: 0;
		transition:
			color var(--medium),
			border-color var(--medium),
			background-color var(--medium),
			opacity var(--slow);

		display: block;
		font-family: 'Material Symbols';
		font-weight: normal;
		font-size: 24px;
		font-style: normal;
		line-height: 1;
		letter-spacing: normal;
		text-transform: none;
		white-space: nowrap;
		word-wrap: normal;
		direction: ltr;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
		font-feature-settings: 'liga';
		font-variation-settings:
			'FILL' 0,
			'wght' 400,
			'GRAD' 0,
			'opsz' 24;

		&::after {
			content: 'content_copy';
		}

		&:hover,
		&.copied {
			color: var(--theme--foreground-accent);
			border-color: var(--theme--foreground-accent);
		}
	}
}

blockquote {
	margin-left: 0px;
	padding-left: 1em;
	font-weight: 500;
	font-size: 15px;
	line-height: 24px;
	border-left: 2px solid var(--theme--form--field--input--border-color);
}

blockquote blockquote {
	margin-left: 10px;
}

video,
iframe,
img {
	max-width: 100%;
	height: auto;
	border-radius: var(--theme--border-radius);
}

hr {
	height: 1px;
	margin-top: 2em;
	margin-bottom: 2em;
	background-color: var(--theme--form--field--input--border-color);
	border: none;
}

table {
	font-weight: 500;
	font-size: 15px;
	line-height: 24px;
	border-collapse: collapse;
}

table th,
table td {
	padding: 0.4rem;
	border: 1px solid var(--theme--form--field--input--border-color);
}

figure {
	display: table;
	margin: 1rem auto;
}

figure figcaption {
	display: block;
	margin-top: 0.25rem;
	color: #999;
	text-align: center;
}

.task-list-container {
	padding-inline-start: 0;
	list-style-position: inside;

	.task-list-item {
		list-style: none;

		label {
			display: unset;
		}
	}
}
