.tooltip {
	--tooltip-foreground-color: var(--foreground-inverted);
	--tooltip-background-color: var(--background-inverted);

	z-index: 850;
	display: flex;
	align-items: center;
	max-inline-size: 14.625rem;
	padding: 0.25rem 0.4375rem;
	color: var(--tooltip-foreground-color);
	overflow-wrap: break-word;
	background-color: var(--tooltip-background-color);
	border-radius: 0.25rem;
	opacity: 0;
	transition: opacity 200ms;
	pointer-events: none;

	&[data-state='delayed-open'] {
		opacity: 1;
	}

	&[data-state='instant-open'] {
		opacity: 1;
		transition: none;
	}

	&.inverted {
		--tooltip-foreground-color: var(--theme--foreground);
		--tooltip-background-color: var(--theme--background-subdued);
	}

	&.monospace {
		font-family: var(--theme--fonts--monospace--font-family);
	}

	.tooltip-kbd {
		display: inline-flex;
		align-items: center;
		gap: 0.125rem;
		margin-inline-start: 0.375rem;
	}

	svg {
		fill: var(--tooltip-background-color);
	}
}
