:root {
	--white: #fff;
	--black: #090c0d;
	--transition: cubic-bezier(0.4, 0, 0.2, 1);
	--transition-in: cubic-bezier(0, 0, 0.2, 1);
	--transition-out: cubic-bezier(0.4, 0, 1, 1);
	--fast: 125ms;
	--medium: 200ms;
	--slow: 300ms;
	--header-bar-height: 120px;
	--content-padding: 12px;
	--content-padding-bottom: 60px;
	--input-height-tall: 168px;
	--input-height-max: 500px;
	--form-column-width: 300px;
	--form-column-min-width: 220px;
	--form-column-max-width: 380px;
	--focus-ring-width: 2px;
	--focus-ring-offset: 2px;
	--focus-ring-offset-invert: calc(-1 * var(--focus-ring-width));
	--focus-ring-offset-inset: calc(-1 * (var(--focus-ring-width) + var(--focus-ring-offset)));
	--focus-ring-radius: var(--theme--border-radius);
	--focus-ring-color: var(--theme--primary);

	@media (width > 400px) {
		--header-bar-height: 60px;
	}

	@media (width > 640px) {
		--content-padding: 24px;
	}

	@media (width > 1024px) {
		--content-padding: 32px;
	}
}
