@import 'base';
@import 'fonts';
@import 'variables';
@import 'tooltip';
@import 'type-styles';
@import 'themes/dark';
@import 'themes/light';
@import 'lib/codemirror';
@import 'lib/cropperjs';

body.light {
	@include light;
}

body.dark {
	@include dark;
}

body.auto {
	@media (prefers-color-scheme: dark) {
		@include dark;
	}

	@media (prefers-color-scheme: light) {
		@include light;
	}
}
