@import 'base';
@import 'colors';
@import 'fonts';
@import 'themes/dark';
@import 'themes/light';
@import 'variables';
@import 'tooltip';
@import 'type-styles';
@import 'stacked-drawers';
@import 'lib/mapbox';
@import 'lib/codemirror';
@import 'lib/cropperjs';
@import 'lib/highlight';
@import 'lib/fullcalendar';
@import 'lib/frappe-charts';
@import 'lib/emoji-picker';
@import 'lib/flatpickr';

body.light {
	@include light;
}

body.dark {
	@include dark;
}
