/* stylelint-disable */

// Dark Mode
@mixin dark {
	--border-normal: #455a64;
	--border-normal-alt: #78909c;
	--border-subdued: #2E3F47;

	--foreground-normal: #B3C4CC; // Less contrast for improved hierarchy
	--foreground-normal-alt: #cfd8dc; // More contrast for titles and labels
	--foreground-subdued: #697A83;
	--foreground-inverted:#263238;

	--background-normal: #2E3C43; // #37474f
	--background-normal-alt: #3A4B53; // #455a64
	--background-subdued: #2D3A41;
	--background-highlight: #2D3A41;
	--background-page: #263238;
	--background-input: #263238;
	--background-page-rgb: 38, 50, 56;
	--background-inverted: #FFF;

	// --card-shadow-color: 207,216,220;
	--card-face-color: #36454D;
	--card-shadow-color: 0,0,0;
	--card-shadow: 0px 0px 6px 0px rgba(var(--card-shadow-color),0.2);
	--overlay-color: rgba(19, 24, 26, 0.9);

	--purple-190: #F6F4FD;
	--purple-175: #E7E2F8;
	--purple-150: #CEC5F1;
	--purple-125: #B7AAEB;
	--purple: #9E8DE4;
	--purple-75: #8279BC;
	--purple-50: #666493;
	--purple-25: #4A506B;
	--purple-10: #394453;
	--purple-alt: #394453;

	--blue-190: #F0F8FE;
	--blue-175: #D9EBFC;
	--blue-150: #B3D7F9;
	--blue-125: #8EC4F7;
	--blue: #68B0F4;
	--blue-75: #5993C8;
	--blue-50: #4B769B;
	--blue-25: #3C596F;
	--blue-10: #344855;
	--blue-alt: #344855;

	--green-190: #E6FAF5;
	--green-175: #BFF1E5;
	--green-150: #7FE3CA;
	--green-125: #40D6B1;
	--green: #00C897;
	--green-110: #05BA8F; // Text readability
	--green-75: #0BA582;
	--green-50: #17826D;
	--green-25: #225F58;
	--green-10: #294A4B;
	--green-alt: #294A4B;

	--orange-190: #FFF5E9;
	--orange-175: #FDE5C6;
	--orange-150: #FACA8D;
	--orange-125: #F9B155;
	--orange: #F7971C;
	--orange-75: #C58026;
	--orange-50: #926A2F;
	--orange-25: #605339;
	--orange-10: #42453F;
	--orange-alt: #42453F;

	--red-190: #FDEEF0;
	--red-175: #F8D3D9;
	--red-150: #F0A7B3;
	--red-125: #EA7D8F;
	--red: #E35169;
	--red-75: #B64C5F;
	--red-50: #884756;
	--red-25: #5B414C;
	--red-10: #403E47;
	--red-alt: #403E47;


	--primary-190: var(--green-190);
	--primary-175: var(--green-175);
	--primary-150: var(--green-150);
	--primary-125: var(--green-125);
	--primary: var(--green);
	--primary-alt: var(--green-10);
	--primary-110: var(--green-110);
	--primary-75: var(--green-75);
	--primary-50: var(--green-50);
	--primary-25: var(--green-25);
	--primary-10: var(--green-10);

	--success-190: var(--green-190);
	--success-175: var(--green-175);
	--success-150: var(--green-150);
	--success-125: var(--green-125);
	--success: var(--green);
	--success-alt: var(--green-10);
	--success-75: var(--green-75);
	--success-50: var(--green-50);
	--success-25: var(--green-25);
	--success-10: var(--green-10);

	--warning-190: var(--orange-190);
	--warning-175: var(--orange-175);
	--warning-150: var(--orange-150);
	--warning-125: var(--orange-125);
	--warning: var(--orange);
	--warning-alt: var(--orange-10);
	--warning-75: var(--orange-75);
	--warning-50: var(--orange-50);
	--warning-25: var(--orange-25);
	--warning-10: var(--orange-10);

	--danger-190: var(--red-190);
	--danger-175: var(--red-175);
	--danger-150: var(--red-150);
	--danger-125: var(--red-125);
	--danger: var(--red);
	--danger-alt: var(--red-10);
	--danger-75: var(--red-75);
	--danger-50: var(--red-50);
	--danger-25: var(--red-25);
	--danger-10: var(--red-10);

	.alt-colors {
		--background-subdued: var(--background-page);
	}
}
