{% extends "base.twig.html" %}

{% block bodyClass %}{% endblock %}

{% block content %}

<div class="fields"> <!-- Optional Class: bulk-edit -->

	<!-- Text Input -->
	<div class="field">
		<div class="bulk-edit-label">
			<div class="button"><i class="material-icons">edit</i> Bulk Edit: Text Input</div>
		</div>
		<div class="label">
			Text Input <i class="material-icons required" title="Required">star</i>
			<div class="comment">This is a field comment – doesn't it look wonderful?</div>
		</div><!-- NEEDED TO AVOID EXTRA SPACE FROM TEXT
	 --><div class="interface">
			<input type="text" placeholder="" value="Example text...">
		</div>
	</div>

	<!-- Tags -->
	<div class="field">
		<div class="bulk-edit-label">
			<div class="button"><i class="material-icons">edit</i> Bulk Edit: Text Input</div>
		</div>
		<div class="label">
			Tags
		</div><!-- NEEDED TO AVOID EXTRA SPACE FROM TEXT
	 --><div class="interface">
			<input type="text" placeholder="Press enter or comma to add tags..." value="">
			<div class="tag-container">
				{% for i in 0..20 %}
				<div class="tag">Tag {{i}}</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<!-- Text Area -->
	<div class="field">
		<div class="bulk-edit-label">
			<div class="button"><i class="material-icons">edit</i> Bulk Edit: Text Input</div>
		</div>
		<div class="label">
			Text Area
		</div><!-- NEEDED TO AVOID EXTRA SPACE FROM TEXT
	 --><div class="interface">
			<textarea>A blinding cursor pulses in the electric darkness like a heart coursing with phosphorous light, burning beneath the derma of black-neon glass.</textarea>
		</div>
	</div>

	<!-- Relational: Many-to-many -->
	<div class="field">
		<div class="bulk-edit-label">
			<div class="button"><i class="material-icons">edit</i> Bulk Edit: Text Input</div>
		</div>
		<div class="label">
			Many-to-Many
		</div><!-- NEEDED TO AVOID EXTRA SPACE FROM TEXT
	 --><div class="interface">
		 	<div class="table-container max-height">
				<table class="lines cozy clickable">
					<thead>
						<tr>
							<th scope="column" class="reorder"><i class="material-icons">import_export</i></th>
							<th scope="column">Title <i class="material-icons order-direction">arrow_downward</i></th>
							<th scope="column">Date Published</th>
							<th scope="column">Slideshow</th>
							<th scope="column">Views</th>
							<th scope="column"></th>
							<th scope="column" class="right-sidebar-toggle"><i class="material-icons">more_horiz</i></th>
						</tr>
					</thead>
					<tbody class="drag-and-drop">

						{% for i in 0..7 %}
						<tr class="dynamic-link {% if i == 5 %}not-published{% endif %}" data-dynamic-link="{{rootUrl}}tables/blog/1#title"> <!-- Optional Classes: selected -->
							<td class="reorder"><i class="material-icons reorder-handle">drag_handle</i></td>
							<td>Lorem ipsum Dolor Sit Amet ({{i}})</td>
							<td>6 Minutes Ago</td>
							<td>{% if i == 5 %}<div class="photo-stack"><img src="{{rootUrl}}assets/imgs/avatar.jpg"><img src="{{rootUrl}}assets/imgs/avatar.jpg"><img src="{{rootUrl}}assets/imgs/avatar.jpg"><img src="{{rootUrl}}assets/imgs/avatar.jpg"></div>{% else %}4 Files{% endif %}</td>
							<td>67</td>
							<td class="status-badges">
								{% if i == 5 %}<div class="status-badge" style="background-color:#eeeeee;">Draft</div>{% endif %}
							</td>
							<td class="relational-remove">
								<i class="material-icons">close</i>
							</td>
						</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>
			<div class="button-group">
				<div class="button"><i class="material-icons">add</i> Add New</div>
				<div class="button"><i class="material-icons">playlist_add_check</i> Choose Existing</div>
			</div>
		</div>
	</div>

	<!-- WYSIWYG -->
	<!-- Integrate with https://github.com/yabwe/medium-editor -->
	<div class="field">
		<div class="bulk-edit-label">
			<div class="button"><i class="material-icons">edit</i> Bulk Edit: Text Input</div>
		</div>
		<div class="label">
			WYSIWYG Editor
		</div><!-- NEEDED TO AVOID EXTRA SPACE FROM TEXT
	 --><div class="interface">
			<div class="wysiwyg">
				<h1 class="full-screen-label">Column Title</h1>
				<textarea>
Let me tell you why you are here. You have come because you know something. What you know you can't explain but you feel it. You've felt it your whole life, felt that something is wrong with the world. You don't know what, but it's there like a splinter in your mind, driving you mad. It is this feeling that brought you to me. Do you know what I'm talking about?

This is your last chance. After this, there is no going back. You take the blue pill and the story ends. You wake in your bed and you believe whatever you want to believe. You take the red pill and you stay in Wonderland and I show you how deep the rabbit-hole goes.

The woman in the red dress. I designed her. She doesn't talk much but if you'd like to, you know, meet her, I could arrange a more personalized milieu. I told you I don't believe in this stuff. No matter what she says I'm not going to believe it, so what's the point?
				</textarea>
				<div class="full-screen-toggle"><i class="material-icons">fullscreen</i></div>
			</div>
		</div>
	</div>

	<!-- Map: Lat/Lon -->
	<div class="field">
		<div class="bulk-edit-label">
			<div class="button"><i class="material-icons">edit</i> Bulk Edit: Text Input</div>
		</div>
		<div class="label">
			Map
		</div><!-- NEEDED TO AVOID EXTRA SPACE FROM TEXT
	 --><div class="interface">
			<input id="map-search" class="map-search" type="text" placeholder="Find a location">
			<div class="map"></div>
			<div class="lat-long">Latitude: 40.720&nbsp;&nbsp;&nbsp;&nbsp;Longitude: -73.953</div> <div class="map-clear">Clear</div>
		</div>
	</div>

	<!-- Single File -->
	<div class="field">
		<div class="bulk-edit-label">
			<div class="button"><i class="material-icons">edit</i> Bulk Edit: Text Input</div>
		</div>
		<div class="label">
			Single File
		</div><!-- NEEDED TO AVOID EXTRA SPACE FROM TEXT
	 --><div class="interface">
			<div class="dropzone">
				<i class="material-icons cloud">cloud_upload</i>
				<div class="drag-and-drop">Drag &amp; Drop</div>
				<div class="click-to-browse">Or Click to Browse</div>
			</div>
			<!-- <div class="button"><i class="material-icons">playlist_add_check</i> Choose Existing</div>
			<div class="button"><i class="material-icons">insert_link</i> Import URL</div> -->
		</div>
	</div>

	<!-- Dropdown: Select, Many-to-one -->
	<div class="field">
		<div class="bulk-edit-label">
			<div class="button"><i class="material-icons">edit</i> Bulk Edit: Text Input</div>
		</div>
		<div class="label">
			Dropdown
			<div class="comment">Used by Select and M2O</div>
		</div><!-- NEEDED TO AVOID EXTRA SPACE FROM TEXT
	 --><div class="interface">
			<div class="select-container">
				<select name="type">
					<option value="">Choose Column</option>
					<option value="value">Option</option>
					<option value="value">Option</option>
					<option value="value">Option</option>
					<option value="value">Option</option>
					<option value="value">Option</option>
					<option value="value">Option</option>
				</select>
				<i class="material-icons select-arrow">arrow_drop_down</i>
			</div>
		</div>
	</div>

	<!-- Color -->
	<div class="field">
		<div class="bulk-edit-label">
			<div class="button"><i class="material-icons">edit</i> Bulk Edit: Text Input</div>
		</div>
		<div class="label">
			Color
		</div><!-- NEEDED TO AVOID EXTRA SPACE FROM TEXT
	 --><div class="interface">
			<div class="color">
				<label>#</label>
				<div class="current-swatch white" style="background-color:#ffffff;"><i class="material-icons">close</i></div>
				<input type="text" placeholder="" value="" maxlength="6">
				<div class="swatches">
					<div class="swatch" style="background-color:#f44336;" data-color="F44336"><i class="material-icons">check</i></div>
					<div class="swatch" style="background-color:#e91e63;" data-color="E91E63"><i class="material-icons">check</i></div>
					<div class="swatch" style="background-color:#9c27b0;" data-color="9C27B0"><i class="material-icons">check</i></div>
					<div class="swatch" style="background-color:#3f51b5;" data-color="3F51B5"><i class="material-icons">check</i></div>
					<div class="swatch" style="background-color:#2196f3;" data-color="2196F3"><i class="material-icons">check</i></div>
					<div class="swatch" style="background-color:#4caf50;" data-color="4CAF50"><i class="material-icons">check</i></div>
					<div class="swatch" style="background-color:#ffeb3b;" data-color="FFEB3B"><i class="material-icons">check</i></div>
					<div class="swatch" style="background-color:#ff9800;" data-color="FF9800"><i class="material-icons">check</i></div>
					<div class="swatch" style="background-color:#9e9e9e;" data-color="9E9E9E"><i class="material-icons">check</i></div>
					<div class="swatch" style="background-color:#000000;" data-color="000000"><i class="material-icons">check</i></div>
					<div class="swatch" style="background-color:#ffffff;" data-color="FFFFFF"><i class="material-icons">check</i></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Radio Buttons: Select, M2O -->
	<div class="field">
		<div class="bulk-edit-label">
			<div class="button"><i class="material-icons">edit</i> Bulk Edit: Text Input</div>
		</div>
		<div class="label">
			Radio Buttons
			<div class="comment">Used by Select and M2O</div>
		</div><!-- NEEDED TO AVOID EXTRA SPACE FROM TEXT
	 --><div class="interface offset-bottom"> <!-- Optional Classes: offset-bottom -->
			{% for i in 0..20 %}
			<div class="radio-container">
				<input type="radio" name="fieldRadio" id="radio_{{i}}" value="value"><label for="radio_{{i}}"> Option</label>
			</div>
			{% endfor %}
		</div>
	</div>

	<!-- Checkboxes: M2M, O2M -->
	<div class="field">
		<div class="bulk-edit-label">
			<div class="button"><i class="material-icons">edit</i> Bulk Edit: Text Input</div>
		</div>
		<div class="label">
			Checkboxes
			<div class="comment">Used by M2M and O2M</div>
		</div><!-- NEEDED TO AVOID EXTRA SPACE FROM TEXT
	 --><div class="interface offset-bottom"> <!-- Optional Classes: offset-bottom -->
			{% for i in 0..20 %}
			<div class="checkbox-container">
				<input type="checkbox" name="fieldCheckbox" id="check_{{i}}" value="value"><label for="check_{{i}}"> Option</label>
			</div>
			{% endfor %}
		</div>
	</div>

	<!-- Section Break -->
	<div class="field break-header">
		<h3>Section Break</h3>
		<!-- <h6>This is a description for the following section. It is the only UI that extends beyond the parent interface container – and would be an edge-case.</h6> -->
	</div>

	<!-- Checkbox -->
	<div class="field">
		<div class="bulk-edit-label">
			<div class="button"><i class="material-icons">edit</i> Bulk Edit: Text Input</div>
		</div>
		<div class="label">
			Checkbox
		</div><!-- NEEDED TO AVOID EXTRA SPACE FROM TEXT
	 --><div class="interface">
			<input class="custom-checkbox" id="checkbox" type="checkbox" value="" checked />
			<label for="checkbox"><span></span> <!-- Label here --></label>
		</div>
	</div>

</div>

{% include 'items/item-sidebar.twig.html' %}

{% endblock %}
