{% extends "base.twig.html" %}

{% block bodyClass %}{% endblock %}

{% block content %}
<!--
Optional Classes: [lines striped clickable fixed-header pad-first]
Spacing: [comfortable cozy compact]
-->
<table class="lines cozy clickable fixed-header pad-first">
	<thead>
		<tr>
			<th scope="column">Table</th>
			<th scope="column">Total Items</th>
		</tr>
	</thead>
	<tbody>
		{% for i in 0..10 %}
		<tr class="dynamic-link" data-dynamic-link="{{rootUrl}}tables/blog"> <!-- Optional Classes: selected -->
			<td>Table {{i}}</td>
			<td>67</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}