{% layout "base" %}
{% block content %}

<p>You have been invited to {{ projectName }}. Please click the link below to join:</p>

<p><a href="url">{{ url }}</a></p>

{% comment %}
@TODO
Make this white-labeled
{% endcomment %}

<p>Love,<br>Directus</p>

{% endblock %}
