<fieldset>
	<label>Column Name</label>
	<input type="text" id="columnName" name="column_name" value="{{column_name}}"/>
</fieldset>

<fieldset>
	<label>UI Type</label>
	<select id="uiType" name="ui_type">
    {{#ui_types}}
      <option {{#if selected}}selected{{/if}}>{{title}}</option>
    {{/ui_types}}
	</select>
</fieldset>

<fieldset>
  <label>Data Type</label>
  <select id="dataType" name="data_type">
    {{#data_types}}
      <option {{#if selected}}selected{{/if}}>{{title}}</option>
    {{/data_types}}
  </select>
</fieldset>

{{#if CHAR_LENGTH}}
<fieldset>
<label>Length</label>
<input type="text" id="charLength" value="" name="char_length">
</fieldset>
{{/if}}