<td>{{{capitalize table_name}}}</td>
<td data-attribute="hidden"><span class="toggle-switch {{#if hidden}}on add-color{{else}}delete-color{{/if}}"></span></td>
<td data-attribute="single"><span class="toggle-switch {{#if single}}on add-color{{else}}delete-color{{/if}}"></span></td>
<td data-attribute="is_junction_table"><span class="toggle-switch {{#if is_junction_table}}on add-color{{else}}delete-color{{/if}}"></span></td>
<td data-attribute="footer"><span class="toggle-switch {{#if footer}}on add-color{{else}}delete-color{{/if}}"></span></td>