<table class="table table-striped directus-table not-responsive" id="directus-grouppermissions">
	<thead>
		<tr>
			<th class="field-note">Table</th>
			<th class="permissions">Fields</th>
			<th class="permissions">View</th>
			<th class="permissions">Add</th>
			<th class="permissions">Edit</th>
			<th class="permissions">Delete</th>
		</tr>
	</thead>
	<tbody>
		{{#tables}}
		<tr class="" data-table-name="{{table_name}}" data-id="{{id}}" data-cid="{{cid}}">
			<td class="tableName"><div style="display:inline-block">{{title}}</div></td>
			<td class="editFields"><span class="icon icon-text-doc"></span></td>
			{{#with permissions}}
			<td data-value="view">
        {{#if viewValConsistent}}<span class="unknown-priv"><span title="Can Add Items" class="icon icon-minus"></span></span>{{else}}
				{{#if bigview}}
          <span class="add-color big-priv has-privilege"><span title="Can View Any Items" class="icon icon-users"></span></span>
        {{else}}
          {{#if view}}
            <span class="yellow-color has-privilege"><span title="Can View Their Items" class="icon icon-user"></span></span>
          {{else}}
            <span class="delete-color"><span title="Can Not View Items" class="icon icon-block"></span></span>
          {{/if}}
        {{/if}}{{/if}}
			</td>
			<td data-value="add">
				{{#if addValConsistent}}<span class="unknown-priv"><span title="Can Add Items" class="icon icon-minus"></span></span>{{else}}
        {{#if add}}<span class="add-color has-privilege"><span title="Can Add Items" class="icon icon-user"></span></span>
				{{else}}<span class="delete-color"><span title="Can Not Add Items" class="icon icon-block"></span>{{/if}}{{/if}}
			</td>
			<td data-value="edit">
        {{#if editValConsistent}}<span class="unknown-priv"><span title="Can Add Items" class="icon icon-minus"></span></span>{{else}}
				{{#if bigedit}}
          <span class="add-color big-priv has-privilege"><span title="Can Edit Any Items" class="icon icon-users"></span></span>
        {{else}}
          {{#if edit}}
            <span class="yellow-color has-privilege"><span title="Can Edit Their Items" class="icon icon-user"></span></span>
          {{else}}
            <span class="delete-color"><span title="Can Not Edit Items" class="icon icon-block"></span>
          {{/if}}
        {{/if}}{{/if}}
			</td>
			<td data-value="delete">
        {{#if deleteValConsistent}}<span class="unknown-priv"><span title="Can Add Items" class="icon icon-minus"></span></span>{{else}}
          {{#if harddelete}}
            <span class="hard-color hard-priv has-privilege"><span title="Can Delete Any Items" class="icon icon-user"></span></span>
          {{else}}
  			    {{#if bigdelete}}
            <span class="add-color big-priv has-privilege"><span title="Can Delete Any Items" class="icon icon-users"></span></span>
            {{else}}
              {{#if delete}}
              <span class="yellow-color has-privilege"><span title="Can Delete Their Items" class="icon icon-user"></span></span>
              {{else}}
              <span class="delete-color"><span title="Can Not Delete Items" class="icon icon-block"></span>
              {{/if}}
            {{/if}}
          {{/if}}
        {{/if}}
			</td>
      {{/with}}
		</tr>
		{{/tables}}
		<!--<tr class="add table-fields" data-table-group="demo-table1"></tr>-->
	</tbody>
</table>