<div class="container-fixed-sidebar" id="directus-changelog">
  <div class="container-main" id="page-content">
    <table class="table directus-table" id="changelog-description">
      <thead>
        <tr>
          <th class="field-note">Description</th>
        </tr>
      </thead>
      <tbody>

        <tr class="add" data-id="id">
          <td>
            <div class="changelog-description span6">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In adipiscing est id justo aliquet tristique. Vestibulum luctus fermentum diam nec consequat. Aenean elementum pretium hendrerit. Integer lacus lectus, aliquet non rhoncus quis, euismod ac mauris. Etiam sed lacinia urna. Vestibulum interdum, nisl et hendrerit adipiscing, mauris purus tristique magna, euismod molestie mauris nibh a nisi. Mauris et semper nibh. Duis quis felis enim, id lobortis odio. Etiam feugiat mi sit amet mi elementum eget molestie est lobortis. Vivamus nec ipsum eu libero venenatis vulputate. Maecenas vitae tellus eu sapien aliquet ultricies non quis sapien. Nunc urna dolor, convallis vitae porttitor quis, faucibus nec turpis. Fusce eros leo, venenatis sit amet hendrerit at, ultricies nec sem. Maecenas facilisis, sem vitae egestas pretium, sem erat convallis neque, non adipiscing purus orci vel orci.
              <br><br>
              <a href="http://getdirectus.com/changelog">Visit getdirectus.com/changelog</a>
            </div>
          </td>
        </tr>

      </tbody>
    </table>

    <table class="table table-striped directus-table">
      <thead>
        <tr>
          <th class="status"></th>
          <th class="field-note">Changelog</th>
        </tr>
      </thead>
      <tbody>

        <tr class="add" data-id="id"><td class="status"></td><td>New feature: WYSIWYG Editor Added</td></tr>
        <tr class="add" data-id="id"><td class="status"></td><td>New feature: WYSIWYG Editor Added</td></tr>
        <tr class="update" data-id="id"><td class="status"></td><td>New feature: WYSIWYG Editor Added</td></tr>
        <tr class="system" data-id="id"><td class="status"></td><td>New feature: WYSIWYG Editor Added</td></tr>
        <tr class="remove" data-id="id"><td class="status"></td><td>New feature: WYSIWYG Editor Added</td></tr>
        <tr class="add" data-id="id"><td class="status"></td><td>New feature: WYSIWYG Editor Added</td></tr>

      </tbody>
    </table>
  </div>
</div>
