<table class="table table-striped directus-table not-responsive" id="directus-grouppermissions">
	<thead>
		<tr>
			<th class="status"></th>
			<th class="field-note">Table</th>
			<th class="permissions">Add</th>
			<th class="permissions">Alter</th>
			<th class="permissions">Bigdelete</th>
			<th class="permissions">Bigedit</th>
      <th class="permissions">Bigview</th>
			<th class="permissions">Delete</th>
			<th class="permissions">Edit</th>
      <th class="permissions">View</th>
		</tr>
	</thead>
	<tbody>
		{{#tables}}
		<tr class="" data-table-name="{{table_name}}" data-id="{{id}}" data-cid="{{cid}}">
			<td class="status"></td>
			<td>{{title}}</td>
			{{#with permissions}}
			<td data-value="add">
				{{#if add}}<span class="add-color">✔</span>{{/if}}
				{{#unless add}}<span class="delete-color">✖</span>{{/unless}}
			</td>
			<td data-value="alter">
				{{#if alter}}<span class="add-color">✔</span>{{/if}}
				{{#unless alter}}<span class="delete-color">✖</span>{{/unless}}
			</td>
			<td data-value="bigdelete">
				{{#if bigdelete}}<span class="add-color">✔</span>{{/if}}
				{{#unless bigdelete}}<span class="delete-color">✖</span>{{/unless}}
			</td>
			<td data-value="bigedit">
				{{#if bigedit}}<span class="add-color">✔</span>{{/if}}
				{{#unless bigedit}}<span class="delete-color">✖</span>{{/unless}}
			</td>
      <td data-value="bigview">
        {{#if bigview}}<span class="add-color">✔</span>{{/if}}
        {{#unless bigview}}<span class="delete-color">✖</span>{{/unless}}
      </td>
			<td data-value="delete">
				{{#if delete}}<span class="add-color">✔</span>{{/if}}
				{{#unless delete}}<span class="delete-color">✖</span>{{/unless}}
			</td>
			<td data-value="edit">
				{{#if edit}}<span class="add-color">✔</span>{{/if}}
				{{#unless edit}}<span class="delete-color">✖</span>{{/unless}}
			</td>
			<td data-value="view">
				{{#if view}}<span class="add-color">✔</span>{{/if}}
				{{#unless view}}<span class="delete-color">✖</span>{{/unless}}
			</td>
			{{/with}}
		</tr>
		{{/tables}}
		<!--<tr class="add table-fields" data-table-group="demo-table1"></tr>-->
	</tbody>
</table>