<fieldset>
	<label>Column Name</label>
	<input type="text" id="columnName" name="column_name" value="{{column_name}}"/>
</fieldset>

<fieldset>
	<label>UI Type</label>
	<select id="uiType" name="ui_type">
    {{#ui_types}}
      <option {{#if selected}}selected{{/if}}>{{title}}</option>
    {{/ui_types}}
	</select>
</fieldset>

<fieldset>
  <label>Data Type</label>
  <select id="dataType" name="data_type">
    {{#data_types}}
      <option {{#if selected}}selected{{/if}}>{{title}}</option>
    {{/data_types}}
  </select>
</fieldset>

{{#if CHAR_LENGTH}}
<fieldset>
<label>Length</label>
<input type="text" id="charLength" value="" name="char_length">
</fieldset>
{{/if}}

{{#if MANYTOONE}}
<fieldset>
<label>Related Table</label>
<select name="table_related" id="table_related">
  {{#tables}}
  <option {{#if selected}}selected{{/if}}>{{this.id}}</option>
  {{/tables}}
</select>
</fieldset>
{{/if}}

{{#if ONETOMANY}}
<fieldset>
<label>Related Table</label>
<select name="table_related" id="table_related">
  {{#tables}}
  <option {{#if selected}}selected{{/if}}>{{this.id}}</option>
  {{/tables}}
</select>
</fieldset>

<fieldset>
<label>Junction Column</label>
<select id="junction_key_right" name="junction_key_right">
  {{#columns}}
  <option {{#if selected}}selected{{/if}}>{{column_name}}</option>
  {{/columns}}
</select>
</fieldset>
{{/if}}

{{#if MANYTOMANY}}
<fieldset>
<label>Related Table</label>
<select id="table_related" name="table_related">
  {{#tables}}
  <option {{#if selected}}selected{{/if}}>{{this.id}}</option>
  {{/tables}}
</select>
</fieldset>

<fieldset>
<label>Junction Table</label>
<select id="junction_table" name="junction_table">
  {{#junctionTables}}
  <option {{#if selected}}selected{{/if}}>{{this.id}}</option>
  {{/junctionTables}}
</select>
</fieldset>

<fieldset>
<label>Left Column</label>
<select id="junction_key_left" name="junction_key_left">
  {{#columns_left}}
  <option {{#if selected}}selected{{/if}}>{{column_name}}</option>
  {{/columns_left}}
</select>
</fieldset>

<fieldset>
<label>Right Column</label>
<select id="junction_key_right" name="junction_key_right">
  {{#columns_right}}
  <option {{#if selected}}selected{{/if}}>{{column_name}}</option>
  {{/columns_right}}
</select>
</fieldset>
{{/if}}