<!-- Header template -->
<header id="fixedHeader">
</header>

<section class="main-container content-body font-secondary" id="page-content">
    <ul class="feature-cards">
        <a href="#settings/global">
        <li class="feature-card gutter-bottom">
            <div class="left-col">
                <span class="icon icon-globe color"></span>
            </div>
            <div class="right-col">
                <h2>Global Settings</h2>
                <p>Personalize this instance of Directus to fit your organization’s needs. Change colors, add a company logo, set the auto logout time, etc</p>
            </div>
        </li></a>
        <a href="#settings/files">
        <li class="feature-card gutter-bottom">
            <div class="left-col">
                <span class="icon icon-picture color"></span>
            </div>
            <div class="right-col">
                <h2>Files &amp; Thumbnails</h2>
                <p>Here you can adjust the size and quality of your automatic thumbnails, decide where to save uploaded files, and much more.</p>
            </div>
        </li></a>
        <a href="#settings/tables">
        <li class="feature-card gutter-bottom">
            <div class="left-col">
                <span class="icon icon-numbered-list color"></span>
            </div>
            <div class="right-col">
                <h2>Tables &amp; Inputs</h2>
                <p>Within Tables and Inputs you can make broad and granular adjustments to how Directus handles your specific data, visualizations, and inputs.</p>
            </div>
        </li></a>
        <a href="#settings/permissions">
        <li class="feature-card gutter-bottom">
            <div class="left-col">
                <span class="icon icon-users color"></span>
            </div>
            <div class="right-col">
                <h2>Group Permissions</h2>
                <p>Manage user groups which control access to your data. Setup table and field level permission for each group.</p>
            </div>
        </li></a>
        <!--
        <a href="#settings/system">
        <li class="feature-card gutter-bottom">
            <div class="left-col">
                <span class="icon icon-search color"></span>
            </div>
            <div class="right-col">
                <h2>System Details</h2>
                <p>A quick way to get a birds eye view of your server and this Directus instance. Provides a built-in PHPINFO readout as well.</p>
            </div>
        </li></a>
        <a href="#settings/about">
        <li class="feature-card gutter-bottom">
            <div class="left-col">
                <span class="icon icon-rocket color"></span>
            </div>
            <div class="right-col">
                <h2>About Directus</h2>
                <p>Here you can see news and updates from Directus Core, as well as any new versions that have been released.</p>
            </div>
        </li></a>
        -->
    </ul>
</section>