<div class="settings-modules">
	<div class="settings-module">
		<div class="icon-header">
			<i class="material-icons">public</i>
		</div>
		<div class="description">
			<h1>{{t "global_settings"}}</h1>
			<p>{{t "global_settings_description"}}</p>
		</div>
		<a href="{{rootUrl}}#settings/global"><div class="button">{{t 'settings_edit'}}</div></a>
	</div>

	<div class="settings-module">
		<div class="icon-header">
			<i class="material-icons">settings</i>
		</div>
		<div class="description">
			<h1>{{t "tables_and_inputs"}}</h1>
			<p>{{t "tables_and_inputs_description"}}</p>
		</div>
		<a href="{{rootUrl}}#settings/tables"><div class="button">{{t 'settings_manage'}}</div></a>
	</div>

	<div class="settings-module">
		<div class="icon-header">
			<i class="material-icons">group</i>
		</div>
		<div class="description">
			<h1>{{t "group_permissions"}}</h1>
			<p>{{t "group_permissions_description"}}</p>
		</div>
		<a href="{{rootUrl}}#settings/permissions"><div class="button">{{t 'settings_manage'}}</div></a>
	</div>

	<div class="settings-module disabled">
		<div class="icon-header">
			<i class="material-icons">warning</i>
		</div>
		<div class="description">
			<h1>{{t 'activity_log'}}</h1>
			<p>{{t 'activity_log_description'}}</p>
		</div>
		<div class="button disabled">{{t 'settings_view'}}</div>
	</div>

	<div class="settings-module disabled">
		<div class="icon-header">
			<i class="material-icons">storage</i>
		</div>
		<div class="description">
			<h1>{{t 'server_details'}}</h1>
			<p>{{t 'server_details_description'}}</p>
		</div>
		<div class="button disabled">{{t 'settings_view'}}</div>
	</div>

	<div class="settings-module disabled">
		<div class="icon-header">
			<i class="material-icons">update</i>
		</div>
		<div class="description">
			<h1>{{t 'version_updates'}}</h1>
			<p>{{t 'version_updates_description'}}</p>
		</div>
		<div class="button disabled">{{t 'settings_view'}}</div>
	</div>
</div>

<hr>

<div class="marketplace">
	<h1>Marketplace Coming Soon</h1>
	<span class="float pos-1"><i class="material-icons">extension</i></span>
	<span class="float pos-2"><i class="material-icons">camera_alt</i></span>
	<span class="float pos-3"><i class="material-icons">local_offer</i></span>
	<span class="float pos-4"><i class="material-icons">place</i></span>
	<span class="float pos-5"><i class="material-icons">verified_user</i></span>
	<span class="float pos-6"><i class="material-icons">shopping_cart</i></span>
	<span class="float pos-7"><i class="material-icons">star_rate</i></span>
	<span class="float pos-8"><i class="material-icons">receipt</i></span>
	<span class="float pos-9"><i class="material-icons">language</i></span>
	<span class="float pos-10"><i class="material-icons">explore</i></span>
	<span class="float pos-11"><i class="material-icons">alarm</i></span>
	<span class="float pos-12"><i class="material-icons">backup</i></span>
	<span class="float pos-13"><i class="material-icons">lock</i></span>
	<span class="float pos-14"><i class="material-icons">question_answer</i></span>
	<span class="float pos-15"><i class="material-icons">today</i></span>
	<span class="float pos-16"><i class="material-icons">new_releases</i></span>
	<span class="float pos-17"><i class="material-icons">widgets</i></span>
	<span class="float pos-18"><i class="material-icons">insert_chart</i></span>
	<span class="float pos-19"><i class="material-icons">pie_chart</i></span>
	<span class="float pos-20"><i class="material-icons">bubble_chart</i></span>
	<span class="float pos-21"><i class="material-icons">palette</i></span>
	<span class="float pos-22"><i class="material-icons">timelapse</i></span>
	<span class="float pos-23"><i class="material-icons">style</i></span>
	<span class="float pos-24"><i class="material-icons">beenhere</i></span>
	<span class="float pos-25"><i class="material-icons">local_printshop</i></span>
	<span class="float pos-26"><i class="material-icons">store_mall_directory</i></span>
	<span class="float pos-27"><i class="material-icons">local_shipping</i></span>
	<span class="float pos-28"><i class="material-icons">network_check</i></span>
	<span class="float pos-29"><i class="material-icons">all_inclusive</i></span>
	<span class="float pos-30"><i class="material-icons">notifications_active</i></span>
</div>