<!-- Header template -->
<header id="fixedHeader">
</header>

<table class="table table-striped directus-table">
<thead>
	<tr>
		<th>Table</th>
		<th style="width:120px">Hidden</th>
		<th style="width:120px">Single</th>
		<th style="width:120px">Inactive By Default</th>
		<th style="width:120px">Is Junction Table</th>
		<th style="width:120px">Footer</th>
	</tr>
</thead>
<tbody>
  {{#rows}}
  <tr data-id="{{table_name}}">
  	<td>{{{capitalize table_name}}}</td>
	<td>{{#if hidden}}<span class="green">✔</span>{{else}}<span class="gray">✖</span>{{/if}}</td>
	<td>{{#if single}}<span class="green">✔</span>{{else}}<span class="gray">✖</span>{{/if}}</td>
	<td>{{#if inactive_by_default}}<span class="green">✔</span>{{else}}<span class="gray">✖</span>{{/if}}</td>
	<td>{{#if is_junction_table}}<span class="green">✔</span>{{else}}<span class="gray">✖</span>{{/if}}</td>
	<td>{{#if footer}}<span class="green">✔</span>{{else}}<span class="gray">✖</span>{{/if}}</td>
  </tr>
  {{/rows}}
</tbody>
</table>