<table class="table table-striped directus-table">
<thead>
	<tr>
		<th>Table</th>
		<th style="width:120px">Hidden</th>
		<th style="width:120px">Single</th>
		<th style="width:120px">Is Junction Table</th>
		<th style="width:120px">Footer</th>
	</tr>
</thead>
<tbody>
  {{#rows}}
  <tr data-id="{{table_name}}">
  	<td>{{{capitalize table_name}}}</td>
	<td data-attribute="hidden">{{#if hidden}}<span class="add-color">◯</span>{{else}}<span class="delete-color">✕</span>{{/if}}</td>
	<td data-attribute="single">{{#if single}}<span class="add-color">◯</span>{{else}}<span class="delete-color">✕</span>{{/if}}</td>
	<td data-attribute="is_junction_table">{{#if is_junction_table}}<span class="add-color">◯</span>{{else}}<span class="delete-color">✕</span>{{/if}}</td>
	<td data-attribute="footer">{{#if footer}}<span class="add-color">◯</span>{{else}}<span class="delete-color">✕</span>{{/if}}</td>
  </tr>
  {{/rows}}
</tbody>
</table>