
.display-user[data-v-14d81c]{width:max-content;display:inline-block;vertical-align:top
}
.label[data-v-14d81c]{display:inline-block;margin-left:4px;height:28px
}
.label div[data-v-14d81c]{margin-top:6px
}
.gray[data-v-14d81c]{color:var(--light-gray)
}