<!-- Header -->
{% if header %}
  <table width="100%" align="center" cellpadding="0" cellspacing="0" role="none"
    style="background-color: #F6F6F6;">
    <tr>
      <td align="center">
        <!-- Tabela principal com largura máxima de 500px -->
        <table width="100%" cellpadding="0" cellspacing="0" align="center"
          style="max-width: 500px; width: 100%; background-color: #114559; padding: 24px;">
          <tr>
            <td align="center" style="padding: 0;">
              <a href="https://yinflow.life" target="_blank" style="text-decoration: none;">
                <img
                  src="https://ffwodbf.stripocdn.email/content/guids/CABINET_68baf15c3ede7f646939cb028bcce1cb69400de6679c979d9e456e4403ed201a/images/_logo_branco_kjj.png"
                  alt="Logo Yinflow" height="40" width="auto"
                  style="display: block; border: 0; outline: none; text-decoration: none;">
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  {% endif %}
  <!-- End Header -->