{% layout "base" %} {% block content %}

<h1>Reset your {{projectName}} password</h1>

<p style="padding-bottom: 30px">
  We have received a request to reset the password for your
  <i>{{ projectName }}</i> account. If you did not make this change, please
  contact one of your administrators. Otherwise, to complete the process, click
  the following link to confirm your email address and enter your new password.
</p>

<a
  class="button"
  rel="noopener"
  target="_blank"
  href="{{url}}"
  style="
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 11px 24px;
    border-radius: 8px;
    background: #171717;
    border: 1px solid #ffffff;
  "
>
  <!--[if mso]>
    <i style="letter-spacing: 25px; mso-font-width: -100%; mso-text-raise: 30pt"
      >&nbsp;</i
    >
  <![endif]-->
  <span style="mso-text-raise: 15pt">Reset Your Password</span>
  <!--[if mso]>
    <i style="letter-spacing: 25px; mso-font-width: -100%">&nbsp;</i>
  <![endif]-->
</a>

<p style="padding-top: 30px">Important: This link will expire in 24 hours.</p>

{% endblock %}
