{% layout "base" %}
{% block content %}

<p>
	We have received a request to reset the password for your <i>{{ projectName }}</i> account. If you did not make this change, please contact one of your administrators. Otherwise, to complete the process, click the following link to confirm your email address and enter your new password.
</p>

<p style="text-align: center; padding: 20px 0;">
    <a href="{{ url }}">
        <b>Reset Your Password</b>
    </a>
</p>

<p>
	<b>Important: This link will expire in 24 hours.</b>
    <br>
</p>

<p>
    Thank you,<br>
    The {{ projectName }} Team
</p>

{% endblock %}
