// sass --watch install.scss:install.css

//////////////////////////////////////////////////////////////////////////////
// Variables

$black:     #000000;
$gray-7:    #222222;
$gray-6:    #333333;
$gray-5:    #666666;
$gray-4:    #999999;
$gray-3:    #CCCCCC;
$gray-2:    #DDDDDD;
$gray-1:    #EEEEEE;
$white:     #FFFFFF;

$primary:   #3498DB;
$serious:   #F44336;
$important: #FFC107;

//////////////////////////////////////////////////////////////////////////////
// Mixins

@mixin border-radius($radius: 2px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin border-radius-each ($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0) {
    -webkit-border-top-right-radius: $topright;
    -webkit-border-bottom-right-radius: $bottomright;
    -webkit-border-bottom-left-radius: $bottomleft;
    -webkit-border-top-left-radius: $topleft;
    -moz-border-radius-topright: $topright;
    -moz-border-radius-bottomright: $bottomright;
    -moz-border-radius-bottomleft: $bottomleft;
    -moz-border-radius-topleft: $topleft;
    border-top-right-radius: $topright;
    border-bottom-right-radius: $bottomright;
    border-bottom-left-radius: $bottomleft;
    border-top-left-radius: $topleft;
    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

@mixin transition($prop: all, $time: 200ms, $ease: linear) {
    -webkit-transition: $prop $time $ease;
    -moz-transition: $prop $time $ease;
    -o-transition: $prop $time $ease;
    -ms-transition: $prop $time $ease;
    transition: $prop $time $ease;
}

//////////////////////////////////////////////////////////////////////////////
// Material Design Icons

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../../assets/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../../assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../../assets/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../../assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
    &.vertical-middle {
        vertical-align: middle;
    }
}

//////////////////////////////////////////////////////////////////////////////
// Tags and Structure

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: lighten($primary, 20%);
}
::-moz-placeholder { /* Firefox 19+ */
  color: lighten($primary, 20%);
}
:-ms-input-placeholder { /* IE 10+ */
  color: lighten($primary, 20%);
}
:-moz-placeholder { /* Firefox 18- */
  color: lighten($primary, 20%);
}

body {
    background-color: darken($primary, 4%);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased !important;
    font-size: 10px;
    color: $gray-3;
    font-weight: 400;
}
a {
    @include transition (all, 200ms, linear);
    color: inherit;
    text-decoration: none;
    &.underline {
        border-bottom: dotted 1px $primary;
        &:hover {
            color: $primary;
        }
    }
}
hr {
    border: 0;
    color: $gray-3;
    background-color: $gray-3;
    height: 1px;
}
label {
    @include transition (all, 200ms, linear);
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    &.highlight {
        color: $primary;
    }
}
input[type=checkbox] {
    margin: 0 10px 0 0;
    top: -1px;
    position: relative;
}
textarea {
    width: 100%;
    min-height: 200px;
    font-size: 10px;
    outline: none;
    border-color: #bbbbbb;
    white-space: pre;
    word-wrap: normal;
    overflow-x: scroll;
    margin: 10px 0 10px 0;
}
select,
input[type=text],
input[type=email],
input[type=password],
input[type=number] {
    @include border-radius;
    @include transition (all, 200ms, linear);
    padding: 10px 12px;
    width: 100%;
	text-transform: initial;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    color: $gray-5;
    border: #BBBBBB 1px solid;
    outline: none;
    background-color: #ffffff;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    // -webkit-text-fill-color: lighten($primary, 20%); // Controls placeholder and autocomplete, needs to differ from actual entry
    &:focus {
        border: 1px solid $primary;
    }
    &.bad {
        border: 1px solid $serious !important;
    }
    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px lighten($primary, 43%) inset;
        color: $gray-3 !important;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    &[type='number'] {
        -moz-appearance: textfield;
    }
}

.select-container {
    position: relative;
    cursor: pointer;
    select {
        cursor: pointer;
    }
}

.select-arrow {
    position: absolute;
	top: 50%;
	transform: translateY(-80%);
    right: 4px;
    font-size: 29px;
}

.buttons {
    margin-top: 40px;
    .button {
        @include transition (all, 200ms, linear);
        @include border-radius;
        display: inline-block;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        outline: none;
        background-color: $white;
        border: 1px solid $primary;
        color: $primary;
        cursor: pointer;
        height: 40px;
        width: 160px;
        &:hover {
            background-color: rgba($primary, 0.1);
        }
        &.primary {
            color: $white;
            background-color: $primary;
            &:hover {
                background-color: darken($primary, 5%);
            }
            &.disabled {
                color: rgba($white, 0.5);
                &:hover {
                    cursor: not-allowed;
                    background-color: $primary;
                }
            }
        }
        &.back-button {
            margin-right: 17px;
        }
    }
}

//////////////////////////////////////////////////////////////////////////////
// Structure

.modal {
    @include border-radius-each ($topright: 2px, $bottomright: 2px, $bottomleft: 4px, $topleft: 4px);
    position: relative;
    background-color: $white;
    padding: 40px 60px 40px 300px;
    margin: 100px auto 60px;
    max-width: 340px;
    min-height: 340px;
    -webkit-box-shadow: 0px 30px 60px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 30px 60px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 30px 60px 0px rgba(0,0,0,0.2);
    .header {
        @include border-radius-each ($topright: 0, $bottomright: 0, $bottomleft: 2px, $topleft: 2px);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 140px;
        background-color: $primary;
        padding: 30px 50px 50px 50px;
        img {
            display: block;
            margin: 0 auto 40px;
            max-width: 100px;
        }
        ul {
            padding: 0;
            color: $white;
            font-size: 14px;
            font-weight: 700;
            list-style: none;
            li {
                margin: 10px 0;
                opacity: 0.5;
                cursor: default;
                .material-icons {
                    margin-right: 10px;
                    vertical-align: middle;
                }
                &.complete {
                    //
                }
                &.current {
                    opacity: 1;
                }
            }
        }
        .help-button {
            @include transition (all, 200ms, linear);
            position: absolute;
            bottom: 50px;
            left: 50px;
            color: $white;
            font-size: 14px;
            font-weight: 700;
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
            .material-icons {
                margin-right: 10px;
                vertical-align: middle;
            }
        }
    }
    .container {
        min-height: 260px;
    }
    h3 {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        color: $primary;
        padding-bottom: 4px;
        margin: 0 0 4px 0;
        // border-bottom: 1px solid $gray-1;
    }
    table {
        margin-bottom: 30px;
        color: $gray-4;
        font-size: 12px;
        width: 100%;
        border-spacing: 0;
        tr:nth-child(odd) {
            background-color: rgba($primary, 0.05);
        }
        td {
            padding: 2px 2px;
        }
        .item {
            font-weight: 500;
            height: 22px;
        }
        .result {
            text-align: right;
        }
        .second-line {
            margin-top: 4px;
            margin-bottom: 4px;
            padding-left: 20px;
            color: $gray-3;
        }
        .subdued {
            color: $gray-3;
            font-size: 11px;
        }
    }
    input[type=checkbox] {
        margin: 0;
    }
}

// Classes
//////////////////////////////////////////////////////////////////////////////

.hide {
    opacity: 0;
    pointer-events: none;
}

.note {
    font-style: italic;
    font-size: 11px;
}

.label-important {
    color: $serious;
    font-weight: 500;
}

.label-success {
    color: $gray-4;
    font-weight: bold;
}

.input-left {
    float: left;
    display: inline-block;
    width: 65%;
    padding-right: 5%;
}

.input-right {
    float: left;
    display: inline-block;
    width: 30%;
}

.config-paste {
    font-size: 12px;
    padding-left: 30px;
}

.error-container {
    background-color: $serious;
    color: white;
    padding: 20px;
    margin: 0 0 20px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
}

.error {
    border: 1px solid $serious !important;
}

.errors {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
    p {
        @include border-radius;
        background-color: $serious;
        color: $white;
        padding: 10px;
    }
}
