<div class="details">
    <a href="#" class="js-user" data-id="{{from}}"><img class="avatar" src="{{userAvatarUrl from}}" data-id="{{from}}"></a>
    <div class="from"><a href="#" class="js-user" data-id="{{from}}">{{userFirstAndLastName from}}</a></div>
    <div class="timeago">{{friendlyDateTime datetime}}</div><!-- Sunday, Nov 22, 1:09 PM -->
    <h1>{{subject}}</h1>
    <div class="to">{{t "message_to"}}: {{usersFirstAndLastName recipients}}</div>
</div>

<div>
    <div class="body">
        {{message}}
    </div>

    {{#if reads}}
    <div class="seen">
        <i class="material-icons">visibility</i> {{usersFirstAndLastName reads}}
    </div>
    {{/if}}

	<div class="attachments">
		{{#attachment}}
		<div class="file js-file" data-id="{{id}}">
			{{#if html}}
			{{{html}}}
			{{else}}
			<img src="{{thumbnail_url}}">
			{{/if}}
			<div class="type">{{type}}</div>
			<div class="info">
				<div class="name js-title">{{title}}</div>
				<div class="uploaded">{{contextualDate date_uploaded}}</div>
			</div>
		</div>
		{{/attachment}}
	</div>
</div>

{{#each responses}}
<div class="response">
    <div class="details">
        <img class="avatar js-user" data-id="{{from}}" src="{{userAvatarUrl from}}">
        <div class="from js-user" data-id="{{from}}">{{userFirstAndLastName from}}</div>
        <div class="timeago">{{friendlyDateTime datetime}}</div>
    </div>
    <div class="body">
        {{message}}
    </div>
	{{#if reads}}
	<div class="seen">
		<i class="material-icons">visibility</i> {{usersFirstAndLastName reads}}
	</div>
	{{/if}}
    <div class="attachments">
        {{#attachment}}
        <div class="file js-file" data-id="{{id}}">
            {{#if html}}
            {{{html}}}
            {{else}}
            <img src="{{thumbnail_url}}">
            {{/if}}
            <div class="type">{{type}}</div>
            <div class="info">
                <div class="name js-title">{{title}}</div>
                <div class="uploaded">{{contextualDate date_uploaded}}</div>
            </div>
        </div>
        {{/attachment}}
    </div>
</div>
{{/each}}
