<div class="message-recipients" style="margin-bottom:20px;">
    To: {{#if collapseRecipients}}
    <a href="#" id="messages-show-recipients">{{recipientsCount}} Repcepients</a>
    <div id="messages-recipients" style="display:none">
        {{#each recipients}}{{userAvatar this}}{{/each}}
    </div>
    {{else}}
        {{#each recipients}}{{userAvatar this}}{{/each}}
    {{/if}}
</div>


<div class="history-container">
  <ul>
    <li class="history-add-comment">
      {{userAvatar current_user}}
      <div class="history-comment">
        <textarea id="messages-response" placeholder="Leave a reply..." class="tall"></textarea>
        <button id="messages-response-button" class="btn btn-small">Submit</button>
      </div>
    </li>

    {{#each responses}}
    <li>
        {{userAvatar from}}
        <div class="history-comment">
            {{{message}}}
        </div>
        <div class="history-datetime">{{contextualDate datetime}}</div>
    </li>
    {{/each}}

    <li>
        {{userAvatar from}}
        <!--{{userFull from}}-->
        <div class="history-comment">
            {{{message}}}
        </div>
        <div class="history-datetime">{{contextualDate datetime}}</div>
    </li>
  </ul>
</div>
