<form>
	<div class="details original">
		<img class="avatar" src="{{userAvatarUrl user.id}}">
		<div class="from">{{userFirstAndLastName user.id}}</div>
		<input class="subject" name="subject" placeholder="{{t 'messages_subject_placeholder'}}" value="">
		<!-- <input class="recipients" placeholder="{{t 'messages_add_recipients_placeholder'}}" value="">-->
		<div class="recipients"></div>
		{{{uiView view.model view.attr view.options view.parent}}}
	</div>

	<div class="compose">
		<div class="body">
			<textarea name="message" placeholder="Write a message..."></textarea>
		</div>
		<div class="button-group">
			<div class="button hidden js-button-send">Send</div>
			<div class="button hidden subdued"><i class="material-icons">attachment</i></div>
		</div>
	</div>
</form>
