{{#each messages}}
<div class="message-preview js-message {{#unless read}}unread{{/unless}}{{#if selected}}active{{/if}}" data-id="{{id}}"> <!-- .active -->
	<input class="custom-checkbox js-select-row" id="check{{id}}" type="checkbox" value="">
	<label class="message-select" for="check{{id}}"><span></span></label>

	<div class="active-indicator"></div>
	<div class="unread-indicator"></div>
	<div class="timeago">{{niceDate}}</div>
	<div class="byline">
		<div class="subject">{{subject}}{{# if attachment}} <i class="material-icons has-attachment">attachment</i>{{/if}}{{#if isChat }}<i class="material-icons is-chat">chat</i>{{/if}}</div>
		<div class="recipients">{{recipients}}</div>
	</div>
	{{message}}
</div>
{{/each}}
<div class="message resize-right" id="message">
	<div class="resize-handle"></div>
	<div id="message-right-content"></div>
</div>
{{#unless messages}}
{{{include "listingEmpty"}}}
{{/unless}}
