<div class="js-check">
	<input class="custom-checkbox js-select-row" id="message_check{{id}}" type="checkbox" value="">
	<label class="message-select" for="message_check{{id}}"><span></span></label>
</div>

<div class="active-indicator"></div>
<div class="unread-indicator"></div>
<div class="timeago" title="{{fullDateTime datetime}}">{{contextualDate datetime type="small"}}</div>
<div class="byline">
	<div class="subject"{{# if isComment}} title="ID: {{commentRecordId}}"{{/if}}>
		{{subject}} {{#if showCounter}}<span class='count'>({{count}})</span>{{/if}}
		{{# if hasAttachment}}
		<i class="material-icons has-attachment">attachment</i>
		{{/if}}
		{{#if isChat }}
		{{!-- @TODO: when the current user has been mentioned in the thread --}}
		<i class="material-icons is-chat">chat</i>
		{{/if}}
	</div>
	<div class="recipients">{{recipients}}</div>
</div>
<div class="body">
	{{message}}
</div>
