<div class="message-recipients">
    <b>To:</b> {{#if collapseRecipients}}
        <a href="#" id="messages-show-recipients">{{recipientsCount}} Repcepients</a>
        <div id="messages-recipients" style="display:none">
            {{#each recipients}}{{userFirstAndLastName this}}, {{/each}}
        </div>
    {{else}}
        {{#each recipients}}{{userFirstAndLastName this}}, {{/each}}
    {{/if}}

    </div>

<div class="message-response">
    <span class="message-datetime">{{contextualDate datetime}}</span>
    <b>{{userFull from}}</b><br>
    <div class="message-body">
        {{{nl2br message}}}
    </div>
</div>

{{#each responses}}
    <div class="message-response">
        <span class="message-datetime">{{contextualDate datetime}}</span>
        <b>{{userFull from}}</b><br>
        <div class="message-body">
            {{{nl2br message}}}
        </div>
    </div>
{{/each}}

<div class="message-reply">
    <textarea rows="7" style="width:700px; margin-bottom:10px" id="messages-response"></textarea>
    <p><button class="btn btn-primary" id="messages-response-button">Reply</button></p>
</div>