<ul class="group-list">
  {{#each messages}}
  <li class="group-item big-item message" data-id="{{id}}">
    <div class="check-box left">
      <input class="custom-check" id="check{{ id }}" type="checkbox" />
      <label for="check{{ id }}"><span></span></label>
    </div>
    <div class="content left">
      <div class="users">{{recipients}}</div>
      <div class="title">{{subject}}</div>
      <div class="subject">{{message}}</div>
    </div>
    <div class="right-info right">
      <!--<span class="icon icon-attach"></span>-->
      <span class="date" title="{{date_updated}}">{{niceDate}}</span>
    </div>
  </li>
  {{/each}}
</ul>