{{#if canSendMessages}}
{{#unless isResponse}}
<div class="details original">
	<img class="avatar" src="{{userAvatarUrl user.id}}">
	<div class="from">{{userFirstAndLastName user.id}}</div>
	<input class="subject" name="subject" placeholder="{{t 'messages_subject_placeholder'}}" value="">
	<!-- <input class="recipients" placeholder="{{t 'messages_add_recipients_placeholder'}}" value="">-->
	<div class="recipients"></div>
	{{#with view.recipients}}
	{{{uiView model attr options parent}}}
	{{/with}}
</div>
{{/unless}}

<div class="{{#if isResponse}}reply{{else}}compose{{/if}}">
	<div class="body">
		<textarea name="message" placeholder="Write a message..."></textarea>
	</div>
	<div class="button-group">
		<div class="button hidden js-button-send">Send</div>
		<!-- <div class="button hidden subdued js-button-upload"><i class="material-icons">attachment</i></div> -->
		<div class="attachment button hidden subdued"></div>
		{{#with view.attachments}}
		{{{uiView model attr options parent}}}
		{{/with}}
	</div>
</div>
{{/if}}
