:global(.VPHome) {
	max-width: none;
}

:global(.VPNavBar) {
	background-color: var(--vp-nav-bg-color);
}

.vp-doc h2 {
	border-top: 0;
	margin: 0;
	line-height: 1.2;
}

.vp-doc a {
	color: var(--vp-c-text-1);
}

.vp-doc a:hover {
	text-decoration: none;
}

a {
	cursor: pointer;
	font-size: 16px;
	text-decoration: none;
}

hr {
	border-color: #dadada57;
	margin: 0 120px;
}

.padding-box {
	padding: 0 32px;
}

.section-container {
	max-width: calc(var(--vp-layout-max-width) - 64px);
	margin-inline: auto;
}

.section-padding--md {
	padding-block: 60px;
}

.section-padding--lg {
	padding-block: 120px;
}

.section-padding--hero {
	padding-block: 108px;
}

.hero {
	background: var(--vp-docs-section-bg);
	color: white;
	position: relative;
	overflow: hidden;
}

.hero-pattern {
	position: absolute;
	top: 40%;
	left: 50%;
	translate: -50% -50%;
	pointer-events: none;
}

.hero-pattern svg {
	width: 1600px;
	height: 1000px;
	opacity: 0.5;
}

.hero-badge {
	color: #fe97dc;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.hero-content {
	max-width: 580px;
}

.hero-content h1 {
	font-size: 60px;
	font-weight: 700;
	line-height: 1;
}

.hero-paragraph {
	font-size: 21px;
	line-height: 1.5;
	color: var(--vp-c-gray-light-3);
}

.hero-buttons {
	margin: 48px 0;
	max-width: 300px;
	font-weight: 600;
}

.outline-btn {
	display: inline-block;
	border: 1px solid;
	border-color: var(--vp-c-divider);
	border-radius: 8px;
	color: var(--vp-c-text-1);
	font-weight: 600;
	font-size: 14px;
	margin-top: 10px;
	padding: 4px 12px;
}

.primary-btn {
	background: #fff;
	border-radius: 12px;
	color: #0e1c2f;
	font-size: 16px;
	padding: 12px 16px;
}

.primary-btn:hover {
	background-color: #f0f4f9;
}

.secondary-btn {
	padding: 16px;
	margin-left: 32px;
	color: #d1d3d5;
}

.secondary-btn:hover {
	color: var(--white);
}

.hero-toggler {
	border-radius: 16px;
	width: 100%;
	max-width: 590px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	filter: drop-shadow(0px 0px 120px rgba(255, 255, 255, 0.1));
	backdrop-filter: blur(4px);
	z-index: 1;
	margin-left: 20px;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.inline-flex {
	display: inline-flex;
}

.white-bg {
	background: var(--vp-c-bg);
}

.gray-bg {
	background: var(--vp-c-bg-soft);
}

.text-muted {
	color: var(--vp-c-text-2);
}

.header h2 {
	font-size: 38px;
}

.header p {
	font-size: 20px;
	line-height: 1.5;
}

.centered-text {
	text-align: center;
	max-width: 680px;
	margin: 0 auto;
}

.divider {
	height: 1px;
	background: var(--vp-c-divider);
}

.m-20 {
	margin: 20px 0;
}

.m-10 {
	margin: 10px 0;
}

.m-6 {
	margin: 6px 0;
}

.max-btn-width {
	max-width: 260px;
	margin: 0 auto;
}

.grid-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
}

.grid-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 24px;
	margin: 60px 0;
}

.grid-4 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 12px;
	margin: 60px 0;
}

.article-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 40px;
}

.max-width {
	max-width: 420px;
}

@media only screen and (min-width: 768px) {
	.sh-heading {
		max-width: 10ch;
	}

	.article-grid {
		grid-template-columns: repeat(4, 1fr);
		gap: 12px;
	}
}

@media only screen and (max-width: 1200px) {
	.hero-toggler {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	.hero {
		min-height: unset;
	}
	.flex {
		flex-direction: column;
		align-items: stretch;
	}

	.header h2 {
		font-size: 28px;
	}
	.header p {
		font-size: 18px;
	}

	.grid-2,
	.grid-3,
	.grid-4 {
		grid-template-columns: 1fr;
	}

	.hero-content h1 {
		font-size: 42px;
	}

	.section-padding--hero {
		padding-block: 32px;
	}
}
