@mixin comparison-indicator($type: 'indicator') {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		inset-block: 0;
		inset-inline-start: -12px;
		inline-size: 4px;
		z-index: 1;

		@if $type == 'track' {
			background-color: var(--comparison-track--color, var(--theme--background-accent));
		} @else {
			background-color: var(--comparison-indicator--color, var(--theme--foreground-subdued));
		}
	}
}
