@mixin type-title {
	color: var(--theme--foreground-accent);
	font-weight: 700;
	font-size: 24px;
	font-family: var(--theme--font-family-display);
	font-style: normal;
	line-height: 34px;

	@media (min-width: 600px) {
		font-size: 24px;
	}
}

@mixin type-label {
	color: var(--theme--foreground-accent);
	font-weight: 600;
	font-size: 16px;
	font-family: var(--theme--font-family-sans-serif);
	font-style: normal;
	line-height: 19px;
}

@mixin type-text {
	color: var(--theme--foreground);
	font-weight: 500;
	font-size: 14px;
	font-family: var(--theme--font-family-sans-serif);
	font-style: normal;
	line-height: 22px;
}

@mixin type-note {
	color: var(--theme--foreground-subdued);
	font-weight: 500;
	font-size: 13px;
	font-family: var(--theme--font-family-sans-serif);
	font-style: italic;
	line-height: 18px;
}
