@import '@/styles/mixins/breakpoint';

@mixin type-title {
	color: var(--foreground-normal-alt);
	font-weight: 700;
	font-size: 24px;
	font-family: var(--family-sans-serif);
	font-style: normal;
	line-height: 34px;
	letter-spacing: -0.32px;

	@include breakpoint(small) {
		font-size: 24px;
	}
}

@mixin type-label {
	color: var(--foreground-normal-alt);
	font-weight: 600;
	font-size: 16px;
	font-family: var(--family-sans-serif);
	font-style: normal;
	line-height: 19px;
	letter-spacing: -0.32px;
}

@mixin type-text {
	color: var(--foreground-normal);
	font-weight: 500;
	font-size: 14px;
	font-family: var(--family-sans-serif);
	font-style: normal;
	line-height: 22px;
	letter-spacing: -0.15px;
}
