@mixin type-title {
	color: var(--heading-text-color);
	font-size: 22px;
}

@mixin type-heading-large {
	color: var(--heading-text-color);
	font-weight: 300;
	font-size: 48px;
	line-height: 52px;
	letter-spacing: -1px;
}

@mixin type-heading-medium {
	color: var(--heading-text-color);
	font-weight: 300;
	font-size: 28px;
}

@mixin type-heading-small {
	color: var(--heading-text-color);
	font-size: 18px;
}

@mixin type-item-title {
	color: var(--heading-text-color);
	font-weight: 400;
	font-size: 15px;
	line-height: 1.2;
}

@mixin type-item-title-dense {
	color: var(--heading-text-color);
	font-weight: 500;
	font-size: 13px;
	line-height: 1.1;
}

@mixin type-item-subtitle {
	color: var(--subheading-text-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.2;
}

@mixin type-item-subtitle-dense {
	color: var(--subheading-text-color);
	font-weight: 500;
	font-size: 13px;
	line-height: 1.1;
}

@mixin type-label {
	color: var(--heading-text-color);
	font-size: 18px;
}

@mixin type-note {
	color: var(--note-text-color);
	font-size: 14px;
	font-style: italic;
}

@mixin type-table-head {
	font-weight: 500;
}

@mixin type-body-serif {
	font-size: 16px;
	font-family: var(--family-serif);
	line-height: 32px;
}

@mixin type-body-sans {
	font-size: 14px;
	font-family: var(--family-sans-serif);
	line-height: 26px;
}

@mixin type-card-title {
	color: var(--heading-text-color);
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 2rem;
	letter-spacing: 0.0125em;
}

@mixin type-card-subtitle {
	color: var(--foreground-color-secondary);
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1.375rem;
	letter-spacing: 0.007em;
}

@mixin type-card-text {
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1.375rem;
	letter-spacing: 0.007em;
}
