* {
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

#app {
	height: 100%;
	width: 100%;
}

.container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr;
	overflow: hidden;
}

iframe {
	height: 100%;
	width: 100%;
	border: none;
}

.terminal {
	overflow: auto;
	background-color: black;
}
