* {
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100vh;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	height: 100%;
	width: 100%;
}

textarea {
	width: 100%;
	height: 100%;
	resize: none;
	border-radius: 0.5rem;
	background: black;
	color: white;
	padding: 0.5rem 1rem;
}

iframe {
	height: 100%;
	width: 100%;
	border-radius: 0.5rem;
}
