* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.container {
	margin-bottom: 30px;
	width: 100%;
}

textarea {
	width: 100%;
	height: 100%;
	resize: none;
	border-radius: 0.5rem;
	background: black;
	color: white;
	padding: 0.5rem 1rem;
}

iframe {
	height: 40vh;
	width: 100%;
	border-radius: 0.5rem;
}
