<!-- Optional Classes: offset-bottom -->
<div class="checkbox-container">
	<input class="js-view" type="checkbox" id="check_table" value="table" checked="checked" disabled="">
	<label for="check_table"> {{tVarCapitalize "views_table"}}</label>
</div>
<div class="checkbox-container">
	<input class="js-view" type="checkbox" id="check_tiles" value="tiles"{{#if tilesSelected}} checked="checked"{{/if}}>
	<label for="check_tiles"> {{tVarCapitalize "views_tiles"}}</label>
</div>
<div class="checkbox-container">
	<input class="js-view" type="checkbox" id="check_map" value="map"{{#if mapSelected}} checked="checked"{{/if}}>
	<label for="check_map"> {{tVarCapitalize "views_map"}}</label>
</div>
<div class="checkbox-container">
	<input class="js-view" type="checkbox" id="check_calendar" value="calendar"{{#if calendarSelected}} checked="checked"{{/if}}>
	<label for="check_calendar"> {{tVarCapitalize "views_calendar"}}</label>
</div>
<input class="js-value" type="hidden" name="{{name}}" value="{{value}}">
