<div class="tables-sidebar">
  <li class="{{#if tablesActive}}active add-color-border{{/if}}" title="Tables">
    <a href="tables">
      <span class="icon icon-database"></span>
      Tables
    </a>
  </li>
  {{#bookmarks.table}}
  <li class="{{#if active}}active add-color-border{{/if}}" title="{{capitalize title}}">
      <a href="{{url}}">
        {{capitalize title}}
      </a>
  </li>
  {{/bookmarks.table}}
</div>

<div class="extensions-sidebar">
  {{#bookmarks.extension}}
  <li class="{{#if active}}active add-color-border{{/if}}" title="{{capitalize title}}">
      <a href="{{url}}">
        <span class="icon {{icon_class}}"></span>
        {{capitalize title}}
      </a>
  </li>
  {{/bookmarks.extension}}
</div>

{{#if bookmarks.search}}
<div class="searches-sidebar">
  <li title="Searches">
    <a>
      <span class="icon icon-search"></span>
      Searches
    </a>
  </li>
  {{#bookmarks.search}}
  <li class="{{#if active}}active add-color-border{{/if}}" title="{{capitalize title}}">
      <a href="{{url}}">
        <span class="icon {{icon_class}}"></span>
        {{capitalize title}}
      </a>
  </li>
  {{/bookmarks.search}}
</div>
{{/if}}

<div class="other-sidebar">
  {{#bookmarks.other}}
  <li class="{{#if active}}active add-color-border{{/if}}" title="{{capitalize title}}">
      <a href="{{url}}">
        <span class="icon {{icon_class}}"></span>
        {{capitalize title}}
      </a>
  </li>
  {{/bookmarks.other}}
</div>

