<div class="sidebar-section tables-sidebar">
  <li class="{{#if tablesActive}}active{{/if}}" title="Tables">
    <a href="tables">
      <span class="icon icon-database"></span>
      Tables
    </a>
  </li>
  {{#bookmarks.table}}
  <li class="{{#if active}}active{{/if}} sidebar-subitem" title="{{capitalize title}}">
      <a href="{{url}}">
        {{capitalize title}}
      </a>
  </li>
  {{/bookmarks.table}}
</div>

<div class="extensions-sidebar">
  {{#bookmarks.extension}}
  <li class="hr"></li>
  <li class="{{#if active}}active{{/if}} sidebar-extension" title="{{capitalize title}}">
      <a href="{{url}}">
        <span class="icon {{icon_class}}"></span>
        {{capitalize title}}
      </a>
  </li>
  {{/bookmarks.extension}}
</div>

{{#if bookmarks.search}}
<li class="hr"></li>
<div class="sidebar-section searches-sidebar">
  <li title="Searches">
    <a>
      <span class="icon icon-search"></span>
      Searches
    </a>
  </li>
  {{#bookmarks.search}}
  <li class="{{#if active}}active{{/if}} sidebar-subitem" title="{{capitalize title}}">
      <a href="{{url}}">
        <span class="icon"></span>
        {{capitalize title}}
      </a>
  </li>
  {{/bookmarks.search}}
</div>
{{/if}}

<li class="hr"></li>
<div class="sidebar-section other-sidebar">
  {{#bookmarks.other}}
  <li class="{{#if active}}active{{/if}}" title="{{capitalize title}}">
      <a href="{{url}}">
        <span class="icon {{icon_class}}"></span>
        {{capitalize title}}
      </a>
  </li>
  {{/bookmarks.other}}
</div>

