<div class="smoke">
    <!-- Overlay close button -->
    <div class="close js-close-modal">
        <i class="material-icons">close</i>
        ESC
    </div>

    <div class="modal confirm">
        <div class="modal-bg">
            <!-- <h1>Optional Title</h1> -->
            <h5>{{message}}</h5>
            {{#if isPrompt}}
            {{#if showInput}}<input type="text">{{/if}}
            <div class="actions">
                <button id="save" type="button" class="button close-modal">{{t "ok"}}</button>
                <button id="cancel" type="button" class="cancel close-modal">{{t "cancel"}}</button>
            </div>
            {{/if}}
            <!-- @NOTE: Going to be removed
            <div class="actions">
                <div class="cancel close-modal">Cancel</div>
                <a href="{{rootUrl}}"><div class="button close-modal">OK</div></a>
            </div>
            -->
        </div>
    </div>
</div>
<!-- LIST OF THE OTHER MODAL CONFIRM
<div style="z-index:999" class="directus-alert-modal">
  <div class="directus-alert-modal-message">{{message}}</div>
  {{#if isPrompt}}
    {{#if showInput}}<input type="text">{{/if}}
    <div class="directus-alert-modal-buttons">
      <button id="save" type="button" class="primary">{{t "ok"}}</button>
      <button id="cancel" type="button">{{t "cancel"}}</button>
    </div>
  {{/if}}
  {{#if isYesNoCancelConfirm}}
    <div class="directus-alert-modal-buttons">
      <button id="yesBtn" type="button" class="primary">{{t "yes"}}</button>
      <button id="noBtn" type="button">{{t "no"}}</button>
      <button id="cancel" type="button">{{t "cancel"}}</button>
    </div>
  {{/if}}
  {{#if isYesNoConfirm}}
    <div class="directus-alert-modal-buttons">
      <button id="yesBtn" type="button" class="primary">{{t "yes"}}</button>
      <button id="noBtn" type="button">{{t "no"}}</button>
    </div>
  {{/if}}
  {{#if isAlert}}
    <div class="directus-alert-modal-buttons">
      <button id="okBtn" type="button" class="primary">{{t "ok"}}</button>
    </div>
  {{/if}}
</div>
<div class="directus-modal-backdrop"></div>
-->
