<header id="fixedHeader">
    <div class="main-container">
        <div class="header1">
          <div class="primary-row row-plain">
            <h1 class="font-primary">
            {{#each breadcrumbs}}
                <a href="{{anchor}}">{{{capitalize title}}}</a>
                <span class="icon icon-chevron-small-right"></span>
            {{/each}}
    
            {{{capitalize title}}}
            </h1>
            <ul class="tools left">
              <li class="input-and-button">
                {{#if buttonTitle}}<button class="btn btn-primary btn-top" id="btn-top">{{buttonTitle}}</button>{{/if}}
                {{#if showAddButton}}<button class="tool-item large-circle" id="btn-top" title="{{showAddButton.title}}"><span class="icon icon-plus"</button>{{/if}}
              </li>
            </ul>
          </div>
          
          <div id="heraderSecondaryRow">
            
          </div>
        </div>
    </div>
</header>


<!--
{{#if sidebar}}
    <div class="container-sidebar" id="sidebar"></div>
{{/if}}-->

<section class="main-container content-body" id="page-content">

</section>

{{#if upload}}
    <input id="fileupload" type="file" name="files[]" data-url="http://localhost/directus6/server/api/1/media" multiple style="display:none;">
{{/if}}
