<header>
	<h2>{{#each breadcrumbs}}<a href="{{anchor}}">{{{capitalize title}}}</a> <span class="glyphicon-chevron-right breadcrumb-divider"></span> {{/each}} {{{capitalize title}}}</h2>
	{{#if buttonTitle}}<button class="btn btn-primary btn-top" id="btn-top">{{buttonTitle}}</button>{{/if}}
</header>

{{#if sidebar}}
<div class="container-fixed-sidebar">
<div class="container-main" id="page-content"></div>
<div class="container-sidebar" id="sidebar"></div>
</div>
{{else}}
<div id="page-content"></div>
{{/if}}


{{#if upload}}
<input id="fileupload" type="file" name="files[]" data-url="http://localhost/directus6/server/api/1/media" multiple style="display:none;">
{{/if}}