<table class="table table-striped directus-table" id="directus-grouppermissions">
	<thead>
		<tr>
			<th class="status"></th>
			<th class="field-note">Table</th>
			<th class="field-note toggleAllPermissionsCol">Add</th>
			<th class="field-note toggleAllPermissionsCol">Alter</th>
			<th class="field-note toggleAllPermissionsCol">Bigdelete</th>
			<th class="field-note toggleAllPermissionsCol">Bigedit</th>
			<th class="field-note toggleAllPermissionsCol">Delete</th>
			<th class="field-note toggleAllPermissionsCol">Edit</th>
			<th class="field-note toggleAllPermissionsCol">View</th>
		</tr>
	</thead>
	<tbody>
		{{#tables}}
		<tr class="" data-table-name="demo-table1">
			<td class="status"></td>
			<td>{{table_name}}</td>
			{{#with permissions}}
			<td>{{#if add}}<span class="directus-glyphicon-check"></span>{{/if}}</td>
			<td>{{#if alter}}<span class="directus-glyphicon-check"></span>{{/if}}</td>
			<td>{{#if bigdelete}}<span class="directus-glyphicon-check"></span>{{/if}}</td>
			<td>{{#if bigedit}}<span class="directus-glyphicon-check"></span>{{/if}}</td>
			<td>{{#if delete}}<span class="directus-glyphicon-check"></span>{{/if}}</td>
			<td>{{#if edit}}<span class="directus-glyphicon-check"></span>{{/if}}</td>
			<td>{{#if view}}<span class="directus-glyphicon-check"></span>{{/if}}</td>
			<td></td>
			<td></td>
			{{/with}}
		</tr>
		{{/tables}}
		<!--<tr class="add table-fields" data-table-group="demo-table1"></tr>-->
	</tbody>
</table>