<div class="container-fixed-sidebar" id="directus-grouppermissions">
  <div class="container-main" id="page-content">
    <table class="table table-striped directus-table">
      <thead>
        <tr>
          <th class="status"></th>
          <th class="field-note">Table</th>
          <th class="field-note">View</th>
          <th class="field-note">Add</th>
          <th class="field-note">Edit</th>
          <th class="field-note">Reorder</th>
          <th class="field-note">Delete</th>
          <th class="field-note">Drafts</th>
        </tr>
      </thead>
      <tbody>

        <tr class="" data-table-name="demo-table2">
        	<td class="status"></td>
        	<td><span class="directus-glyphicon-arrow-right"></span> Table Name</td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-ban"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        </tr>
	        <tr class="add table-fields" data-table-group="demo-table2">
	        	<td class="status"></td>
	        	<td>td</td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-ban"></td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-check"></td>
	        <tr class="add table-fields" data-table-group="demo-table2">
	        	<td class="status"></td>
	        	<td>td</td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-ban"></td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-check"></td>
        <tr class="" data-table-name="">
        	<td class="status"></td>
        	<td><span class="directus-glyphicon-arrow-right"></span> Table Name</td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-ban"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        </tr>
        <tr class="" data-table-name="">
        	<td class="status"></td>
        	<td><span class="directus-glyphicon-arrow-right"></span> Table Name</td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-ban"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        </tr>
        <tr class="" data-table-name="">
        	<td class="status"></td>
        	<td><span class="directus-glyphicon-arrow-right"></span> Table Name</td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-ban"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        </tr>
        <tr class="" data-table-name="demo-table">
        	<td class="status"></td>
        	<td><span class="directus-glyphicon-arrow-right"></span> Table Name</td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-ban"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        </tr>
	        <tr class="add table-fields" data-table-group="demo-table">
	        	<td class="status"></td>
	        	<td>td</td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-ban"></td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-check"></td>
	        <tr class="add table-fields" data-table-group="demo-table">
	        	<td class="status"></td>
	        	<td>td</td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-ban"></td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-check"></td>
        <tr class="" data-table-name="">
        	<td class="status"></td>
        	<td><span class="directus-glyphicon-arrow-right"></span> Table Name</td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-ban"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        </tr>
        <tr class="" data-table-name="">
        	<td class="status"></td>
        	<td><span class="directus-glyphicon-arrow-right"></span> Table Name</td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-ban"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="container-sidebar" id="sidebar">
    <div class="directus-module">
      <div class="directus-module-section">
        <a class="btn btn-primary" id="save-form">Update Directus <div class="label">6.0.1</div></a>
      </div>
      <div class="directus-module-section">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis urna eu massa commodo faucibus. Aenean mauris nisi, ornare sed vulputate sit amet, suscipit ut libero.
      </div>
    </div>
  </div>
</div>