<div class="container-fixed-sidebar" id="directus-grouppermissions">
  <div class="container-main" id="page-content">
    <table class="table table-striped directus-table">
      <thead>
        <tr>
          <th class="status"></th>
          <th class="field-note">Table</th>
          <th class="field-note">View</th>
          <th class="field-note">Add</th>
          <th class="field-note">Edit</th>
          <th class="field-note">Reorder</th>
          <th class="field-note">Delete</th>
          <th class="field-note">Drafts</th>
        </tr>
      </thead>
      <tbody>

        <tr class="" data-table-name="demo-table2">
        	<td class="status"></td>
        	<td><span class="directus-glyphicon-arrow-right toggleFields"></span> Table Name</td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-ban"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        </tr>
	        <tr class="add table-fields" data-table-group="demo-table2">
	        	<td class="status"></td>
	        	<td>td</td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-ban"></td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-check"></td>
	        <tr class="add table-fields" data-table-group="demo-table2">
	        	<td class="status"></td>
	        	<td>td</td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-ban"></td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-check"></td>
        <tr class="" data-table-name="">
        	<td class="status"></td>
        	<td><span class="directus-glyphicon-arrow-right toggleFields"></span> Table Name</td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-ban"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        </tr>
        <tr class="" data-table-name="">
        	<td class="status"></td>
        	<td><span class="directus-glyphicon-arrow-right toggleFields"></span> Table Name</td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-ban"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        </tr>
        <tr class="" data-table-name="">
        	<td class="status"></td>
        	<td><span class="directus-glyphicon-arrow-right toggleFields"></span> Table Name</td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-ban"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        </tr>
        <tr class="" data-table-name="demo-table">
        	<td class="status"></td>
        	<td><span class="directus-glyphicon-arrow-right toggleFields"></span> Table Name</td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-ban"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        </tr>
	        <tr class="add table-fields" data-table-group="demo-table">
	        	<td class="status"></td>
	        	<td>td</td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-ban"></td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-check"></td>
	        <tr class="add table-fields" data-table-group="demo-table">
	        	<td class="status"></td>
	        	<td>td</td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-ban"></td>
				<td><span class="directus-glyphicon-check"></td>
				<td><span class="directus-glyphicon-check"></td>
        <tr class="" data-table-name="">
        	<td class="status"></td>
        	<td><span class="directus-glyphicon-arrow-right toggleFields"></span> Table Name</td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-ban"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        </tr>
        <tr class="" data-table-name="">
        	<td class="status"></td>
        	<td><span class="directus-glyphicon-arrow-right toggleFields"></span> Table Name</td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-ban"></td>
        	<td><span class="directus-glyphicon-check"></td>
        	<td><span class="directus-glyphicon-check"></td>
        </tr>

      </tbody>
    </table>
  </div>
	<div class="container-sidebar" id="sidebar">
		<div class="directus-module">
			<div class="directus-module-section">
				<label class="radio inline"><input type="radio" name="active" value="1" checked="true"> Active</label> <label class="radio inline"><input type="radio" name="active" value="2"> Inactive</label>
			</div>
			<div class="directus-module-section">
				<div class="btn-group">
					<a class="btn btn-primary" id="save-form">Save Item</a>
					<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
					<ul class="dropdown-menu dropdown-menu-primary">
						<li><a id="save-form-stay">Save &amp; Stay</a></li>
						<li><a id="save-form-add">Save &amp; Add</a></li>
						<li><a id="save-form-copy">Save as Copy</a></li>
					</ul>
				</div>
				<div class="cancel">
					or <a href="#" id="save-form-cancel">Cancel</a>
				</div>
			</div>
			<div class="directus-module-section">
				<button class="btn-delete" id="delete-form"><span class="glyphicon-remove"></span>Delete</button>
			</div>
		</div>
		<div class="directus-module">
			<div class="directus-module-header toggle">
				Item Revisions
				<div class="label">
					0
				</div>
			</div>
			<div class="directus-module-section collapsed">
				<table class="table table-striped directus-table" id="directus_activity"></table>
			</div>
		</div>
	</div>
</div>