<table class="table table-striped directus-table" id="directus_columns">
<thead>
<tr>
    <th class="sort"><span class="glyphicon-random"></span></th>
    <th class="field-field">Field</th>
    <th class="field-input_type">Input Type</th>
    <th class="field-hidden">Hidden</th>
    <th class="field-required">Required</th>
    <th class="field-master">Primary</th>
    <th class="field-note">Note</th>
</tr>
</thead>
<tbody>
  {{#rows}}
  <tr class="{{#if alias}}alias{{/if}}{{#if system}}system{{/if}}" data-id="{{id}}">
    <td class="sort">{{#unless system}}<span class="glyphicon-show-lines"></span>{{/unless}}</td>
    <td><span title="{{id}} ({{this.type}})">{{{capitalize id}}}</span> {{#if relationship}}<span class="silver" title="{{relationshipTooltip}}">{{relationship}}</span>{{/if}}</td>
    {{#if system}}
    <td colspan="5"><em>This is a system field</em></td>
    {{else}}
    <td>
      <select name="ui" id="ui" data-id="{{id}}">
        {{#types}}
        <option {{#if isActive}}selected{{/if}} value="{{id}}">{{{capitalize id}}}</option>
        {{/types}}
      </select>
      {{#if uiHasVariables}}
        <button class="glyphicon-settings btn btn-link" type="button" data-action="ui" data-id="{{id}}"></button>
        {{#unless valid}}<span style="color:#EB2A49; font-weight:bold; font-style:normal">!</span>{{/unless}}
      {{/if}}
    </td>
    <td>
        <input type="checkbox" name="hidden_input" id="hidden_input" {{#if hidden_input}}checked{{/if}} value="1" data-id="{{id}}">
    </td>
    <td><input type="checkbox" name="required" {{#if required}}checked{{/if}} value="1" data-id="{{id}}"></td>
    <td><input type="radio" {{#if master}}checked{{/if}} name="master" id="master" {{#if alias}}disabled{{/if}} data-id="{{id}}"></td>
    <td><input type="text" value="{{comment}}" name="comment" data-id="{{id}}" class="table-input"></td>
    {{/if}}
  </tr>
  {{/rows}}
</tbody>
</table>

<button class="btn btn-link" type="button" data-action="new-field">Add new field</button>