{{#each rows}}
	<tr data-id="{{model.id}}" data-cid="{{model.cid}}" class="{{{activeMap model}}} {{#classes}}{{this}} {{/classes}} {{#if highlight}}highlighted{{/if}}">
		<td class="status"></td>
		{{#if ../sortable}}<td class="sort"><span class="glyphicon-show-lines"></span></td>{{/if}}
		{{#if ../selectable}}<td class="check"><input type="checkbox" value="{{model.id}}" class="select-row"></td>{{/if}}
		{{#each ../columns}}<td>{{ui ../model this}}</td>{{/each}}
		{{#if ../deleteColumn}}<td class="delete"><span class="glyphicon-remove"></span></td>{{/if}}
	</tr>
{{/each}}