{{#if visibilityButtons}}
<div class="btn-group btn-group-action active" id="set-visibility">
  {{#if actionButtons}}
  <button class="btn btn-small" data-value="1" rel="tooltip" data-placement="bottom" title="Active"><span class="glyphicon-eye-open"></span></button>
  <button class="btn btn-small" data-value="2" rel="tooltip" data-placement="bottom" title="Inactive"><span class="glyphicon-eye-close"></span></button>
  <button class="btn btn-small" data-value="0" rel="tooltip" data-placement="bottom" title="Delete"><span class="glyphicon-trash"></span></button>
  {{/if}}
  {{#if deleteOnly}}
    <button class="btn btn-small" data-value="0" rel="tooltip" data-placement="bottom" title="Delete"><span class="glyphicon-trash"></span></button>
  {{/if}}
</div>
{{/if}}

{{#if batchEdit}}
<div class="btn-group btn-group-action active">
  <button class="btn btn-small" title="Batch Edit" id="batch-edit">Batch Edit</button>
</div>
{{/if}}


<div class="btn-group" id="visibility">
  {{#visibility}}
  {{#if this.active}}
    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown">
      Viewing {{text}}
      <span class="caret"></span>
    </a>
  {{/if}}
  {{/visibility}}

  <ul class="dropdown-menu">
    {{#visibility}}
      {{#unless active}}<li><a data-value="{{value}}">View {{text}} ({{count}})</a></li>{{/unless}}
    {{/visibility}}
  </ul>
</div>

{{#if paginator}}
<div class="btn-group">
  <a class="btn btn-small {{#unless pagePrev}}disabled{{/unless}} pag-prev"><span class="glyphicon-arrow-left"></span></a>
  <a class="btn btn-small {{#unless pageNext}}disabled{{/unless}} pag-next"><span class="glyphicon-arrow-right"></span></a>
</div>
{{/if}}

<div class="header1">
  <div class="secondary-row row-plain filter-options" data-subheader-item="filter" data-default-subheader-item style="display:block">
    <ul class="tools left">
      <li class="div-right">
        <span class="simple-select">
          <span class="icon icon-triangle-down"></span>
          <select name="status">
            <option>Viewing All</option>
            <option>Viewing All</option>
            <option>Viewing All</option>
          </select>
        </span>
      </li>
      <li>
        <a href="" class="action">Add Filter</a>
        <span class="text-spacer">or</span>
        <a href="" class="action">Save Search</a>
      </li>
    </ul>
    {{#if filter}}
      <!-- <input type="text" id="table-filter" placeholder="Filter" value="{{filterText}}"> -->
      <!-- <input type="checkbox" class="advanced-search-trigger"> -->
      <!-- <div class="advanced-search-menu"> -->
        <!-- <h4 class="advanced-search-headline">Advanced Search</h4> -->
          
        <!--
<div class="advanced-search-fields">
          <div class="advanced-search-fields-row">
-->
            <div class="filter-form">
              <span class="simple-select">
                <span class="icon icon-triangle-down"></span>
                <select name="" id="" >
                  <option value="asd">Table 1</option>
                  <option value="asd">Table 2</option>
                  <option value="asd">Table 3</option>
                </select>
              </span>
              <span class="simple-select">
                <span class="icon icon-triangle-down"></span>
                <select name="" id="" class="small">
                  <option value="asd">==</option>
                  <option value="asd">&lt;=</option>
                  <option value="asd">&gt;=</option>
                  <option value="asd">like</option>
                </select>
              </span>
              <input type="text" placeholder="Search Term..." name="keywords" id="advKeywords" maxlength="50" class="medium">
              <!-- <span class="add-filter-row">Add</span> -->
              <!-- <span class="glyphicon-remove remove-adv-row"></span> -->
            </div>
          <!--
</div>
        </div>
-->
      <!-- </div> -->
    {{/if}}
    <div class="vertical-center right pagination-number">{{#if uBound}} {{number lBound}}–{{number uBound}} of {{number totalCount}}{{/if}}</div>
  </div>
</div>