{{#if visibilityButtons}}
<div class="btn-group btn-group-action active" id="set-visibility">
  {{#if actionButtons}}
  <button class="btn btn-small" data-value="1" rel="tooltip" data-placement="bottom" title="Active"><span class="glyphicon-eye-open"></span></button>
  <button class="btn btn-small" data-value="2" rel="tooltip" data-placement="bottom" title="Inactive"><span class="glyphicon-eye-close"></span></button>
  <button class="btn btn-small" data-value="0" rel="tooltip" data-placement="bottom" title="Delete"><span class="glyphicon-trash"></span></button>
  {{/if}}
  {{#if deleteOnly}}
    <button class="btn btn-small" data-value="0" rel="tooltip" data-placement="bottom" title="Delete"><span class="glyphicon-trash"></span></button>
  {{/if}}
</div>
{{/if}}

{{#if batchEdit}}
<div class="btn-group btn-group-action active">
  <button class="btn btn-small" title="Batch Edit" id="batch-edit">Batch Edit</button>
</div>
{{/if}}


<div class="btn-group" id="visibility">
  {{#visibility}}
  {{#if this.active}}
    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown">
      Viewing {{text}}
      <span class="caret"></span>
    </a>
  {{/if}}
  {{/visibility}}

  <ul class="dropdown-menu">
    {{#visibility}}
      {{#unless active}}<li><a data-value="{{value}}">View {{text}} ({{count}})</a></li>{{/unless}}
    {{/visibility}}
  </ul>
</div>

{{#if paginator}}
<div class="btn-group">
  <a class="btn btn-small {{#unless pagePrev}}disabled{{/unless}} pag-prev"><span class="glyphicon-arrow-left"></span></a>
  <a class="btn btn-small {{#unless pageNext}}disabled{{/unless}} pag-next"><span class="glyphicon-arrow-right"></span></a>
</div>
{{/if}}
<div class="pagination-number">{{#if uBound}} {{number lBound}}–{{number uBound}} of {{number totalCount}}{{/if}}</div>


{{#if filter}}
<div class="filter pull-right">
  <input type="text" id="table-filter" placeholder="Filter" value="{{filterText}}">
  <input type="checkbox" class="advanced-search-trigger">
  <div class="advanced-search-menu">
    <h4 class="advanced-search-headline">Advanced Search</h4>
    <span class="add-filter-row glyphicon-plus"></span>
    <div class="advanced-search-fields">
      <div class="advanced-search-fields-row">
          <select name="" id="" class="medium adv-search-col-id">
            {{#tableColumns}}
            <option value="{{this}}">{{this}}</option>
            {{/tableColumns}}
          </select>

          <select name="" id="" class="small adv-search-query-type">
            <option value="==">==</option>
            <option value="<=">&lt;=</option>
            <option value=">=">&gt;=</option>
            <option value="like">like</option>
          </select>
          <input type="text" placeholder="Keywords..." name="keywords" id="advKeywords" maxlength="50" class="medium">

          <span class="glyphicon-remove remove-adv-row"></span>
      </div>
    </div>
      <button class="btn btn-small" title="Do Search" id="advanced-filter-btn">Do Search</button>
  </div>
</div>
{{/if}}