<!--<form id="user-preferences">-->

<div class="directus-toolbar"></div>

<table class="table table-striped directus-table" id="{{id}}">
<colgroup>
	<col class="col-status">
	{{#if sortable}}<col class="col-sort">{{/if}}
	{{#if selectable}}<col class="col-check">{{/if}}
	{{#columns}}
		<col class="col-{{this}}">
	{{/columns}}
</colgroup>

</table>

{{#unless hasData}}
<div class="nothing-here">
<h1>There doesn't seem to be anything here</h1>
Create a new item by click the button above
</div>
{{/unless}}

<!--</form>-->
<div class="overlay"><h3>Just let go...</h3></div>