{{#tabs}}
<li class="{{#if active}}active{{/if}}">
    <a {{#unless hasErrors}}href="#{{id}}{{#if extension}}/{{/if}}"{{/unless}}><span class="icon {{icon_class}}"></span></a>
</li>
{{/tabs}}

<!--
<a href="#settings"><span class="icon icon-cog"></span></a></li>
<li class="hidden"><span class="icon"></span></li>
<li id="mainAttachmentButton"><a href="#media"><span class="icon icon-attach"></span></a></li>
<li id="mainUsersButton"><a href="#users"><span class="icon icon-users"></span></a></li>

<li id="mainMessagesButton" class="has-alert">
<a href="#messages"><span class="icon icon-chat"></span>

<span class="feature-nav-alert primary-background"></span></a>
</li>

<li id="mainAlertsButton"><a href="#activity"><span class="icon icon-bell"></span></a></li>
<li id="mainUserButton" class="has-image">
<a href="#users/{{user.id}}"><img src="http://placehold.it/59x59" alt="" />
<span class="icon icon-pencil"></span></a>
</li>

<li id="mainLogoutButton"><a href="#" class="sign-out" data-bypass><span class="icon icon-power-button"></span></a></li>