<!-- Sidebar -->
<div class="right" data-tool-tip-for="a[href='#settings']">Settings</div>
<div class="right" data-tool-tip-for="a[href='#files']">Files</div>
<div class="right" data-tool-tip-for="a[href='#users']">Users</div>
<div class="right" data-tool-tip-for="a[href='#messages']">Messages</div>
<div class="right" data-tool-tip-for="a[href='#activity']">Activity</div>
<div class="right" data-tool-tip-for="a[href='#user/']">My Settings</div>
<div class="right" data-tool-tip-for="a[href='#logout']">Log out</div>

<!-- Toolbar -->
<div class="bottom" data-tool-tip-for="#bookmarkBtn">Favorite</div>
<div class="bottom" data-tool-tip-for="#addBtn">Create New</div>
<div class="bottom" data-tool-tip-for="#save .tool-item">Save</div>
<div class="bottom" data-tool-tip-for="#removeOverlay">Back</div>
