{{#if batchEdit}}
<div class="bulk-edit-label">
    <div class="button"><i class="material-icons">edit</i> Bulk Edit: Text Input</div>
</div>
{{/if}}
{{#unless hideLabel}}
<div class="label">
    {{#if isCoreTable}}{{tCoreField id table=table}}{{else}}{{capitalize id}}{{/if}}
    {{#if required}}<i class="material-icons required" title="Required">star</i>{{/if}}
    {{#if comment}}
	<div class="comment">{{#if isCoreTable}}{{tCoreField comment table=table}}{{else}}{{comment}}{{/if}}</div>
	{{/if}}
</div>{{/unless}}<!-- NEEDED TO AVOID EXTRA SPACE FROM TEXT
	 --><div class="interface"></div>

{{!--
<div class="table">
  <div class="trow">
    <div class="label" id="edit_field_{{id}}">
    	{{#if batchEdit}}
        <label class="batch-edit-on"><input type="checkbox" data-attr="{{id}}" name="batchedit"> Batch Edit</label>
        {{/if}}

        <label>
            {{#if isCoreTable}}{{tCoreField id table=table}}{{else}}{{capitalize id}}{{/if}}{{#if required}}*{{/if}}
            {{#if comment}}<span class="note">{{{comment}}}</span>{{/if}}
        </label>
    </div>

  </div>
</div>

{{#if batchEdit}}
  <div class="fieldset-smoke"></div>
{{/if}}
--}}
