Options +FollowSymlinks
RewriteEngine On


# /tables/<table_name>/								table schema
# /tables/<table_name>/rows						rows
# /tables/<table_name>/columns				column schema
# /tables/<table_name>/ui							ui settings
# /tables/<table_name>/preferences		user preferences


#API CALLS
RewriteRule ^1/tables/*$ api.php?api_collection=tables&api_response_type=json&%{QUERY_STRING} [L]
RewriteRule ^1/([^/]+)\.([^/]+)*$ api.php?api_collection=$1&api_response_type=$2&%{QUERY_STRING} [L]


#MEDIA
RewriteRule ^1/media/*$ api.php?api_collection=media&api_response_type=json&%{QUERY_STRING} [L]
RewriteRule ^1/media/([^/]+)/*$ api.php?api_collection=media&api_response_type=json&id=$1&%{QUERY_STRING} [L]

# ============

# Settings
# --------
RewriteRule ^1/settings*$ api.php?api_collection=settings&%{QUERY_STRING} [L]
RewriteRule ^1/settings/([^/]+)/*$ api.php?api_collection=settings&id=$1&%{QUERY_STRING} [L]
# ============

# Users
# -----
RewriteRule ^1/users/*$ api.php?api_collection=users&%{QUERY_STRING} [L]
RewriteRule ^1/users/([^/]+)/*$ api.php?api_collection=users&id=$1&%{QUERY_STRING} [L]
RewriteRule ^1/tables/directus_users/rows/*$ api.php?api_collection=users&%{QUERY_STRING} [L]
RewriteRule ^1/tables/directus_users/rows/([^/]+)/*$ api.php?api_collection=users&id=$1&%{QUERY_STRING} [L]

# ============

# Tables
# ------

# Schema
RewriteRule ^1/tables/([^/]+)/*$ api.php?api_collection=table&api_response_type=json&table_name=$1&%{QUERY_STRING} [L]


# Rows
RewriteRule ^1/tables/([^/]+)/rows/*$ api.php?api_collection=entries&api_response_type=json&table_name=$1&%{QUERY_STRING} [L]
RewriteRule ^1/tables/([^/]+)/rows/([^/]+)/*$ api.php?api_collection=entries&api_response_type=json&table_name=$1&id=$2&%{QUERY_STRING} [L]


# Columns
RewriteRule ^1/tables/([^/]+)/columns/*$ api.php?api_collection=columns&api_response_type=json&table_name=$1&%{QUERY_STRING} [L]
RewriteRule ^1/tables/([^/]+)/columns/([^/]+)/*$ api.php?api_collection=columns&api_response_type=json&table_name=$1&column_name=$2&%{QUERY_STRING} [L]
RewriteRule ^1/tables/([^/]+)/columns/([^/]+)/([^/]+)/*$ api.php?api_collection=ui&api_response_type=json&table_name=$1&column_name=$2&ui_name=$3&%{QUERY_STRING} [L]


# UI
RewriteRule ^1/tables/([^/]+)/ui/*$ api.php?api_collection=ui&api_response_type=json&table_name=$1&%{QUERY_STRING} [L]

# Preferences
RewriteRule ^1/tables/([^/]+)/preferences/*$ api.php?api_collection=preferences&api_response_type=json&table_name=$1&%{QUERY_STRING} [L]
