# Comment this line if you are getting: "Option SymLinksIfOwnerMatch not allowed here" error
# in Apache
Options +SymLinksIfOwnerMatch

<ifModule mod_rewrite.c>
    RewriteEngine On
    # Uncomment this if you are getting routing errors:
    # RewriteBase /api

    RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Yield static media
    RewriteCond %{REQUEST_FILENAME} !-f

    # Map extension requests to their front controller
    # RewriteRule ^1/extensions/([^/]+) ../extensions/$1/api.php [L]
    RewriteRule ^extensions/([^/]+) api.php?run_extension=$1&%{QUERY_STRING} [L]

    # Map all other requests to the main front controller, invoking the API router
    RewriteRule ^ api.php?run_api_router=1&%{QUERY_STRING} [L]
</ifModule>
