<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Imported Rule 1-1" stopProcessing="true">
                    <match url="^1/extensions/([^/]+)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="../extensions/{R:1}/api.php" />
                </rule>
                <rule name="Imported Rule 2-1" stopProcessing="true">
                    <match url="^extensions/([^/]+)" ignoreCase="false" />
                    <action type="Rewrite" url="api.php?run_extension={R:1}&amp;{QUERY_STRING}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 3-1" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <action type="Rewrite" url="api.php?run_api_router=1&amp;{QUERY_STRING}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 1-2">
                    <match url=".*" ignoreCase="false" />
                    <action type="Rewrite" url="Yield" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
