name: Release

on:
  pull_request:
    types: [closed]
    branches: [main]

permissions:
  contents: write
  packages: write
  attestations: write
  id-token: write

env:
  GHCR_IMAGE: ghcr.io/${{ github.repository }}
  DOCKERHUB_IMAGE: docker.io/${{ github.repository }}
  COSIGN_REPOSITORY: docker.io/${{ github.repository }}-signatures

jobs:
  extract:
    name: Extract Metadata
    if:
      github.event.pull_request.merged == true && contains(github.event.pull_request.labels.*.name, 'Release') &&
      startsWith(github.event.pull_request.title, 'Release ')
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.extract.outputs.version }}
      tag: ${{ steps.extract.outputs.tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Extract Metadata
        id: extract
        run: |
          # Read the version from directus package.json
          VERSION=$(node -p "require('./directus/package.json').version")
          TAG="v$VERSION"

          echo "Found version: $VERSION"
          echo "Tag will be: $TAG"

          if [[ -z "$TAG" || -z "$VERSION" ]]; then
            echo "Failed to extract tag or version"
            exit 1
          fi

          # Output variables
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "tag=$TAG" >> $GITHUB_OUTPUT

  check-version:
    name: Check Version
    runs-on: ubuntu-latest
    needs: extract
    outputs:
      prerelease: ${{ steps.version.outputs.prerelease && true || false }}
    steps:
      - name: Check version
        uses: madhead/semver-utils@v4
        id: version
        with:
          version: ${{ needs.extract.outputs.tag }}
          lenient: false

  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: [extract, check-version]
    permissions:
      contents: write
      issues: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create Tag and Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG: ${{ needs.extract.outputs.tag }}
        run: |
          # Extract the release notes from the PR body
          PR_BODY=$(cat <<'EOF'
          ${{ github.event.pull_request.body }}
          EOF
          )
          PR_BODY=$(printf '%s' "$PR_BODY" | sed 's/\r//g')
          RELEASE_NOTES=$(awk '/^```md$/{flag=1; next} /^```$/{flag=0} flag' <<< "$PR_BODY")

          gh release create "$TAG" \
            --target "${{ github.event.pull_request.base.ref }}" \
            --title "$TAG" \
            ${{ needs.check-version.outputs.prerelease == 'true' && '--prerelease' || '' }} \
            --notes "$RELEASE_NOTES"

      - name: Close & Rename Milestone
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG: ${{ needs.extract.outputs.tag }}
        run: |
          REPO="${{ github.repository }}"
          # Find the open milestone titled "Next Release"
          MILESTONE_NUMBER=$(gh api repos/$REPO/milestones \
            --jq '.[] | select(.title=="Next Release" and .state=="open") .number')
          if [ -n "$MILESTONE_NUMBER" ]; then
            echo "Closing milestone #$MILESTONE_NUMBER and renaming to '$TAG'"
            gh api repos/$REPO/milestones/$MILESTONE_NUMBER \
              -X PATCH \
              -F state=closed \
              -F title="$TAG"
          else
            echo "No open 'Next Release' milestone found."
          fi

  publish-npm:
    name: Publish to NPM
    runs-on: ubuntu-latest
    needs: [check-version, create-release]
    permissions:
      actions: write
      attestations: write
      checks: write
      contents: write
      deployments: write
      discussions: write
      id-token: write
      issues: write
      models: read
      packages: write
      pages: write
      pull-requests: write
      security-events: write
      statuses: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Prepare
        uses: ./.github/actions/prepare
        with:
          registry: https://registry.npmjs.org

      - name: Publish packages to NPM
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
        run: |
          pnpm --recursive publish \
            --access=public \
            --no-git-checks \
            --tag ${{ needs.check-version.outputs.prerelease == 'true' && 'canary'  || 'latest' }}

  build-images:
    name: Build Images
    runs-on: ubuntu-latest
    needs: [extract, check-version, create-release]
    permissions:
      actions: write
      attestations: write
      checks: write
      contents: write
      deployments: write
      discussions: write
      id-token: write
      issues: write
      models: read
      packages: write
      pages: write
      pull-requests: write
      security-events: write
      statuses: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
          ref: ${{ needs.extract.outputs.tag }}

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Install Cosign
        uses: sigstore/cosign-installer@v3
        if: env.DOCKERHUB_IMAGE

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Extract metadata for Docker image
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.DOCKERHUB_IMAGE }}
            ${{ env.GHCR_IMAGE }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=raw,value=canary,enable=${{ needs.check-version.outputs.prerelease }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        if: env.DOCKERHUB_IMAGE
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Login to GHCR
        uses: docker/login-action@v3
        if: env.GHCR_IMAGE
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        id: build-and-push
        with:
          context: .
          file: ./Dockerfile
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
          push: true
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new

      - name: Sign Docker Hub image with GitHub OIDC Token
        if: env.DOCKERHUB_IMAGE
        env:
          DIGEST: ${{ steps.build-and-push.outputs.digest }}
        run: cosign sign --yes --recursive ${DOCKERHUB_IMAGE}@${DIGEST}

      # Temp fix:
      # https://github.com/docker/build-push-action/issues/252
      # https://github.com/moby/buildkit/issues/1896
      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

  notify-slack:
    name: Notify Slack
    needs: [extract, create-release, publish-npm, build-images]
    runs-on: ubuntu-latest
    steps:
      - name: Notify Slack
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_CMS_RELEASE }}
        run: |
          PAYLOAD=$(jq -n \
            --arg tag   "${{ needs.extract.outputs.tag }}" \
            '{tag: $tag}')
          curl -X POST -H 'Content-Type: application/json' \
            --data "$PAYLOAD" \
            "$SLACK_WEBHOOK_URL"
